@import "common/variables";

// Bootstrap override
$tooltip-max-width: 256px;
$border-radius-base: 0;
$fa-font-path: 'fonts';

// bower:scss
@import "../../../assets/bootstrap-sass-official/assets/stylesheets/bootstrap.scss"; 
@import "../../../assets/fontawesome/scss/font-awesome.scss"; 
// endbower

/* iCheck plugin Square skin, blue
----------------------------------- */
.radio + .radio, .checkbox + .checkbox {
    margin-top: 0;
}

.row { 
    > div:first-child {
        .checkbox, .radio {
            label {
                padding-left: 0;
            }
        }
    }
}

.icheckbox_square-blue,
.iradio_square-blue {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;    
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(#{$img-path}/blue.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-blue,
.iradio_square-blue {
    margin-right: $size-spacing;
    top: -2px;
}

.icheckbox_square-blue {
    background-position: 0 0;
    &.hover {
    background-position: -24px 0;
    }
    &.checked {
        background-position: -48px 0;
    }
    &.disabled {
        background-position: -72px 0;
        cursor: default;
    }
    &.checked.disabled {
        background-position: -96px 0;
    }
}

.iradio_square-blue {
    background-position: -120px 0;
    &.hover {
        background-position: -144px 0;
    }
    &.checked {
        background-position: -168px 0;
    }
    &.disabled {
        background-position: -192px 0;
        cursor: default;
    }
    &.disabled {
        background-position: -216px 0;
    }
}

.belong_checkbox {
    margin-left: 20px; 
    .table {
        margin-bottom: 0;  
    }
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_square-blue,
    .iradio_square-blue {
        background-image: url(#{$img-path}/blue@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}

// input
input[type='number'] {
  text-align: right;
}

//overwrite plugin style
.typeahead-wrapper {
    position: relative;
    .loading-inline {
        position: absolute;
        top: 3px;
        left: 1px;
    }
}

hr.swal2-spacer {
  background-color: transparent;
}


input[uib-typeahead], input[uib-datepicker-popup] {
    padding-right: 26px; // width of background image + 6px
    &:disabled {
        background-image: none;
    }
}

input[uib-typeahead] {
    background: $color-white url(#{$img-path}/icon-search.png) right center no-repeat;
}

input[datepicker-popup] {
    background: $color-white url(#{$img-path}/icon-calendar.png) right center no-repeat;
}

.dropdown-menu[uib-typeahead-popup] {
    margin-top: 0;
    padding: 0;       
    min-width: 305px;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: none;
    li {
        padding: 4px 8px;        
        background-color: $color-white;
	    a {
	        cursor:pointer;
            padding: 0;            
            color: $color-text;
            font-size: $size-font;
            background-color: transparent;
            &:focus, &:hover {
	            background-color: transparent;
	        }
	    }
        strong {
            color: $color-pomegranate; 
        }
        &.active {
            color: $color-white; 
            background-color: $color-belizehole;
	        a, a:focus, a:hover {
                color: $color-white;	
	        }
        }
	    &:focus, &:hover {
	        background-color: $color-belizehole;
	    }
        .separated {
            border-top: dashed thin gray;
            padding-top: 5px;
        }
    }    
}

.typeahead-right {
    .dropdown-menu[uib-typeahead-popup] {
        left: auto !important;
        right: 0 !important;
        overflow-y: auto;
    }
}

// Selecter
.selecter {
  .selecter-selected, .selecter-options {
    border-radius: 0;
  }
  .selecter-item.selected, .selecter-item.selected:hover {
    background-color: $color-link;
    border-bottom-color: $color-silver;
  }
}

// Select2
.select2-container {
  padding: 0;
  &.select2-container-multi {
    .select2-choices {
      border: none;
      box-shadow: none;
      .select2-search-choice {
        margin-top: 5px;
      }
    }
  }
  &.select2-dropdown-open {
    border-color: $color-link;
  }
  .select2-choice {
    height: 32px;
    line-height: 32px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    .select2-chosen {
      line-height: 32px;
    }
    .select2-arrow {
      border-radius: 0;
    }
  }
}

.select2-drop {
  box-shadow: none;
  border-radius: 0;
  &.select2-drop-active {
    border-color: $color-link;
  }
  .select2-results {
    .select2-highlighted {
      background-color: $color-link;
    }
  }
}

// Date picker
// Overloading "glyphicon" class with "fa".
.glyphicon {
    @extend .fa;
    // Overloading "glyphicon-chevron-left" with "fa-arrow-left".
    &.glyphicon-chevron-left {
        @extend .fa-chevron-left;
    }
    // Overloading "glyphicon-chevron-right" with "fa-arrow-right".
    &.glyphicon-chevron-right {
        @extend .fa-chevron-right;
    }
}

.btn-primary {
    min-width: 130px;
}

.dropdown-menu[datepicker-popup-wrap] {
    background-color: $color-white;
    div[datepicker] {
        padding: 0 8px;
        table {
            outline: none;
        }
    }
    .btn {
        font-size: 14px;
        padding: 4px 8px;
        border-color: transparent !important;
        &:hover {
            .text-muted {
                color: $color-white;
            }
        }
    }
}

// Toastr
#toast-container.toast-bottom-full-width > div, #toast-container.toast-top-full-width > div {    
    width: 100%;
    border-radius: 0;
}

// Modal
.modal-backdrop {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: $color-black; 
}

// Bootstrap popover
.popover {
    min-width: $size-margin * 10;
    .popover-title, .popover-content {
        color: $color-text; 
        font-size: 85%; 
    }
    .list-unstyled {
        margin-bottom: 0; 
    }
}

.resizable {
  position: relative;
}
.resizable.no-transition {
  transition: none !important;
}

.rg-right, .rg-left, .rg-top, .rg-bottom {
  display: block;
  width: 9px;
  height: 9px;
  line-height: 9px;
  position: absolute;
  z-index: 1;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: transparent;
}

.rg-right:hover, .rg-left:hover, .rg-top:hover, .rg-bottom:hover {
  background-color: rgba(255, 255, 255, 0.32);
  border: 1px solid #C5C5C5;
  border-bottom: transparent;
  border-top: transparent;
}

.rg-right span, .rg-left span, .rg-top span, .rg-bottom span {
  position: absolute;
  box-sizing: border-box;
  display: block;
  border: 1px solid #ccc;
}

.rg-right span, .rg-left span {
  border-width: 0 1px;
  top: 50%;
  margin: 0 1px 3.5px;
  height: 20px;
  width: 4px;
}

.rg-top span, .rg-bottom span {
  border-width: 1px 0;
  left: 50%;
  margin: 3.5px 0 0 -10px;
  width: 20px;
  height: 4px;
}

.rg-top {
  cursor: row-resize;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: -14px;
}

.rg-right {
  cursor: col-resize;
  height: 100%;
  right: 0;
  top: 0;
  margin-right: -14px;
}

.rg-bottom {
  cursor: row-resize;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: -14px;
}

.rg-left {
  cursor: col-resize;
  height: 100%;
  left: 0;
  top: 0;
  margin-left: -14px;
}