﻿.com-login(ng-init="ctrl.init()")
    .alert.alert-danger(ng-if="ctrl.response")
        p Something went wrong. Please contact administrator for support!
        p
            strong ERROR: {{ctrl.response.statusText}}
        p {{ctrl.response.data.ExceptionMessage || ctrl.response.data.Message || ctrl.response.data.InnerException || ctrl.response.data.InnerException.ExceptionMessage}}
        hr
        .panel
            .panel-heading
                h4.panel-title
                    span
                        a(ng-click="ctrl.toggleErrorDetails()")
                            | Show error details
                            span &nbsp;
                                i.fa.fa-chevron-circle-right(ng-class="{'fa-chevron-circle-down': !ctrl.hideErrorDetails}")
                    span.pull-right
                        a(ui-sref="dashboard")
                            span
                                i.fa.fa-chevron-left
                            | &nbsp; Back

            .panel-collapse(uib-collapse="ctrl.hideErrorDetails")
                .panel-body
                    p(ng-if="ctrl.response.data.ExceptionType")
                        code {{ctrl.response.data.ExceptionType}}
                    p
                        code(ng-bind="ctrl.response.data.Message || ctrl.response.data.ExceptionMessage || ctrl.response.data.InnerException || ctrl.response.data.InnerException.ExceptionMessage")
                    p(ng-if="ctrl.response.data.StackTrace")
                        code(ng-bind="ctrl.response.data.StackTrace")