﻿div
    hr
    h3(style="color:blue") Xin chào {{ctrl.CurrentUser.UserName}}
    .row
        .col-lg-4.col-sm-6(ng-repeat="metum in ctrl.meta")
            .list-group
                a.list-group-item(ng-repeat="item in metum" ui-sref="{{item.state || ctrl._router.DASHBOARD}}" ng-disabled="item.state === undefined")
                    h3.list-group-item-heading(ng-bind="item.text")
                    p.list-group-item-text.text-desc(ng-if="item.description !== undefined" ng-bind="item.description")
                a.list-group-item
                    button.btn.btn-primary(ng-click="ctrl.signOut()") Thoát
    .row(ng-if="ctrl.CurrentUser.UserPermission.CanUserAccessLuckyDraw")
        .col-lg-4.col-sm-6
            .list-group
                a.list-group-item
                    button.btn.btn-primary(ng-click="ctrl.changePassword()") Đổi mật khẩu