﻿<div id="Modal-Sign-In" tabindex="-1" ng-init="ctrl.init()" ng-hide="ctrl.processing" class="modal-in com-login">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p ng-if="ctrl.model.error" class="text-danger"><strong>Error:</strong><span ng-bind="ctrl.model.error"></span></p>
                <form class="form-horizontal form-sign-in" ng-submit="ctrl.doLogin()">
                    <div class="form-group">
                        <label for="UserName" class="col-sm-offset-2 col-sm-4 control-label custom-dialog-label">Tên Đăng nhập:</label>
                        <div class="col-sm-6">
                            <div class="form-group-img">
                                <input type="text" class="form-control" placeholder="Tên đăng nhập" name="UserName" id="UserName"
                                       ng-model="ctrl.model.UserName"
                                       ng-blur="ctrl.model.UserNameError=undefined"
                                       autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Password" class="col-sm-offset-2 col-sm-4 control-label custom-dialog-label">Mật khẩu:</label>
                        <div class="col-sm-6">
                            <div class="form-group-img">
                                <input type="password" class="form-control" placeholder="Mật khẩu" name="Password" id="Password"
                                       ng-model="ctrl.model.Password"
                                       ng-blur="ctrl.model.PasswordError=undefined"
                                       autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-link" style="position: relative; top: 135px; left: 180px;" ng-disabled="!ctrl.canLogin() || ctrl.model.processing">
                        <img src="Content/images/btn-sign-in.png" alt="">
                    </button>
                </form>
                <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
            </div>
        </div>
    </div>
</div>