﻿include ../includes/mixin

.com-login(ng-init="ctrl.init()" ng-hide="ctrl.processing")
    p.text-danger(ng-if="ctrl.model.error")
        strong Error:
        span(ng-bind="ctrl.model.error")

    .row
        .col-md-3
            form(ng-submit="ctrl.doLogin()")
                .form-group
                    label User Name
                    .input-group
                        span.input-group-addon
                            i.fa.fa-user
                        input.form-control(id="user" ng-model="ctrl.model.UserName" autocomplete="true" placeholder="username" focus-me="ctrl.focusOnUserName")
                .form-group
                    label Password
                    .input-group
                        span.input-group-addon
                            i.fa.fa-key
                        input.form-control(id="password" ng-model="ctrl.model.Password" autocomplete="true" type="password" placeholder="********")
                .form-actions
                    button.btn.btn-nephritis(type="submit" ng-disabled="!ctrl.canLogin() || ctrl.model.processing")
                        span(ng-if="ctrl.model.processing")
                            i.fa.fa-refresh.fa-spin
                        span(ng-if="!ctrl.model.processing")
                            i.fa.fa-sign-in
                        |&nbsp;Sign Me In

