<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.close()">
        <img src="Content/images/icons/icon-close.png" alt="">
    </button>
    <div class="info" style="margin-top: 50px;">
        {{ modalCtrl.errorMessage }}
    </div>
    <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
    <img class="copy-right dt-none" src="Content/images/logo-bottom.png" alt="">
</div>