<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.close()">
        <img src="Content/images/icons/icon-close.png" alt="">
    </button>
    <figure class="img-cards">
        <img src="Content/images/pokemon-cards/default.png" alt="">
    </figure>
    <div class="info">
        {{ modalCtrl.model.message }}
    </div>
    <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
    <img class="copy-right dt-none" src="Content/images/logo-bottom.png" alt="">
</div>