﻿//- COMMON FORM FUNCTIONS
extends ../includes/layout-detail-ctrl

//-- Form variables
block var
    - var formTitle = "{{ ctrl.isNewRecord ? 'New' : 'Update' }}"
    - var backLink = "{{ ctrl._router.GIFT_ITEM_LIST }}"

//-- Form actions
block formButton
    button.btn.btn-nephritis(type="button" ng-click="ctrl.ok()" ng-disabled="ctrl.isUnchanged(ctrl.model) || ctrl.invalidForm()")
        +iconText("reply", "Save and Close")
    button.btn.btn-pomegranate(type="button" ng-click="ctrl.destroy()" ng-if="ctrl.canDeleteGiftItem")
        +iconText("ban", "Delete")

//-- Form content
block formContent
    .row
       .col-lg-3.col-md-4.col-sm-4
            +fieldBlock("Giải thưởng", "ctrl.model.Name", "Name", true)(ng-disabled="true")
        .col-lg-3.col-md-4.col-sm-4
             +fieldBlock("Chú Thích", "ctrl.model.Description")
    .row
        .col-lg-3.col-md-4.col-sm-6
            +fieldCheckbox("Được đổi điểm lấy quà", "ctrl.model.IsRedeem")
        .col-lg-3.col-md-4.col-sm-6
            +fieldBlock("Điểm Đổi thưởng", "ctrl.model.RedeemPoint")
   
        
   
   
