﻿extends ../includes/layout-listing-ctrl

//-- Filter conditions
block filter
    .row
        .col-lg-3.col-sm-3
            +fieldBlock("Gift Item Name", "ctrl.request.params.Name")
//-- List actions
block listingActions
    .btn-group
        a.btn.btn-belizehole(ui-sref="{{ctrl._router.GIFT_ITEM_DETAIL}}({Id: 'new'})")
            +iconText("plus", "Create")
    .btn-group.pull-right
        a.btn.btn-belizehole(ui-sref="{{ctrl._router.DASHBOARD}}")
            +iconText("chevron-left", "Back")

//-- Listing table
block listingTable
    .table-responsive
        table.table
            thead
                tr
                    th #
                    th Name
                    th Description
                    th ImageUrl 
                    th RedeemPoint
            tbody
                tr(ng-repeat="item in ctrl.result.ResultSet" ng-class="{'active': item.Active !== undefined && !item.Active}")
                    td {{(ctrl.result.PageNumber - 1) * ctrl.result.PageSize + $index + 1}}
                    td
                        a(ui-sref="{{ctrl._router.GIFT_ITEM_DETAIL}}({Id: \"{{item.Id}}\"})") {{item.Name}}
                    td {{item.Description}}
                    td {{item.ImageUrl}}
                    td {{item.RedeemPoint}}
                   