﻿<div id="Modal-Change-Password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.cancel()">
                    <img src="Content/images/icons/icon-close.png" alt="">
                </button>
                <form class="form-horizontal form-change-password">
                    
                    <div class="form-group">
                        <div class="text-center info col-sm-offset-1 col-sm-9">
                            Thay đổi mật khẩu
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-4 control-label">Mật khẩu hiện tại:</label>
                        <div class="col-sm-7">
                            <div class="form-group-img">
                                <input type="password" class="form-control" ng-model="modalCtrl.model.CurrentPassword">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-4 control-label">Mật khẩu mới:</label>
                        <div class="col-sm-7">
                            <div class="form-group-img">
                                <input type="password" class="form-control" placeholder="Ít nhất 8 ký tự" maxlength="32" ng-model="modalCtrl.model.Password" ng-blur="modalCtrl.validateInput(modalCtrl.model)">
                            </div>
                        </div>
                    </div>
                    <div class="text-center col-sm-offset-3 col-sm-9" ng-if="modalCtrl.model.PasswordError || modalCtrl.model.PasswordLengthError">
                        <p class="info" ng-if="modalCtrl.model.PasswordError">{{modalCtrl.model.PasswordError}}</p>
                        <p class="info" ng-if="modalCtrl.model.PasswordLengthError">{{modalCtrl.model.PasswordLengthError}}</p>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-4 control-label">Xác nhận mật khẩu mới:</label>
                        <div class="col-sm-7">
                            <div class="form-group-img">
                                <input type="password" class="form-control" placeholder="Giống mật khẩu" ng-model="modalCtrl.model.PasswordConfirmation" ng-blur="modalCtrl.validateInput(modalCtrl.model)">
                            </div>
                        </div>
                    </div>
                    <div class="text-center col-sm-offset-3 col-sm-9" ng-if="modalCtrl.model.PasswordConfirmationError || modalCtrl.model.PasswordConfirmationMatchError">
                        <p class="info" ng-if="modalCtrl.model.PasswordConfirmationError">{{modalCtrl.model.PasswordConfirmationError}}</p>
                        <p class="info" ng-if="modalCtrl.model.PasswordConfirmationMatchError">{{modalCtrl.model.PasswordConfirmationMatchError}}</p>
                    </div>
                    <button type="button" class="btn btn-link" ng-click="modalCtrl.doChangePassword()">
                        <img src="Content/images/btn-xacnhan.png" alt="">
                    </button>
                </form>
                <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
            </div>
        </div>
    </div>
</div>