﻿<div id="Modal-Change-Avatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.cancel()">
                    <img src="Content/images/icons/icon-close.png" alt="">
                </button>
                <form class="form-horizontal form-change-avatar">

                    <div class="form-group">
                        <div class="text-center info col-sm-offset-1 col-sm-9">
                            Thay đổi hình đại diện
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <input type="file" ng-file-select="modalCtrl.onFileSelect($files)">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-5" style="width: 192px; height: 192px;">
                            <img-crop image="selectedImage" result-image="resultImage"></img-crop>
                        </div>
                        <div class="col-sm-5">
                            <img ng-src="{{resultImage}}" width="192" height="192" class="img-circle"/>
                        </div>
                    </div>

                    <button type="button" class="btn btn-link" ng-click="modalCtrl.saveChangeAvatar()">
                        <img src="Content/images/btn-xacnhan.png" alt="">
                    </button>
                </form>
                <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
            </div>
        </div>
    </div>
</div>