<div id="player-inventory-modal-body-container" class="modal-body" style="z-index: 1051;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.close()" style="z-index: 99999;">
        <img src="Content/images/icons/icon-close.png" alt="">
    </button>
    <div class="modal-body-scroll">
        <div class="box-select" ng-if="modalCtrl.profileModel.LuckyDrawCodes.length &gt; 0">
            <h4 class="title">
                <img src="Content/images/title-ma-so-may-man.png" alt="">
            </h4>
            <div class="box-gifts-body-info" ng-if="modalCtrl.profileModel.LuckyDrawCodes.length === 0">
                Bạn chưa có mã quay số may mắn
            </div>
            <div class="box-select-code" ng-if="modalCtrl.profileModel.LuckyDrawCodes.length &gt; 0">
                <select id="luckyCodeSelectCtrl">
                    <option class="lucky-code-option" ng-repeat="luckyCode in modalCtrl.profileModel.LuckyDrawCodes">{{luckyCode.LuckyDrawCode}}</option>
                </select>
                <img class="custom-carret mb-none pull-right" />
                <img class="custom-carret-mobile dt-none pull-right" />
            </div>
        </div>

        <div class="box-gifts" ng-if="modalCtrl.profileModel.UserInventoryIsEmpty">
            <div class="box-gifts-body">
                <div class="box-gifts-body-info" style="font-size: 17px">
                    Kho chiến công còn trống. Mua ngay CalCheese <br /> để tích lũy điểm và giành lấy hàng ngàn <br /> phần thưởng hấp dẫn.
                </div>
            </div>
        </div>

        <div class="box-gifts" ng-if="modalCtrl.profileModel.HasGiftWonFromLuckyDraw">
            <h4 class="title">
                <img src="Content/images/title-qua-thang-quay-so.png" alt="">
            </h4>
            <div class="box-gifts-body">
                <div class="col-xs-6" ng-if="modalCtrl.profileModel.GiftsWonFromLuckyDrawMap['TraiHe']">
                    <div class="gifts">
                        <div class="gifts-img">
                            <img src="Content/images/gifts/hoc-bong.png" alt="">
                        </div>
                        <h5 class="gifts-name">
                            Học bổng
                            <br> trại hè quốc tế
                        </h5>
                    </div>
                </div>
                <div class="col-xs-6" ng-if="modalCtrl.profileModel.GiftsWonFromLuckyDrawMap['XeDien']">
                    <div class="gifts">
                        <div class="gifts-img">
                            <img src="Content/images/gifts/xe-dien.png" alt="">
                        </div>
                        <h5 class="gifts-name">
                            xe điện
                            <br> cân bằng
                        </h5>
                    </div>
                </div>
                <div class="col-xs-6" ng-if="modalCtrl.profileModel.GiftsWonFromLuckyDrawMap['XeDap']">
                    <div class="gifts">
                        <div class="gifts-img">
                            <img src="Content/images/gifts/xe-dap.png" alt="">
                        </div>
                        <h5 class="gifts-name">
                            Xe đạp
                            <br> thể thao
                        </h5>
                    </div>
                </div>
                <div class="col-xs-6" ng-if="modalCtrl.profileModel.GiftsWonFromLuckyDrawMap['DoChoi']">
                    <div class="gifts">
                        <div class="gifts-img">
                            <img src="Content/images/gifts/bo-do-choi.png" alt="">
                        </div>
                        <h5 class="gifts-name">
                            BỘ ĐỒ CHƠI
                            <br> POKÉMON
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-gifts box-gifts-point" ng-if="modalCtrl.profileModel.HasGiftWonFromRedeemPoints">
            <h4 class="title">
                <img src="Content/images/title-diem-tich-luy.png" alt="">
            </h4>
            <div class="box-gifts-body">
                <div class="col-sm-4 col-xs-6">
                    <div class="gifts">
                        <span class="number-cards">{{modalCtrl.profileModel.GiftWonFromRedeemPointsMap['Balo']}}</span>
                        <div class="gifts-img">
                            <img src="Content/images/gifts/ba-lo.png" alt="">
                        </div>
                        <h5 class="gifts-name">
                            Ba lô
                            <br> Pokémon
                        </h5>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="gifts">
                        <span class="number-cards">{{modalCtrl.profileModel.GiftWonFromRedeemPointsMap['Mu']}}</span>
                        <div class="gifts-img">
                            <img src="Content/images/gifts/non.png" alt="">
                        </div>
                        <h5 class="gifts-name">
                            Nón
                            <br> huấn luyện viên
                        </h5>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 col-xs-offset-3 col-sm-offset-0">
                    <div class="gifts">
                        <span class="number-cards">{{modalCtrl.profileModel.GiftWonFromRedeemPointsMap['AoThun']}}</span>
                        <div class="gifts-img">
                            <img src="Content/images/gifts/ao.png" alt="">
                        </div>
                        <h5 class="gifts-name">
                            Áo thun
                            <br> pokémon
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
</div>