<main class="main">
    <div class="container">
        <div class="profile-box">
            <div class="box-left">
                <div class="box-img">
                    <a href="#" ng-click="ctrl.changeAvatar()" uib-tooltip="Nhấn để sửa hình đại diện">
                        <img class="img-circle dt-none" ng-src="{{ctrl.userProfile.AvatarUrl}}">
                        <img class="img-circle mb-none" width="192" height="192" ng-src="{{ctrl.userProfile.AvatarUrl}}">
                    </a>
                </div>
                <button class="btn btn-link">
                    <img src="Content/images/btn-sua.png" alt="" ng-click="ctrl.openProfileModal()">
                </button>
                <button class="btn btn-link">
                    <!--<img src="Content/images/btn-thoat.png" alt="" ng-click="ctrl.openChangePasswordModal()">-->
                    <img src="Content/images/btn-thoat.png" alt="" ng-click="ctrl.logout()">
                </button>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>Chào bạn:</dt>
                    <dd>
                        <span class="name">{{ ctrl.userProfile.FullName || ctrl.CurrentUser.UserName }}</span>
                    </dd>
                    <dt>Địa chỉ:</dt>
                    <dd>
                        {{ ctrl.userProfile.FullAddress }}
                    </dd>
                    <dt>Số điện thoại:</dt>
                    <dd>{{ ctrl.userProfile.PhoneNumber }}</dd>
                    <dt>Số điểm của bạn:</dt>
                    <dd>
                        <span class="point">{{ ctrl.userProfile.TotalPoint }}</span> điểm
                    </dd>
                    <dt>Số thẻ của bạn:</dt>
                    <dd>
                        <span class="point">{{ ctrl.userProfile.TotalCards }}</span> thẻ
                    </dd>
                </dl>
            </div>
            <button class="btn btn-link box-img-center" ng-click="ctrl.openInventoryModal()">
                <img src="Content/images/profile-kho-chien-cong.png" alt="">
            </button>
            <img class="box-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
        </div>
        <section>
            <h2 class="select-title text-center">
                <img src="Content/images/title-bo-suu-tap.png" alt="">
            </h2>
            <div class="profile-list">
                <div class="profile-list-title">
                    <img src="Content/images/title-the-dac-biet.png" alt="">
                </div>
                <ul class="profile-list-cards">
                    <li class="card" ng-repeat="card in ctrl.userProfile.SpecialCardList">
                        <span ng-if="card.TotalCount > 1" class="number-cards">{{card.TotalCount}}</span>
                        <img ng-src="{{card.DisplayImageUrl}}" alt="{{card.CardName}}">
                    </li>
                </ul>
            </div>
            <!-- /end .profile-list -->
            <div class="profile-list">
                <div class="profile-list-title">
                    <img src="Content/images/title-the-thuong.png" alt="">
                </div>
                <ul class="profile-list-cards">
                    <li class="card" ng-repeat="card in ctrl.userProfile.AllNormalCardList">
                        <span class="number-cards" ng-if="card.TotalCount > 1">{{card.TotalCount}}</span>
                        <img class="mb-none" ng-src="{{card.DisplayImageUrl}}" alt="{{card.CardName}}" width="129" height="192">
                        <img class="dt-none" ng-src="{{card.DisplayImageUrl}}" alt="{{card.CardName}}" width="103" height="153">
                        <!--<img src="https://storagecalcheeseprod.blob.core.windows.net/images/08-mega-denryu-front_339x514.png" alt="">-->
                    </li>
                </ul>
            </div>
            <!-- /end .profile-list -->
            <div class="select-footer text-center">
                <a class="btn btn-link" href="#" ui-sref="redeem">
                    <img src="Content/images/btn-luot-quay-so.png" alt="">
                </a>
                <a class="btn btn-link" href="#" ui-sref="poke_card_game">
                    <img src="Content/images/btn-san-choi.png" alt="">
                </a>
            </div>
        </section>
        <img class="copy-right" src="Content/images/logo-bottom.png" alt="">
    </div>
</main>