﻿<div class="modal-header" style="border-bottom: none">
    <button type="button" id="btnCloseDialog" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.cancel()">
        <img src="Content/images/icons/icon-close.png" alt="">
    </button>
</div>
<div class="modal-body">
    <form class="form-horizontal form-confirm" ng-init="modalCtrl.init()">

        <div class="form-group">
            <div class="text-center info col-sm-offset-1 col-sm-9">
                Tên đăng nhập: {{modalCtrl.model.UserName}}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-offset-1 col-sm-4 control-label">Họ:</label>
            <div class="col-sm-5">
                <div class="form-group-img">
                    <input type="text" name="LastName" ng-model="modalCtrl.model.LastName" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-offset-1 col-sm-4 control-label">Tên:</label>
            <div class="col-sm-5">
                <div class="form-group-img">
                    <input type="text" name="FirstName" ng-model="modalCtrl.model.FirstName" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-offset-1 col-sm-4 control-label">Địa chỉ cư trú:</label>
            <div class="col-sm-5">
                <div class="form-group-img">
                    <input type="text" name="Address" ng-model="modalCtrl.model.Address" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-offset-1 col-sm-4 control-label">Email:</label>
            <div class="col-sm-5">
                <div class="form-group-img">
                    <input type="email" name="Email" ng-model="modalCtrl.model.Email" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-offset-1 col-sm-4 control-label">Số điện thoại:</label>
            <div class="col-sm-5">
                <div class="form-group-img">
                    <input type="text" name="PhoneNumber" ng-model="modalCtrl.model.PhoneNumber" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-offset-1 col-sm-4 control-label">Cmnd (nếu có):</label>
            <div class="col-sm-5">
                <div class="form-group-img">
                    <input type="text" name="SocialIdNumber" ng-model="modalCtrl.model.SocialIdNumber" class="form-control" />
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-link" ng-click="modalCtrl.saveAndClose()">
            <img src="Content/images/btn-xacnhan.png" alt="">
        </button>
    </form>
    <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
    <img class="copy-right dt-none" src="Content/images/logo-bottom.png" alt="">
</div>