.selected-card {
    border: solid 1px green;
}

.card-invisible {
    display:none;
}

div.box-select-code select option {
    color:brown;
}

.custom-carret {
    border-width: 7px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    position: relative;
    top: 23px;
    left:-70px;
}

.custom-carret-mobile {
    border-width: 7px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    position: relative;
    top: 12px;
    left: -120px;
}

.custom-carret-week-number {
    border-width: 7px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    position: relative;
    top: 23px;
    left: -60px;
}

.custom-carret-week-number-mobile {
    border-width: 7px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    position: relative;
    top: 13px;
    left: -20px;
}

#lucky-code-dropdown {
    display: none;
    position: relative;
    top: -13px;
    left: -10px;
    border: solid 1px rgb(148,84,58);
    border-radius: 3px;
    background-color: rgb(148,84,58);
    color: #fff;
}

#luckyCodeSelectCtrl {
    width: 280px;
    text-align: center;
    text-align-last: center;
    // <<< 768
    @media (max-width: 767px) {
        width: 180px;
    }
}

#luckyCodeSelectCtrl option {
    text-align: center;
}

#weekNumberSelectCtrl {
    width: 250px;
    text-align: center;
    text-align-last: center;
    // <<< 768
    @media (max-width: 767px) {
        width: 150px;
        padding-left: 30px;
        text-align: left;
        text-align-last: left;
    }
}

#weekNumberSelectCtrl option {
    text-align: center;
}

.player-name-left,
.player-name-right {
    margin: 125px 10px 0 10px;
}

.copy-right-home {
    position: relative;
    top: 220px;
    left: 800px;
    z-index: 10;

    @media (max-width: 767px) {
        position: relative;
        clear: both;
        width: 105px;
        z-index: 1;
        float: right;
        bottom: 5px;
        right: 5px;
    }
}

// game play page
.game .game-top .game-top-left,
.game .game-top .game-top-right {

    .game-title-left {
        font-size: 10px !important;
        position: relative;
        left: -15px;
        top: 3px;
    }

    .game-title-right {
        font-size: 10px !important;
        position: relative;
        left: 5px;
    }

    .game-title-special-padding {
        padding-left: 3px;
    }
}

.game-warning-message{
    display:none;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    .game-warning-message {
        display: inline-block;
        top:100px;
        left:-30px;
        color:#ffffff;
        font-weight:bold;
    }
}

/* iPhone 6 in portrait */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
    .game-warning-message {
        display: inline-block;
        position: relative;
        top: 100px;
        left: -30px;
        color: #ffffff;
        font-weight: bold;
    }
}

/* iPhone 6 Plus in portrait */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {
    .game-warning-message {
        display: inline-block;
        position: relative;
        top: 100px;
        left: -30px;
        color: #ffffff;
        font-weight: bold;
    }
}

/* iPhone 5 & 5S in portrait */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
    .game-warning-message {
        display: inline-block;
        position: relative;
        top: 100px;
        left: -30px;
        color: #ffffff;
        font-weight: bold;
    }
}

/* Galaxy series in portrait */
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) and (orientation : portrait) {
    .game-warning-message {
        display: inline-block;
        position: relative;
        top: 100px;
        left: -30px;
        color: #ffffff;
        font-weight: bold;
    }
}

/* Galaxy S3 portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    .game-warning-message {
        display: inline-block;
        position: relative;
        top: 100px;
        left: -30px;
        color: #ffffff;
        font-weight: bold;
    }
}

/* Galaxy S4 portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .game-warning-message {
        display: inline-block;
        position: relative;
        top: 100px;
        left: -30px;
        color: #ffffff;
        font-weight: bold;
    }
}

/* Galaxy S5 portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .game-warning-message {
        display: inline-block;
        position: relative;
        top: 100px;
        left: -30px;
        color: #ffffff;
        font-weight: bold;
    }
}

/* Nexus series in portrait */
@media only screen and (min-device-width : 412px) and (max-device-width : 732px) and (orientation : portrait) {
    .game-warning-message {
        display: inline-block;
        position: relative;
        top: 100px;
        left: -30px;
        color: #ffffff;
        font-weight: bold;
    }
}

.info-text-white{
    color:#ffffff;
    font-size:18px;
    font-weight:bold;
    font-family:DINRoundOT;
}