
@media (max-width: 767px){
    // ALL Modal << 768
    // modal-winner-list-user-third-prize-window
    .modal-winner-list-user-third-prize-window {
        .close {
            right: 8px !important;
            top: 90px !important;
        }

        .modal {
            &-dialog {
                width: 100%;
                height: auto;
            }

            &-content {
                background: url('../images/mobile/bg-popup-1409x1161.png') center 40px no-repeat;
                background-size: 704px auto;
            }

            &-body {
                padding: 0;
            }
        }

        .modal-body-winner-list-user-third-prize {
            overflow-y: scroll;
        }

        .third-prize-item {
            margin-left: 20px;
            width: 350px;
            font-family: DINRoundOT;
            color: #fff;
        }

        .img-circle {
            width: 60px;
            border-radius: 50%;
        }
    }
    // end of modal-winner-list-user-third-prize-window

    // modal-lucky-draw-candidate-list-window
    /* ----------- iPhone 5 and 5S ----------- */
    /* Portrait and Landscape */
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {

        .modal-lucky-draw-candidate-list-window {
            .close {
                right: 8px !important;
                top: 150px !important;
            }

            .modal {
                &-dialog {
                    width: 100%;
                    height: auto;
                }

                &-content {
                    background: url('../images/mobile/bg-danh-sach-ma-quay-so-mb-640x1222.png') center 40px no-repeat;
                    background-size: 390px auto;
                }

                &-body {
                    top: 150px;
                    padding: 0;
                }
            }

            .modal-body-lucky-draw-candidate-list {
                position: relative;
                width: 310px;
                height: 500px;
                overflow-y: scroll;
                padding-left: 10px;
                padding-right: 30px;

                .lucky-draw-candidate-list-header-container {
                    width: 310px;
                    text-align: center;
                }

                .lucky-draw-candidate-list-container {
                    position: relative;
                    width: 310px;
                    float: left;
                    color: #fff;
                    font-weight: bold;
                }

                div.custom-table-header {
                    float: left;
                    color: #fff;
                    font-weight: bold;
                    background-color: orange;
                    text-transform: uppercase;
                    font-size: 17px;
                }

                .user-header-col-name {
                    width: 150px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    padding-left: 5px;
                }

                .user-header-col-code {
                    width: 150px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    padding-right: 5px;
                }

                .user-col-name {
                    width: 150px;
                }

                .user-col-code {
                    width: 150px;
                }

                .user-col-empty {
                    width: 30px;
                }

                .user-row {
                    height: 50px;
                }
            }

            .pagination-container-bottom {
                label {
                    color: #fff;
                    font-weight: bold;
                }

                position: relative;
                bottom: 40px;
                right: 10px;
                padding-left: 50px;
                padding-top: 20px;
            }

            .box-select {
                width: 100%;
                float: left;
                position: relative;
                top: -10px;
                padding: 0;

                .box-select-code {
                    position: relative;
                    background: url(../images/bg-maso.png) center center no-repeat;
                    background-size: 150px 25px;
                    top: 0;
                    left: -80px;
                    height: 28px;
                    width: 301px;
                    height: 50px;
                    margin: 0 auto;

                    select {
                        color: #fff;
                        font-size: 12px;
                        font-family: DINRoundOT;
                        background: 0 0;
                        padding: 16px 0 5px;
                        line-height: 1em;
                        border: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        -o-appearance: none;
                        appearance: none;
                        outline: 0;
                    }
                }

                #weekNumberSelectCtrl {
                    width: 150px;
                    position: relative;
                    left: 70px;
                    padding-left: 25px !important;
                    padding-top: 18px !important;
                    text-align: left;
                    text-align-last: left;
                }

                .custom-carret-week-number-mobile {
                    top: 22px;
                    left: -90px;
                    border-width: 7px;
                    border-style: solid;
                    border-color: #fff transparent transparent;
                    position: relative;
                }
            }
        }
    }

    /* ----------- iPhone 6 ----------- */

    /* Portrait and Landscape */
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

        .modal-lucky-draw-candidate-list-window {
            .close {
                right: 8px !important;
                top: 150px !important;
            }

            .modal {
                &-dialog {
                    width: 100%;
                    height: auto;
                }

                &-content {
                    background: url('../images/mobile/bg-danh-sach-ma-quay-so-mb-640x1222.png') center 40px no-repeat;
                    background-size: 420px auto;
                }

                &-body {
                    top: 150px;
                    padding: 0;
                }
            }

            .modal-body-lucky-draw-candidate-list {
                position: relative;
                width: 310px;
                height: 500px;
                overflow-y: scroll;
                padding-left: 10px;
                padding-right: 30px;

                .lucky-draw-candidate-list-header-container {
                    width: 310px;
                    text-align: center;
                }

                .lucky-draw-candidate-list-container {
                    position: relative;
                    width: 310px;
                    float: left;
                    color: #fff;
                    font-weight: bold;
                }

                div.custom-table-header {
                    float: left;
                    color: #fff;
                    font-weight: bold;
                    background-color: orange;
                    text-transform: uppercase;
                    font-size: 17px;
                }

                .user-header-col-name {
                    width: 150px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    padding-left: 5px;
                }

                .user-header-col-code {
                    width: 150px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    padding-right: 5px;
                }

                .user-col-name {
                    width: 150px;
                }

                .user-col-code {
                    width: 150px;
                }

                .user-col-empty {
                    width: 30px;
                }

                .user-row {
                    height: 50px;
                }
            }

            .pagination-container-bottom {
                label {
                    color: #fff;
                    font-weight: bold;
                }

                position: relative;
                bottom: 40px;
                right: 10px;
                padding-left: 120px;
                padding-top: 20px;
            }
        }

    }
    
    
    // end of modal-lucky-draw-candidate-list-window

    // modal-confirm-personal-info-for-redeem
    div.modal-confirm-personal-info-for-redeem-window {
        .modal {
            &-content {
                background: url('../images/mobile/bg-popup-1409x1161.png') center 60px no-repeat;
                background-size: 705px auto;
            }

            &-body {
                .btn-link-custom {
                    transform: scale(.65);
                    position: static!important;
                    outline: 0;
                    margin: 0 auto;
                    left: -100px;
                    padding: 0;
                    width: 148px;
                    height: 66px;
                    bottom: 8px;
                }
            }
        }

        .form-confirm {

            .form-group {
                margin-bottom: 13px;
            }

            .custom-padding {
                color: #fff;
                padding-left: 50px;
            }

            .control-label {
                color: #fff;
                text-align: left;
                padding-left: 60px;
                padding-right: 0;
            }

            .info {
                margin-top: 40px;
                color: #fff;
                font-weight: bold;
                padding-left: 60px;
            }

            .field-error-message {
                padding-top: 30px;
                color: #fff;
            }

            select {
                font-family: DINRoundOT;
            }

            .form-body-scroll-container {
                position: static;
                overflow: scroll;
            }

            .info {
                margin: 0;
                padding: 0;
            }
        }
    }
    // end of modal-confirm-personal-info-for-redeem
}