
// extra class for #Modal-Sign-In
#Modal-Sign-In {
    .error-info {
        margin-top: 5px;
        font-size: 13px;
        color: #603913;
        font-weight: bold;
        padding: 0 30px 0 20px;

        a {
            display: inline-block;
            margin-top: 10px;
            color: #603913;
            text-decoration: underline;
        }
    }
}
// end #Modal-Sign-In

// extra class for #Modal-Kho-Chien-Cong
#Modal-Kho-Chien-Cong {
    .lucky-code-option {
        color:brown;
    }
}
// end #Modal-Kho-Chien-Cong

//#Modal-Confirm-Doi-Qua-Success
#Modal-Confirm-Doi-Qua-Success {

    .close {
        right: -13px;
        top: -8px;
    }

    .modal {
        &-dialog {
            width: 445px;
            height: 320px;
        }

        &-content {
            background: url('../images/bg-popup-nap-diem.png') center center no-repeat;
        }
    }

    .img-gift {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 150px;
        width: 250px;
        text-align: center;
    }

    .info {
        margin-top: 70px;
        margin-left: 25px;
        color: #fff;
        font-size: 19px;
        font-weight: bold;
    }
}
// end #Modal-Confirm-Doi-Qua-Success

// #Modal-Nap-The
#Modal-Nap-The {

    .close {
        right: -13px;
        top: -8px;
    }

    .modal {
        &-dialog {
            width: 445px;
            height: 320px;
        }

        &-content {
            background: url('../images/bg-popup-nap-diem.png') center center no-repeat;
        }
    }

    .img-card-nap-diem,
    .img-card {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: -90px;
        width: 250px;
        text-align: center;
    }

    .info {
        padding-top: 15px;
        color: #fff;
        font-size: 19px;
        font-weight: bold;
    }

    .point {
        color: #ff0;
        font-size: 22px;
        font-weight: bold;
    }

    .image-rotate-left {
        -ms-transform: rotate(-7deg); /* IE 9 */
        -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
        transform: rotate(-7deg);
    }

    .image-rotate-right {
        -ms-transform: rotate(7deg); /* IE 9 */
        -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
        transform: rotate(7deg);
    }
}
// end #Modal-Nap-The

// #Modal-General-Info-Message
#Modal-General-Info-Message {
    .close {
        right: -13px;
        top: -8px;
    }

    .modal {
        &-dialog {
            width: 445px;
            height: 320px;
        }

        &-content {
            background: url('../images/bg-popup-nap-diem.png') center center no-repeat;
        }
    }

    .img-card-nap-diem,
    .img-card {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: -90px;
        width: 250px;
        text-align: center;
    }

    .info {
        color: #fff;
        font-size: 19px;
        font-weight: bold;
    }

    .point {
        color: #ff0;
        font-size: 22px;
        font-weight: bold;
    }

    .image-rotate-left {
        -ms-transform: rotate(-7deg); /* IE 9 */
        -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
        transform: rotate(-7deg);
    }

    .image-rotate-right {
        -ms-transform: rotate(7deg); /* IE 9 */
        -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
        transform: rotate(7deg);
    }
}
// end #Modal-General-Info-Message


// #Modal-General-Error
#Modal-General-Error {
    .close {
        right: -5px;
        top: -3px;
    }

    .modal {
        &-dialog {
            width: 569px;
            height: 392px;
        }

        &-content {
            background: url('../images/bg-popup-xacnhan.png') center center no-repeat;
        }

        &-img-bottom {
            right: -120px;
            bottom: -50px;
        }

        &-body {
            @include display(box !important);
            @include box-pack(center);
            @include box-align(center);
            padding: 0 100px;
            text-align: center;
        }
    }

    .info {
        margin-top: -50px;
        color: #fff;
        font-size: 19px;
        font-weight: bold;
    }
}
// end #Modal-General-Error


//#Global-Modal-Error
#Global-Modal-Error {

    .close {
        right: -13px;
        top: -8px;
    }

    .modal {
        &-dialog {
            width: 445px;
            height: 320px;
        }

        &-content {
            background: url('../images/bg-popup-nap-diem.png') center center no-repeat;
        }
    }

    .img-gift {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 150px;
        width: 250px;
        text-align: center;
    }

    .info {
        margin-top: 70px;
        margin-left: 25px;
        color: #fff;
        font-size: 19px;
        font-weight: bold;
    }
}
// end #Global-Modal-Error

//#Modal-Update-Profile
#Modal-Update-Profile {
    .close {
        right: 15px;
        top: 10px;
    }

    .modal {
        &-dialog {
            width: 662px;
            height: 501px;
        }

        &-content {
            background: url('../images/bg-popup-xacnhan-big.png') center center no-repeat;
        }

        &-img-bottom {
            right: -75px;
            bottom: -50px;
        }
    }

    .form-update-profile {
        .form-group {
            margin-bottom: 13px;
        }

        .control-label {
            font-size: 19px;
            color: #fff;
            text-align: left;
            padding-left: 60px;
            padding-right: 0;
        }

        .info {
            margin-top: 40px;
            font-size: 19px;
            color: #fff;
            font-weight: bold;
            padding-left: 60px;
        }
    }
}
// end #Modal-Update-Profile

#Modal-Change-Password {
    .close {
        right: 15px;
        top: 10px;
    }

    .modal {
        &-dialog {
            width: 662px;
            height: 501px;
        }

        &-content {
            background: url('../images/bg-popup-xacnhan-big.png') center center no-repeat;
        }

        &-img-bottom {
            right: -75px;
            bottom: -50px;
        }
    }

    .info {
        margin-top: 40px;
        font-size: 19px;
        color: #fff;
        font-weight: bold;
        padding-left: 60px;
    }

    .form-change-password {
        .form-group {
            margin-bottom: 12px;
        }

        .control-label {
            font-size: 19px;
            color: #fff;
            text-align: left;
            padding-left: 40px;
            padding-right: 0;
        }
    }
}

#Modal-Forgot-Password {

    .close {
        right: 15px;
        top: 10px;
    }

    .modal {
        &-dialog {
            width: 662px;
            height: 501px;
        }

        &-content {
            background: url('../images/bg-popup-xacnhan-big.png') center center no-repeat;
        }

        &-img-bottom {
            right: -75px;
            bottom: -50px;
        }
    }

    .info {
        margin-top: 40px;
        font-size: 19px;
        color: #fff;
        font-weight: bold;
        padding-left: 60px;
    }

    .btn-link {
        width: 184px;
        height: 78px;
        bottom: -20px;
    }

    .form-forgot-password {
        .form-group {
            margin-bottom: 12px;
        }

        .control-label {
            font-size: 19px;
            color: #fff;
            text-align: left;
            padding-left: 40px;
            padding-right: 0;
        }
    }
}

//#Modal-Change-Avatar
#Modal-Change-Avatar {
    .close {
        right: 15px;
        top: 10px;
    }

    .modal {
        &-dialog {
            width: 662px;
            height: 501px;
        }

        &-content {
            background: url('../images/bg-popup-xacnhan-big.png') center center no-repeat;
        }

        &-img-bottom {
            right: -75px;
            bottom: -50px;
        }
    }

    .info {
        margin-top: 40px;
        font-size: 19px;
        color: #fff;
        font-weight: bold;
        padding-left: 60px;
    }

    .btn-link {
        width: 184px;
        height: 78px;
        bottom: -20px;
    }

    .form-change-avatar {
        .form-group {
            margin-bottom: 12px;
        }

        .control-label {
            font-size: 19px;
            color: #fff;
            text-align: left;
            padding-left: 40px;
            padding-right: 0;
        }
    }
}
//end #Modal-Change-Avatar

//#Modal-Game-Tutorial
#Modal-Game-Tutorial {
    .close {
        right: -13px;
        top: -8px;
    }

    .modal {
        &-dialog {
            width: 739px;
            height: 418px;
        }

        &-content {
            background: url('../images/bg-popup-game-739x418.png') center center no-repeat;
        }
    }

    .game-tutorial {
        position: relative;
        width: 680px;
        height: 300px;
        padding-left: 30px;
        padding-right: 30px;
        overflow: hidden;
        text-align: center;
    }

    .title-info {
        color: #fff;
        font-size: 26px;
        font-weight: bold;
    }

    .info {
        color: #fff;
        font-size: 19px;
        font-weight: bold;
    }
}
// end #Modal-Game-Tutorial

@media(min-width:768px){

    div.modal-confirm-info-doi-qua-window {

        .img-gift {
            position: absolute;
            right: 0;
            left: 0;
            margin: 0 auto;
            top: 150px;
            width: 250px;
            text-align: center;
        }

        .info {
            margin-top: -150px;
            margin-left: 25px;
            color: #fff;
            font-size: 19px;
            font-weight: bold;
        }
    }
}

// modal-winner-list-user-third-prize-window
.modal-winner-list-user-third-prize-window {
    .close {
        right: -13px;
        top: -8px;
    }

    .modal {
        &-dialog {
            width: 1024px;
            height: 586px;
        }

        &-content {
            background: url('../images/mobile/bg-game-1024x586.png') center center no-repeat;
        }

        &-body {
            padding-top: 50px!important;
        }
    }

    .modal-body-winner-list-user-third-prize {
        position: relative;
        width: 850px;
        height: 440px;
        padding-right: 30px;
        overflow: hidden;
    }

    .third-prize-item {
        margin-left: 50px;
        width: 350px;
        font-family: DINRoundOT;
        color: #fff;
    }

    .ps-scrollbar-y-rail {
        height: 400px !important;
    }
}
// end of modal-winner-list-user-third-prize-window

// modal modal-lucky-draw-candidate-list-window
.modal-lucky-draw-candidate-list-window {
    .close {
        right: -75px;
        top: 77px;
    }

    .modal {
        &-dialog {
            width: 690px;
            height: 579px;
        }

        &-content {
            background: url('../images/bg-danh-sach-tham-du-quay-so-690x579.png') center center no-repeat;
        }

        &-body {
            width: 500px;
            padding-top: 140px;
            padding-left: 100px;
            padding-right: 70px;
        }
    }

    .modal-body-lucky-draw-candidate-list {
        position: relative;
        width: 400px;
        height: 280px;
        padding-right: 30px;
        overflow: hidden;

        .lucky-draw-candidate-list-header-container {
            width: 400px;
            text-align: center;
        }

        .lucky-draw-candidate-list-container {
            position: relative;
            width: 400px;
            height: 250px;
            float: left;
            color: #fff;
            font-weight: bold;
        }

        div.custom-table-header {
            float: left;
            color: #fff;
            font-weight: bold;
            background-color: orange;
            text-transform: uppercase;
            font-size: 17px;
        }

        .user-header-col-name {
            width: 200px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            padding-left: 5px;
        }

        .user-header-col-code {
            width: 150px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            padding-right: 5px;
        }

        .user-col-name {
            width: 200px;
        }

        .user-col-code {
            width: 150px;
        }

        .user-col-empty {
            width: 30px;
        }

        .user-row {
            height: 50px;
        }
    }

    .pagination-container-bottom {
        label {
            color: #fff;
            font-weight: bold;
        }

        padding-left: 20px;
    }

    .ps-scrollbar-y-rail {
        height: 250px !important;
    }

    .box-select {
        width: 100%;
        float: left;
        padding-left: 30px;
        padding-bottom: 10px;
    }

    .box-select-code select, .box-select-code ul {
        color: #fff;
        font-size: 18px;
        font-family: DINRoundOT;
        background: 0 0;
        padding: 13px 0 5px;
        line-height: 1em;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        outline: 0;
    }
}
// end of modal-lucky-draw-candidate-list-window

// modal-confirm-personal-info-for-redeem
div.modal-confirm-personal-info-for-redeem-window {
    .close {
        right: 90px;
        top: -8px;
    }

    .modal {
        &-dialog {
            width: 1032px;
            height: 550px;
        }

        &-content {
            background: url('../images/bg-popup-xacnhan-thong-tin-ca-nhan-1032x550.png') center center no-repeat;
        }

        &-img-bottom {
            right: -75px;
            bottom: -50px;
        }

        &-body {
            .btn-link {
                outline: 0;
                position: absolute;
                margin: 0 auto;
                left: -100px;
                padding: 0;
                width: 148px;
                height: 66px;
                bottom: 8px;
            }
        }
    }

    .form-confirm {
        .form-group {
            margin-bottom: 13px;
        }

        .custom-padding {
            color: #fff;
            padding-left: 350px;
        }

        .control-label {
            color: #fff;
            text-align: left;
            padding-left: 60px;
            padding-right: 0;
        }

        .info {
            margin-top: 40px;
            color: #fff;
            font-weight: bold;
            padding-left: 60px;
        }

        .field-error-message {
            padding-top: 10px;
            color: #fff;
        }

        select {
            font-family: DINRoundOT;
        }

        .form-body-scroll-container {
            position: relative;
            height: 340px;
            overflow: hidden;
        }
    }

    .ps-scrollbar-y-rail {
        top: -30px;
        height: 340px;
        right: 180px;
    }
}
// end modal-confirm-personal-info-for-redeem