﻿// #Legal-Tc-Modal
#Legal-Tc-Modal {
    .popup {
        width: 1000px;
        height: 565px;
        position: fixed;
        top: 50px;
        left: 50%;
        margin-left: -500px;
        z-index: 999;
        display: none;
        background: url(../images/popup_bg.png) 0 0 no-repeat transparent;
    }

    .btn-close {
        position: absolute;
        right: 120px;
        top: 50px;
        transition: transform 0.35s cubic-bezier(0.175, 0.885, 0.320, 1.275);
        -moz-transition: -moz-transform 0.35s cubic-bezier(0.175, 0.885, 0.320, 1.275);
        -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.175, 0.885, 0.320, 1.275);

        &:hover {
            transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    }

    .popup-content {
        width: 700px;
        position: relative;
        margin: 120px 0 0 80px;
    }

    .popup-controls {
        position: absolute;
        width: 465px;
        left: 150px;
        top: -70px;
    }

    .btn-luckydraw,
    .btn-gift {
        display: inline-block;
        -webkit-backface-visibility: hidden;
        transition: transform 0.35s cubic-bezier(0.175, 0.885, 0.320, 1.275);
        -moz-transition: -moz-transform 0.35s cubic-bezier(0.175, 0.885, 0.320, 1.275);
        -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.175, 0.885, 0.320, 1.275);

        .active-state {
            display: none;
        }

        &.active {
            .active-state {
                display: inline-block;
            }

            .inactive-state {
                display: none;
            }
        }

        &:hover {
            -moz-transform: translateZ(0) scale(1.05);
            -webkit-transform: translateZ(0) scale(1.05);
            transform: translateZ(0) scale(1.05);
        }
    }

    .btn-luckydraw {
        margin-right: 30px;
    }

    .lucky-draw-content,
    .gift-content {
        padding-top: 25px;
        overflow: hidden;
        display: none;

        &.active {
            display: block;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }
    }

    .gift-content {
        .scroll-content {
            height: 320px;
        }
    }

    .scroll-content {
        width: 100%;
        height: 320px;
        overflow: hidden;
        position: relative;
    }

    .scroll-data {
        width: 90%;

        > img {
            width: 100%;
        }
    }

    .mask-layer {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 990;
        display: none;
        background: rgba(238, 190, 87, 0.9);
    }

    .popup-mobile {
        background: #ff5000;
        text-align: center;
        padding-bottom: 20px;
        display: none;

        > img {
            width: 100%;
        }

        .btn-close {
            top: 10px;
            right: 10px;
            z-index: 20;
        }
    }

    .btn-luckydraw-mobile,
    .btn-gift-mobile {
        position: relative;
        top: -40px;
        display: block;

        .active-state {
            display: none;
        }

        &.active {
            .active-state {
                display: inline-block;
            }

            .inactive-state {
                display: none;
            }
        }
    }

    .btn-gift-mobile {
        position: relative;
        top: -30px;
    }

    .lucky-draw-tab,
    .gift-tab {
        width: 90%;
        margin: -20px auto 0;
        display: none;

        &.active {
            display: block;
        }

        h3 {
            padding-top: 15px;
            margin-bottom: 10px;
        }

        div {
            overflow-y: scroll;
            height: 500px;
            -webkit-overflow-scrolling: touch;
        }

        img {
            width: 100%;
        }
    }
}
// end #Legal-Tc-Modal