.danh-sach-trung-giai {
    background: #7ecc08 url('../images/bg-green-1080-for-web.png') center top no-repeat;

    .main-content {
        color: #fff;
        float: left;
        width: 100%;
        margin-top: 35px;

        &-top {
            width: 893px;
            height: 913px;
            padding: 0 140px 0 160px !important;
            background: url('../images/bg-box-trung-giai-_893x786.png') center top no-repeat; /*background: url('../images/bg-box-trung-giai-772x782.png') center top no-repeat;*/
            margin: 0 auto 50px auto;
            padding-top: 100px;
            position: relative;

            p {
                margin: 5px 0;
            }
        }

        .box-select {
            background: #e0c568;
            border: 3px solid #7d3818;
            width: 324px;
            height: 60px;
            @include border-radius(10px);
            margin: 0 auto;
            float: none;

            &-code {
                background-size: 100% 80%;

                &:after {
                    border-width: 8px;
                    margin-left: 15px;
                    top: 45%;
                }

                text-align: center;
            }

            select {
                font-size: 18px;
                padding-top: 18px;
            }
        }

        .gift-text-container {
            padding-left: 40px;
        }

        .name {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .gifts-name {
            /*text-align: center;*/
            font-size: 20px;
        }

        .gifts-name-line-1 {
            padding-left: 12px;
        }

        .main-avatar {
            position: relative;

            .gifts-img-bottom {
                position: absolute;
                bottom: -60px;
            }

            &.big {
                .avatar {
                    padding: 10px;
                    width: 208px;
                    height: 208px;
                    background: url('../images/winner-avatar-red-big.png') center center no-repeat;
                }
            }

            &.small {
                .avatar {
                    padding: 8px;
                    width: 164px;
                    height: 164px;
                    background: url('../images/winner-avatar-red-small.png') center center no-repeat;
                }

                .gifts-img-bottom {
                    right: 66px;
                    bottom: -15px;
                }
            }

            .avatar {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .custom-position {
            top: 30px;
        }

        .custom-padding {
            padding-top: 25px;
        }

        .main-title {
            font-family: "ShowcardGothic-Reg";
            margin: 20px 0 10px 0;
        }

        .main-gifts-top {
            margin-bottom: 80px;
            font-size: 22px;

            .name {
                font-size: 20px;
            }

            .text-center {
                margin-top: 50px;
            }
        }

        .main-img-bottom {
            position: absolute;
            /*bottom: -32px;*/ bottom: 100px;
            right: -50px;
        }
    }

    .main-content-bottom {
        width: 1171px;
        height: 995px;
        background: url('../images/bg-tab-trung-giai-1171x945.png') center 50px no-repeat;
        margin: 0 auto;
        padding: 50px 200px 0 200px;

        .nav-tabs {
            padding-left: 40px;
            border: none;
            margin: -69px 0 90px 0;

            > li {
                > a {
                    border: none;
                    width: 222px;
                    height: 111px;
                    text-align: center;
                    background: url('../images/bg-tab.png') no-repeat;
                    margin: 0 7px;
                    padding-top: 20px;

                    &.tab2 {
                        background-position: -242px 0;
                        width: 226px;
                        margin-top: 7px;
                    }

                    &.tab3 {
                        background-position: -488px 0;
                        margin-top: 4px;
                    }

                    &:hover {
                        background-position-y: bottom;
                    }
                }

                &.active {
                    > a {
                        background-position-y: bottom;
                    }
                }
            }
        }

        .media {
            margin: 15px 0;

            &-object {
                height: 112px;
                width: 112px;
                background: url('../images/winner-avatar-small.png') no-repeat;
                padding: 7px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &-heading {
                font-size: 20px;
                font-weight: bold;
            }
        }

        .pagination-none-background {
            margin-top: 60px;
        }
    }
}
