@media (max-width: 767px) {
    .game {
        min-width: 568px;
        min-height: 320px;
        overflow: hidden;
        .header {
            .nav-left,
            .nav-right {
                display: none;
            }
            .brand {
                float: left;
                width: 142px;
                margin-left: 10px;
            }
        }
        background: url('../images/mobile/bg-game-950x590.png') center -42px no-repeat;
        &-content {
            float: left;
            width: 100%;
            display: block;
            .container {
                min-height: calc(100vh - 50px);
            }
        }
        // game-left
        &-left {
            width: 110px;
            margin-left: 5px;
            &.show-card {
                z-index: 10;
                position: relative;
                width: 100%;
                height: 293px;
                overflow-y: scroll;
                background: url('../images/mobile/bg-game-1024x586.png') center 8px no-repeat;
                background-size: 512px auto;
                .game-left-list {
                    display: block;
                    margin: 0 auto;
                    width: 300px;
                    height: 160px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    .game-list-cards {
                        width: 100%;
                        height: 160px;
                        margin-bottom: 0;
                        .card {
                            width: 58px;
                            height: 87px;
                            img {
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }
                    }
                }
                .game-left-info {
                    display: block;
                }
                .toggle-card {
                    background-position-y: bottom;
                }
            }
            margin-top: 5px;
            float: left;
            background: none;
            // background: green;
            .btn {
                padding: 0;
                top: 120px;
                position: absolute;
                left: 0;
                img {
                    width: 107px;
                }
                & + .btn {
                    top: 165px;
                }
            }
            &-info {
                display: none;
                margin: 40px auto 10px auto;
                color: #fff;
                font-size: 13px;
                width: 320px;
                .point {
                    font-size: 20px;
                }
            }
            &-list {
                display: none;
            }
            // mobile moi co
            &-card-toggle {
                position: absolute;
                top: 0;
                width: 110px;
                .game-left-card-select {
                    float: left;
                    margin: 0 0 8px 10px;
                    width: 60px;
                    height: 92px;
                    border: 3px solid #fef001;
                    @include border-radius(6px);
                    @include box-shadow(0 0 10px  #ffefdc);
                }
                .toggle-card {
                    position: relative;
                    z-index: 5;
                    margin: 8px 0 0 -6px;
                    padding: 0;
                    border: none;
                    background: none;
                    float: left;
                    height: 80px;
                    width: 30px;
                    background: url('../images/mobile/btn-game-card-toggle.png') left top no-repeat;
                    background-size: 30px 161px;
                }
            }
        }
        &-list-cards {
            display: inline-block;
            padding: 0;
            width: 190px;
            height: 130px;
            position: relative;
            margin-bottom: 25px;
            &-title {
                margin-bottom: 30px;
            }
            .card {
                float: left;
                list-style-type: none;
                position: relative;
                margin: 15px 15px 0 0;
                width: 45px;
                height: 66px;
                img {
                    border: 2px solid transparent;
                    @include border-radius(6px);
                    max-width: 45px;
                }
                &:hover,
                &.active {
                    img {
                        border-color: #fef001;
                    }
                }
                .number-cards {
                    width: 25px;
                    height: 27px;
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    background-size: 25px;
                    font-size: 12px;
                    line-height: 2.5em;
                }
            }
            .ps-scrollbar-y-rail {
                height: 160px !important;
                width: 15px !important;
                &:after {
                    width: 7px;
                    @include border-radius(7px);
                }
                .ps-scrollbar-y {
                    width: 15px !important;
                    height: 15px !important;
                    background-size: 15px;
                }
            }
        }
        // end game-left

        // game top
        &-top {
            height: 30px;
            width: 217px;
            margin: 0 auto;
            top: -30px;
            background: url('../images/game-bg-ty-so.png') center center no-repeat;
            background-size: 217px 50px;
            font-size: 8px;
            .game-title {
                position: relative;
                top: -25px;
            }
            &-left,
            &-right {
                @include display(box);
                @include box-align(end);
                height: 55px;
                top: -5px;
                position: absolute;
                // background: green;
                line-height: 1em;
                figure {
                    width: 27px;
                    height: 27px;
                }
                figure {
                    img {
                        max-width: 27px;
                        max-height: 27px;
                        position: absolute;
                        top: 0;
                    }
                }
            }
            &-left {
                left: 15px;
            }
            &-center {
                margin: 0 auto;
                height: 38px;
                width: 38px;
                top: 0;
                position: absolute;
                left: 0;
                right: 0;
                img {
                    position: relative;
                    top: -10px;
                    height: 38px;
                    width: 38px;
                }
            }
            &-right {
                right: 10px;
            }
        }
        // end game top

        // game-main
        .game-main {
            width: 282px;
            height: 176px;
            margin: -15px auto 0 auto;
            .game-cards {
                &-left,
                &-right {
                    float: right;
                    img {
                        max-width: 110px;
                        max-height: 170px;
                        transform: rotate(8deg);
                        @include box-shadow(0 0 25px 4px  #ffefdc);
                        @include border-radius(16px);
                    }
                    .default {
                        img {
                            border: 3px solid #0e601b;
                        }
                    }
                }
                &-left {
                    float: left;
                    width: 110px;
                    height: 170px;
                    img {
                        transform: rotate(-8deg);
                        display: none;
                        z-index: 10;
                        max-width: 104px;
                        max-height: 164px;
                    }
                }
            }
        }
        // end game-main

        // game bottom
        .game-bottom {
            width: 350px;
            height: 60px;
            top: 180px;
            margin: 0 auto;
            // background: green;
            &-left,
            &-right {
                position: absolute;
                top: 30px;
                @include display(box);
                @include box-align(center);
                font-size: 13px;
                color: #fff;
                text-transform: uppercase;
                .game-avatar {
                    height: 56px;
                    width: 56px;
                    border: 3px solid #fff;
                    @include border-radius(50%);
                    overflow: hidden;
                    img {
                        max-width: 100%;
                    }
                }
                .name {
                    margin: 0 10px;
                    max-width: 100px;
                }
            }
            &-center {
                /*display: none; //tuds*/
                z-index: 11;
                position: fixed;
                height: 77px;
                width: 86px;
                top: 50px;
                right: 10px;
                background: url('../images/bg-count-down.png') center center no-repeat;
                background-size: 86px 77px;
                margin: 0 auto;
                font-size: 11px;
                padding-top: 18px;
                .game-number-time {
                    color: #ffe400;
                    font-size: 22px;
                    position: relative;
                    top: 7px;
                }
                .game-count-down-info {
                    z-index: 11;
                    top: 5px;
                    left: -150px;
                    width: 160px;
                    height: 45px;
                    text-align: center;
                    @include border-radius(10px);
                    padding: 5px;
                    font-size: 7.5px;
                    .icon-bottom-comment {
                        right: -9px;
                        bottom: -15px;
                        background-size: 15px;
                    }
                }
            }
            &-right {
                right: 0;
            }
        }
        // end game bottom
        .copy-right {
            position: fixed;
            z-index: 10;
        }
    }

}