.game {
    background: #ffd39d url('../images/game-bg-for-web.png') center top no-repeat;
    &-content {
        float: left;
        width: 100%;
        display: block;
        .container {
            min-height: calc(100vh - 105px);
        }
    }
    // game-left
    &-left {
        width: 265px;
        min-height: 340px;
        margin-top: 5px;
        float: left;
        background: green;
        background: url('../images/game-bg-card-left.png') top left no-repeat;
        text-align: center;
        .btn {
            margin-top: -25px;
        }
        &-info {
            margin: 50px 0 10px 0;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            line-height: 1.8em;
            .point {
                font-family: "ShowcardGothic-Reg";
                color: #fef001;
                font-size: 30px;
            }
        }
        &-list {
            margin: 0 auto;
            width: 190px;
        }
    }
    &-list-cards {
        display: inline-block;
        padding: 0;
        width: 190px;
        height: 130px;
        position: relative;
        margin-bottom: 25px;
        &-title {
            margin-bottom: 30px;
        }
        .card {
            float: left;
            list-style-type: none;
            position: relative;
            margin: 15px 15px 0 0;
            width: 45px;
            height: 66px;
            img {
                border: 2px solid transparent;
                @include border-radius(6px);
                max-width: 45px;
            }
            &:hover,
            &.active {
                img {
                    border-color: #fef001;
                }
            }
            .number-cards {
                width: 25px;
                height: 27px;
                position: absolute;
                top: -10px;
                right: -10px;
                background-size: 25px;
                font-size: 12px;
                line-height: 2.5em;
            }
        }
        .ps-scrollbar-y-rail {
            height: 130px !important;
            width: 15px !important;
            &:after {
                width: 7px;
                @include border-radius(7px);
            }
            .ps-scrollbar-y {
                width: 15px !important;
                height: 15px !important;
                background-size: 15px;
            }
        }
    }
    // end game-left

    // game top
    &-top {
        height: 96px;
        width: 423px;
        margin: 40px auto 0 auto;
        background: url('../images/game-bg-ty-so.png') center center no-repeat;
        position: relative;
        font-size: 13px;
        text-transform: uppercase;
        color: #fff;
        &-left,
        &-right {
            @include display(box);
            @include box-align(end);
            height: 55px;
            top: 8px;
            position: absolute;
            // background: green;
            line-height: 1em;
            figure {
                width: 51px;
                height: 55px;
            }
            figure {
                img {
                    max-width: 55px;
                    max-height: 55px;
                    position: absolute;
                    top: 0;
                }
            }
        }
        &-left {
            left: 35px;
        }
        &-center {
            margin: -20px auto 0 auto;
            height: 70px;
            width: 70px;
        }
        &-right {
            right: 40px;
        }
        .game-title-special {
            color: #2e479d;
            @include text-shadow(#{$text-shadow-yellow});
        }
    }
    // end game top

    // game-main
    .game-main {
        width: 460px;
        height: 290px;
        margin: 10px auto 0 auto;
        .game-cards {
            &-left,
            &-right {
                float: right;
                img {
                    max-width: 165px;
                    transform: rotate(8deg);
                    @include box-shadow(0 0 50px 8px  #ffefdc);
                    @include border-radius(16px);
                }
                .default {
                    img {
                        border: 4px solid #0e601b;
                    }
                }
            }
            &-left {
                float: left;
                width: 165px;
                height: 246px;
                img {
                    transform: rotate(-8deg);
                    display: none;
                    z-index: 10;
                }
            }
        }
    }
    // end game-main

    // game bottom
    .game-bottom {
        width: 610px;
        height: 160px;
        position: absolute;
        top: 400px;
        margin: 0 auto;
        // background: green;
        right: 0;
        left: 0;
        text-align: center;
        &-left,
        &-right {
            position: absolute;
            top: 30px;
            @include display(box);
            @include box-align(center);
            font-size: 24px;
            color: #fff;
            text-transform: uppercase;
            .game-avatar {
                height: 110px;
                width: 110px;
                border: 3px solid #fff;
                @include border-radius(50%);
                overflow: hidden;
                img {
                    max-width: 100%;
                }
            }
            .name {
                margin: 0 10px;
                max-width: 120px;
            }
        }
        &-center {
            position: relative;
            height: 116px;
            width: 130px;
            background: url('../images/bg-count-down.png') center center no-repeat;
            margin: -20px auto 0 auto;
            font-size: 13px;
            color: #fff;
            font-weight: bold;
            line-height: 1.1em;
            padding-top: 25px;
            .game-number-time {
                color: #ffe400;
                font-size: 30px;
                position: relative;
                top: 10px;
            }
            .game-count-down-info {
                position: absolute;
                top: -40px;
                left: -240px;
                font-weight: bold;
                width: 250px;
                height: 75px;
                @include border-radius(20px);
                color: #603913;
                border: 2px solid #96511f;
                background: #fff;
                padding: 10px;
                text-align: left;
                font-size: 14px;
                line-height: 1.2em;
                .icon-bottom-comment {
                    position: absolute;
                    right: -5px;
                    bottom: -17px;
                    display: inline-block;
                    z-index: 2;
                    height: 25px;
                    width: 25px;
                    background: url('../images/icons/icon-bottom-comment.png') center center no-repeat;
                }
            }
        }
        &-right {
            right: 0;
        }
    }
    // end game bottom
}
