body.list-card {
    h4.title {
        margin-top: 145px;
        text-align: center;
    }

    img.image-title {
        width: 450px;
    }

    .modal-img-bottom {
        position: absolute;
        bottom: -55px;
        right: 85px;
    }

    .card-board {
        position: relative;
		padding: 0 30px;

        .card-img-holder {
            padding: 75px 71px;
            padding-right: 40px;
            padding-left: 110px;

            img {
                max-width: 100%;
                max-height: 100%;
                -webkit-box-shadow: 0px 0px 50px 15px rgba(255, 255, 255, 1);
                -moz-box-shadow: 0px 0px 50px 15px rgba(255, 255, 255, 1);
                box-shadow: 0px 0px 50px 15px rgba(255, 255, 255, 1);
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
            }
        }

        .nav-left,
        .nav-right {
            position: absolute;
            top: 50%;
            margin-top: -44px;
            z-index: 1;
        }

        .nav-left {
            left: 0;
        }

        .nav-right {
            right: 0;
        }

        .card-info {
            color: #fff;

            .pokemon-name {
                width: 100%;
                text-transform: uppercase;
                font-size: 25px;
                font-weight: bold;
                position: absolute;
                margin-top: 60px;
                text-align: center;
            }

            .pokemon-info {
                position: absolute;
                font-size: 26px;
                font-weight: bold;
                top: 170px;
                width: 100%;
                padding: 0 135px;

                strong {
                    font-size: 33px;
                }
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        .list-card {
            text-align: center;
            margin-top: 40px;

            &.big-card {
                li {
                    width: 209px;
                    height: 312px;
                    margin: 15px;
                }
            }

            li {
                display: inline-block;
                width: 173px;
                height: 258px;
                margin: 10px;
                border-radius: 23px;
                border: 5px solid #12641a;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }

                &.selected {
                    border-color: #fff700;
                }

                &:hover {
                    transform: scale(1.025);
                }
            }
        }

        .card-nav {
            list-style: none;
            text-align: center;

            li {
                display: inline-block;
                color: #603913;
                font-weight: bold;
                font-size: 18px;
            }
        }
    }

    .how-to-play {
        width: 1025px;
        height: 704px;
        margin: 0 auto;
        background: url('../images/bg-cach-choi.png') top center no-repeat;
        position: relative;

        .modal-img-bottom {
            bottom: -35px;
            right: -30px;
        }

        .slider {
            padding-top: 150px;

            .slider-item {
				list-style: none;
                &.margin4x {
                    margin-top: 40px;
                }

                &.txt-center {
                    text-align: center;
                }

                a {
                    display: inline-block;
                }

                p {
                    font-size: 19px;
                    font-weight: bold;
                    color: #fff;
					margin: 0;

                    strong {
                        font-family: "ShowcardGothic-Reg";
                        font-size: 30px;
                    }

                    &.higtlight {
                        color: #fff768;
                    }
                }

                h4 {
                    font-size: 30px;
                    font-weight: bold;
                    color: #fff;
                }

                .card-guide {
                    padding: 30px 50px 0;

                    img {
                        margin: 0 auto;
                    }

                    label {
                        font-size: 20px;
                        font-weight: bold;
                        color: #fff768;
                        margin-top: 10px;
                    }
                }
            }

            .slick-dots {
                padding-right: 50px;
                bottom: -60px;

                li {
                    margin: 15px;

                    button {
                        background: url('../images/icons/icon-sprite.png') no-repeat;
                        background-position: 0 -20px;
                        text-indent: -999px;
                    }

                    &.slick-active {
                        button {
                            background-position: 0 0;
                        }
                    }
                }
            }
        }
    }
}
