// Lucky draw container
#lucky-modal,
#change-gift-modal {
    position: inherit;
    .modal-content {
        .info {
            color: #fff;
            font-size: 19px;
            font-weight: bold;
            text-align: center;

            strong {
                font-family: "ShowcardGothic-Reg";
                color: #fef001;
                font-size: 30px;
            }
        }
    }

    .modal-img-bottom {
        bottom: -15px;
    }
}

#lucky-modal {
    .modal-dialog {
        width: 970px;
        height: 522px;

        .modal-content {
            background: url('../images/bg-modal-lucky-draw.png') no-repeat center center;
            text-align: center;

            .btn {
                width: 266px;
                margin-top: 30px;
                background: transparent;
            }

            .btn-bottom {
                margin-top: 23px;
            }

            .modal-body {
                padding: 130px 100px;
            }

            .luck-prize-list {
                margin: 0;
                padding: 0;

                li {
                    width: 25%;
                    float: left;
                    list-style: none;
                    text-align: center;

                    img {
                        height: 100%;
                    }
                }
            }
        }
    }
}

#change-gift-modal {
    .modal-dialog {
        width: 772px;
        height: 587px;
        margin-bottom: 0;
        .modal-content {
            background: url('../images/bg-change-gift.png') no-repeat center center;

            .modal-body {
                padding: 115px 100px;
            }

            .lucky-prize-change-list {
                margin: 0;
                padding: 0;

                li {
                    width: 33.33%;
                    float: left;
                    list-style: none;

                    text-align: center;

                    img {
                        height: 100%;
                    }

                    label {
                        strong {
                            color: #fef001;
                            font-size: 25px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}

.text-center {
    text-align: center;
}

.lucky-draw-footer-button-group {
    margin-right: 50px;
}