// For modal
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #lucky-modal {
        overflow: visible;

        .modal {
            &-dialog {
                width: 100%;
                margin: 0;

                .modal-content {
                    background: url('../images/mobile/bg-modal-lucky-draw.png') no-repeat;
                    background-size: 607px auto; /*background-size: 568px auto;*/
                    background-position: top center;
                    height: 590px; /*height: 520px;*/
                    .modal-body {
                        padding: 0;
                        top: 0;
                        text-align: center;
                        height: 100%;
                        box-sizing: border-box;
                        padding-top: 110px !important;
                    }

                    .modal-body-no-scroll {
                        overflow-y: hidden;
                    }

                    .info {
                        font-size: 11px;
                    }

                    .luck-prize-list {
                        li {
                            width: 50%;
                            padding: 0 25px;
                            margin-bottom: 15px;

                            img {
                                max-width: 100%;
                                max-height: 100%;
                                height: initial;
                            }
                        }
                    }

                    .btn {
                        background: transparent;
                        -webkit-transform: scale(0.55);
                        -moz-transform: scale(0.55);
                        transform: scale(0.55);
                        margin-top: -40px;
                        margin-left: 10px;

                        img {
                            max-width: 100%;
                        }
                    }

                    .btn-bottom {
                        margin-top: -50px !important;
                    }
                }
            }

            &-img-bottom {
                float: right;
                width: 100px;
                position: absolute;
            }
        }
    }

    #change-gift-modal {
        overflow: visible;

        .modal {
            &-dialog {
                width: 100%;
                margin: 0;

                .modal-content {
                    background: url('../images/mobile/bg-change-gift.png') no-repeat;
                    background-size: 568px auto;
                    background-position: top center;
                    height: 520px;

                    .modal-body {
                        padding: 0;
                        top: 0;
                        padding-top: 100px;
                        text-align: center;
                        height: 100%;
                        box-sizing: border-box;
                        padding-top: 110px !important;
                    }

                    .info {
                        font-size: 11px;
                    }

                    .luck-prize-list {
                        li {
                            width: 50%;
                            padding: 0 25px;
                            margin-bottom: 15px;

                            img {
                                max-width: 100%;
                                max-height: 100%;
                                height: initial;
                            }
                        }
                    }

                    .lucky-prize-change-list {
                        padding: 0 20px;
                        margin-top: 10px;

                        li {
                            width: 100%;
                            text-align: left;
                            font-size: 11px;
                            display: table-cell;
                            border-bottom: 1px solid #a9551f;
                            margin-bottom: 20px;
                            padding-bottom: 5px;

                            &:last-child {
                                border-bottom: none;
                            }

                            img {
                                width: 60px;
                            }

                            p {
                                display: inline-block;
                                vertical-align: middle;
                                text-align: center;
                                width: 95px;

                                &.gifts-name {
                                    font-size: 11px;
                                }
                            }

                            label {
                                vertical-align: middle;
                                strong {
                                    font-size: 11px;
                                }
                            }

                            a {
                                vertical-align: middle;
                                margin: 0;
                                padding: 0;
                                padding-top: 10px;
                                float: right;
                            }
                        }
                    }

                    .btn {
                        background: transparent;
                        margin-top: -30px;
                        img {
                            max-width: 100%;
                        }
                    }
                }

            }

            &-img-bottom {
                width: 100px;
                float: right;
                bottom: 0;
                position: absolute;
            }
        }
    }

    .btn-san-choi {
        -webkit-transform: scale(0.55);
        -moz-transform: scale(0.55);
        transform: scale(0.55);
    }

    body.list-card {
        margin: 0;
        padding: 0;

        h4.title {
            margin-top: 70px;
            padding: 0 40px;
            margin-bottom: 70px;

            img {
                max-width: 100%;
            }
        }

        .card-board {
            padding: 0;

            &.margin100 {
                margin-top: 100px;
            }

            margin-top: 0px;

            .profile-list-title {
                margin-bottom: 0;
                padding-left: 10px;
            }

            .card-img-holder {
                padding: 0 130px;
                z-index: 1;
                position: absolute;
                top: -20%;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    -webkit-box-shadow: 0px 0px 50px 15px rgba(255, 255, 255, 1);
                    -moz-box-shadow: 0px 0px 50px 15px rgba(255, 255, 255, 1);
                    box-shadow: 0px 0px 50px 15px rgba(255, 255, 255, 1);
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                }
            }

            .card-info {
                .pokemon-info {
                    padding: 0 60px;
                    font-size: 15px;
                    top: 55px;
                    padding-top: 50px;

                    strong {
                        font-size: 20px;
                    }
                }
            }

            .nav-left,
            .nav-right {
                top: 20px;
                transform: scale(0.5);
            }

            .nav-right {
                right: 40px;
            }

            .nav-left {
                left: 40px;
            }

            .list-card {
                margin-top: 20px;
                padding: 0;

                li {
                    width: 80px;
                    height: auto;
                    margin: 5px;
                    border-radius: 10px;
                    border: 3px solid #12641a;

                    &:hover {
                        transform: scale(1.025);
                    }
                }

                &.big-card {

                    li {
                        width: 80px;
                        height: auto;
                        margin: 5px;
                        border-radius: 10px;
                        border: 3px solid #12641a;
                    }
                }
            }
        }

        .btn-footer {
            width: 40%;

            img {
                max-width: 100%;
            }
        }

        .how-to-play {
            background-size: 568px;
            width: 100%;
            height: 440px;

            .slider {
                margin: 0;
                padding: 0;

                .slider-item {
                    list-style: none;
                    padding-top: 85px;
                    padding-left: 10px;

                    .col-xs-8 {
                        padding-left: 0;
                    }

                    img {
                        max-width: 100%;
                    }

                    p {
                        font-size: 13px;
                        margin: 0;
                        padding: 0;

                        strong {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #lucky-modal {
        .modal {
            &-dialog {
                .modal-content {
                    height: 590px;

                    .luck-prize-list {
                        li {
                            padding: 0 40px;
                        }
                    }

                    .btn {
                        margin-top: 30px;
                    }

                    .btn-bottom {
                        margin-top: -50px!important;
                    }
                }
            }
        }
    }

    body.list-card {
        .card-board {
            .card-img-holder {
                padding: 0 145px;
            }

            .card-info {
                .pokemon-info {
                    padding: 0 70px;
                    font-size: 15px;
                    top: 85px;
                    padding-top: 80px;

                    strong {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

//iPhone 6 Plus in portrait & landscape
@media only screen and (min-device-width : 414px) and (max-device-width : 736px){

    body.list-card {
        .card-board {
            .card-img-holder {
                padding: 0 145px;
            }

            .card-info {
                .pokemon-info {
                    padding: 0 70px;
                    font-size: 15px;
                    top: 55px;
                    padding-top: 120px;

                    strong {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

/* Galaxy S5 */
@media only screen and (max-width: 360px) and (max-height: 640px) and (orientation:portrait) {
    body.list-card {
        .card-board {
            .card-img-holder {
                padding: 0 145px;
            }

            .card-info {
                .pokemon-info {
                    padding: 0 70px;
                    font-size: 15px;
                    top: 55px;
                    padding-top: 70px;

                    strong {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}


/* Nexus 6p */
@media only screen and (min-width: 412px) and (max-width: 435px) and (min-height: 732px) and (max-height: 773px) and (orientation:portrait) {
    body.list-card {
        .card-board {
            .card-img-holder {
                padding: 0 145px;
            }

            .card-info {
                .pokemon-info {
                    padding: 0 70px;
                    font-size: 15px;
                    top: 55px;
                    padding-top: 120px;

                    strong {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}