// >>> 768
@media (min-width: 768px) {
    .dt-none {
        display: none !important;
    }
}
// <<< 768
@media (max-width: 767px) {
    .mb-none {
        display: none !important;
    }
    .container {
        width: 100%;
        padding: 0;
    }
    // Index
    .pack, .form-sign-code,
    .cards, .prizes {
        width: 100%;
    }
    .main-home {
        width: 320px;
        position: relative;
        float: none;
        clear: both;
        margin: 0 auto;
        height: 510px;
        .form-sign-code {
            top: -15px;
            left: auto;
            right: auto;
            position: absolute;
            height: 220px;
            width: 320px;
            margin: 0 auto;
            background-size: calc(100% - 20px);
            display: block;
            z-index: 10;
            .form-control {
                width: 140px;
                top: 140px;
            }
            .btn-img {
                width: 90px;
                top: calc(100% - 48px);
                img {
                    width: 100%;
                }
            }
        }
    }
    .pack {
        height: calc(100vh - 60px);
        margin-right: 0;
        &-img {
            width: auto;
            height: 200px;
            right: 30px;
            top: 270px;
            // bottom: 50px;
        }
        &-effect {
            display: none;
        }
        &-small {
            width: auto;
            height: 80px;
            top: 394px;
            // bottom: 40px;
            right: 5px;
        }
    }
    .cards {
        position: absolute;
        right: 120px;
        top: 530px;
    }
    // CARD
    @each $name in 11, 12, 13, 14, 15, 16, 17  {
        .c#{$name}-animation {
            display: none;
        }
    }
    @each $name, $right, $bottom, $z-index, $height in
    (1, 130px, 40px, 10, 180px),
    (2, 110px, 40px, 9, 170px),
    (3, 85px, 40px, 8, 160px),
    (4, 70px, 40px, 7, 150px),
    (5, 60px, 40px, 6, 140px),
    (6, 50px, 40px, 5, 130px),
    (7, 35px, 40px, 4, 120px),
    (8, 25px, 40px, 3, 110px),
    (9, 15px, 40px, 2, 100px),
    (10, 0, 50px, 1, 90px)
    {
        $a-deplay: ($name/10*2)-0.2;
        $b-deplay: ($z-index/40) + 1;
        .c#{$name}-animation {
            right: $right;
            bottom: $bottom;
            z-index: $z-index;
            animation-delay: #{$b-deplay}s;
            animation-name: show_card;
            height: $height/2;
            &.animate {
                animation: Floating 2s #{$a-deplay}s ease-in-out infinite;
            }
        }
    }
    // END CARD
    @each $name, $top, $right, $width in
    (scholarship, 225px, 50px, 177px),
    (auto, 290px, 170px, 100px),
    (bike, 340px, 150px, 110px)
    {
        .#{$name}-prize {
            top: $top;
            right: $right;
            width: $width;
        }
    }
    // End Index
}

@media (max-width: 767px) {
    // ALL Modal << 768
    .modal {
        &.in {
            @include box-pack(start);
            @include box-align(start);
            overflow: hidden;
        }
        &-dialog {
            margin: 0;
            z-index: 10;
            width: 100% !important;
            height: 100% !important;
        }
        .close {
            top: 8px !important;
            right: 8px !important;
            position: fixed;
            z-index: 99999;
            img {
                width: 30px;
            }
        }
        &-body {
            top: 110px;
            overflow: hidden;
            overflow-y: scroll;
            height: calc(100% - 110px);
            padding-top: 0 !important;
            width: 320px;
            margin: 0 auto;
        }
        &-img-bottom {
            position: relative;
            right: 0 !important;
            bottom: 0 !important;
            width: 100px;
            float: right;
        }
        .copy-right {
            width: 105px;
        }
        .btn-link {
            width: 107px;
            height: 47px;
            bottom: 0;
            position: relative;
            display: block;
            img {
                max-width: 100%;
            }
        }
    }
    // End All

    // #Modal-Sign-In
    #Modal-Sign-In,
    div.modal-sign-in-window {
        .modal {
            &-content {
                background: url('../images/mobile/bg-dangnhap.png') center 40px no-repeat;
                background-size: 493px auto;
                margin: 0;
            }
        }

        .btn-link {
            width: 107px;
            height: 47px;
            bottom: 0;
            position: relative;
            margin: 0 auto;
            display: block;

            img {
                max-width: 100%;
            }
        }

        .form-sign-in {
            margin-top: 30px;

            .form-group {
                width: 200px;
                margin: 0 auto 13px auto;

                &-img {
                    margin-left: -15px;
                }

                .form-control {
                    width: 180px;
                }
            }

            .control-label {
                padding: 0;
            }

            .info {
                padding: 0;
            }
        }
    }
    // #End Modal-Sign-In
    // #Modal-Sign-In
    #Modal-Sign-Up,
    div.modal-sign-up-window {
        .modal {
            &-content {
                background: url('../images/mobile/bg-dangky.png') center 40px no-repeat;
                background-size: 505px auto;
                margin: 0;
            }
        }

        .form-sign-up {
            margin-top: 30px;

            .form-group {
                width: 200px;
                margin: 0 auto 13px auto;

                &-img {
                    margin-left: -15px;
                }

                .form-control {
                    width: 180px;
                }
            }

            .control-label {
                padding: 0;
            }

            .info {
                padding: 0;
            }
        }
    }
    // #End Modal-Sign-In

    // #Modal-Nap-Diem
    #Modal-Nap-Diem,
    #Modal-Khong-Hop-Le,
    div.modal-nap-diem-window,
    div.modal-khong-hop-le-window {
        // display: block;
        .modal {
            &-content {
                background: url('../images/mobile/bg-popup-1409x1161.png') center 60px no-repeat;
                background-size: 705px auto;
            }
        }

        .img-cards {
            position: relative;
            text-align: center;
            top: 30px;
            width: 80px;
            height: 160px;

            &:after {
                width: 80px;
                height: 110px;
            }
        }

        .info {
            font-size: 13px;
            padding: 0;
            width: 300px;
            margin: 0 auto;
            min-height: 140px;
        }

        .point {
            font-size: 18px;
        }
    }
    // end #Modal-Nap-Diem

    // #Modal-Confirm
    #Modal-Confirm,
    div.modal-confirm-window {
        .modal {
            &-content {
                background: url('../images/mobile/bg-popup-1409x1161.png') center 60px no-repeat;
                background-size: 705px auto;
            }
        }

        .form-confirm {
            .form-group {
                width: 200px;
                margin: 0 auto 13px auto;

                &-img {
                    margin-left: -15px;
                }

                .form-control {
                    width: 180px;
                }
            }

            .control-label {
                padding: 0;
            }

            .info {
                padding: 0;
            }
        }
    }
    // end #Modal-Confirm

    // #Modal-Confirm-Info
    #Modal-Confirm-Info,
    #Modal-Confirm-Info-Doi-Ma,
    div.modal-confirm-info-window,
    div.modal-confirm-info-doi-ma-window,
    div.modal-confirm-info-doi-qua-window {
        .modal {
            &-content {
                background: url('../images/mobile/bg-popup-1409x1161.png') center 60px no-repeat;
                background-size: 705px auto;
            }

            &-body {
                @include display(block !important);
                @include box-pack(initial);
                @include box-align(initial);
                display: block;
                padding: 0;
            }

            &-img-bottom {
                position: fixed;
                bottom: 15px !important;
                right: 15px !important;
            }
        }

        .copy-right {
            position: fixed;
            bottom: 8px;
            right: 8px;
        }

        .info {
            margin-top: 0;
            padding: 15px 30px;
        }
    }
    // end #Modal-Confirm-Info

    // #Modal-Huong-Dan
    #Modal-Huong-Dan, div.modal-huong-dan-window {
        // display: block;
        h4.modal-title {
            font-size: 13px;
        }

        .modal {
            &-title {
                font-size: 14px;
            }

            &-content {
                background: url('../images/mobile/bg-huongdan.png') center 40px no-repeat;
                background-size: 601px auto;
            }

            &-body-scroll {
                width: 300px;
                height: 550px;
                padding-right: 20px;
                top: 0;
            }

            &-img-bottom {
                display: none;
            }
        }

        .btn-link {
            width: 107px;
            height: 47px;
            bottom: 0;
        }

        .ps-scrollbar-y-rail {
            height: 100% !important;
        }
    }
    // end #Modal-Huong-Dan

    // #Modal-The-Le
    #Modal-The-Le {
        // display: block;
        .modal {
            &-dialog {
                width: 100%;
                height: auto;
            }

            &-content {
                background: url('../images/mobile/bg-thele-787x1135.png') center 40px no-repeat;
                background-size: 505px auto;
                margin-top: 10px;
            }

            &-header {
                padding-top: 77px!important;
                border-bottom:none!important;
            }

            &-body {
                width: 100%;
                top: 10px;
                height: 100%;
                padding: 0;
                margin: 0px;
            }

            &-img-bottom {
                bottom: -30px !important;
                right: -40px !important;
            }
        }

        .modal-group-btn {
            float: left;
            width: 100%;
            text-align: center;
            position: relative;
            top: 0;

            .btn-link {
                display: block;
                width: auto;
                width: 162px;

                &:hover {
                    text-decoration: none;
                }

                margin: 0 auto;

                & + .btn-link {
                    margin-top: 5px;
                    width: 112px;
                }
            }
        }

        .btn-link {
            position: relative;
            bottom: auto;
        }

        .ps-scrollbar-y-rail {
            height: 276px !important;
        }

        .the-le-mobile {
            width: 100%;
        }
    }
    // end #Modal-The-Le

    // Modal-Kho-Chien-Cong-None-Gifts
    #Modal-Kho-Chien-Cong,
    #Modal-Kho-Chien-Cong-None-Gifts,
    div.modal-kho-chien-cong-window {
        overflow: inherit;

        .modal-body {
            padding: 0;
            width: 100%;

            @media (max-width: 480px) {
                max-height: 480px;
            }
        }

        .modal {
            &-dialog {
                width: 100%;
                max-height: auto;
            }

            &-content {
                background: url('../images/mobile/bg-kho-cong-chien-1409x1191.png') center 40px no-repeat;
                background-size: 704px auto;

                .title {
                    img {
                        width: 150px;
                    }
                }

                .box-select {
                    margin: 0 auto;
                    width: 320px;
                    top: 10px;
                    height: auto;
                }

                .row {
                    margin: 0 -5px;
                }

                [class*="col-xs"] {
                    padding: 0 5px;
                }
            }

            &-body-scroll {
                top: 0px;
                width: 320px;
                height: auto;
                padding-right: 0;
                margin: 0 auto;
                overflow: inherit;
                // background: #ddd;
                position: relative;
                text-align: center;

                .box-gifts {
                    margin-top: 30px;
                    clear: both;
                    padding: 0 30px;

                    &-title {
                        img {
                            width: 150px;
                        }
                    }
                }

                .box-gifts-body-info {
                    width: 100%;
                    margin: 30px auto 0 auto;
                    padding: 0;
                    line-height: 1.2em;
                    font-size: 11px;
                }
            }
        }

        .ps-container {
            overflow: inherit !important;
        }

        .ps-scrollbar-y-rail {
            height: auto !important;
        }

        .gifts {
            padding-top: 0;

            .gifts-name {
                font-size: 13px;
            }

            .gifts-img {
                height: 70px;

                img {
                    max-width: 75px;
                    max-height: 55px;
                }
            }

            .number-cards {
                right: 25px;
            }
        }

        .number-cards {
            height: 32px;
            width: 30px;
            font-size: 14px;
            line-height: 2.5em;
            background-size: 30px 32px;
        }

        .copy-right,
        .modal-img-bottom {
            position: relative;
            margin: 0 auto;
            bottom: 0;
            left: 100px;
            float: none;
            display: block;
        }

        .copy-right {
            left: 80px;
            top: -10px;
            margin-bottom: 30px;
        }
    }
    // end Modal-Kho-Chien-Cong-None-Gifts

    // Modal-Game-None-Add-Point
    #Modal-Game-Add-Point,
    #Modal-Game-None-Add-Point, div.modal-game-add-point-window, div.modal-game-non-add-point-window {
        .modal {
            &-dialog {
                width: 100%;
                height: auto;
            }

            &-content {
                background: url('../images/mobile/bg-popup-1409x1161.png') center 40px no-repeat;
                background-size: 704px auto;
            }

            &-body {
                padding: 0;
            }

            &-img-left {
                display: none;
            }
        }

        .img-cards {
            margin: 45px auto 15px auto;
            width: 75px;
            height: 107px;

            &:after {
                width: 75px;
                height: 110px;
            }
        }

        .info {
            padding: 0 15px;
            width: 100%;
            margin: 0 auto;
            min-height: 140px;
            width: 320px;
        }

        .point {
            font-size: 20px;
        }
    }
    // end Modal-Game-None-Add-Point
}

// Profile
.profile {
    @media (max-width: 767px) {
        background: #4fa913 url('../images/mobile/bg-green.png') no-repeat;
        background-size: cover;

        &-box {
            width: 100%;
            min-height: 381px;
            background: url('../images/mobile/bg-trang-ca-nhan-940x762.png') top center no-repeat;
            background-size: 470px auto;
            margin: 50px auto 0 auto;
            font-size: 13px;
        }

        .box {
            &-img {
                @include border-radius(50%);
                background: url('../images/profile-bg-img-left.png') center center no-repeat;
                background-size: 110px;
                height: 110px;
                width: 110px;
                padding: 8px;

                img {
                    max-width: 100%;
                }
            }

            &-left {
                position: absolute;
                left: 0;
                top: 30px;
                right: 0;
                margin: 0 auto;
                width: 110px;
                z-index: 1;

                .btn-link {
                    top: -30px;
                    left: -45px;

                    img {
                        height: 45px;
                    }

                    & + .btn {
                        top: -78px;
                        left: auto;
                        right: -40px;
                    }
                }
            }

            &-body {
                .dl-horizontal {
                    width: 320px;
                    margin: 0 auto;
                    padding-top: 160px;
                    padding-left: 15px;
                    // background: green;
                    dt {
                        text-align: left;
                        width: 120px;
                    }

                    dd {
                        padding-left: 120px;
                        margin-bottom: 12px;
                        margin-top: -18px;
                    }

                    .name {
                        font-size: 16px;
                        margin-top: -10px;
                        display: inline-block;
                        line-height: 1em;
                    }

                    .point {
                        font-family: "ShowcardGothic-Reg";
                        font-size: 24px;
                        color: #fff000;
                        margin-top: -20px;
                        display: inline-block;
                    }
                }
            }

            &-img-center {
                /*bottom: 55px;*/
                bottom: 20px;
                width: 160px;
                height: 155px;

                img {
                    max-width: 100%;
                }
            }

            &-img-bottom {
                display: none;
            }
        }

        .select-title {
            margin-top: 0;

            img {
                max-width: 260px;
                margin: 0 auto;
            }
        }

        .btn-link {
            padding: 0;
        }

        .select-footer {
            margin-top: 0;
            padding-bottom: 25px;

            .btn-link {
                padding: 0;
                width: 138px;

                img {
                    max-width: 100%;
                }
            }
        }
    }
    // << 400 quay dung
    @media (max-width: 400px) {
        background: #4fa913 url('../images/mobile/bg-green.png') center top no-repeat;
    }
}

@media (max-width: 767px) {
    .profile-list {
        margin-bottom: 0;

        &-title {
            margin-bottom: 30px;

            img {
                width: 120px;
                margin: 15px 0 0 8px;
            }
        }

        &-cards {
            padding: 0 0 0 8px;
            margin-left: -3%;
            margin-right: -3%;

            .card {
                margin: 0 3% 12px 3%;
                width: 26.5%;

                img {
                    max-width: 100%;
                }

                .number-cards {
                    background-size: 30px;
                    font-size: 14px;
                    line-height: 5.3em;
                }
            }
        }
    }
}
// End Profile


// Tham Gia
// << 768px
.thamgia {
    @media (max-width: 767px) {
        min-height: 580px;

        &-content {
            float: none;
            min-height: 580px;

            .container {
                min-height: 100%;
            }
        }

        &-body {
            min-height: 580px;
            width: 100%;
            margin: 0 auto;
            background: url('../images/mobile/bg-thamgia-1409x1161.png') center top no-repeat;
            background-size: 705px auto;
            float: left;

            .btn-random {
                position: relative;
                bottom: 0;
                margin: 0 auto;
                width: 200px;
                height: auto;
                display: block;

                img {
                    max-width: 100%;
                }
            }

            .modal-img-bottom {
            }
        }

        &-info {
            width: 320px;
            height: 180px;
            margin: 60px auto 10vh auto;
            padding-right: 15px;
            float: none;
            display: block;

            .table {
                width: 100%;

                tr > td {
                    border: none;
                    padding: 8px 5px;
                }

                .btn-link {
                    margin-right: 0;
                    height: auto;
                    width: 80px;

                    img {
                        max-width: 100%;
                    }
                }
            }
        }

        .avatar {
            width: 46px;
            height: 46px;
        }

        .ps-scrollbar-y-rail {
            height: 150px !important;
        }
    }

    @media (min-width: 361px) and (max-width: 767px) {
        .modal-img-bottom,
        .copy-right {
            left: 120px;
            margin: 0 auto;
            float: none;
            display: block;
        }

        .copy-right {
            left: 100px;
        }
    }

    @media (max-width: 360px) {
        min-height: 530px;

        &-content,
        &-body {
            min-height: 530px;
        }
    }
}

// End Tham Gia

// << 768px
.danh-sach-trung-giai {
    @media (max-width: 767px) {
        background: #4ea913 url('../images/mobile/bg-green.png') no-repeat;
        background-size: cover;
        min-height: 568px;
    }
    // << 400 quay dung
    @media (max-width: 400px) {
        background: #4ea913 url('../images/mobile/bg-green.png') center top no-repeat;
    }

    @media (max-width: 767px) {
        .main-content {
            margin-top: 0;

            &-top {
                width: 100%;
                height: 454px;
                padding: 0 !important;
                background: url('../images/mobile/bg-danh-sach-trung-giai-893x909.png') center top no-repeat;
                background-size: 446px auto;
                margin: 0 auto;
                font-size: 10px;

                p {
                    margin: 3px 0;
                }
                // hand code col-xs-6
                .row {
                    margin: 0;
                }

                [class*="col-xs"] {
                    padding: 0;
                    text-align: center;
                }
            }

            .box-select {
                width: 170px;
                height: 34px;
                @include border-radius(5px);
                margin: 0 auto;
                position: relative;
                top: 43px;

                &-code {
                    background-size: 150px 25px;
                    width: 100%;
                    top: 0;
                    height: 28px;

                    &:after {
                        border-width: 5px;
                        margin-left: 5px;
                        top: 45%;
                    }
                }

                select {
                    font-size: 11px;
                    padding-top: 10px;
                }
            }

            .main-title {
                font-family: "ShowcardGothic-Reg";
                margin: 0;
                margin-top: 50px;

                img {
                    display: block;
                    width: 170px;
                    margin: 0 auto;
                }
            }

            .main-gifts-top {
                font-size: 11px;
                width: 320px;
                margin: 10px auto 15px auto;

                .name {
                    font-size: 13px;
                }

                .text-center {
                    margin-top: 30px;
                }
            }

            .main-gifts-bottom {
                width: 320px;
                margin: 0 auto;
            }
            // trong main-gifts-top
            .name {
                font-size: 13px;
                font-weight: bold;
                margin-bottom: 0;
            }

            .gifts-name {
                font-size: 11px;
            }

            .main-avatar {
                position: relative;

                .gifts-img-bottom {
                    position: absolute;
                    width: 138px;
                    height: 77px;
                    bottom: -15px;
                    right: 0;
                }

                &.big {
                    .avatar {
                        padding: 10px;
                        width: 94px;
                        height: 94px;
                        background-size: 94px;
                        @include border-radius(50%);
                        display: inline-block;
                        float: none;
                    }
                }

                &.small {
                    .avatar {
                        padding: 8px;
                        width: 74px;
                        height: 74px;
                        background-size: 74px;
                        display: inline-block;
                    }

                    .gifts-img-bottom {
                        bottom: -5px;
                        right: 30px;
                        max-width: 60px;

                        &.bodochoi {
                            height: 40px;
                            width: 43px;
                        }

                        &.xedap {
                            height: 44px;
                            width: 49px;
                        }

                        &.xedien {
                            height: 29px;
                            width: 66px;
                        }
                    }
                }
            }

            .gift-text-container {
                padding-left: 0px;
                padding-top: 8px;
            }

            .custom-position-2nd-prize {
                top: 10px;
            }

            .custom-position {
                top: 10px;
            }

            .custom-padding {
                padding-top: 0px;
            }

            img.gift-text-img-custom-size-hoc-bong {
                width: 80%;
            }

            img.gift-text-img-custom-size-xe-dien {
                width: 60%;
            }

            img.gift-text-img-custom-size-xe-dap {
                width: 60%;
            }

            img.gift-text-img-custom-size-do-choi {
                width: 75%;
            }

            // end trong main-gifts-top
        }

        .select-footer {
            padding-bottom: 25px;

            .btn-link {
                width: 150px;
                padding: 0;

                img {
                    max-width: 100%;
                }
            }
        }

        .main-content-bottom {
            clear: both;
            width: 100%;
            height: 450px;
            background: url('../images/mobile/bg-tab-755x785.png') center 50px no-repeat;
            background-size: 377px auto;
            margin: 0 auto;
            padding: 0;

            .nav-tabs {
                padding-left: 10px;
                border: none;
                margin: 0;
                top: 10px;
                position: relative;
                width: 320px;
                margin: 0 auto;

                > li {
                    > a {
                        border: none;
                        width: 100px;
                        height: 48px;
                        text-align: center;
                        background: url('../images/bg-tab.png') no-repeat;
                        background-size: 313px 97px;
                        margin: 7px 0 0 0;
                        padding-top: 8px;

                        img {
                            width: 32px; /*41px;*/
                            height: 34px; /*31px;*/
                        }

                        &.tab2 {
                            background-position: -105px 0;
                            width: 100px;
                            height: 48px;

                            img {
                                width: 27px; /*23px;*/
                                height: 31px; /*32px;*/
                            }
                        }

                        &.tab3 {
                            background-position: -213px 0;
                            margin-top: 5px;
                            padding-top: 10px;

                            img {
                                width: 35px;
                                height: 30px;
                            }
                        }

                        &:hover {
                            background-position-y: bottom;
                        }
                    }

                    &.active {
                        > a {
                            background-position-y: bottom;
                        }
                    }
                }
            }

            .media-list {
                width: 320px;
                margin: 10px auto 0 auto;

                .row {
                    margin: 0;
                }
            }

            .media {
                margin: 15px 0 0 0;
                padding: 0 5px;
                text-align: center;

                &-object {
                    height: 56px;
                    width: 56px;
                    background-size: 56px;
                    padding: 3px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                &-heading {
                    font-size: 13px;
                    margin: 0;
                }

                &-left {
                    display: inline-block;
                    padding: 0;
                    margin: 0 0 5px 0;
                }

                &-body {
                    display: block;
                    width: 100%;
                    font-size: 10px;
                }
            }

            .pagination-none-background {
                margin-top: 10px;

                > li > a {
                    font-size: 16px;
                    margin: 0;
                }
            }
        }
    }
}
// End danh-sach-trung-giai
@import "./game_mobile";