.profile {
    // background:#00b200 url('../images/profile-bg-for-web.png') top center no-repeat;
    background: #4fa913 url('../images/profile-bg-for-web.png') top center no-repeat;

    &-box {
        width: 790px;
        height: 490px;
        background: url('../images/profile-bg-san-choi.png') top center no-repeat;
        position: relative;
        margin: 50px auto 0 auto;
        display: block;
        color: #fff;
        font-size: 19px;
        font-weight: bold;
    }

    .box {
        &-img {
            @include border-radius(50%);
            background: url('../images/profile-bg-img-left.png') center center no-repeat;
            height: 211px;
            width: 211px;
            padding: 10px;
        }

        &-left {
            position: absolute;
            left: -58px;
            top: 30px;
            width: 211px;
            z-index: 1;
            text-align: center;

            .btn-link {
                padding: 0;
                top: -50px;
                position: relative;

                & + .btn {
                    top: -65px;
                }
            }
        }

        &-body {
            .dl-horizontal {
                width: 500px;
                margin: 0 auto;
                padding-top: 150px;
                padding-left: 20px;
                // background: green;
                dt {
                    text-align: left;
                }

                dd {
                    padding-left: 10px;
                    margin-bottom: 8px;
                }

                .name {
                    font-size: 36px;
                    margin-top: -10px;
                    display: inline-block;
                    line-height: 1em;
                }

                .point {
                    font-family: "ShowcardGothic-Reg";
                    font-size: 24px;
                    color: #fff000;
                }
            }
        }

        &-img-center {
            position: absolute;
            right: 0;
            left: 0;
            bottom: -120px;
            width: 228px;
            height: 244px;
            margin: 0 auto;
        }

        &-img-bottom {
            position: absolute;
            bottom: -35px;
            right: -115px;
        }
    }

    .select-title {
        margin-top: 120px;
    }

    .btn-link {
        padding: 0;
    }

    .select-footer {
        margin-top: -35px;
        padding-bottom: 25px;
    }
}
.profile-list {
    margin-bottom: 25px;
    display: inline-block;
    &-title {
        margin-bottom: 30px;
    }
    &-cards {
        padding: 0;
        margin-left: -37px;
        .card {
            list-style-type: none;
            float: left;
            position: relative;
            margin-left: 37px;
            margin-bottom: 50px;
            img {
                border: 3px solid #0e601b;
                @include border-radius(14px);
                max-width: 129px;
            }
            .number-cards {
                position: absolute;
                top: -30px;
                right: -30px;
            }
        }
    }
}