@media (max-width: 767px) {
    body.sanchoi {
        background: #ffd4a4 url('../images/mobile/bg-sanchoi-2708x1455.png') center top no-repeat;
        background-size: 1354px auto;

        .sanchoi-content {
            .noti-board {
                background: url('../images/mobile/bg-board-sanchoi-585x960.png') top center no-repeat;
                background-size: 292px auto;
                width: 292px;
                height: 480px;
                margin: 0 auto;

                .header-title {
                    text-align: center;
                    padding-top: 165px;

                    .title {
                        width: 100px;
                    }

                    .pokemon {
                        width: 300px;
                        height: 110px;
                    }
                }

                .board-content {
                    text-align: center;
                    position: relative;

                    h1 {
                        margin-top: 0px;
                        margin-bottom: 10px;
                        font-size: 16px;
                    }

                    table {
                        width: 100%;

                        td:first-child {
                            padding-left: 60px;
                            text-align: left;
                        }

                        td:nth-child(2) {
                            text-align: right;
                            padding-right: 70px;
                        }

                        td {
                            font-size: 10pt;
                            line-height: 17pt;
                            color: #fff;
                            font-weight: bold;

                            strong {
                                font-family: "ShowcardGothic-Reg";
                                color: #fef001;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .board-action {
                .btn {
                    width: 120px;

                    img {
                        max-width: 100%;
                    }
                }
            }

            .copy-right {
                position: relative;
                clear: both;
                width: 105px;
                z-index: 1;
                float: right;
                bottom: -22px;
                right: 5px;
            }

            .modal-img-bottom {
                opacity: 0;
            }
        }
    }

    @each $name, $left, $top, $width, $deg in
    (1, 30px, 50px, 145px, 7deg),
    (2, 94px, 52px, 140px, 13deg),
    (3, 205px, 80px, 90px, 5deg),
    (4, 155px, 65px, 115px, 10deg) {
        $number: 10 - $name;
        $delay: $name/10;
        .animate_game.card-#{$name} {
            z-index: #{$number};
            left: #{$left};
            top: #{$top};
            width: #{$width};
            height: auto;
            animation-delay: #{$delay}s;
            animation-name: slide_card_#{$name};
            transform: rotate(#{$deg});
            transform: scale(0,0);
        }
        @keyframes slide_card_#{$name} {
            0% {
                left: 50%;
                top: 50%;
                opacity: 0;
                transform: scale(0);
            }
            60% {
                left: 10%;
                top: 20%;
            }
            100% {
                left: #{$left};
                top: #{$top};
                // opacity: 1;
                transform: scale(1);
            }
        }
    }
    .slideT.animate_game {
        transform: scale(1,1);
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }
    @each $name in (5), (6), (7), (8) {
        .animate_game.card-#{$name} {
            display: none;
        }
    }
    .flying-card-holder {
        width: 320px;
        margin: 0 auto;
        position: absolute;
        right: 0;
        left: 0;
    }
    .animate_game.card-3 {
        z-index: 2;
    }
}