body {
    &.sanchoi {
        background: url('../images/bg-san-choi-game.png') bottom center no-repeat;
        background-size: cover;

        .sanchoi-content {
            .noti-board {
                background: url('../images/bg-noti-board.png') top center no-repeat;
                width: 448px;
                height: 599px;
                margin: 0 auto;
                margin-top: 50px;
                position: relative;
                z-index: 9;
                // top: -1000px;
                .header-title {
                    text-align: center;
                    padding-top: 130px;
                }

                .board-content {
                    text-align: center;
                    position: relative;
                    top: -1000px;

                    h1 {
                        color: #fff;
                        font-weight: bold;
                        margin: 0;
                        margin-top: -15px;
                        margin-bottom: 10px;
                    }

                    table {
                        width: 100%;

                        td:first-child {
                            padding-left: 110px;
                            text-align: left;
                        }

                        td:nth-child(2) {
                            text-align: right;
                            padding-right: 90px;
                        }

                        td {
                            font-size: 14pt;
                            line-height: 20pt;
                            color: #fff;
                            font-weight: bold;

                            strong {
                                font-family: "ShowcardGothic-Reg";
                                color: #fef001;
                                font-size: 30px;
                            }
                        }
                    }
                }
            }

            .board-action {
                text-align: center;
                margin-top: 65px;
                opacity: 0;

                .btn {
                    margin: 0;
                    padding: 0;
                }
            }

            .modal-img-bottom {
                bottom: 0px;
                right: 135px;
            }
        }

        .header {
            animation-delay: 0.75s;
        }
    }
}
img.animate_game {
    left: 50%;
    top: 10%;
    position: absolute;
    transform: scale(0,0);
}
.slideT.animate_game {
    transform: scale(1,1);
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
@each $name, $left, $top in
(1, 140px, 300px),
(2, 100px, 275px),
(3, 230px, 130px),
(4, 160px, 180px) {
    $number: 10 - $name;
    $delay: $name/10;
    .animate_game.card-#{$name} {
        z-index: #{$number};
        left: #{$left};
        top: #{$top};
        animation-delay: #{$delay}s;
        animation-name: slide_card_#{$name};
    }
    @keyframes slide_card_#{$name} {
        0% {
            left: 50%;
            top: 35%;
            // opacity: 0;
            transform: scale(0.5);
        }
        60% {
            left: 10%;
            top: 20%;
        }
        100% {
            left: #{$left};
            top: #{$top};
            // opacity: 1;
            transform: scale(1);
        }
    }
}

@each $name, $right, $top in
(5, 200px, 315px),
(6, 150px, 230px),
(7, 240px, 180px),
(8, 290px, 150px) {
    $number: 10 - $name;
    $delay: ($name - 3)  / 10;
    .animate_game.card-#{$name} {
        position: absolute;
        left: auto;
        z-index: #{$number};
        right: #{$right};
        top: #{$top};
        animation-delay: #{$delay}s;
        animation-name: slide_card_#{$name};
    }
    @keyframes slide_card_#{$name} {
        0% {
            right: 50%;
            top: 15%;
            opacity: 0;
            transform: scale(0.5);
        }
        50% {
            right: 10%;
            top: 20%;
        }
        100% {
            right: #{$right};
            top: #{$top};
            opacity: 1;
            margin: 0 auto;
            transform: scale(1);
        }
    }
}