// <768
@media (max-width: 767px) {
    .modal-thach-dau,
    div.modal-thach-dau-window {
        // display: block;
        .modal {
            &-dialog {
                width: 444px;
                height: 319px;
            }

            &-body {
                padding-top: 100px;
            }

            &-content {
                background: url('../images/mobile/bg-popup-1409x1161.png') center 60px no-repeat;
                background-size: 705px auto;

                .close {
                    right: 0;
                    top: -10px;
                }

                .user-thach-dau {
                    font-size: 33px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #fee40b;
                    text-align: center;
                }

                .msg-thach-dau {
                    text-align: center;
                    font-size: 20px;
                    color: #fff;
                    font-weight: bold;
                }
            }

            &-footer {
                padding: 0;
                text-align: center;
                border-top: 0;
                margin-top: -50px;

                a {
                    padding: 0;
                }
            }
        }

        .btn {
            display: inline-block;
            padding: 6px 0px;
            padding-top: 50px;
            margin-bottom: 100px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            user-select: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .btn-link {
            position: relative;
            bottom: auto;
        }
    }
}
