.thamgia {
    background: #ffd4a4 url('../images/bg-thamgia-for-web.png') center top no-repeat;
    &-content {
        float: left;
        width: 100%;
        display: block;
        .container {
            min-height: calc(100vh - 105px);
        }
    }
    &-body {
        width: 766px;
        height: 468px;
        margin: 0 auto;
        margin-top: 30px;
        background: url('../images/bg-nguoichoi.png') center center no-repeat;
        position: relative;
        .btn-random {
            position: absolute;
            right: 0;
            left: 0;
            bottom: -54px;
            margin: 0 auto;
            width: 370px;
            z-index: 10;
            &, &:focus, &:hover, &:active {
                background: none;
                border: none;
                outline: none;
                @include box-shadow(none);
            }
        }
    }
    &-info {
        position: relative;
        width: 600px;
        height: 320px;
        margin: 65px 76px 92px 90px;
        float: left;
        overflow: hidden;
        padding-right: 50px;
        .table {
            tr > td {
                border: none;
                color: #fff;
                vertical-align: middle;
                border-bottom: 2px solid #1b6797;
                padding: 5px;
            }
            .avatar {
                float: left;
                margin-right: 10px;
            }
            .user-name {
                position: relative;
                top: 15px;
            }
            .btn-link {
                padding: 0;
                float: right;
                margin-right: -10px;
                &:focus {
                    // outline: none;
                }
            }
        }
    }
    .avatar {
        width: 57px;
        height: 57px;
        overflow: hidden;
        border: 2px solid #f1561d;
        position: relative;
        img {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }
    }
    .ps-scrollbar-y-rail {
        height: 280px !important;
    }
}
