﻿/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    // #Modal-The-Le
    #Modal-The-Le {
        // display: block;
        .modal {
            &-dialog {
                width: 100%;
                height: auto;
            }

            &-content {
                background: url('../images/mobile/bg-thele-787x1135.png') center 40px no-repeat;
                background-size: 440px auto;
                margin-top: 10px;
            }

            &-header {
                padding-top: 77px !important;
                border-bottom: none !important;
            }

            &-body {
                width: 100%;
                top: 10px;
                height: 100%;
                padding: 0;
                margin: 0px;
            }

            &-img-bottom {
                bottom: -30px !important;
                right: -40px !important;
            }
        }

        .modal-group-btn {
            float: left;
            width: 100%;
            text-align: center;
            position: relative;
            top: 0;

            .btn-link {
                display: block;
                width: auto;
                width: 162px;

                &:hover {
                    text-decoration: none;
                }

                margin: 0 auto;

                & + .btn-link {
                    margin-top: 5px;
                    width: 112px;
                }
            }
        }

        .btn-link {
            position: relative;
            bottom: auto;
        }

        .ps-scrollbar-y-rail {
            height: 276px !important;
        }

        .the-le-mobile {
            width: 100%;
        }
    }
    // end #Modal-The-Le
}

/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    // #Modal-The-Le
    #Modal-The-Le {
        // display: block;
        .modal {
            &-dialog {
                width: 100%;
                height: auto;
            }

            &-content {
                background: url('../images/mobile/bg-thele-787x1135.png') center 40px no-repeat;
                background-size: 460px auto;
                margin-top: 10px;
            }

            &-header {
                padding-top: 77px !important;
                border-bottom: none !important;
            }

            &-body {
                width: 100%;
                top: 10px;
                height: 100%;
                padding: 0;
                margin: 0px;
            }

            &-img-bottom {
                bottom: -30px !important;
                right: -40px !important;
            }
        }

        .modal-group-btn {
            float: left;
            width: 100%;
            text-align: center;
            position: relative;
            top: 0;

            .btn-link {
                display: block;
                width: auto;
                width: 162px;

                &:hover {
                    text-decoration: none;
                }

                margin: 0 auto;

                & + .btn-link {
                    margin-top: 5px;
                    width: 112px;
                }
            }
        }

        .btn-link {
            position: relative;
            bottom: auto;
        }

        .ps-scrollbar-y-rail {
            height: 276px !important;
        }

        .the-le-mobile {
            width: 100%;
        }
    }
    // end #Modal-The-Le
}

//iPhone 6 Plus in portrait & landscape
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
    // #Modal-The-Le
    #Modal-The-Le {
        // display: block;
        .modal {
            &-dialog {
                width: 100%;
                height: auto;
            }

            &-content {
                background: url('../images/mobile/bg-thele-787x1135.png') center 40px no-repeat;
                background-size: 540px auto;
                margin-top: 10px;
            }

            &-body {
                width: 100%;
                top: 20px;
                height: 100%;
                padding: 0;
                margin: 0px;
            }

            &-img-bottom {
                bottom: -30px !important;
                right: -40px !important;
            }
        }

        .modal-group-btn {
            float: left;
            width: 100%;
            text-align: center;
            position: relative;
            top: 0;

            .btn-link {
                display: block;
                width: auto;
                width: 162px;

                &:hover {
                    text-decoration: none;
                }

                margin: 0 auto;

                & + .btn-link {
                    margin-top: 5px;
                    width: 112px;
                }
            }
        }

        .btn-link {
            position: relative;
            bottom: auto;
        }
    }
    // end #Modal-The-Le
}