﻿.com-breadcrumb(ng-if="!isLoginPage()")
    ul.list-inline
        li(ng-repeat="step in steps | limitTo:(steps.length-1)")
            a(href="{{step.ncyBreadcrumbLink}}") {{step.ncyBreadcrumbLabel}}
        li.active(ng-repeat="step in steps | limitTo:-1") {{step.ncyBreadcrumbLabel}}