﻿.com-app-title.text-center
    // App title
    a(ui-sref="{{_router.DASHBOARD}}")
        img(ng-src="{{ webUrl + '/Content/images/logo-arm.png' }}")

// Main navigation
.com-navigation        
    div(ng-repeat="list in navItems")
        ul.fa-ul
            li(ng-repeat="item in list")
                a(ui-sref="{{item.State}}" ui-sref-opts="{{item.opts||{} }}" ng-class="{active: $state.includes(item.State)}")
                    i(class="{{item.IconClass}}" uib-tooltip="{{item.Tooltip}}" tooltip-placement="{{item.TooltipPlace}}")
                    | {{item.Text}}
        hr
    // Misc
    .com-info.text-center
        div
            a(ui-sref="{{_router.MY_PROFILE}}")
                small {{CurrentUser.FullName}}

        a(ui-sref="{{_router.LOGOUT}}")
            | Log off
            i.fa.fa-sign-out