<div id="Modal-Confirm-Info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.close()">
                    <img src="Content/images/icons/icon-close.png" alt="">
                </button>
                <div class="info">
                    Bạn có chắc chắn muốn đổi điểm thành mã số may mắn?
                </div>
                <button type="button" class="btn btn-link" ng-click="modalCtrl.confirmRedeemLuckyDrawCode()">
                    <img src="Content/images/btn-xacnhan.png" alt="">
                </button>
                <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
            </div>
        </div>
    </div>
</div>