<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.close()">
        <img src="Content/images/icons/icon-close.png" alt="">
    </button>
    <form class="form-horizontal form-confirm">
        <div class="form-group">
            <div class="text-center info col-sm-offset-1 col-sm-9">
                Để đổi quà, bạn vui lòng xác thực thông tin bên dưới. Chúng tôi sẽ dựa vào thông tin này để liên lạc và trao quà đến bạn
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-offset-1 col-sm-4 control-label">Họ và tên:</label>
            <div class="col-sm-5">
                <div class="form-group-img">
                    <input type="text" class="form-control" ng-model="modalCtrl.userRedeemGiftModel.FullName">
                </div>
            </div>
        </div>
        <div class="text-center col-sm-offset-3 col-sm-9" ng-if="modalCtrl.userRedeemGiftModel.FullNameError">
            <p ng-if="modalCtrl.userRedeemGiftModel.FullNameError">{{modalCtrl.userRedeemGiftModel.FullNameError}}</p>
        </div>
        <div class="form-group">
            <label class="col-sm-offset-1 col-sm-4 control-label">Địa chỉ cư trú:</label>
            <div class="col-sm-5">
                <div class="form-group-img">
                    <input type="text" class="form-control" ng-model="modalCtrl.userRedeemGiftModel.Address">
                </div>
            </div>
        </div>
        <div class="text-center col-sm-offset-3 col-sm-9" ng-if="modalCtrl.userRedeemGiftModel.AddressError">
            <p ng-if="modalCtrl.userRedeemGiftModel.AddressError">{{modalCtrl.userRedeemGiftModel.AddressError}}</p>
        </div>
        <div class="form-group">
            <label class="col-sm-offset-1 col-sm-4 control-label">Địa chỉ nhận quà:</label>
            <div class="col-sm-5">
                <div class="form-group-img">
                    <input type="text" class="form-control" ng-model="modalCtrl.userRedeemGiftModel.DeliveryAddress">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-offset-1 col-sm-4 control-label">Số điện thoại:</label>
            <div class="col-sm-5">
                <div class="form-group-img">
                    <input type="text" class="form-control" ng-model="modalCtrl.userRedeemGiftModel.PhoneNumber">
                </div>
            </div>
        </div>
        <div class="text-center col-sm-offset-3 col-sm-9" ng-if="modalCtrl.userRedeemGiftModel.PhoneNumberError">
            <p ng-if="modalCtrl.userRedeemGiftModel.PhoneNumberError">{{modalCtrl.userRedeemGiftModel.PhoneNumberError}}</p>
        </div>
        <div class="form-group">
            <label class="col-sm-offset-1 col-sm-4 control-label">Cmnd (nếu có):</label>
            <div class="col-sm-5">
                <div class="form-group-img">
                    <input type="text" class="form-control" ng-model="modalCtrl.userRedeemGiftModel.SocialIdNumber">
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-link" ng-click="modalCtrl.confirmRedeemGiftItem()">
            <img src="Content/images/btn-xacnhan.png" alt="">
        </button>
    </form>
    <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
    <img class="copy-right dt-none" src="Content/images/logo-bottom.png" alt="">
</div>