﻿<div class="modal-body">
    <button id="btnCloseDialog" type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.close()" style="z-index: 99999">
        <img src="Content/images/icons/icon-close.png" alt="">
    </button>
    <form class="form-horizontal form-confirm">
        <div class="form-group">
            <div class="text-center info col-sm-offset-1 col-sm-9">
                Để đổi quà, bạn vui lòng xác thực thông tin bên dưới. Chúng tôi sẽ dựa vào thông tin này để liên lạc và trao quà đến bạn
            </div>
        </div>
        <div class="form-body-scroll-container">
            <div class="form-group custom-padding">
                <label>Họ (*):</label>
                <div class="form-group-img">
                    <input type="text" class="form-control" ng-model="modalCtrl.userRedeemGiftModel.FirstName" maxlength="128">
                </div>
                <div class="field-error-message" ng-if="modalCtrl.userRedeemGiftModel.FirstNameError">{{modalCtrl.userRedeemGiftModel.FirstNameError}}</div>
            </div>
            <div class="form-group custom-padding">
                <label>Tên (*):</label>
                <div class="form-group-img">
                    <input type="text" class="form-control" ng-model="modalCtrl.userRedeemGiftModel.LastName" maxlength="128">
                </div>
                <div class="field-error-message" ng-if="modalCtrl.userRedeemGiftModel.LastNameError">{{modalCtrl.userRedeemGiftModel.LastNameError}}</div>
            </div>
            <div class="form-group custom-padding">
                <label>Số nhà (*):</label>
                <div class="form-group-img">
                    <input type="text" class="form-control" ng-model="modalCtrl.userRedeemGiftModel.AddressNumber" maxlength="20">
                </div>
                <div class="field-error-message" ng-if="modalCtrl.userRedeemGiftModel.AddressNumberError">{{modalCtrl.userRedeemGiftModel.AddressNumberError}}</div>
            </div>
            <div class="form-group custom-padding">
                <label>Đường (*):</label>
                <div class="form-group-img">
                    <input type="text" class="form-control" ng-model="modalCtrl.userRedeemGiftModel.StreetName" maxlength="128">
                </div>
                <div class="field-error-message" ng-if="modalCtrl.userRedeemGiftModel.StreetNameError">{{modalCtrl.userRedeemGiftModel.StreetNameError}}</div>
            </div>
            <div class="form-group custom-padding">
                <label>Phường/Xã (*):</label>
                <div class="form-group-img">
                    <input type="text" class="form-control" ng-model="modalCtrl.userRedeemGiftModel.WardName" maxlength="128">
                </div>
                <div class="field-error-message" ng-if="modalCtrl.userRedeemGiftModel.WardNameError">{{modalCtrl.userRedeemGiftModel.WardNameError}}</div>
            </div>
            <div class="form-group custom-padding">
                <label>Quận/Huyện (*):</label>
                <div class="form-group-img">
                    <input type="text" class="form-control" ng-model="modalCtrl.userRedeemGiftModel.DistrictName" maxlength="128">
                </div>
                <div class="field-error-message" ng-if="modalCtrl.userRedeemGiftModel.DistrictNameError">{{modalCtrl.userRedeemGiftModel.DistrictNameError}}</div>
            </div>
            <div class="form-group custom-padding">
                <label>Tỉnh/Thành Phố (*):</label>
                <div class="form-group-img">
                    <select class="form-control" ng-model="modalCtrl.userRedeemGiftModel.CityName" ng-options="city for city in modalCtrl.allCities"></select>
                </div>
                <div class="field-error-message" ng-if="modalCtrl.userRedeemGiftModel.CityNameError">{{modalCtrl.userRedeemGiftModel.CityNameError}}</div>
            </div>
            <div class="form-group custom-padding">
                <label>Địa chỉ nhận quà:</label>
                <div class="form-group-img">
                    <input type="text" class="form-control" ng-model="modalCtrl.userRedeemGiftModel.DeliveryAddress" maxlength="512">
                </div>
            </div>
            <div class="form-group custom-padding">
                <label>Số điện thoại (*):</label>
                <div class="form-group-img">
                    <input type="text" class="form-control" ng-model="modalCtrl.userRedeemGiftModel.PhoneNumber" maxlength="11">
                </div>
                <div class="field-error-message" ng-if="modalCtrl.userRedeemGiftModel.PhoneNumberError">{{modalCtrl.userRedeemGiftModel.PhoneNumberError}}</div>
            </div>
            <div class="form-group custom-padding">
                <label>Nhập lại số điện thoại (*):</label>
                <div class="form-group-img">
                    <input type="text" class="form-control" ng-model="modalCtrl.userRedeemGiftModel.PhoneNumberConfirmed" maxlength="11">
                </div>
            </div>
            <div class="field-error-message text-center" ng-if="modalCtrl.userRedeemGiftModel.PhoneNumberConfirmedError">{{modalCtrl.userRedeemGiftModel.PhoneNumberConfirmedError}}</div>
            <div class="field-error-message text-center" ng-if="modalCtrl.userRedeemGiftModel.PhoneNumberConfirmedMatchError">{{modalCtrl.userRedeemGiftModel.PhoneNumberConfirmedMatchError}}</div>
            <div class="form-group custom-padding">
                <label>Cmnd (nếu có):</label>
                <div class="form-group-img">
                    <input type="text" class="form-control" ng-model="modalCtrl.userRedeemGiftModel.SocialIdNumber" maxlength="20">
                </div>
            </div>
            <button type="button" class="btn btn-link btn-link-custom dt-none" ng-click="modalCtrl.confirmRedeemGiftItem()">
                <img src="Content/images/btn-xacnhan.png" alt="">
            </button>
        </div>
        <button type="button" class="btn btn-link mb-none" ng-click="modalCtrl.confirmRedeemGiftItem()">
            <img src="Content/images/btn-xacnhan.png" alt="">
        </button>
    </form>
    <img class="copy-right dt-none" src="Content/images/logo-bottom.png" alt="">
</div>