﻿<div class="modal-body">
    <button id="btnCloseDialog" type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.close()" style="z-index: 99999">
        <img src="Content/images/icons/icon-close.png" alt="">
    </button>
    <div class="box-select">
        <div class="box-select-code">
            <select id="weekNumberSelectCtrl" ng-model="modalCtrl.currentWeek"
                    ng-options="item.WeekNumber as item.NameDisplay for item in modalCtrl.Weeks"
                    ng-change="modalCtrl.reloadData()"></select>
            <img class="custom-carret-week-number mb-none pull-right" />
            <img class="custom-carret-week-number-mobile dt-none pull-right" />
        </div>
    </div>
    <div class="modal-body-lucky-draw-candidate-list">
        <div class="lucky-draw-candidate-list-header-container">
            <div class="custom-table-header user-header-col-name">Họ và tên</div>
            <div class="custom-table-header user-header-col-code">Mã số</div>
        </div>
        <div class="text-center" ng-if="modalCtrl.loading || !modalCtrl.luckyDrawCandidateListForCurrentWeek">
            <i class="fa fa-spinner fa-spin" style="font-size:48px;color:#fff"></i>
        </div>
        <div class="lucky-draw-candidate-list-container">
            <table class="user-table">
                <tbody>
                <tr class="user-row" ng-repeat="item in modalCtrl.luckyDrawCandidateListForCurrentWeek.ResultSet">
                    <td class="column-border-right user-col-name text-center">{{item.UserProfileDTO.FullName || item.UserProfileDTO.UserName}}</td>
                    <td class="user-col-code text-center">{{item.UserLuckyDrawCodeDTO.LuckyDrawCode}}</td>
                    <td class="user-col-empty"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center pagination-container-bottom">
        <label>Trang</label>
        <select ng-model="modalCtrl.currentPage" ng-change="modalCtrl.changePage(modalCtrl.currentPage)" ng-options="page for page in modalCtrl.allPages"></select>
    </div>
</div>