<main class="main lucky-draw" ng-init="ctrl.initData()">
    <div class="container">
        <!-- Start change gift section -->
        <div class="modal" style="display: block; z-index: 10;" id="change-gift-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="info">
                            Hãy chọn món quà muốn đổi theo số điểm tương ứng.<br /> Nhanh tay lên nhé, số lượng quà có hạn đấy!
                        </div>
                        <div class="info">
                            Bạn có <strong>{{ ctrl.CurrentUser.TotalPoint}}</strong> điểm
                        </div>
                        <ul class="lucky-prize-change-list row">
                            <!--<li ng-repeat="item in ctrl.redeemGifts">
                                <img ng-src="{{item.ImageUrl}}" alt="item.Description" />
                                <p class="gifts-name" ng-bind-html="item.DescriptionHtml"></p>
                                <label class="dt-none" style="max-width: none;">
                                    <strong>{{item.RedeemPoint}} ĐIỂM</strong>
                                </label>
                                <label class="mb-none">
                                    <strong>{{item.RedeemPoint}} ĐIỂM</strong>
                                </label>
                                <a href="#" class="btn" ng-if="item.GiftHasEnoughAvailableAmountForRedeem" ng-click="ctrl.openConfirmRedeemGiftItem(item)">
                                    <img src="Content/images/btn-change-gift.png">
                                </a>
                            </li>-->
                            <li>
                                <img src="Content/images/lucky-draw-gift-backpack-new-stroke.png">
                                <img src="Content/images/redeem-gift-text-balo-pokemon.png">
                                <!--<p class="gifts-name">
                                    BALÔ
                                    <br>POKÉMON
                                </p>-->

                                <label>
                                    <strong>100 ĐIỂM</strong>
                                </label>
                                <a href="#" class="btn" ng-if="ctrl.BackpackItem.GiftHasEnoughAvailableAmountForRedeem" ng-click="ctrl.openConfirmRedeemGiftItem(ctrl.BackpackItem)">
                                    <img src="Content/images/btn-change-gift.png" />
                                </a>
                            </li>
                            <li>
                                <img src="Content/images/lucky-draw-gift-hat.png">
                                <img class="mb-none" src="Content/images/redeem-gift-text-non-hlv.png">
                                <img class="dt-none" src="Content/images/mobile/redeem-gift-text-non-hlv-mobile-60x29.png">
                                <!--<p class="gifts-name mb-none">
                                    NÓN
                                    <br>HUẤN LUYỆN VIÊN
                                </p>
                                <p class="gifts-name dt-none">
                                    NÓN HUẤN
                                    <br>LUYỆN VIÊN
                                </p>-->
                                <label>
                                    <strong>60 ĐIỂM</strong>
                                </label>
                                <a href="#" class="btn" ng-if="ctrl.HatItem.GiftHasEnoughAvailableAmountForRedeem" ng-click="ctrl.openConfirmRedeemGiftItem(ctrl.HatItem)">
                                    <img src="Content/images/btn-change-gift.png" />
                                </a>
                            </li>
                            <li>
                                <img src="Content/images/lucky-draw-gift-shirt-stroke-114x103.png">
                                <img src="Content/images/redeem-gift-text-ao-pokemon.png">
                                <!--<p class="gifts-name">
                                    ÁO THUN
                                    <br>POKÉMON
                                </p>-->
                                <label>
                                    <strong>80 ĐIỂM</strong>
                                </label>
                                <a href="#" class="btn" ng-if="ctrl.TshirtItem.GiftHasEnoughAvailableAmountForRedeem" ng-click="ctrl.openConfirmRedeemGiftItem(ctrl.TshirtItem)">
                                    <img src="Content/images/btn-change-gift.png" />
                                </a>
                            </li>
                        </ul>
                        <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- End change gift section -->
        <!-- Last button -->
        <!-- End -->

        <img class="copy-right" src="Content/images/logo-bottom.png" alt="">
    </div>
</main>