<main class="main lucky-draw" ng-init="ctrl.initData()">
    <div class="container">
        <!-- Start lucky draw section -->
        <div class="modal" style="display: block; z-index: 10;" id="lucky-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body modal-body-no-scroll">
                        <div class="info mb-none">
                            10 điểm = 1 mã số may mắn, dùng mã để tham gia quay số <br/>trúng 1 trong 3 món quà cực cool
                        </div>
                        <div class="info dt-none">
                            10 điểm = 1 mã số may mắn, dùng mã để tham <br />gia quay số trúng 1 trong 3 món quà cực cool
                        </div>
                        <div class="info">
                            Bạn có <strong>{{ ctrl.CurrentUser.TotalPoint}}</strong> điểm
                        </div>
                        <ul class="luck-prize-list row">
                            <li ng-repeat="item in ctrl.luckyDrawGifts">
                                <img ng-src="{{item.ImageUrl}}">
                            </li>
                        </ul>
                        <div class="btn-group lucky-draw-footer-button-group">
                            <button type="button" class="btn" ng-click="ctrl.openConfirmRedeemLuckyDrawCode()" ng-disabled="true">
                                <img src="Content/images/btn-turn-draw.png" alt="">
                            </button>
                            <button type="button" class="btn btn-bottom" ng-click="ctrl.openLuckyDrawCandidateList()">
                                <img src="Content/images/btn-danh-sach-ma-quay-so.png" alt="">
                            </button>
                        </div>
                        <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- End lucky draw section -->
        <img class="copy-right" src="Content/images/logo-bottom.png" alt="">
    </div>
</main>