﻿<div class="modal-body">
    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.close()">
        <img src="Content/images/icons/icon-close.png" alt="">
    </button>-->
    <div class="info">
        Chúc mừng bạn đã đổi quà thành công!
    </div>
    <figure class="img-gift">
        <img ng-src="{{ 'Content/images/gift-items/' + modalCtrl.giftImageName}}">
    </figure>
    <button type="button" class="btn btn-link" ng-click="modalCtrl.close()">
        <img src="Content/images/btn-xacnhan.png" alt="">
    </button>
    <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
    <img class="copy-right dt-none" src="Content/images/logo-bottom.png" alt="">
</div>