﻿include ../includes/mixin

block listing
    .panel-list-wrapper(ng-init="ctrl.init()") 
        .panel.panel-list.panel-belizehole.fadein.fadeout
            .panel-heading.panel-actions
                a.btn.btn-belizehole
                    +iconText("tachometer", "")
                .btn-group.pull-right
                    a.btn.btn-belizehole(ui-sref="dashboard")
                        +iconText("chevron-left", "Trở Về Dashboard")
            .table-responsive
                .table-responsive
                    table.table
                        tbody
                            tr
                                td Tổng số lượng code : 
                                    span.badge {{ctrl.result.TotalCode | number}} 
                            tr
                                td Số lượng code đã được nhập : 
                                    span.badge {{ctrl.result.TotalCodeInUsed | number }} 
                            tr
                                td Tổng số lượng user đăng ký: 
                                    span.badge {{ctrl.result.TotalUser | number}} 
                            tr
                                td Tổng số lượng user tham gia (đã nhập 1 mã trở lên) : 
                                    span.badge {{ctrl.result.TotalUserInPlay | number }}
        .panel.panel-list.panel-belizehole.fadein.fadeout
            .panel-heading.panel-actions
                h3 Người chơi đăng ký theo ngày
            .table-responsive
                table.table
                    thead
                        tr
                            th Ngày
                            th Tổng số đăng ký
                    tbody
                        tr(ng-repeat="item in ctrl.result.TotalUserRegistrationSummaryByDate")
                            td(ng-if="!item.UserCreatedDate") From 15-Apr to 27-Apr
                            td(ng-if="item.UserCreatedDate") {{item.UserCreatedDate | date : 'dd/MM/yyyy' }}
                            td 
                                span.badge {{item.TotalRegistration | number}} 
        .panel.panel-list.panel-belizehole.fadein.fadeout
            .panel-heading.panel-actions
                h3 Người chơi đăng ký theo ngày có nhập mã
            .table-responsive
                table.table
                    thead
                        tr
                            th Ngày
                            th Tổng số đăng ký có nhập mã
                    tbody
                        tr(ng-repeat="item in ctrl.result.TotalUserRegistrationWithInputCardSummaryByDate")
                            td(ng-if="!item.UserCreatedDate") From 15-Apr to 27-Apr
                            td(ng-if="item.UserCreatedDate") {{item.UserCreatedDate | date : 'dd/MM/yyyy' }}
                            td 
                                span.badge {{item.TotalRegistration | number}}
        .panel.panel-list.panel-belizehole.fadein.fadeout
            .panel-heading.panel-actions
                h3 Người chơi tham gia chơi Pokemon game
            .table-responsive
                table.table
                    thead
                        tr
                            th Ngày
                            th Tổng số có tham gia chơi Pokemon game
                    tbody
                        tr(ng-repeat="item in ctrl.result.TotalUserPlayGame")
                            td {{item.ReportDate | date : 'dd/MM/yyyy' }}
                            td 
                                span.badge {{item.Total | number}}