<main class="main-content" ng-init="ctrl.initData()">
    <div class="container">
        <h4 class="title text-center mb-none"><img class="image-title" src="Content/images/danh-sach-trung-giai-page-title.png" width="468"></h4>
        <div class="main-content-top">
            <div class="box-select">
                <div class="box-select-code">
                    <select id="weekNumberSelectCtrl" ng-model="ctrl.request.params.WeekNumber"
                            ng-options="item.WeekNumber as item.NameDisplay for item in ctrl.Weeks"
                            ng-change="ctrl.reloadData()"></select>
                    <img class="custom-carret-week-number mb-none pull-right" />
                    <img class="custom-carret-week-number-mobile dt-none pull-right" />
                </div>
            </div>
            <div class="row">
                <div class="main-title col-xs-12 text-center">
                    <img src="Content/images/winner-quay-so-may-man.png" alt="">
                </div>
            </div>
            <div class="row main-gifts-top">
                <div class="col-xs-6">
                    <div class="main-avatar big">
                        <div class="avatar">
                            <img class="img-circle" ng-if="ctrl.luckyPrizeTraiHe.WinnerListUsers[0].AvatarUrl" ng-src="{{ctrl.luckyPrizeTraiHe.WinnerListUsers[0].AvatarUrl}}" alt="">
                        </div>
                        <img class="gifts-img-bottom" src="Content/images/winner-hocbong.png" alt="" />
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="text-center">
                        <h3 class="name">{{ctrl.luckyPrizeTraiHe.WinnerListUsers[0].FullName || 'Chưa xác định' }}</h3>
                        <p>{{ctrl.luckyPrizeTraiHe.WinnerListUsers[0].LuckyDrawCode}}</p>
                        <img class="gifts-img-bottom gift-text-img-custom-size-hoc-bong" src="Content/images/winner-gift-text-hoc-bong-197x66.png" alt="" />
                        <!--<p class="gifts-name">
                            Học bổng trại hè
                            <br> quốc tế
                        </p>-->
                    </div>
                </div>
            </div>
            <div class="row main-gifts-bottom">
                <div class="col-xs-offset-2 col-xs-5" ng-if="ctrl.request.params.WeekNumber % 2 === 0">
                    <div class="main-avatar small custom-position-2nd-prize">
                        <div class="avatar">
                            <img class="img-circle" ng-if="ctrl.luckyPrizeXeDien.WinnerListUsers[0].AvatarUrl" ng-src="{{ctrl.luckyPrizeXeDien.WinnerListUsers[0].AvatarUrl}}" alt="">
                        </div>
                        <img class="gifts-img-bottom xedien" src="Content/images/winner-xedien.png" alt="" />
                    </div>
                    <div class="gift-text-container">
                        <h3 class="name">{{ctrl.luckyPrizeXeDien.WinnerListUsers[0].FullName || 'Chưa xác định' }}</h3>
                        <p>{{ctrl.luckyPrizeXeDien.WinnerListUsers[0].LuckyDrawCode}}</p>
                        <img class="gifts-img-bottom xedien gift-text-img-custom-size-xe-dien" src="Content/images/winner-gift-text-xe-dien-116x62.png" alt="" />
                        <!--<p class="gifts-name gifts-name-line-1">
                            Xe điện
                        </p>
                        <p class="gifts-name">
                            cân bằng
                        </p>-->
                    </div>
                </div>
                <div class="col-xs-offset-2 col-xs-5" ng-if="ctrl.request.params.WeekNumber % 2 === 1">
                    <div class="main-avatar small custom-position-2nd-prize">
                        <div class="avatar">
                            <img class="img-circle" ng-if="ctrl.luckyPrizeVinID.WinnerListUsers[0].AvatarUrl" ng-src="{{ctrl.luckyPrizeVinID.WinnerListUsers[0].AvatarUrl}}" alt="">
                        </div>
                        <img class="gifts-img-bottom xedap" src="Content/images/winner-xedap.png" alt="" />
                    </div>
                    <div class="gift-text-container">
                        <h3 class="name">{{ctrl.luckyPrizeVinID.WinnerListUsers[0].FullName || 'Chưa xác định' }}</h3>
                        <p>{{ctrl.luckyPrizeVinID.WinnerListUsers[0].LuckyDrawCode}}</p>
                        <img class="gifts-img-bottom xedien gift-text-img-custom-size-xe-dap" src="Content/images/winner-gift-text-xe-dap-109x58.png" alt="" />
                        <!--<p class="gifts-name gifts-name-line-1">
                            Xe đạp
                        </p>
                        <p class="gifts-name">
                            thể thao
                        </p>-->
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="main-avatar small custom-position">
                        <div>
                            <a href="#" ng-click="ctrl.openShowPrize()">
                                <img src="Content/images/winner-bodochoi-205x162_v1.png" width="100%" />
                            </a>
                        </div>
                    </div>
                    <div class="text-center custom-padding">
                        <a href="#" ng-click="ctrl.openShowPrize()" style="text-decoration: none; color: #fff;">
                            <h3 class="name">Xem Danh Sách Giải Ba</h3>
                        </a>
                        <img class="gifts-img-bottom xedien gift-text-img-custom-size-do-choi" src="Content/images/winner-gift-text-bo-do-choi-127x65.png" alt="" />
                        <!--<p class="gifts-name">
                            Bộ đồ chơi
                            <br> pokémon
                        </p>-->
                    </div>
                </div>
                <div class="col-xs-1"></div>
            </div>
            <img class="main-img-bottom mb-none" src="Content/images/img-bottom-popup.png" alt="">
        </div>
        <!-- /main-content-top -->

        <div class="main-content-bottom">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a class="tab1" href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">
                        <img src="Content/images/winner-tab-1-stroke-73x77.png" alt="">
                    </a>
                </li>
                <li role="presentation">
                    <a class="tab2" href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">
                        <img src="Content/images/winner-tab-2-stroke-81x84.png" alt="">
                    </a>
                </li>
                <li role="presentation">
                    <a class="tab3" href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">
                        <img src="Content/images/winner-tab-3.png" alt="">
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab1">
                    <ul class="media-list" ng-if="!ctrl.resultBalo.ResultSet || ctrl.resultBalo.ResultSet.length === 0">
                        <li class="media col-xs-4 col-sm-6">
                            Chưa có người thắng giải
                        </li>
                    </ul>
                    <ul class="media-list" ng-if="ctrl.resultBalo.ResultSet && ctrl.resultBalo.ResultSet.length > 0">
                        <li class="media col-xs-4 col-sm-6" ng-repeat="item in ctrl.resultBalo.ResultSet">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" ng-src="{{item.AvatarUrl}}" alt="...">
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">{{ item.FirstName }} {{ item.LastName }} </h4>
                                {{ item.Email }}
                            </div>
                        </li>
                    </ul>
                    <nav aria-label="Page navigation" class="text-center" ng-if="ctrl.resultBalo.PageTotal > 1">
                        <ul class="pagination pagination-none-background"
                            uib-pagination="uib-pagination"
                            ng-model="ctrl.resultBalo.PageNumber"
                            total-items="ctrl.resultBalo.ResultCount"
                            items-per-page="ctrl.resultBalo.PageSize"
                            max-size="4" boundary-links="true" boundary-link-numbers="true"
                            first-text="Trang đầu" last-text="Trang cuối"
                            previous-text="Trước" next-text="Sau" num-pages="numPages"
                            ng-show="ctrl.resultBalo.PageTotal &gt; 1"
                            ng-change="ctrl.pageChanged('Balo', $event)"></ul>
                    </nav>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab2">
                    <ul class="media-list" ng-if="!ctrl.resultAoThun.ResultSet || ctrl.resultAoThun.ResultSet.length === 0">
                        <li class="media col-xs-4 col-sm-6">
                            Chưa có người thắng giải
                        </li>
                    </ul>
                    <ul class="media-list" ng-if="ctrl.resultAoThun.ResultSet && ctrl.resultAoThun.ResultSet.length > 0">
                        <li class="media col-xs-4 col-sm-6" ng-repeat="item in ctrl.resultAoThun.ResultSet">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" ng-src="{{item.AvatarUrl}}" alt="...">
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">{{ item.FirstName }} {{ item.LastName }} </h4>
                                {{ item.Email }}
                            </div>
                        </li>
                    </ul>
                    <nav aria-label="Page navigation" class="text-center" ng-if="ctrl.resultAoThun.PageTotal > 1">
                        <ul class="pagination pagination-none-background"
                            uib-pagination="uib-pagination"
                            ng-model="ctrl.resultAoThun.PageNumber"
                            total-items="ctrl.resultAoThun.ResultCount"
                            items-per-page="ctrl.resultAoThun.PageSize"
                            max-size="4" boundary-links="true" boundary-link-numbers="true"
                            first-text="Trang đầu" last-text="Trang cuối"
                            previous-text="Trước" next-text="Sau" num-pages="numPages"
                            ng-show="ctrl.resultAoThun.PageTotal &gt; 1"
                            ng-change="ctrl.pageChanged('AoThun', $event)"></ul>
                    </nav>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab3">
                    <ul class="media-list" ng-if="!ctrl.resultMu.ResultSet || ctrl.resultMu.ResultSet.length === 0">
                        <li class="media col-xs-4 col-sm-6">
                            Chưa có người thắng giải
                        </li>
                    </ul>
                    <ul class="media-list" ng-if="ctrl.resultMu.ResultSet && ctrl.resultMu.ResultSet.length > 0">
                        <li class="media col-xs-4 col-sm-6" ng-repeat="item in ctrl.resultMu.ResultSet">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" ng-src="{{item.AvatarUrl}}" alt="...">
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">{{ item.FirstName }} {{ item.LastName }} </h4>
                                {{ item.Email }}
                            </div>
                        </li>
                    </ul>
                    <nav aria-label="Page navigation" class="text-center" ng-if="ctrl.resultMu.PageTotal > 1">
                        <ul class="pagination pagination-none-background"
                            uib-pagination="uib-pagination"
                            ng-model="ctrl.resultMu.PageNumber"
                            total-items="ctrl.resultMu.ResultCount"
                            items-per-page="ctrl.resultMu.PageSize"
                            max-size="4" boundary-links="true" boundary-link-numbers="true"
                            first-text="Trang đầu" last-text="Trang cuối"
                            previous-text="Trước" next-text="Sau" num-pages="numPages"
                            ng-show="ctrl.resultMu.PageTotal &gt; 1"
                            ng-change="ctrl.pageChanged('Mu', $event)"></ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- /.main-content-bottom -->
        <img class="copy-right" src="Content/images/logo-bottom.png" alt="">
    </div>
</main>