﻿<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCtrl.cancel()">
        <img src="Content/images/icons/icon-close.png" alt="">
    </button>
    <ul class="media-list info info-title" style="margin-top: 40px; margin-left: 20px; text-align: center"
        ng-if="!showCtrl.model.WinnerListUsers || showCtrl.model.WinnerListUsers.length === 0">
        Chưa có người thắng giải
    </ul>
    <div class="modal-body-winner-list-user-third-prize">
        <ul class="media-list">
            <li class="media col-sm-6 third-prize-item" ng-repeat="item in showCtrl.model.WinnerListUsers">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-circle" ng-src="{{item.AvatarUrl}}" alt="..." width="64">
                    </a>
                </div>
                <div class="media-body media-middle">
                    <h4 class="media-heading">{{ item.FullName }} </h4>
                    {{ item.LuckyDrawCode }}
                </div>
            </li>
        </ul>
    </div>
    <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
</div>