.btn {
    @media (min-width: 768px) {
        @include transform(scale(0.95));
        &:hover, &:focus, &:active {
            @include transform(scale(1));
        }
    }
}
button {
    &:hover, &:focus, &:active {
        outline: none !important;
    }
}