/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "DINRoundOT";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/DINRoundOT/DINRoundOT.eot"); /* IE9 Compat Modes */
  src: url("../fonts/DINRoundOT/DINRoundOT.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/DINRoundOT/DINRoundOT.otf") format("opentype"), /* Open Type Font */
    url("../fonts/DINRoundOT/DINRoundOT.svg") format("svg"), /* Legacy iOS */
    url("../fonts/DINRoundOT/DINRoundOT.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/DINRoundOT/DINRoundOT.woff") format("woff"), /* Modern Browsers */
    url("../fonts/DINRoundOT/DINRoundOT.woff2") format("woff2"); /* Modern Browsers */
}
/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "DINRoundOT";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/DINRoundOT-Bold/DINRoundOT-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/DINRoundOT-Bold/DINRoundOT-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/DINRoundOT-Bold/DINRoundOT-Bold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/DINRoundOT-Bold/DINRoundOT-Bold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/DINRoundOT-Bold/DINRoundOT-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/DINRoundOT-Bold/DINRoundOT-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/DINRoundOT-Bold/DINRoundOT-Bold.woff2") format("woff2"); /* Modern Browsers */
}

@font-face {
  font-family: "ShowcardGothic-Reg";
  src: url("../fonts/ShowcardGothic-Reg/SHOWG.eot"); /* IE9 Compat Modes */
  src: url("../fonts/ShowcardGothic-Reg/SHOWG.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/ShowcardGothic-Reg/SHOWG.otf") format("opentype"), /* Open Type Font */
    url("../fonts/ShowcardGothic-Reg/SHOWG.svg") format("svg"), /* Legacy iOS */
    url("../fonts/ShowcardGothic-Reg/SHOWG.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/ShowcardGothic-Reg/SHOWG.woff") format("woff"), /* Modern Browsers */
    url("../fonts/ShowcardGothic-Reg/SHOWG.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}