.header {
    height: 105px;
    // background: #ddd;
    text-align: center;
    width: 100%;
    float: left;
    animation-delay: 1.75s;
    z-index: 10;
    position: relative;
    @media (max-width: 767px) {
        height: 50px;
        padding-top: 10px;
    }
    .nav {
        &-left,
        &-right {
            @media (max-width: 767px) {
                display: none;
            }
            width: 480px;
            float: left;
            height: 105px;
            // background: #999;
            padding: 30px 0 0 0;
            li {
                list-style-type: none;
                // background: green;
                height: 60px;
                width: 120px;
                float: left;
                a {
                    height: inherit;
                    width: inherit;
                    float: left;
                    background-image: url('../images/item-menu.png');
                    // transition: transform 0.15s linear;
                    &:hover {
                        transform: scale(1.025);
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
            .sub-menu {
                padding: 0;
                display: none;
                li {
                    a {
                        @include border-radius(6px);
                        padding: 10px 0 8px 0;
                        height: auto;
                        background: #ff752e;
                        font-size: 12px;
                        color: #fff;
                        font-family: "ShowcardGothic-Reg";
                        @include box-shadow(0 2px 5px rgba(0,0,0,0.75));
                        text-decoration: none;
                    }
                }
            }
            @each $name, $v1, $v2 in
            (trang-chu, 0, 0),
            (doi-qua, -120px, 0),
            (doi-luot-quay, -240px, 0),
            (danh-sach-trung, -360px, 0),
            (the-le, -480px, 0),
            (san-choi, -600px, 0),
            (ca-nhan, -720px, 0),
            (dang-nhap, -840px, 0),
            (danh-sach-pokemon, -601px, -127px) {
                li.#{$name} {
                    > a {
                        background-position: #{$v1} #{$v2};
                    }
                }
                li.#{$name}:hover {
                    .sub-menu {
                        display: block;
                    }
                }
                // li.#{$name}:focus,
                // li.#{$name}:active,
                li.#{$name}.active {
                    > a {
                        background-position: #{$v1} -62px;
                    }
                }
				
				li.danh-sach-pokemon.active {
                    > a {
                        background-position: -601px -189px !important;
                    }
                }
            }
        }
        &-right {
            li.chiase {
                height: 35px;
                width: 35px;
                position: absolute;
                right: -25px;
                top: 45px;
                a {
                    background-image: url('../images/icons/icon-fb.png');
                }
            }
        }
    }
    .brand {
        float: left;
        width: 210px;
        text-align: center;
        img {
            width: 195px;
        }
        @media (max-width: 767px) {
            float: none;
            img {
                width: 141px;
            }
        }
    }
    .toggle {
        position: absolute;
        right: 5px;
        top: 5px;
        padding: 0;
        background: none;
        border: none;
        img {
            width: 30px;
        }
    }
    .ca-nhan {
        .icon-logout {
            margin-left: 4px;
            margin-bottom: -6px;
        }
    }
}