﻿// Loading icon
.loading {
    background: url(#{$img-path}/icon-loading.gif) center no-repeat;
    min-height: 256px;

    div, ul {
        display: none;
    }

    &.error {
        background: url(#{$img-path}/icon-error.png) center no-repeat;
        position: relative;

        &:after {
            position: absolute;
            bottom: 48px;
            width: 100%;
            content: "System Error. Please try later!";
            text-align: center;
            color: $color-pomegranate;
        }
    }
}
