// All
.modal {
    &.in {
        @include display(box !important);
        @include box-pack(center);
        @include box-align(center);
    }
    &-img-bottom {
        position: absolute;
        bottom: -55px;
        right: -124px;
    }
    &-img-left {
        position: absolute;
        left: -20px;
        top: 0px;
    }
    &-backdrop {
        background-color: rgba(238,190,87,0.8);
    }
    .close {
        opacity: 1;
        position: absolute;
        transform: rotate(0deg);
        transition: transform;
        transition-duration: 0.25s;
        &:hover {
            transform: rotate(45deg);
        }
        &:focus {
            outline: none;
        }
    }
    &-content {
        height: inherit;
        width: inherit;
        @include box-shadow(none);
        border: none;
    }
    &-body {
        height: inherit;
        width: inherit;
        position: relative;
    }
    .btn-link {
        position: absolute;
        margin: 0 auto;
        right: 0;
        left: 0;
        padding: 0;
        width: 148px;
        height: 66px;
        bottom: -11px;
        &, &:hover, &:focus, &:active {
            outline: none;
        }
    }
}
// End All
// #Modal-Sign-Up
#Modal-Sign-Up,
div.modal-sign-up-window {
    // display: block;
    .close {
        right: -3px;
        top: 57px;
    }

    .modal {
        &-dialog {
            width: 618px;
            height: 525px;
        }

        &-content {
            background: url('../images/bg-popup-sign-up.png') center center no-repeat;
        }

        &-body {
            padding-top: 125px;
        }

        &-img-bottom {
            bottom: -26px;
            right: -109px;
        }
    }

    .form-sign-up {
        .form-group {
            margin-bottom: 12px;
        }

        .control-label {
            color: #fff;
            text-align: left;
            padding-left: 28px;
            padding-right: 0;
        }

        .checkbox {
            text-align: center;

            label {
                color: #fff;
                font-weight: bold;
            }
        }
    }
}
// end #Modal-Sign-Up

// #Modal-Sign-In
#Modal-Sign-In,
div.modal-sign-in-window {
    // display: block;
    .close {
        right: -3px;
        top: 57px;
    }

    .modal {
        &-dialog {
            width: 620px;
            height: 506px;
        }

        &-content {
            background: url('../images/bg-popup-sign-in.png') center center no-repeat;
        }

        &-body {
            padding-top: 165px;
        }

        &-img-bottom {
            bottom: -46px;
            right: -108px;
        }
    }

    .btn-link {
        width: 184px;
        height: 78px;
        bottom: -20px;
    }

    .form-sign-in {
        .form-group {
            margin-bottom: 12px;
        }

        .control-label {
            color: #fff;
            text-align: left;
            padding-left: 40px;
            padding-right: 0;
        }

        .checkbox {
            text-align: center;

            label {
                color: #fff;
                font-weight: bold;
            }
        }

        .info {
            margin-top: 30px;
            color: #603913;
            font-weight: bold;
            padding: 0 30px 0 20px;

            a {
                display: inline-block;
                margin-top: 10px;
                color: #603913;
                text-decoration: underline;
            }
        }
    }
}
// end #Modal-Sign-Up

// #Modal-Nap-Diem
#Modal-Nap-Diem,
#Modal-Khong-Hop-Le,
div.modal-nap-diem-window,
div.modal-khong-hop-le-window {
    // display: block;
    .close {
        right: -13px;
        top: -8px;
    }

    .modal {
        &-dialog {
            width: 445px;
            height: 320px;
        }

        &-content {
            background: url('../images/bg-popup-nap-diem.png') center center no-repeat;
        }
    }

    .img-cards {
        position: relative;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: -90px;
        text-align: center;
        width: 130px;
        height: 195px;

        &:after {
            width: 130px;
            height: 190px;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            transform: rotate(5deg);
            @include box-shadow(0 0 25px #ffe400);
            @include border-radius(14px);
            z-index: 1;
        }

        img {
            z-index: 2;
            position: relative;
            width: 100%;
            transform: rotate(5deg);
            @include border-radius(14px);
            border: 3px solid #ffe400;
        }
    }

    .info {
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        padding: 0 60px;
        width: 420px;
        margin: -50px auto 0 auto;
        text-align: center;
    }

    .point {
        font-family: "ShowcardGothic-Reg";
        color: #ffe400;
        font-size: 24px;
    }
}
// end #Modal-Nap-Diem

// #Modal-Confirm
#Modal-Confirm,
div.modal-confirm-window {
    .close {
        right: 15px;
        top: 10px;
    }

    .modal {
        &-dialog {
            width: 662px;
            height: 501px;
        }

        &-content {
            background: url('../images/bg-popup-xacnhan-big.png') center center no-repeat;
        }

        &-img-bottom {
            right: -75px;
            bottom: -50px;
        }
    }

    .form-confirm {
        .form-group {
            margin-bottom: 13px;
        }

        .control-label {
            color: #fff;
            text-align: left;
            padding-left: 60px;
            padding-right: 0;
        }

        .info {
            margin-top: 40px;
            color: #fff;
            font-weight: bold;
            padding-left: 60px;
        }
    }
}
// end #Modal-Confirm

// #Modal-Confirm-Info
#Modal-Confirm-Info,
#Modal-Confirm-Info-Doi-Ma,
div.modal-confirm-info-window,
div.modal-confirm-info-doi-ma-window,
div.modal-confirm-info-doi-qua-window {
    .close {
        right: -5px;
        top: -3px;
    }

    .modal {
        &-dialog {
            width: 569px;
            height: 392px;
        }

        &-content {
            background: url('../images/bg-popup-xacnhan.png') center center no-repeat;
        }

        &-img-bottom {
            right: -120px;
            bottom: -50px;
        }

        &-body {
            @include display(box !important);
            @include box-pack(center);
            @include box-align(center);
            padding: 0 100px;
            text-align: center;
        }
    }

    .info {
        margin-top: -50px;
        color: #fff;
        font-weight: bold;
    }
}
// end #Modal-Confirm-Info

// #Modal-Confirm-Info-Doi-Ma
#Modal-Confirm-Info-Doi-Ma,
div.modal-confirm-info-doi-ma-window {
    .modal {
        &-body {
            padding: 0 128px;
        }
    }

    .info {
        margin-top: 0;
    }

    .code {
        margin-top: 8px;
        font-family: "ShowcardGothic-Reg";
        color: #fef001;
        font-size: 30px;
    }
}
// #End Modal-Confirm-Info-Doi-Ma

// Modal-Kho-Chien-Cong-None-Gifts
#Modal-Kho-Chien-Cong,
#Modal-Kho-Chien-Cong-None-Gifts,
div.modal-kho-chien-cong-window {
    .close {
        top: 60px;
        right: 4px;
    }

    .modal {
        &-dialog {
            width: 772px;
            height: 592px;
        }

        &-content {
            background: url('../images/bg-popup-kho-chien-cong.png') center center no-repeat;
        }

        &-body-scroll {
            width: 570px;
            height: 370px;
            padding-right: 30px;
            margin: 0 auto;
            overflow: hidden;
            // background: #ddd;
            top: 130px;
            position: relative;
            text-align: center;

            .box-gifts {
                margin-top: 60px;
            }

            .box-gifts-body-info {
                width: 450px;
                margin: 30px auto 0 auto;
                padding: 0;
                line-height: 1.2em;
            }
        }

        &-img-bottom {
            bottom: -36px;
            right: -120px;
        }
    }

    .ps-scrollbar-y-rail {
        height: 270px !important;
    }
}
// end Modal-Kho-Chien-Cong-None-Gifts

// Modal-Game-None-Add-Point
#Modal-Game-Add-Point,
#Modal-Game-None-Add-Point, div.modal-game-add-point-window, div.modal-game-non-add-point-window {
    .close {
        right: 3px;
        top: -5px;
    }

    .modal {
        &-dialog {
            width: 739px;
            height: 418px;
        }

        &-content {
            background: url('../images/bg-popup-game-739x418.png') center center no-repeat;
        }

        &-img-bottom {
            bottom: -45px;
            right: -117px;
        }
    }

    .img-cards {
        position: relative;
        margin: 45px auto 15px auto;
        text-align: center;
        width: 100px;
        height: 150px;

        &:after {
            width: 100px;
            height: 147px;
            display: inline-block;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            content: "";
            @include border-radius(14px);
            @include box-shadow(0 0 25px #ffe400);
        }

        img {
            z-index: 2;
            top: 0;
            position: relative;
            width: 100%;
            @include border-radius(14px);
            border: 3px solid #ffe400;
        }
    }

    .info {
        margin-top: 30px;
        /*font-size: 18px;*/
        color: #fff;
        font-weight: bold;
        padding: 0 30px 0 20px;
        width: 420px;
        margin: 0 auto;
        text-align: center;
    }

    .point {
        font-family: "ShowcardGothic-Reg";
        color: #ffe400;
        font-size: 24px;
    }
}
#Modal-Game-None-Add-Point, div.modal-game-non-add-point-window {
    .img-cards {
        &:after {
            z-index: 2;
            background: rgba(0,0,0,0.5);
            @include box-shadow(none);
        }

        img {
            z-index: 1;
            border: 3px solid #000;
        }
    }

    .modal {
        &-img-left {
            display: none;
        }
    }
}
// end Modal-Game-None-Add-Point


// #Modal-Huong-Dan
#Modal-Huong-Dan, div.modal-huong-dan-window {
    // display: block;
    .close {
        right: -12px;
        top: 40px;
        z-index:99999;
    }

    h4.modal-title {
        font-size: 19px;
    }

    .modal {
        &-title {
            font-weight: bold;
        }

        &-dialog {
            width: 924px;
            height: 482px;
        }

        &-content {
            background: url('../images/bg-popup-huongdan-924x482.png') center center no-repeat;
        }

        &-body-scroll {
            font-weight: bold;
            width: 710px;
            height: 276px;
            padding-right: 30px;
            margin: 0 auto;
            overflow: hidden;
            // background: #ddd;
            top: 90px;
            position: relative;
            color: #fff;
        }

        &-img-bottom {
            bottom: -46px;
            right: -108px;
        }
    }

    .btn-link {
        width: 200px;
        height: 101px;
        bottom: -40px;
    }

    .ps-scrollbar-y-rail {
        height: 276px !important;
    }
}
// end #Modal-Huong-Dan

#Modal-The-Le {

    .modal {
        &-dialog {
            width: 1118px;
            height: 544px;
        }

        &-content {
            background: url('../images/bg-popup-thele-1118x544.png') center center no-repeat;
        }

        &-body {
            position: relative;
            top: 15px;
        }

        &-body-scroll {
            width: 800px;
            height: 276px;
            padding-right: 30px;
            margin: 0 auto;
            overflow: hidden;
            // background: #ddd;
            top: 30px;
            position: relative;
            font-size: 18px;
            color: #fff;

            .info-title {
                font-size: 17px;
                font-weight: bold;
                color: #fff;
                font-style: italic;
                text-align: center;
                width: 580px;
                margin: 0 auto;
            }
        }

        &-img-bottom {
            bottom: -5px;
            right: -40px;
        }
    }

    .content-custom-position {
        /*bottom: -100px;*/
        top: 100px;
    }

    .modal-group-btn {
        float: left;
        width: 100%;
        text-align: center;
        position: relative;
        top: 43px;

        .btn-link {
            display: inline-block;
            width: auto;

            &:hover {
                text-decoration: none;
            }

            margin: 0 10px;

            & + .btn-link {
                margin-top: 5px;
            }
        }
    }

    .btn-link {
        position: relative;
        bottom: auto;
    }

    .ps-scrollbar-y-rail {
        height: 276px !important;
    }
}

.modal-thach-dau, 
div.modal-thach-dau-window {
    // display: block;
    .modal {
        &-dialog {
            width: 444px;
            height: 319px;
        }

        &-body {
            padding-top: 100px;
        }

        &-content {
            background: url('../images/tham-gia.png') center center no-repeat;

            .close {
                right: 0;
                top: -10px;
            }

            .user-thach-dau {
                font-size: 33px;
                font-weight: bold;
                text-transform: uppercase;
                color: #fee40b;
                text-align: center;
            }

            .msg-thach-dau {
                text-align: center;
                font-size: 20px;
                color: #fff;
                font-weight: bold;
            }
        }

        &-footer {
            padding: 0;
            text-align: center;
            border-top: 0;
            margin-top: -50px;

            a {
                padding: 0;
            }
        }
    }

    .btn-link {
        position: relative;
        bottom: auto;
    }
}