.ps-scrollbar-y-rail {
    // display: block !important;
    background-color: transparent !important;
    opacity: 1 !important;
    width: 16px !important;
    &:after {
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        margin: 0 auto;
        content: "";
        width: 9px;
        background: #fdc806;
        @include border-radius(9px);
        @include box-shadow(0 0 2px #e0c568);
        border: 2px solid #cc9a36;
        z-index: 5;
    }
    .ps-scrollbar-y {
        z-index: 10;
        right: 0 !important;
        width: 16px !important;
        height: 16px !important;
        background-color: transparent !important;
        opacity: 1 !important;
        background: green url('../images/icons/icon-scroll.png') center center no-repeat;
        background-size: 16px;
    }
}