﻿extends ../includes/layout-listing-ctrl

//-- Filter conditions
block filter
    .row
        .col-lg-3.col-sm-3
            label Từ ngày
            input(type="date" ng-model="ctrl.request.params.DateFrom")
        .col-lg-3.col-sm-3
            label Đến ngày
            input(type="date" ng-model="ctrl.request.params.DateTo")
        .col-lg-3.col-sm-3
            label Mã thẻ
            input(type="text" ng-model="ctrl.request.params.CouponCode")
//-- List actions
block listingActions
    .btn-group
        a.btn.btn-belizehole(ui-sref="{{ctrl._router.USED_CODE_CARD_SUMMARY_BY_DATE}}")
            +iconText("bar-chart", "Thống kê thẻ theo ngày")
    .btn-group.pull-right
        a.btn.btn-belizehole(ui-sref="{{ctrl._router.DASHBOARD}}")
            +iconText("chevron-left", "Trở về dashboard")
//-- Listing table
block listingTable
    .table-responsive
        table.table
            thead
                tr
                    th STT
                    th Thẻ
                    th Hình
                    th Mã Thẻ
                    th Ngày nhập
                    th Điểm
                    th User
                    th SDT
            tbody
                tr(ng-repeat="item in ctrl.result.ResultSet" ng-class="{'active': item.Active !== undefined && !item.Active}")
                    td {{$index + 1}}
                    td {{item.CardName}} 
                    td  
                        img(ng-src="{{item.CardImageUrl}}" width="50px" heigh="100px")
                    td {{item.CouponCode}} 
                    td  {{item.CreatedDate | date:'dd/MM/yyyy'}}
                    td  {{item.CodePoint }}
                    td  {{item.UserFullName }}
                    td  {{item.UserPhoneNumber }}