﻿extends ../includes/layout-listing-ctrl

//-- Filter conditions

//-- List actions
block listingActions
    .btn-group
        a.btn.btn-belizehole(ui-sref="dashboard")
            +iconText("tachometer", "Về Dashboard")
        a.btn.btn-belizehole(ng-click="ctrl.exportExcel()")
            +iconText("file-excel-o", "Xuất Excel")
    .btn-group.pull-right
        a.btn.btn-belizehole(ui-sref="used_code_card_detail_list")
            +iconText("chevron-left", "Về trang trước")

//-- Listing table
block listingTable
    .table-responsive
        table.table
            thead
                tr
                    th STT
                    th 
                        a(ng-click="ctrl._sort('UserName', ctrl.request.params.OrderAsc)")
                            span Ngày nhập
                            i.fa.fa-caret-up(ng-if="ctrl.request.params.OrderAsc === true")
                            i.fa.fa-caret-down(ng-if="ctrl.request.params.OrderAsc === false")
                    th Tổng số thẻ đã nhập
            tbody
                tr(ng-repeat="item in ctrl.result.ResultSet")
                    td {{(ctrl.result.PageNumber - 1) * ctrl.result.PageSize + $index + 1}}
                    td {{item.CreatedDate | date : 'dd/MM/yyyy' }}
                    td 
                        span.badge {{item.TotalInputCard | number}}
