<main class="danh-sach-the-content" ng-init="ctrl.init()">
    <div class="container">
        <h4 class="title"><img class="image-title" src="Content/images/danh-sach-pokemon.png"></h4>
        <div id="carDetailTop" class="row card-board">
            <a href="#" class="btn nav-left" ng-click="ctrl.backItem()" style="z-index: 14;">
                <img src="Content/images/arrow_left.png">
            </a>
            <div class="col-md-4 card-img-holder">
                <div class="card-img">
                    <img ng-src="{{ctrl.currentCard.ImageUrl}}"/>
                </div>
            </div>
            <div class="col-md-7 card-info">
                <div class="pokemon-name mb-none">
                    {{ctrl.currentCard.CardName}}
                </div>
                <div class="pokemon-info">
                    <p>
                        Hệ: <strong>{{ctrl.currentCard.CardElementDisplay}}</strong>
                    </p>
                    <p class="mb-none">Phân loại: {{ctrl.currentCard.Category}} </p>
                    <p class="mb-none">Chiều cao: {{ctrl.currentCard.Height}} </p>
                    <p class="mb-none">Cân nặng: {{ctrl.currentCard.Weight}} </p>
                    <p>Tuyệt chiêu: {{ctrl.currentCard.UltimateSkill}} </p>
                </div>
                <img class="mb-none" src="Content/images/card-info-container_648x595.png">
                <img class="dt-none" src="Content/images/mobile/card-info-container.png">
            </div>
            <a href="#" class="btn nav-right" ng-click="ctrl.nextItem()">
                <img src="Content/images/arrow_right.png">
            </a>
            <img class="modal-img-bottom mb-none" src="Content/images/img-bottom-popup.png" alt="">
        </div>
        
        <div class="row card-board" ng-if="ctrl.result && ctrl.result.PageNumber === 1">
            <div class="profile-list-title">
                <img src="Content/images/title-the-dac-biet.png" alt="">
            </div>
            <ul class="list-card big-card">
                <li ng-class="{selected: ctrl.currentCard.Id === card.Id}"
                    ng-repeat="card in ctrl.result.ResultSet">
                    <img ng-src="{{card.ImageUrl}}" ng-click="ctrl.detailItem(card)"/>
                </li>
            </ul>
            <ul class="card-nav">
                <li>
                    <a href="#" class="btn" ng-click="ctrl.backPage()"><img src="Content/images/arrow-left-small.png"></a>
                </li>
                <li>{{ctrl.result.ResultSet.length}}/{{ctrl.result.ResultCount}}</li>
                <li>
                    <a href="#" class="btn" ng-click="ctrl.nextPage()"><img src="Content/images/arrow-right-small.png"></a>
                </li>
            </ul>
        </div>
        
        <div class="row card-board" ng-if="ctrl.result && ctrl.result.PageNumber > 1">
            <div class="profile-list-title">
                <img src="Content/images/title-the-thuong.png" alt="">
            </div>
            <ul class="list-card">
                <li ng-class="{selected: ctrl.currentCard.Id === card.Id}"
                    ng-repeat="card in ctrl.result.ResultSet">
                    <img ng-src="{{card.ImageUrl}}" ng-click="ctrl.detailItem(card)"/>
                </li>
            </ul>
            <ul class="card-nav">
                <li>
                    <a href="#" class="btn" ng-click="ctrl.backPage()"><img src="Content/images/arrow-left-small.png"></a>
                </li>
                <li>{{ 7 + ((ctrl.result.PageNumber - 2) * ctrl.result.PageSize) + ctrl.result.ResultSet.length}}/{{ctrl.result.ResultCount}}</li>
                <li>
                    <a href="#" class="btn" ng-click="ctrl.nextPage()"><img src="Content/images/arrow-right-small.png"></a>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-16 how-to-play">
                <ul class="slider list-unstyled">
                    <!--<li class="slider-item">
                        <div class="col-xs-4 col-xs-offset-2">
                            <img src="Content/images/guide-element.png">
                        </div>
                        <div class="col-xs-4">
                            <p>CÁCH TÍNH ĐIỂM:</p>
                            <p><strong>1.</strong> Nước thua Cỏ và thắng Lửa</p>
                            <p><strong>2.</strong> Lửa thua Nước và thắng Cỏ</p>
                            <p><strong>3.</strong> Cỏ thua Lửa và thắng Nước</p>
                            <p><strong>4.</strong> Điện thua Cỏ và thắng Nước</p>
                            <p class="higtlight">Đối với thẻ có 2 hệ thì chỉ tính điểm trên 4 hệ chính Nước, Lửa, Cỏ, Điện.</p>
                            <p class="higtlight">Thẻ đặc biệt sẽ luôn thắng thẻ thường.</p>
                            <p class="higtlight">Nếu cả 2 thẻ Pokémon đều cùng hệ, sẽ tính bằng số sao. Số sao cao hơn sẽ thắng.</p>
                        </div>
                    </li>-->
                    <li class="slider-item margin4x mb-none">
                        <div class="col-xs-4 col-xs-offset-2">
                            <img src="Content/images/guide-element.png">
                        </div>
                        <div class="col-xs-4">
                            <p>CÁCH TÍNH ĐIỂM:</p>
                            <p><strong>1.</strong> Nước thua Cỏ và thắng Lửa</p>
                            <p><strong>2.</strong> Lửa thua Nước và thắng Cỏ</p>
                            <p><strong>3.</strong> Cỏ thua Lửa và thắng Nước</p>
                            <p><strong>4.</strong> Điện thua Cỏ và thắng Nước</p>

                            <p class="higtlight">
                                Đối với thẻ có 2 hệ thì chỉ tính điểm trên 4 hệ chính Nước, Lửa, Cỏ, Điện.
                                <br /> Thẻ đặc biệt sẽ luôn thắng thẻ thường.
                                <br /> Nếu cả 2 thẻ Pokémon đều cùng hệ, sẽ tính bằng số sao. Số sao cao hơn sẽ thắng.
                            </p>
                        </div>
                    </li>
                    <li class="slider-item dt-none">
                        <div class="col-xs-4">
                            <img src="Content/images/guide-element.png">
                        </div>
                        <div class="col-xs-8">
                            <p>CÁCH TÍNH ĐIỂM:</p>
                            <p><strong>1.</strong> Nước thua Cỏ và thắng Lửa</p>
                            <p><strong>2.</strong> Lửa thua Nước và thắng Cỏ</p>
                            <p><strong>3.</strong> Cỏ thua Lửa và thắng Nước</p>
                            <p><strong>4.</strong> Điện thua Cỏ và thắng Nước</p>

                            <p class="higtlight">
                                Đối với thẻ có 2 hệ thì chỉ tính điểm trên 4 hệ chính Nước, Lửa, Cỏ, Điện.
                                <br /> Thẻ đặc biệt sẽ luôn thắng thẻ thường.
                                <br /> Nếu cả 2 thẻ Pokémon đều cùng hệ, sẽ tính bằng số sao. Số sao cao hơn sẽ thắng.
                            </p>
                        </div>
                    </li>
                </ul>
                <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
            </div>
        </div>
        <!-- End -->
        <img class="copy-right" src="Content/images/logo-bottom.png" alt="">
    </div>
</main>