﻿//- COMMON FORM FUNCTIONS
extends ../includes/layout-detail-ctrl

//-- Form variables
block var
    - var formTitle = "Nhập mã code"
    - var backLink = "{{ ctrl.backLink  }}"


//-- Form content
block formContent
    .row(ng-if="ctrl.importJobStatus && ctrl.importJobStatus.length > 0")
        .col-lg-12.col-md-12.col-sm-12
            h3 Dữ liệu đang được nhập vào hệ thống. Bạn hãy chờ trong vài phút và tải lại trang để xem kết quả
            h3 Tổng số mã code đã nhập vào hệ thống {{ctrl.importJobStatus[0].TotalImportedCouponCode}}
    .row(ng-if="!ctrl.importJobStatus || ctrl.importJobStatus.length === 0")
        .col-lg-12.col-md-12.col-sm-12
            .row
                .col-lg-3.col-sm-3
                    label Thẻ Pokemon
                    select.form-control(ng-model="ctrl.currentCard"  ng-options="item as item.CardName for item in ctrl.Pokecards" ng-required ="true")
                .col-lg-3.col-sm-3
                    img(ng-src="{{ctrl.currentCard.ImageUrl}}" alt="{{ctrl.currentCard.CardName}}" width="130" height="200")
                .col-lg-3.col-sm-3
                     label Điểm của thẻ: {{ctrl.currentCard.CardPoint}} 
            .row
               .col-lg-12.col-md-12.col-sm-12
                    //- Image upload
                    h3 File cần tải lên chú ý tránh tải file trùng tên
                    .form-group
                        input(type="file" ng-file-select="ctrl.onFileSelect($files)")
                        p.help-block 
                            | Định dạng hỗ trợ : {{ctr.model.uploadInvalid}}
                            strong {{ ctrl.supportFileTypes.join(', ') }}
                    .panel-upload(ng-if="ctrl.model.upload.dataUrls && model.upload.dataUrls[0]")
                        img.img-responsive(ng-src="{{ ctrl.model.upload.dataUrls[0] }}")
                        .progress(ng-show!="ctrl.model.upload.progress[0] >= 0")
                            .progress-bar.progress-bar-striped(role="progressbar" aria-valuenow="{{ ctrl.model.upload.progress[0] }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ctrl.model.upload.progress[0] }}%")
                                span {{ ctrl.model.upload.progress[0] }}% Completed 
                    button.btn.btn-belizehole(ng-if="ctrl.model.uploadInvalid == false" ng-click="ctrl.uploadFile()")
                        +iconText("upload", "Tải File Lên")
            .row
                .col-lg-12.col-md-12.col-sm-12
                    p Tổng số file dữ liệu chờ xử lý 
                        span.badge {{ctrl.totalPendingFileForProcessing.length}}
                    input(type="checkbox" ng-model="ctrl.wantToTriggerJobRun")
                    label Đã sẵn sàng tải lên mã code
            .row
                .col-lg-12.col-md-12.col-sm-12
                    button.btn.btn-primary(ng-if="ctrl.wantToTriggerJobRun && ctrl.allUploadInfo && ctrl.allUploadInfo.length >= 42" ng-click="ctrl.triggerImportAllData()") Nhập tất cả mã code vào hệ thống
                    span.label.label-info(ng-if="!ctrl.allUploadInfo || ctrl.allUploadInfo.length < 0") Khi tải đủ tất cả file cho thẻ bạn có thể bắt đầu import dữ liệu
            .row
                .col-lg-12.col-md-12.col-sm-12
                    label Filter
                        input(type="text" ng-model="ctrl.filterValue")
            .row
                .col-lg-12.col-md-12.col-sm-12
                    table.table.table-striped
                        tr
                            th #
                            th Số thẻ
                            th File dữ liệu tương ứng
                            th Ngày tạo
                            th Trạng thái
                            th Xóa
                        tr(ng-repeat="item in ctrl.allUploadInfo | filter:ctrl.filterValue")
                            td {{$index + 1}}
                            td 
                                img(ng-src="{{item.CardImageUrl}}" width="130" height="200")
                            td {{item.FileDisplayName}}
                            td {{item.CreatedDate | localDateTime}}
                            td 
                                span.label.label-primary {{item.ImportStatus}}
                            td
                                button.btn.btn-danger.btn-small(ng-if="ctrl.canDeleteFile(item)" ng-click="ctrl.deleteFile(item)") Xóa file
block formButton
    button.btn.btn-primary(ng-click="ctrl.close()") Thoát