﻿//- COMMON FORM FUNCTIONS
extends ../includes/layout-detail-ctrl

//-- Form variables
block var
    - var formTitle = "{{ ctrl.isNewRecord ? 'New' : 'Update' }}"
    - var backLink = "{{ ctrl._router.POKE_CARD_LIST }}"

//-- Form actions
block formButton
    button.btn.btn-nephritis(type="button" ng-click="ctrl.ok()" ng-disabled="ctrl.isUnchanged(ctrl.model) || ctrl.invalidForm()")
        +iconText("reply", "Save and Close")
    button.btn.btn-pomegranate(type="button" ng-click="ctrl.destroy()" ng-if="ctrl.canDeletePokeCard")
        +iconText("ban", "Delete")

//-- Form content
block formContent
    .row
       .col-lg-3.col-md-4.col-sm-4
            +fieldBlock("Card Name", "ctrl.model.CardName", "CardName", true)(ng-disabled="true")
        .col-lg-3.col-md-4.col-sm-4
             +fieldBlock("Card Group", "ctrl.model.CardGroup")
        .col-lg-3.col-md-4.col-sm-4
             +fieldBlock("Card Type", "ctrl.model.CardType")
        .col-lg-3.col-md-4.col-sm-4
             +fieldBlock("Category", "ctrl.model.Category")
         
    .row
        .col-lg-3.col-md-4.col-sm-6
            +fieldCheckbox("Card Element", "ctrl.model.CardElement")
        .col-lg-3.col-md-4.col-sm-6
            +fieldBlock("Card Point", "ctrl.model.CardPoint")
        .col-lg-3.col-md-4.col-sm-6
            +fieldBlock("Ultimate Skill", "ctrl.model.UltimateSkill")
        .col-lg-3.col-md-4.col-sm-6
            +fieldBlock("Evolution To", "ctrl.model.EvolutionTo")
    .row
        .col-lg-3.col-md-4.col-sm-6
            +fieldCheckbox("Skill1", "ctrl.model.Skill1")
        .col-lg-3.col-md-4.col-sm-6
            +fieldBlock("Skill2", "ctrl.model.Skill2")
        .col-lg-3.col-md-4.col-sm-6
            +fieldBlock("Skill3", "ctrl.model.Skill3")
        

   
        
   
   
