﻿extends ../includes/layout-listing-ctrl

//-- Filter conditions
block filter
    .row
        .col-lg-3.col-sm-3
            +fieldBlock("Card Name", "ctrl.request.params.CardName")
        .col-lg-3.col-sm-3
            +fieldBlock("Card Group", "ctrl.request.params.CardGroup")
        .col-lg-3.col-sm-3
            +fieldBlock("Card Type", "ctrl.request.params.CardType")

//-- List actions
block listingActions
    .btn-group
        a.btn.btn-belizehole(ui-sref="{{ctrl._router.POKE_CARD_DETAIL}}({Id: 'new'})")
            +iconText("plus", "Create")
    .btn-group.pull-right
        a.btn.btn-belizehole(ui-sref="{{ctrl._router.DASHBOARD}}")
            +iconText("chevron-left", "Back")

//-- Listing table
block listingTable
    .table-responsive
        table.table
            thead
                tr
                    th #
                    th Card Name
                    th Card Group
                    th Card Type 
                    th Category
                    th Card Element
                    th Height
                    th Weight
            tbody
                tr(ng-repeat="item in ctrl.result.ResultSet" ng-class="{'active': item.Active !== undefined && !item.Active}")
                    td {{(ctrl.result.PageNumber - 1) * ctrl.result.PageSize + $index + 1}}
                    td
                        a(ui-sref="{{ctrl._router.POKE_CARD_DETAIL}}({Id: \"{{item.Id}}\"})") {{item.CardName}}
                    td {{item.CardGroup}}
                    td {{item.CardType }}
                    td {{item.Category}}
                    td {{item.CardElement}}
                    td {{item.Height}}
                    th {{item.Weight}}
                   