﻿extends ../includes/layout-listing-ctrl

//-- Filter conditions
block filter
    .row
        .col-lg-3.col-sm-3
            label Thời gian truy cập từ
            select(ng-model="ctrl.lastAccessType"  ng-options="item for item in ctrl.allAccessTypes")

//-- List actions
block listingActions
    .btn-group
        a.btn.btn-belizehole
            +iconText("check", "")
    .btn-group.pull-right
        a.btn.btn-belizehole(ui-sref="page_view_report")
            +iconText("chevron-left", "Trở Về")

//-- Listing table
block listingTable
    .table-responsive
        table.table
            thead
                tr
                    th STT
                    th Tên Đăng Nhập
                    th Page
                    th Url
                    th Ngày Truy Cập
                    th Ip
                    th Thiết Bị
            tbody
                tr(ng-repeat="item in ctrl.result.ResultSet")
                    td {{(ctrl.result.PageNumber - 1) * ctrl.result.PageSize + $index + 1}}
                    td {{item.UserName}}
                    td {{item.PageTitle}}
                    td {{item.PageUrl}}
                    td {{item.AccessDateTime | date : 'medium'}}
                    td {{item.ClientIpAddress}}
                    td {{item.ClientInfo}}