﻿extends ../includes/layout-listing-ctrl

//-- Filter conditions
block filter
    .row
        .col-lg-3.col-md-3.col-sm-6
            label Tuần
            select(ng-model="ctrl.request.params.WeekNumber" ng-options="week for week in [1,2,3,4,5,6,7,8,9,10,11,12,13]")

//-- List actions
block listingActions
    .btn-group
        a.btn.btn-belizehole(ng-click="ctrl.exportExcel()")
            +iconText("file-excel-o", "Xuất kết quả ra Excel")
    .btn-group.pull-right
        a.btn.btn-belizehole(ui-sref="{{ctrl._router.DASHBOARD}}")
            +iconText("chevron-left", "Trở Về Dashboard")

//-- Listing table
block listingTable
    .table-responsive
        table.table
            thead
                tr
                    th STT
                    th Quà
                    th Họ Tên
                    th Số điện thoại
                    th Địa chỉ
                    th Địa chỉ nhận quà
                    th CMND
            tbody
                tr(ng-repeat="item in ctrl.result.ResultSet")
                    td {{(ctrl.result.PageNumber - 1) * ctrl.result.PageSize + $index + 1}}
                    td {{item.GiftDescription}}
                    td {{item.FullName}}
                    td {{item.PhoneNumber}}
                    td {{item.Address}}
                    td {{item.DeliveryAddress}}
                    td {{item.SocialIdNumber}}
