﻿extends ../includes/layout-listing-ctrl

//-- Filter conditions
block filter
    .row
        .col-lg-3.col-sm-3
            .form-group
                label Tuần
                select(ng-model="ctrl.weekNumber" ng-options="week for week in [1,2,3,4,5,6,7,8,9,10,11,12,13]")
        .col-lg-3.col-sm-3
            .form-group
                label Trang
                select(ng-model="ctrl.pageTitle"  ng-options="item as item for item in ctrl.allPageTitles")

//-- List actions
block listingActions
    .btn-group
        a.btn.btn-belizehole(ui-sref="all_game_page_views")
            +iconText("check", "Xem truy cập chi tiết")
        a.btn.btn-belizehole(ng-click="ctrl.exportExcel()")
            +iconText("file-excel-o", "Xuất Excel")
    .btn-group.pull-right
        a.btn.btn-belizehole(ui-sref="dashboard")
            +iconText("chevron-left", "Trở Về Dashboard")

//-- Listing table
block listingTable
    .table-responsive
        table.table
            thead
                tr
                    th STT
                    th Tên Đăng Nhập
                    th Page
                    th Url
                    th Tuần
                    th Lượt Truy Cập
            tbody
                tr(ng-repeat="item in ctrl.result.ResultSet")
                    td {{(ctrl.result.PageNumber - 1) * ctrl.result.PageSize + $index + 1}}
                    td {{item.UserName}}
                    td {{item.PageTitle}}
                    td {{item.PageUrl}}
                    td {{item.WeekNumber}}
                    td 
                        span.badge {{item.TotalVisit | number}}
