﻿include ../includes/mixin

block listing
    .panel-list-wrapper(ng-init="ctrl.init()") 
        .panel.panel-list.panel-belizehole.fadein.fadeout
            .panel-heading.panel-actions
                .btn-group.pull-right
                    a.btn.btn-belizehole(ui-sref="dashboard")
                        +iconText("chevron-left", "Trở Về Dashboard")
            .table-responsive
                .table-responsive
                    table.table
                        thead
                            tr
                                th STT
                                th Thẻ
                                th Hình
                                th Tổng số phát hành
                                th Tổng số đã release
                                th Còn lại
                        tbody
                            tr(ng-repeat="item in ctrl.result" ng-class="{'active': item.Active !== undefined && !item.Active}")
                                td {{$index + 1}}
                                td {{item.CardName}} 
                                td  
                                    img(ng-src="{{item.ImageUrl}}" width="50px" heigh="100px")
                                td 
                                    span.badge {{item.Total | number }} 
                                td 
                                    span.badge {{item.TotalRelease | number }} 
                                td  
                                    span.badge {{(item.Total - item.TotalRelease) | number }}
            