﻿<div id="Modal-Lucky-Draw-Tool" tabindex="-1" ng-init="ctrl._initData()" class="modal-in">
    <div class="modal-dialog" role="document">
        <div class="text-center">
            <input id="filter" type="text" ng-model="ctrl.filterText"/>
            <i id="filtersubmit" class="fa fa-search" ng-click="ctrl.doSearch()"></i>
        </div>
        <div class="modal-content">
            <div class="modal-header modal-custom-header">
                <div class="week-dropdown">
                    <select ng-model="ctrl.request.params.WeekNumber"
                            ng-options="item.WeekNumber as item.NameDisplay for item in ctrl.PrizeData.WeekDefinitionDTOs"
                            ng-change="ctrl.changedWeek()">
                    </select>
                </div>
            </div>
            <div class="modal-body">
                <div ng-if="ctrl.drawCodeResult.ResultSet.length&gt;0" class="table-responsive">
                    <div class="winner-table-header-container">
                        <div class="custom-table-header user-header-col-stt-lg">STT</div>
                        <div class="custom-table-header user-header-col-name-lg">Họ và tên</div>
                        <div class="custom-table-header user-header-col-address-lg">Địa chỉ</div>
                        <div class="custom-table-header user-header-col-phone-lg">số điện thoại</div>
                        <div class="custom-table-header user-header-col-code-lg">Mã số</div>
                    </div>
                    <div class="user-table-container">
                        <table class="user-table">
                            <tbody>
                            <tr class="user-row" ng-repeat="item in ctrl.drawCodeResult.ResultSet" ng-class="{'active': item.Active !== undefined &amp;&amp; !item.Active}">
                                <td class="column-border-right column-border-bottom user-col-stt-lg">{{(ctrl.drawCodeResult.PageNumber - 1) * ctrl.drawCodeResult.PageSize + $index + 1}}</td>
                                <td class="column-border-right column-border-bottom user-col-name-lg">{{item.UserProfileDTO.FirstName}} {{item.UserProfileDTO.LastName}}</td>
                                <td class="column-border-right column-border-bottom user-col-address-lg">{{item.UserProfileDTO.DeliveryAddress || item.UserProfileDTO.Address}}</td>
                                <td class="column-border-right column-border-bottom user-col-phone-lg">{{item.UserProfileDTO.PhoneNumber}}</td>
                                <td class="user-col-code-lg column-border-bottom">{{item.UserLuckyDrawCodeDTO.LuckyDrawCode}}</td>
                                <td class="user-col-empty"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <span class="text-desc pull-right">Tông số mã số dự thưởng {{ ctrl.drawCodeResult.ResultCount | number}}</span>
                    <div class="user-table-pagination">
                        <ul class="pagination-none-background" uib-pagination="uib-pagination" ng-model="ctrl.drawCodeResult.PageNumber"
                            total-items="ctrl.drawCodeResult.ResultCount"
                            items-per-page="ctrl.drawCodeResult.PageSize"
                            max-size="4" boundary-links="true"
                            boundary-link-numbers="true"
                            num-pages="numPages" ng-show="ctrl.drawCodeResult.PageTotal &gt; 1"
                            ng-change="ctrl.pageChanged($event)"
                            first-text="Trang đầu" last-text="Trang cuối" previous-text="Trước" next-text="Sau"></ul>
                    </div>
                </div>

                <div ng-if="ctrl.winnerResult.length&gt;0" class="table-responsive">
                    <div class="winner-table-header-container">
                        <div class="custom-table-header header-border-right user-header-col-stt">STT</div>
                        <div class="custom-table-header header-border-right user-header-col-name">Họ và tên</div>
                        <div class="custom-table-header header-border-right user-header-col-address">Địa chỉ</div>
                        <div class="custom-table-header header-border-right user-header-col-phone">số điện thoại</div>
                        <div class="custom-table-header header-border-right user-header-col-code">Mã số</div>
                        <div class="custom-table-header user-header-col-prize">Giải</div>
                        <div class="custom-table-header user-header-col-action"></div>
                    </div>
                    <div class="winner-table-container">
                        <table class="user-table">
                            <tbody>
                            <tr class="user-row" ng-repeat="item in ctrl.winnerResult | filter:ctrl.filterText" ng-class="{'active': item.Active !== undefined &amp;&amp; !item.Active}">
                                <td class="column-border-right column-border-bottom user-col-stt">{{$index + 1}}</td>
                                <td class="column-border-right column-border-bottom user-col-name">{{item.FirstName}} {{item.LastName}}</td>
                                <td class="column-border-right column-border-bottom user-col-address">{{item.Address}}</td>
                                <td class="column-border-right column-border-bottom user-col-phone">{{item.PhoneNumber}}</td>
                                <td class="column-border-right column-border-bottom user-col-code">{{item.LuckyDrawCode}}</td>
                                <td class="column-border-right column-border-bottom user-col-prize">{{item.PriceDescription}}</td>
                                <td ng-if="!item.HasConfirmedPrize" class="user-col-action column-border-bottom text-right col-padding-right" style="width: 280px;">
                                    <a class="btn" ng-if="item.CanConfirm" ng-click="ctrl.confirmPrize(item)">
                                        <img src="Content/images/lucky-draw-tool/btn-confirm-prize.png" width="90"/>
                                    </a>
                                    <a class="btn" ng-if="item.CanResetPrize" ng-click="ctrl.resetPrize(item)">
                                        <img src="Content/images/lucky-draw-tool/btn-reset-prize.png" width="90"/>
                                    </a>
                                </td>
                                <td class="user-col-action column-border-bottom" ng-if="item.HasConfirmedPrize">Đã xác nhận</td>
                                <td class="user-col-empty"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<span class="text-desc pull-right winner-list-total-count">Tông số giải thưởng {{ ctrl.winnerResult.length}}</span>-->
                </div>
                <div style="width: 1000px; height: 400px"
                     ng-if="(!ctrl.drawCodeResult.ResultSet && !ctrl.winnerResult) || (!ctrl.drawCodeResult.ResultSet && ctrl.winnerResult.length === 0) || (ctrl.drawCodeResult.ResultSet.length === 0 && !ctrl.winnerResult) || (ctrl.drawCodeResult.ResultSet.length === 0 && ctrl.winnerResult.length === 0)"></div>
                <!--<img class="img-calcheese-box-bottom" src="Content/images/lucky-draw-tool/calcheese-box.png"/>-->
            </div>
        </div>
    </div>
    <div class="modal-right-side-bar visible-xlg-block">
        <ul class="list-unstyled">
            <li>
                <a class="btn btn-link" ng-click="ctrl.openAddPrize(1)">
                    <img ng-if="!ctrl.hasFirstPrize()" src="Content/images/lucky-draw-tool/btn-quay-so-chon-giai-nhat.png" />
                    <img ng-if="ctrl.hasFirstPrize()" src="Content/images/lucky-draw-tool/btn-danh-sach-giai-nhat.png" />
                </a>
            </li>
            <li>
                <a class="btn btn-link" ng-click="ctrl.openAddPrize(2)">
                    <img ng-if="!ctrl.hasSecondPrize()" src="Content/images/lucky-draw-tool/btn-quay-so-chon-giai-nhi.png" />
                    <img ng-if="ctrl.hasSecondPrize()" src="Content/images/lucky-draw-tool/btn-danh-sach-giai-nhi.png" />
                </a>
            </li>
            <li>
                <a class="btn btn-link" ng-click="ctrl.openAddPrize(3)">
                    <img ng-if="!ctrl.hasThirdPrize()" src="Content/images/lucky-draw-tool/btn-quay-so-chon-giai-ba.png" />
                    <img ng-if="ctrl.hasThirdPrize()" src="Content/images/lucky-draw-tool/btn-danh-sach-giai-ba.png" />
                </a>
            </li>
            <li>
                <a class="btn btn-link" ng-if="ctrl.request.params.WeekNumber >= ctrl.currentWeek" ng-click="ctrl.doLoadAllUserLuckyDraws()">
                    <img src="Content/images/lucky-draw-tool/btn-cap-nhat-nguoi-choi-trong-tuan.png" />
                </a>
                <a class="btn btn-link" ng-if="ctrl.request.params.WeekNumber < ctrl.currentWeek" ng-click="ctrl.doLoadAllUserLuckyDraws()">
                    <img src="Content/images/lucky-draw-tool/btn-xem-danh-sach-nguoi-choi-trong-tuan.png" />
                </a>
            </li>
            <li>
                <a class="btn btn-link" ng-click="ctrl.exportData()">
                    <img src="Content/images/lucky-draw-tool/btn-xuat-ket-qua.png" />
                </a>
            </li>
            <li>
                <a class="btn btn-link" ng-if="ctrl.allPrizeResultConfirmed()" ng-click="ctrl.showPrizeResultToFrontSite()">
                    <img src="Content/images/lucky-draw-tool/btn-publish-website.png" />
                </a>
            </li>
            <li>
                <a class="btn btn-link" ng-click="ctrl.signOut()">
                    <img class="btn-custom-exit" src="Content/images/lucky-draw-tool/btn-thoat-round.png" />
                </a>
            </li>
        </ul>
    </div>
    <div class="hidden-xlg">
        <ul class="list-unstyled lucky-draw-toolbar">
            <li>
                <a class="btn btn-link" ng-click="ctrl.openAddPrize(1)">
                    <img ng-if="!ctrl.hasFirstPrize()" src="Content/images/lucky-draw-tool/btn-quay-so-chon-giai-nhat.png" />
                    <img ng-if="ctrl.hasFirstPrize()" src="Content/images/lucky-draw-tool/btn-danh-sach-giai-nhat.png" />
                </a>
            </li>
            <li>
                <a class="btn btn-link" ng-click="ctrl.openAddPrize(2)">
                    <img ng-if="!ctrl.hasSecondPrize()" src="Content/images/lucky-draw-tool/btn-quay-so-chon-giai-nhi.png" />
                    <img ng-if="ctrl.hasSecondPrize()" src="Content/images/lucky-draw-tool/btn-danh-sach-giai-nhi.png" />
                </a>
            </li>
            <li>
                <a class="btn btn-link" ng-click="ctrl.openAddPrize(3)">
                    <img ng-if="!ctrl.hasThirdPrize()" src="Content/images/lucky-draw-tool/btn-quay-so-chon-giai-ba.png" />
                    <img ng-if="ctrl.hasThirdPrize()" src="Content/images/lucky-draw-tool/btn-danh-sach-giai-ba.png" />
                </a>
            </li>
            <li>
                <a class="btn btn-link" ng-if="ctrl.request.params.WeekNumber >= ctrl.currentWeek" ng-click="ctrl.doLoadAllUserLuckyDraws()">
                    <img src="Content/images/lucky-draw-tool/btn-cap-nhat-nguoi-choi-trong-tuan.png" />
                </a>
                <a class="btn btn-link" ng-if="ctrl.request.params.WeekNumber < ctrl.currentWeek" ng-click="ctrl.doLoadAllUserLuckyDraws()">
                    <img src="Content/images/lucky-draw-tool/btn-xem-danh-sach-nguoi-choi-trong-tuan.png" />
                </a>
            </li>
            <li>
                <a class="btn btn-link" ng-click="ctrl.exportData()">
                    <img src="Content/images/lucky-draw-tool/btn-xuat-ket-qua.png" />
                </a>
            </li>
            <li>
                <a class="btn btn-link" ng-if="ctrl.allPrizeResultConfirmed()" ng-click="ctrl.showPrizeResultToFrontSite()">
                    <img src="Content/images/lucky-draw-tool/btn-publish-website.png" />
                </a>
            </li>
            <li>
                <a class="btn btn-link" ng-click="ctrl.signOut()">
                    <img class="btn-custom-exit" src="Content/images/lucky-draw-tool/btn-thoat-round.png" />
                </a>
            </li>
        </ul>
    </div>
</div>
<div ng-if="ctrl.isInTestMode" class="info text-center" style="color: #ffffff; font-size: 20px; font-weight: bold; padding-top: 70px;">
    Site đang ở chế độ test. <br/>Dữ liệu bạn xem là dữ liệu copy của site thật ngày 17-Apr-2017 và một số dữ liệu test tuần 2.
</div>