﻿extends ../includes/layout-listing-ctrl

//-- Filter conditions
block filter
    .row
        .col-lg-3.col-sm-3
            select(ng-model="ctrl.request.params.WeekNumber"  ng-options="item.WeekNumber as item.NameDisplay for item in ctrl.PrizeData.WeekDefinitionDTOs")

//-- List actions
block listingActions
    .btn-group.pull-right
        a.btn.btn-belizehole(ui-sref="{{ctrl._router.DASHBOARD}}")
            +iconText("chevron-left", "Trở Về Dashboard")

//-- Listing table
block listingTable
    .table-responsive
        table.table
            thead
                tr
                    th STT
                    th 
                        a(ng-click="ctrl._sort('FullName', ctrl.request.params.OrderAsc)") 
                            span Họ Tên
                            i.fa.fa-caret-up(ng-if="ctrl.request.params.OrderBy === 'FullName' && ctrl.request.params.OrderAsc === true")
                            i.fa.fa-caret-down(ng-if="ctrl.request.params.OrderBy === 'FullName' && ctrl.request.params.OrderAsc === false")
                    th Địa chỉ
                    th số điện thoại
                    th 
                        a(ng-click="ctrl._sort('LuckyDrawCode', ctrl.request.params.OrderAsc)") 
                            span Mã số
                            i.fa.fa-caret-up(ng-if="ctrl.request.params.OrderBy === 'LuckyDrawCode' && ctrl.request.params.OrderAsc === true")
                            i.fa.fa-caret-down(ng-if="ctrl.request.params.OrderBy === 'LuckyDrawCode' && ctrl.request.params.OrderAsc === false")
            tbody
                tr(ng-repeat="item in ctrl.result.ResultSet" ng-class="{'active': item.Active !== undefined && !item.Active}")
                    td {{(ctrl.result.PageNumber - 1) * ctrl.result.PageSize + $index + 1}}
                    td {{item.UserProfileDTO.FirstName}} {{item.UserProfileDTO.LastName}}
                    td {{item.UserProfileDTO.DeliveryAddress}}
                    td {{item.UserProfileDTO.PhoneNumber}}
                    td {{item.UserLuckyDrawCodeDTO.LuckyDrawCode}}
