﻿<div id="Modal-Forgot-Password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.cancel()">
                    <img src="Content/images/icons/icon-close.png" alt="">
                </button>
                <form class="form-horizontal form-forgot-password">
                    
                    <div class="form-group">
                        <div class="text-center info col-sm-offset-1 col-sm-9">
                            Quên mật khẩu, hãy nhập email của bạn chúng tôi sẽ gửi mật khẩu mới cho bạn vào email
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Email" class="col-sm-offset-1 col-sm-4 control-label">Địa chỉ email:</label>
                        <div class="col-sm-7">
                            <div class="form-group-img">
                                <input type="text" class="form-control" placeholder="email" name="Email" id="Email" ng-model="modalCtrl.model.Email">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-link" ng-click="modalCtrl.requestPasswordReset()">
                        <img src="Content/images/btn-xacnhan.png" alt="">
                    </button>
                </form>
                <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
            </div>
        </div>
    </div>
</div>