﻿<div tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.cancel()">
                    <img src="Content/images/icons/icon-close.png" alt="">
                </button>
                <form class="form-horizontal form-sign-in">
                    <div class="form-group">
                        <label for="UserName" class="col-sm-offset-1 col-sm-4 control-label">Tên Đăng nhập:</label>
                        <div class="col-sm-7">
                            <div class="form-group-img">
                                <input type="text" class="form-control" placeholder="Tên đăng nhập" name="UserName" id="UserName" 
                                       ng-model="modalCtrl.model.UserName" 
                                       ng-blur="modalCtrl.model.UserNameError=undefined"
                                       autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="text-center error-info col-sm-offset-1 col-sm-10" ng-if="modalCtrl.model.UserNameError">
                        <p class="error-info" ng-if="modalCtrl.model.UserNameError">{{modalCtrl.model.UserNameError}}</p>
                    </div>
                    <div class="form-group">
                        <label for="Password" class="col-sm-offset-1 col-sm-4 control-label">Mật khẩu:</label>
                        <div class="col-sm-7">
                            <div class="form-group-img">
                                <input type="password" class="form-control" placeholder="Mật khẩu" name="Password" id="Password" 
                                       ng-model="modalCtrl.model.Password" 
                                       ng-blur="modalCtrl.model.PasswordError=undefined"
                                       autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="text-center error-info col-sm-offset-1 col-sm-10" ng-if="modalCtrl.errors || modalCtrl.model.PasswordError">
                        <p class="error-info" ng-if="modalCtrl.model.PasswordError">{{modalCtrl.model.PasswordError}}</p>
                        <p class="error-info" ng-if="modalCtrl.errors">{{modalCtrl.errors}}</p>
                    </div>
                    <div class="text-center info col-sm-offset-1 col-sm-10">
                        <p>
                            <a href="#" ng-click="modalCtrl.register()">
                                <em>
                                    Bạn chưa đăng ký?
                                </em>
                            </a>
                        </p>
                        <!--<p>
                            <a href="#" ng-click="modalCtrl.openRequestForgotPassword()">
                                <em>
                                    Quên mật khẩu?
                                </em>
                            </a>
                        </p>-->
                    </div>
                    <button type="button" class="btn btn-link" ng-click="modalCtrl.doLogin()">
                        <img src="Content/images/btn-sign-in.png" alt="">
                    </button>
                </form>
                <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
            </div>
        </div>
    </div>
</div>