﻿<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.cancel()" style="z-index: 99999">
        <img src="Content/images/icons/icon-close.png" alt="">
    </button>
    <form class="form-horizontal form-sign-up">
        <div class="form-group">
            <label class="col-sm-offset-1 col-sm-4 control-label">Tên Đăng nhập:</label>
            <div class="col-sm-7">
                <div class="form-group-img">
                    <input type="text" class="form-control" placeholder="Viết liền, Không ký tự đặc biệt" maxlength="50" ng-model="modalCtrl.model.UserName" ng-blur="modalCtrl.checkPlayerName()">
                </div>
            </div>
        </div>
        <div class="text-center info col-sm-offset-3 col-sm-9" ng-if="modalCtrl.model.UserNameError || modalCtrl.model.UserNameInvalidNameError">
            <p class="info" ng-if="modalCtrl.model.UserNameError">{{modalCtrl.model.UserNameError}}</p>
            <p class="info" ng-if="modalCtrl.model.UserNameInvalidNameError">{{modalCtrl.model.UserNameInvalidNameError}}</p>
        </div>
        <div class="form-group">
            <label class="col-sm-offset-1 col-sm-4 control-label">Mật khẩu:</label>
            <div class="col-sm-7">
                <div class="form-group-img">
                    <input type="password" class="form-control" placeholder="Ít nhất 8 ký tự" maxlength="32" ng-model="modalCtrl.model.Password" ng-blur="modalCtrl.validateInput(modalCtrl.model)">
                </div>
            </div>
        </div>
        <div class="text-center info col-sm-offset-3 col-sm-9" ng-if="modalCtrl.model.PasswordError || modalCtrl.model.PasswordLengthError">
            <p class="info" ng-if="modalCtrl.model.PasswordError">{{modalCtrl.model.PasswordError}}</p>
            <p class="info" ng-if="modalCtrl.model.PasswordLengthError">{{modalCtrl.model.PasswordLengthError}}</p>
        </div>
        <div class="form-group">
            <label class="col-sm-offset-1 col-sm-4 control-label">Xác nhận mật khẩu:</label>
            <div class="col-sm-7">
                <div class="form-group-img">
                    <input type="password" class="form-control" placeholder="Giống mật khẩu" ng-model="modalCtrl.model.PasswordConfirmation" ng-blur="modalCtrl.validateInput(modalCtrl.model)">
                </div>
            </div>
        </div>
        <div class="text-center info col-sm-offset-3 col-sm-9" ng-if="modalCtrl.model.PasswordConfirmationError || modalCtrl.model.PasswordConfirmationMatchError">
            <p class="info" ng-if="modalCtrl.model.PasswordConfirmationError">{{modalCtrl.model.PasswordConfirmationError}}</p>
            <p class="info" ng-if="modalCtrl.model.PasswordConfirmationMatchError">{{modalCtrl.model.PasswordConfirmationMatchError}}</p>
        </div>
        <div class="form-group">
            <label class="col-sm-offset-1 col-sm-4 control-label">Số điện thoại:</label>
            <div class="col-sm-7">
                <div class="form-group-img">
                    <input type="text" class="form-control" placeholder="Tối đa 11 số" maxlength="11" ng-model="modalCtrl.model.PhoneNumber" ng-blur="modalCtrl.checkPhoneNumber()">
                </div>
            </div>
        </div>
        <div class="text-center info col-sm-offset-3 col-sm-9" ng-if="modalCtrl.model.PhoneNumberError || modalCtrl.model.UserNameInvalidPhoneNumberError">
            <p class="info" ng-if="modalCtrl.model.PhoneNumberError">{{modalCtrl.model.PhoneNumberError}}</p>
            <p class="info" ng-if="modalCtrl.model.UserNameInvalidPhoneNumberError">{{modalCtrl.model.UserNameInvalidPhoneNumberError}}</p>
        </div>
        <div class="form-group">
            <label class="col-sm-offset-1 col-sm-4 control-label">Địa chỉ:</label>
            <div class="col-sm-7">
                <div class="form-group-img">
                    <input type="text" class="form-control" placeholder="Địa chỉ" ng-model="modalCtrl.model.Address">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" class="styled" ng-model="modalCtrl.model.confirmedRegistration" ng-change="modalCtrl.validateInput(modalCtrl.model)">
                    <label>
                        Xác nhận thông tin
                    </label>
                </div>
            </div>
        </div>
        <div class="text-center info col-sm-offset-3 col-sm-9" ng-if="modalCtrl.model.confirmedRegistrationError">
            <p class="info" ng-if="modalCtrl.model.confirmedRegistrationError">{{modalCtrl.model.confirmedRegistrationError}}</p>
        </div>

        <!--<div class="form-group">
            <div class="col-sm-12 checkbox">
                <div vc-recaptcha="vc-recaptcha" theme="'light'" key="modalCtrl.recaptcha.key" lang="vi"
                     on-create="modalCtrl.setWidgetId(widgetId)"
                     on-success="modalCtrl.setResponse(response)"
                     on-expire="modalCtrl.cbExpiration()">
                </div>
                <span ng-if="modalCtrl.captchaError" class="text-danger">{{ modalCtrl.captchaError }}</span>
            </div>
        </div>-->

        <button type="button" class="btn btn-link" ng-click="modalCtrl.register()">
            <img src="Content/images/btn-sign-up.png" alt="">
        </button>

    </form>
    <img class="modal-img-bottom" src="Content/images/img-bottom-popup-sign-in.png" alt="">
</div>