﻿<div class="modal-header" style="border-bottom: none">
    <button type="button" id="btnCloseDialog" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.close()">
        <img src="Content/images/icons/icon-close.png" alt="">
    </button>
</div>
<div class="modal-body">
    <figure class="img-cards">
        <img ng-src="{{modalCtrl.model.imageUrl}}" alt="">
    </figure>
    <div class="info">
        Thật đáng tiếc! Bạn đã thua mất thẻ này,
        <br> và thua <span class="point">{{modalCtrl.model.point}}</span> điểm
    </div>
    <img class="modal-img-left" src="Content/images/game-star.png" alt="">
    <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
</div>