<div id="Modal-Game-Tutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.close()">
                    <img src="Content/images/icons/icon-close.png" alt="">
                </button>
                <div class="game-tutorial game-tutorial-scroll-pf">
                    <h3 class="title-info">Hướng Dẫn</h3>
                    <p class="info">ĐIỀU KIỆN THAM GIA GAME ONLINE</p>
                    <p class="info">Sở hữu ít nhất 7 điểm</p>
                    <p class="info">LUẬT CHƠI</p>
                    <p class="info">Hai bên lần lượt ra thẻ</p>
                    <p class="info">Thẻ có Hệ mạnh hơn sẽ thắng</p>
                    <p class="info">CÁCH TÍNH HỆ</p>
                    <p class="info">Các Hệ Chính</p>
                    <p class="info">Lửa / Nước / Cỏ / Điện</p>
                    <p class="info">Các Hệ Phụ</p>
                    <p class="info">Bóng Tối / Tiên / Thường / Rồng / Bay / Siêu Năng / Độc / Giác Đấu</p>
                    <p class="info">Lưu ý, chỉ tính theo Hệ Chính để tính thẻ thắng</p>
                    <p class="info">Nước thua Cỏ / thắng Lửa</p>
                    <p class="info">Lửa thua Nước / thắng Cỏ</p>
                    <p class="info">Cỏ thua Lửa / thắng Nước</p>
                    <p class="info">Điện thua Cỏ / thắng Nước</p>
                    <p class="info">Nếu cả hai thẻ chung Hệ, sẽ tính theo điểm.</p>
                    <p class="info">Thẻ có điểm cao hơn sẽ thắng</p>
                    <p class="info">Thẻ đặc biệt thắng mọi loại thẻ thường</p>
                    <p class="info">Thẻ thường: Điểm ngẫu nhiên 1 - 5</p>
                    <p class="info">Thẻ đặc biệt: 7 điểm</p>
                </div>
                <!--<button type="button" class="btn btn-primary" ng-click="modalCtrl.joinGame()">
                    Tham Gia
                </button>-->
                <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
            </div>
        </div>
    </div>
</div>
<!--<script>
    $(document).ready(function () {
        var class_scroll = document.getElementsByClassName('game-tutorial-scroll-pf');
        for (var i = 0; i < class_scroll.length; i++) {
            Ps.initialize(class_scroll[i],
                {
                    wheelSpeed: 2,
                    wheelPropagation: true,
                    maxScrollbarLength: 60
                });
        };
    });
</script>-->