﻿<div class="modal-header" style="border-bottom: none">
    <button type="button" id="btnCloseDialog" class="close" aria-label="Close" ng-click="modalCtrl.close()">
        <img src="Content/images/icons/icon-close.png" alt="">
    </button>
</div>
<div class="modal-body">
    <div class="modal-body-scroll">
        <h3 class="modal-title">
            ĐIỀU KIỆN THAM GIA GAME ONLINE:
        </h3>
        <p>
            Sở hữu ít nhất 7 điểm
        </p>
        <h3 class="modal-title">LUẬT CHƠI:</h3>
        <ul>
            <li>
                Hai bên lần lượt ra thẻ
            </li>
            <li>
                Thẻ có Hệ mạnh hơn sẽ thắng
            </li>
        </ul>
        <h3 class="modal-title">
            CÁCH TÍNH HỆ:
        </h3>
        <p>Các Hệ Chính</p>
        <p>Lửa / Nước / Cỏ / Điện</p>
        <p>Các Hệ Phụ</p>
        <p>Bóng Tối / Tiên / Thường / Rồng / Bay / Siêu Năng / Độc / Giác Đấu</p>
        <p>Lưu ý, chỉ tính theo Hệ Chính để tính thẻ thắng</p>
        <ul>
            <li>Nước thua Cỏ / thắng Lửa</li>
            <li>Lửa thua Nước / thắng Cỏ</li>
            <li>Cỏ thua Lửa / thắng Nước</li>
            <li>Điện thua Cỏ / thắng Nước</li>
        </ul>
        <ul>
            <li>
                Nếu cả hai thẻ chung Hệ, sẽ tính theo điểm. Thẻ có điểm cao hơn sẽ thắng
            </li>
            <li>Thẻ đặc biệt sẽ thắng tất cả thẻ thường. Trường hợp 2 thẻ đặc biệt sẽ xét theo hệ</li>
            <li>Thẻ thường: Điểm ngẫu nhiên 1 - 5 điểm</li>
            <li>Thẻ đặc biệt: 7 điểm</li>
        </ul>
    </div>
    <a href="#" class="btn btn-link" ng-click="modalCtrl.joinGame()">
        <img src="Content/images/btn-tham-gia.png" alt="">
    </a>
    <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
</div>