﻿<div class="modal-thach-dau" id="Modal-Not-Enough-Card" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.close()">
                    <img src="Content/images/icons/icon-close.png" alt="">
                </button>
                <p class="msg-thach-dau">Rất tiếc chưa chọn được đối thủ</p>
                <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn" href="#" ng-click="modalCtrl.retry()">
                <img src="Content/images/btn-try-again.png" />
            </a>
        </div>
    </div>
</div>