﻿<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.close()">
        <img src="Content/images/icons/icon-close.png" alt="">
    </button>
    <p class="msg-thach-dau" ng-if="modalCtrl.model.message">{{modalCtrl.model.message}}</p>
    <p class="msg-thach-dau" ng-if="!modalCtrl.model.message">Bạn cần ít nhất 7 điểm để <br /> giao đấu</p>
    <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
</div>