﻿<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.close()">
        <img src="Content/images/icons/icon-close.png" alt="">
    </button>
    <h4 class="user-thach-dau">{{modalCtrl.model.PlayerFullName}}</h4>
    <p class="msg-thach-dau">đang thách thức bạn giao đấu</p>
    <div class="form-group dt-none">
        <a class="btn" href="#" ng-click="modalCtrl.confirmGame()">
            <img src="Content/images/btn-ok.png" />
        </a>
        <a class="btn" href="#" ng-click="modalCtrl.declineGame()">
            <img src="Content/images/btn-cancel.png" />
        </a>
    </div>
    <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
    <img class="copy-right dt-none" src="Content/images/logo-bottom.png" alt="">
</div>
<div class="modal-footer mb-none">
    <a class="btn" href="#" ng-click="modalCtrl.confirmGame()">
        <img src="Content/images/btn-ok.png" />
    </a>
    <a class="btn" href="#" ng-click="modalCtrl.declineGame()">
        <img src="Content/images/btn-cancel.png" />
    </a>
</div>