﻿<main class="thamgia-content">
    <div class="container">
        <div class="thamgia-body">
            <div class="thamgia-info scroll-pf">
                <table class="table">
                    <tbody>
                        <tr ng-repeat="item in ctrl.result.ResultSet">
                            <td class="col-xs-6">
                                <figure class="avatar img-circle">
                                    <img ng-src="{{item.AvatarUrl || 'Content/images/avatars/no_avatar_60x60.png'}}" alt="">
                                </figure>
                                <span class="user-name">
                                    {{item.FullName || item.UserName}}
                                </span>
                            </td>
                            <td class="col-xs-3">
                                {{item.TotalPoints}} điểm
                            </td>
                            <td class="col-xs-3">
                                <button class="btn btn-link" ng-click="ctrl.inviteToJoinGame(item)" ng-if="!ctrl.waitingForInvitationResponse">
                                    <img src="Content/images/btn-moidau.png" alt="">
                                </button>
                            </td>
                        </tr>
                        <tr ng-if="!ctrl.result || !ctrl.result.ResultSet || ctrl.result.ResultSet.length === 0">
                            <td colspan="3">Chưa có người chơi đang online. Tải lại trang để cập nhật danh sách người chơi mới</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-random" ng-click="ctrl.selectRandomOpponent()"
                    ng-if="!ctrl.waitingForInvitationResponse"
                    ng-disabled="!ctrl.result || !ctrl.result.ResultSet || ctrl.result.ResultSet.length === 0">
                <img src="Content/images/btn-chonngaunhien.png" alt="">
            </button>
            <img class="modal-img-bottom dt-none" src="Content/images/img-bottom-popup.png" alt="">
            <img class="copy-right dt-none" src="Content/images/logo-bottom.png" alt="">
        </div>
        <img class="copy-right mb-none" src="Content/images/logo-bottom.png" alt="">
    </div>
</main>