﻿<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.close()">
        <img src="Content/images/icons/icon-close.png" alt="">
    </button>
    <h4 class="user-thach-dau leave">{{modalCtrl.model.PlayerFullName}}</h4>
    <p class="msg-thach-dau">đã thoát khỏi trận đấu</p>
    <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
</div>