<main class="sanchoi-content">
    <div class="container">
        <div class="flying-card-holder">
            <img class="animate_game card-1" data-index="1" data-left="140" data-top="300" src="Content/images/card-1.png">
            <img class="animate_game card-2" data-index="2" data-left="100" data-top="275" src="Content/images/card-2.png">
            <img class="animate_game card-3" data-index="3" data-left="230" data-top="130" src="Content/images/card-4.png">
            <img class="animate_game card-4" data-index="4" data-left="160" data-top="180" src="Content/images/card-3.png">
            <img class="animate_game card-5" data-index="1" data-right="200" data-top="315" src="Content/images/card-5.png">
            <img class="animate_game card-6" data-index="2" data-right="150" data-top="230" src="Content/images/card-6.png">
            <img class="animate_game card-7" data-index="3" data-right="240" data-top="180" src="Content/images/card-7.png">
            <img class="animate_game card-8" data-index="4" data-right="290" data-top="150" src="Content/images/card-8.png">
        </div>
        <div class="noti-board bounceInDown animated">
            <div class="header-title">
                <img class="title" src="Content/images/san-choi.png">
                <img class="pokemon" src="Content/images/pokemon.png">
            </div>
            <div class="board-content">
                <h1 class="name">{{ ctrl.CurrentUser.FullName || ctrl.CurrentUser.UserName }}</h1>
                <table>
                    <tr>
                        <td>Số điểm của bạn:</td>
                        <td><strong>{{ ctrl.CurrentUser.TotalPoint }}</strong></td>
                    </tr>
                    <tr>
                        <td>Số thẻ của bạn:</td>
                        <td><strong>{{ ctrl.CurrentUser.TotalCards }}</strong></td>
                    </tr>
                </table>
            </div>
            <div class="board-action">
                <a href="#" class="btn" ng-click="ctrl.openGameTutorialModal()">
                    <img src="Content/images/btn-huong-dan.png">
                </a>
                <a href="#" class="btn" ng-click="ctrl.goToJoinGamePage()">
                    <img src="Content/images/btn-tham-gia.png">
                </a>
            </div>
        </div>
        <img class="copy-right" src="Content/images/logo-bottom.png" alt="">
    </div>
</main>
<script type="text/javascript">
        $(document).ready(function() {
            window.setTimeout(function() {
                $(".flying-card-holder").find('.animate_game').addClass('slideT');
            }, 500);

            window.setTimeout(function () {
                $(".board-content").animate({
                        top: '0px'
                    },
                    1000);
            }, 700);

            window.setTimeout(function () {
                $(".board-action").animate({
                        opacity: 1
                    },
                    1000);
            }, 1700);
        });
</script>