<main class="game-content">
    <div class="container">
        <div class="game-left" id="game-left-container">
            <div class="game-left-info">
                Bạn có <span class="point">{{ ctrl.PlayerOnLeft.TotalCards }}</span> thẻ
                <br> và <span class="point">{{ ctrl.PlayerOnLeft.TotalPoint }}</span> điểm
            </div>
            <div class="game-left-list">
                <ul class="game-list-cards">
                    <li class="card" ng-class="{'active': card.Id === ctrl.model.TempSelectedCard.Id}" ng-attr-id="{{ 'user-card-' + card.Id }}"
                        ng-repeat="card in ctrl.PlayerOnLeft.AllUserCards"
                        ng-click="ctrl.selectCard(card)">
                        <span ng-if="card.TotalCount > 1" class="number-cards">{{card.TotalCount}}</span>
                        <img ng-src="{{card.ImageUrl}}" alt="" ng-attr-id="{{ 'user-card-image-' + card.Id }}">
                    </li>
                </ul>
            </div>
            <div class="game-left-card-toggle dt-none" ng-click="ctrl.selectCard(ctrl.PlayerOnLeft.CurrentCardOnDeckForMobileView)">
                <img class="game-left-card-select" ng-src="{{ctrl.PlayerOnLeft.CurrentCardOnDeckForMobileView.ImageUrl}}" alt="">
                <button class="toggle-card" ng-click="ctrl.toggleCardDeckForMobile()"></button>
            </div>
            <button class="btn btn-link dt-none" ng-disabled="ctrl.noCardSelectedOrUserHasSubmitted()" ng-click="ctrl.submitCardForMobile()">
                <img src="Content/images/btn-xuattran.png" alt="">
            </button>
            <button class="btn btn-link mb-none" ng-disabled="ctrl.noCardSelectedOrUserHasSubmitted()" ng-click="ctrl.submitCard()">
                <img src="Content/images/btn-xuattran.png" alt="">
            </button>
            <button class="btn btn-link" ng-click="ctrl.stopGameRequest()">
                <img src="Content/images/btn-dungtran.png" alt="">
            </button>
        </div>
        <!-- /.game-left -->
        <div class="game-top">
            <div class="game-top-left">
                <figure ng-if="ctrl.PlayerOnLeft.SelectedCard.CardElementImageUrl">
                    <img ng-src="{{ ctrl.PlayerOnLeft.SelectedCard.CardElementImageUrl}}" alt="">
                </figure>
                <div class="game-title">
                    <span>{{ctrl.PlayerOnLeft.SelectedCard.MainCardElementDisplay}}</span>
                    <br>
                    <span class="game-title-special" ng-if="ctrl.PlayerOnLeft.SelectedCard.IsSpecialCard">{{ctrl.PlayerOnLeft.SelectedCard.CardTypeDisplay}}</span>
                </div>
            </div>
            <div class="game-top-center">
                <img src="Content/images/game-vs.png" alt="">
            </div>
            <div class="game-top-right">
                <div class="game-title">
                    <span>{{ctrl.PlayerOnRight.SelectedCard.MainCardElementDisplay}}</span>
                    <br>
                    <span class="game-title-special" ng-if="ctrl.PlayerOnRight.SelectedCard.IsSpecialCard">{{ctrl.PlayerOnRight.SelectedCard.CardTypeDisplay}}</span>
                </div>
                <figure ng-if="ctrl.PlayerOnRight.SelectedCard.CardElementImageUrl">
                    <img ng-src="{{ ctrl.PlayerOnRight.SelectedCard.CardElementImageUrl}}" alt="">
                </figure>
            </div>
        </div>
        <!-- /.game-top -->
        <div class="game-main">
            <div class="game-warning-message flash animated">
                Bạn hãy xoay màn hình theo <br/>chiều ngang để chơi game <br />tốt hơn nhé
            </div>
            <div class="game-cards-left" id="left-player-selected-card">
                <figure>
                    <img id="left-player-selected-card-img"
                         ng-src="{{ctrl.PlayerOnLeft.SelectedCard.ImageUrl || 'Content/images/pokemon-cards/default.png'}}" alt="">
                </figure>
            </div>
            <div class="game-cards-right">
                <figure class="default">
                    <img ng-src="{{ctrl.PlayerOnRight.SelectedCard.ImageUrl || 'Content/images/pokemon-cards/default.png'}}" alt="">
                </figure>
            </div>
        </div>
        <!-- /.game-main -->
        <div class="game-bottom">
            <div class="game-bottom-left">
                <figure class="game-avatar">
                    <img class="img-circle" ng-src="{{ctrl.PlayerOnLeft.AvatarUrl}}" alt="">
                </figure>
                <div class="name dt-none">{{ ctrl.PlayerOnLeft.FullName || ctrl.PlayerOnLeft.UserName }}</div>
            </div>
            <div class="game-bottom-center">
                <div class="game-count-down-info" ng-if="!ctrl.PlayerOnLeft.SelectedCard || !ctrl.PlayerOnLeft.SelectedCard.Id || ctrl.PlayerOnLeft.SelectedCard.Id === 0">
                    Hệ thống sẽ tự chọn thẻ ngẫu nhiên nếu người chơi không chọn thẻ trong lượt chơi của mình
                    <i class="icon-bottom-comment"></i>
                </div>
                <div class="game-count-down">
                    Thời gian
                    <br> chọn thẻ
                    <br>
                    <span class="game-number-time">
                        {{ ctrl.TimerCountDown }}
                    </span>
                </div>
            </div>
            <div class="game-bottom-right">
                <div class="name dt-none">{{ ctrl.PlayerOnRight.FullName || ctrl.PlayerOnRight.UserName }}</div>
                <figure class="game-avatar">
                    <img class="img-circle" ng-src="{{ctrl.PlayerOnRight.AvatarUrl}}" alt="">
                </figure>
            </div>
        </div>
        <div class="game-bottom mb-none">
            <div class="game-bottom-left">
                <div class="player-name-left">{{ ctrl.PlayerOnLeft.FullName || ctrl.PlayerOnLeft.UserName }}</div>
            </div>
            <div class="game-bottom-right">
                <div class="player-name-right">{{ ctrl.PlayerOnRight.FullName || ctrl.PlayerOnRight.UserName }}</div>
            </div>
        </div>
        <!-- .game-bottom -->
    </div>
</main>