﻿.custom-dialog-label{
    margin-left: 15px!important;
}

.lucky-draw-logo {
    margin-top: 10px;
    margin-left: 10px;
}

.lucky-draw-logo-custom {
    position: relative;
    top: 65px;
    left: 250px;
}

#filter {
    width: 350px;
    border-radius: 15px;
    border: 3px solid #ff7500;
    background-color: orange;
    color: #fff;
}

#filtersubmit {
    position: relative;
    z-index: 1;
    left: -30px;
    color: #fff;
    cursor: pointer;
    width: 0;
}