﻿// Fade in/Fade out for angular animate
// Usage: class="fadein fadeout"
.fadein,
.fadeout {
    @include transition(all, 0.6s, cubic-bezier(0.250, 0.460, 0.450, 0.940));
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}