.box-select {
    width: 100%;
    float: left;

    &-code {
        width: 301px;
        height: 50px;
        margin: 0 auto;
        background: url('../images/bg-maso.png') center center no-repeat;
    }

    &-code {
        position: relative;
        /*&:after {
            content: "";
            border-width: 10px;
            border-style: solid;
            border-color: #fff transparent transparent transparent;
            position: absolute;
            margin-left: 20px;
            top: 40%;
        }*/
        ul, select {
            color: #fff;
            font-size: 30px;
            font-family: "DINRoundOT";
            background: none;
            padding: 13px 0 5px 0;
            line-height: 1em;
            border: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            appearance: none;
            outline: none;
        }
    }
}
.box-gifts {
    width: 100%;
    float: left;
    &-title {
        // margin: 0;
    }
    &-body-info {
        font-size: 19px;
        color: #fff;
        font-weight: bold;
        padding: 0 30px 0 20px;
    }
}
.gifts {
    width: 100%;
    padding-top: 25px;
    .number-cards {
        position: absolute;
        right: 0;
        top: 0;
    }
    &-name {
        font-weight: bold;
        font-size: 19px;
        color: #0541ad;
        @include text-shadow(#{$text-shadow-value});
        text-transform: uppercase;
        font-style: italic;
    }
    &-img {
        height: 110px;
        @include display(box);
        @include box-align(end);
        @include box-pack(center);
    }
}
.box-gifts-point {
    .gifts {
        &-img {
            @include box-align(center);
        }
        &-name {
            font-size: 16px;
        }
    }
}
