html, body {
    height: 100vh;
    &.overflow {
        overflow: hidden;
    }
    @media (max-width: 767px) {
        height: auto;
        width: 100%;
        &.overflow {
            overflow: inherit;
        }
    }
}
body {
    width: 100%;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: "DINRoundOT";
    background: #7ecc08 url('../images/bg-green-1080-for-web.png') center top no-repeat;
    font-size: 19px;
    // << 767 quay ngang
    @media (max-width: 767px) {
        background: #4ea913 url('../images/mobile/bg-green.png') no-repeat;
        background-size: cover;
        min-height: 568px;
        font-size: 13px;
    }
    // << 400 quay dung
    @media (max-width: 400px) {
        background: #4ea913 url('../images/mobile/bg-green.png') center top no-repeat;
    }
}
.container {
    width: 1200px;
    position: relative;
}
.number-cards {
    height: 71px;
    width: 68px;
    display: inline-block;
    text-align: center;
    font-size: 32px;
    line-height: 2.3em;
    color: #fff;
    font-family: "ShowcardGothic-Reg";
    background: url('../images/bg-point.png') center center no-repeat;
}
.pagination-none-background {
    > li {
        > a {
            background: none;
            border: none;
            color: #fff;
            font-size: 28px;
            font-family: "DINRoundOT";
            margin: 0 10px;
            &:hover {
                background: none;
                color: #ffe400;
            }
        }
        &.active,
        &.disabled {
            > a {
                background: none;
                color: #ffe400;
                &:hover {
                    background: none;
                    color: #ffe400;
                }
            }
        }
    }
}

.copy-right {
    position: absolute;
    right: 0;
    /*bottom: 10px;*/
    z-index: 10;
    @media (max-width: 767px) {
        position: relative;
        clear: both;
        width: 105px;
        z-index: 1;
        float: right;
        bottom: 5px;
        right: 5px;
    }
}


.list-type-disc {
    padding: 0;
    > li {
        padding-left: 5px;
        list-style-type: none;
        position: relative;
        vertical-align: middle;
        line-height: 1.2em;
        &:after {
            content: "";
            height: 4px;
            width: 4px;
            background: #fff;
            position: absolute;
            left: 0;
            top: 12px;
            @include border-radius(5px);
        }
    }
}
.yellow {
    color: #ffe400;
}