// ALL
.form-group-img {
    width: 240px;
    // margin: 0 auto;
    &:before {
        background-image: url('../images/bg-input-left.png');
    }
    &:before, &:after {
        content: "";
        height: 43px;
        width: 15px;
        float: left;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &:after {
        background-image: url('../images/bg-input-right.png');
    }
    .form-control {
        height: 43px;
        width: 210px;
        float: left;
        background: none;
        background-image: url('../images/bg-input.png');
        border: none;
        @include box-shadow(none);
        @include border-radius(0);
    }
    // <<< 768
    @media (max-width: 767px) {
        &:before, &:after {
            height: 30px;
            width: 10px;
            background-size: auto 30px
        }
        &:after {
            background-size: auto 30px
        }
        .form-control {
            height: 30px;
            background-size: auto 30px
        }
    }
}

.form-sign-code {
    width: 425px;
    height: 300px;
    display: inline-block;
    background: url('../images/bg-sutap.png') center center no-repeat;
    position: relative;
    .form-control {
        width: 190px;
        position: absolute;
        top: 200px;
        margin: 0 auto;
        right: 0;
        left: 13px;
        border: 0;
        background: none;
        outline: none;
        @include box-shadow(none);
        // @include opacity(0.1);
    }
    .btn-img {
        padding: 0;
        border: none;
        background: none;
        outline: none;
        position: absolute;
        top: calc(100% - 57px);
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 146px;
        &:active, &:focus {
            outline: none;
            @include box-shadow(none);
        }
    }
}