h1, h2, h3, h4, h5, h6 {
    margin-top: $size-spacing;
    font-weight: 300;
}

h1, h2, h3 {
    color: $color-concrete;
}

p {
    word-wrap: break-word;
} 

.table-fixed {
    max-height: 150px;
    display: block;
}

.table-scroll {
    max-height: 450px;
    overflow-y:scroll;
}

tr {
    &[ng-click] {
        cursor: pointer;
    }
}

a {
    color: $color-link-alt;
    transition: all ease .4s;
    &[ng-click] {
        cursor: pointer;
    }
    &:hover, &:focus {
        color: $color-link; 
        text-decoration: none;
    }
    &[disabled] {
        pointer-events: none;
        cursor: not-allowed; 
        color: $color-concrete;
    }
    &.form-control-text {
        &:hover { 
            padding-left: 12px; 
            background-color: $color-clouds; 
        }
    }
}

.row-even {
    display: flex;
    align-items: center;
    border-bottom: thin solid #c7ccd3;

}
.row-odd {
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: thin solid #c7ccd3;
}

small {
    color: $color-concrete;
    font-weight: 300;
}

abbr {
    color: $color-pomegranate;
}

hr {
    border: 0;
    border-bottom: 1px dashed $color-clouds;
    background-color: lighten($color-silver, 5);
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.position-fixed {
    position: fixed;
}

// Text style
.text-desc {
    font-size: $size-font - 2;
    color: $color-concrete;
    font-weight: 300;

    a {
        color: $color-concrete;
        border-bottom: 1px dotted $color-concrete;

        &:hover {
            border-bottom: none;
            color: $color-text;
        }
    }
}

.text-bold {
    font-weight: bold;
}

.text-slim {
    font-size: $size-font - 2;
    font-weight: 300;
}

.text-muted {
    color: $color-concrete;
}

.text-normal {
    font-size: $size-font;
}

span.glAccount, input.gl-mask, input[gl-mask], input[mask] {
    font-size: 9pt;
    letter-spacing: 1px;
}

input.pbs-error {
    border-color: red;
}

input.gl-account-error {
    border-color: red;
}

input.ng-invalid {
    border: 1px solid red !important;
}

// Label & Badge
@for $i from 0 to length($color-array-main) {
    .color-#{nth($color-array-main, $i+1)} {
        color: nth($color-array-main-value, $i+1);
    }

    .color-#{nth($color-array-alt, $i+1)} {
        color: nth($color-array-alt-value, $i+1);
    }

    .bg-#{nth($color-array-main, $i+1)} {
        background-color: nth($color-array-main-value, $i+1);
    }

    .bg-#{nth($color-array-alt, $i+1)} {
        background-color: nth($color-array-alt-value, $i+1);
    }

    .label.label-#{nth($color-array-main, $i+1)} {
        background-color: nth($color-array-main-value, $i+1);
    }

    .badge.badge-#{nth($color-array-main, $i+1)} {
        background-color: nth($color-array-main-value, $i+1);
        z-index: 1;
    }

    .btn-#{nth($color-array-main, $i+1)} { 
        height: 34px; // Same height of input bootstrap
        color: $color-white;
        background-color: nth($color-array-main-value, $i+1);
        &:hover, &.disabled {
            color: $color-clouds;
            background-color: nth($color-array-alt-value, $i+1);
        }
        &.disabled, &[disabled] { 
            cursor: not-allowed;
        }
        &:focus {
            color: $color-clouds;
            background-color: nth($color-array-main-value, $i+1);
        }
    }

    .panel-#{nth($color-array-main, $i+1)} {
        .panel-heading {
            color: $color-white;
            background-color: nth($color-array-main-value, $i+1);
            border-color: nth($color-array-main-value, $i+1);
        }

        .panel-footer {
            background-color: $color-clouds;
            margin-top: $size-spacing;
        }
    }
}

.btn {
    border: 0; 
    &:not(.btn-addon) {
        font-size: $size-font;
        padding: $size-spacing $size-margin-small;
    }
    &.btn-addon {
        height: 34px;
    }
    &.btn-default {
        border: 1px solid #ddd !important;
        &:hover {
            color: $color-white; 
            background-color: $color-concrete;
        }
    }
    &[disabled] {
        cursor: not-allowed;
        pointer-events: none;
        color: $color-clouds;
    }
    .fa-spin {
        margin-right: $size-spacing; 
    }
    &.btn-badge {
        position: relative;
        .badge {
            position: absolute;
            top: -$size-spacing;  
            background-color: $color-pomegranate; 
            z-index: 1;
        } 
    } 
}

.btn-group {
    >.btn+.dropdown-toggle {
        padding: $size-spacing $size-margin-small;
    }
    &.btn-group-sm {
        .btn {
            padding: $size-spacing/2 $size-spacing;
            font-size: $size-font - 4;
        }
    }
}

span.dropdown {
    display: inline-block; 
}

.badge, .label {
    color: $color-white; 
    background-color: $color-text-alt;
}

.label {
    font-weight: 300;
    &.label-currency {
        font-size: 90%;
        font-weight: normal;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
        padding: 2px 8px 3px 8px;
        border-radius: 0;
        border-bottom: 1px solid $color-white;
    }
    &.label-default {
        color: $color-text; 
        background-color: $color-white; 
    }
    &[data-toggle="popover"] {
        cursor: pointer;
    }
}

.label-group {
    .label {
        margin: 0 2px; 
    }
    &.label-equal {
        .label {
            display: inline-block;
            text-align: center; 
            width: 45px;
            padding: 4px; 
        }
    }
}

.label-block {
    display: block;
}

// Tabs
.tabbable {
    .nav-tabs {
        li {
            font-weight: 300;

            &.active {
                font-weight: bold;
            }

            &.disabled {
                pointer-events: none;
                cursor: not-allowed;
            }
        }

        a {
            .badge, .label {
                margin-right: $size-spacing / 2;
            }
        }
    }
}

// List
.list-inline {
    margin-bottom: 0;
}

// List group
.list-group {
    .list-group-item {
        .list-group-item-heading {
            font-weight: normal;
        }
        &[disabled] {
            .list-group-item-heading {
                color: $color-concrete; 
            }
        }
    }
}

.list-unstyled {
    a {
        display: inline-block;
        padding: $size-spacing/2;
    }
    .badge {
        margin-right: $size-spacing;
    }
    &.list-icons {
        span {
            display: inline-block; 
            vertical-align: bottom; 
        }
        .icon {
            width: $size-spacing * 7;
        }
    }
}
.list-border {
    margin: $size-spacing 0;
    > li {
        & + li {
            margin-top: $size-spacing;
            padding-top: $size-spacing;
            border-top: 1px dashed $color-concrete;
        }
        &:first-child {
            border-top: none;
            margin-top: 0;
            padding-top: 0;
        }
        > .list-title {
            color: $color-concrete;
        }
    }
}

// Panel
.panel {
    border: none;
    border-radius: 4px;

    .panel-heading {
        .panel-title {
            font-size: $size-font;
        }
        .label, .badge {
            margin-right: $size-spacing;
        }
        &.active {
            background-color: $color-link;
            a {
                color: $color-white;
            }
            .badge {
                background-color: $color-peterriver;
            }
        }
    }
    .panel-body {
        padding: $size-margin-small;
        > .alert {
            margin-top: -$size-margin-small;
            margin-right: -$size-margin-small;
            margin-left: -$size-margin-small;
        }
        form {
            .alert {
                margin-top: $size-margin * 2;
                margin-right: -$size-margin-small;
                margin-bottom: -$size-margin;
                margin-left: -$size-margin-small;
                border: none;  
            }
            .tab-content {
                padding: 10px 0; 
            }
        }
        .nav-tabs {
            margin: 0px -15px;
            padding: 0px 20px;
            background-color: transparent;
            > li {
                border-left: none;                
                > a {
                    margin-right: 0;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px; 
                } 
                &:hover {
                    border-bottom: -1px;
                }
                &:not(.active) {
                    > a:hover {  
                        border: 1px solid transparent; 
                    }
                }
            }
        }
    }
    .panel-actions {
        padding: 0;
        &.panel-heading {
            .btn-group {
                &:not(.pull-right) {
                    .btn:first-child {
                        border-top-left-radius: 4px;
                    }
                }
                &.pull-right {
                    .btn:last-child {
                        border-top-right-radius: 4px;
                    }
                }
            }
            .badge {
                position: absolute;
                top: -$size-spacing/2; 
            }
        }
        &.panel-footer {
            .btn-group {
                &:not(.pull-right) {
                    .btn:first-child {
                        border-bottom-left-radius: 4px;
                    }
                }
                &.pull-right {
                    .btn:last-child {
                        border-bottom-right-radius: 4px;
                    }
                }
            }
        }
        .btn {
            border: 0;
            font-weight: 300;
            i {
                margin-right: 2px;
            }
            &.disabled {
                opacity: 1;
            }
        }
        .text-desc {
            line-height: $size-font * 2;
            padding: 3px $size-margin-small;
        }
    }
    .panel-inner {
        padding: $size-spacing $size-margin-small;
        font-weight: 300;
    }
    &.disabled {
        .panel-heading {
            background-color: $color-clouds;
        }
        a {
            pointer-events: none;
            cursor: not-allowed;
            color: $color-concrete;
            font-weight: 300;
        }
    }
    &.panel-list {
        .table {
            margin-bottom: 0;
        }
        .panel-footer {
            padding: 0;
            margin-top: 0;
            height: $size-font * 2 + 3;
            .pagination {
                margin: 0;
                li {
                    &.active a {
                        background-color: $color-link;
                    }
                    &:first-child a {
                        border-bottom-left-radius: 4px;
                    }
                    &:last-child a {
                        border-bottom-right-radius: 4px;
                    }
                    a {
                        border: none;
                    }
                }
            }
            span {
                line-height: $size-font * 2;
                padding: 0 $size-margin-small;
            }
        }
    }
}

// Panel upload
.panel-upload {
    position: relative;
    min-height: $size-font * 3;
    border: 1px dashed $color-silver; 
    padding: $size-spacing / 2;
    .btn {
        position: absolute;
        top: $size-spacing / 2;
        left: $size-spacing / 2;
    }
    .progress {
        margin-bottom: 0;
        margin-top: $size-spacing;
    }
}

// Table
.table {
    thead {
        color: $color-asbestos;
        background-color: $color-clouds;
        &.color {
            background-color: $color-link;
            color: $color-white;
            th {
                font-weight: normal;
            }
        }
        i {
            margin-right: $size-spacing / 2;
            color: $color-asbestos;
        }
        a {
            color: $color-text;
            &:hover {
                color: $color-link;
            }
        }
    }
    tr {
        td:first-child {
            width: 1%;
            white-space: nowrap;
        }
    }
    tbody {
        td {
            .checkbox {
                margin: 0;  
            }
            .form-control {
                min-width: 64px; 
                height: 30px; 
                padding: 2px 8px; 
                box-shadow: none;
                -webkit-box-shadow: none;                
                &:focus, &:hover {                    
                    border-color: $color-peterriver; 
                }
            }
            &.label-group {
                white-space: nowrap; 
            }
            .dropdown-menu[datepicker-popup-wrap] div[datepicker] table {
                width: 256px;
                > thead > tr:first-child {
                    background-color: $color-white;
                }
            }
        }
    }
    &.table-input {
        tbody > tr > td {
            vertical-align: middle;             
        }
        tfoot {              
            > tr > td {
                padding: 12px 8px;
                border-top: 1px dashed #ddd;  
                .form-group {
                    margin-bottom: 0; 
                }
            }
        }
    }
    &.table-double {
        tr:nth-child(even) {
            td {
                padding-top: 0;
                border-top: none;
            }
        }
    }
    .progress {
        margin-bottom: 0;
    }
}

.col-fixed-width-18x{
    width:180px;
}

// Form controls
label {
    font-weight: normal;
    color: $color-concrete;
}

.form-group {
    .checkbox {
        label {
            padding-left: 0;
            margin-top: $size-spacing;
        }
    }
    small.desc {
        padding-top: $size-spacing/2;
    }
    .form-control {
        &:focus {
            @include box-shadow(0, 0, 0);
        }        
    }
    &.has-error {
        color: $color-pomegranate;
        label, .help-block {
            color: $color-pomegranate;
        }
    }
}

input[type=text] { 
    &:focus {
        @include box-shadow(0, 0, 0);
    }
}

.form-control-text {
    display: block;
    height: 34px; 
    padding: 8px 0;  
}

.checkbox {
    label {
        color: $color-text;        
    }
    &[disabled] { 
        label {
            color: $color-concrete; 
            pointer-events: none;
        }
    }
}

.form-panel {
    margin: $size-margin $size-margin-small * (-1);
    padding: $size-margin;
    background-color: lighten($color-clouds, 5);

    .form-panel-title {
        color: $color-asbestos;
        font-size: $size-font * 1.4;
        font-weight: 300;
        margin-bottom: $size-spacing;
        padding-bottom: $size-spacing;
    }

    .table {
        display: block;
        overflow: auto;
        margin-bottom: $size-margin-small;
        font-weight: 300;
        th {
            font-weight: normal;
            vertical-align: middle;
        }
        td {
        }
        .row-actions {
            td {
                border-color: $color-white;
                padding-top: $size-margin;
            }
        }
    }
    .btn {
        font-size: 12px;
    }
    hr {
        margin-right: -20px;
        margin-left: -20px;
    }
    &.form-panel-white {
        background-color: $color-white;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.form-text {
    font-size: $size-font - 2;

    a {
        white-space: nowrap;
    }

    .label.pull-right {
        font-size: $size-font + 2; 
        font-weight: bold;
        padding: $size-spacing $size-spacing*2;
        margin-left: $size-margin-small;
    }
}

.time-picker {
    td {
        padding: 2px;
    }
}

.pickadate-control[readonly] {
    background-color:#fff;
}

pbs-list-add-remove {
    div {
        padding-top: 5px;
        text-align: center;

        button {
            width: 36px;
        }
    }
}
