.main {
    float: left;
    width: 100%;
    height: calc(100vh - 105px);
    &-home {
        .form-sign-code {
            left: 180px;
            top: 10px;
            animation-delay: 0.7s;
        }
    }
}
.pack {
    // opacity: 0;
    display: inline-block;
    position: relative;
    float: right;
    height: calc(100vh - 105px);
    width: 630px;
    margin-right: 75px;
    // background: #ddd;
    &-img {
        position: absolute;
        top: 30px;
        right: 135px;
        z-index: 7;
        height: 476px;
    }
    &-effect {
        position: absolute;
        z-index: 1;
        top: 30px;
        right: 0px;
        display: inline-block;
        width: 630px;
        height: 435px;
        // background: green;
    }
    &-small {
        // opacity: 0;
        position: absolute;
        top: 335px;
        right: 50px;
        z-index: 7;
        width: 293px;
        height: 193px;
        animation-delay: 0.3s;
    }
}

.cards {
    position: relative;
    top: 220px;
    right: 380px;
    z-index: 10;
    img {
        position: absolute;
        // animation-direction: reverse;
        // opacity: 0;
    }
}
@each $name, $right, $bottom, $z-index in
(1, 480px, -23px, 17),
(2, 420px, -22px, 16),
(3, 360px, -21px, 15),
(4, 320px, -19px, 14),
(5, 280px, -17px, 13),
(6, 240px, -15px, 12),
(7, 200px, -10px, 11),
(8, 180px, -5px, 10),
(9, 150px, 0, 9),
(10, 130px, 5px, 8),
(11, 110px, 15px, 7),
(12, 90px, 25px, 6),
(13, 70px, 35px, 5),
(14, 50px, 45px, 4),
(15, 30px, 55px, 3),
(16, 10px, 60px, 2),
(17, 3px, 75px, 1)
{
    $a-deplay: ($name/10*2)-0.2;
    $b-deplay: ($z-index/40) + 1;
    .c#{$name}-animation {
        right: $right;
        bottom: $bottom;
        z-index: $z-index;
        animation-delay: #{$b-deplay}s;
        animation-name: show_card;
        &.animate {
            animation: Floating 2s #{$a-deplay}s ease-in-out infinite;
        }
    }
}

// cards
@keyframes show_card {
  0% {opacity: 0; transform: scale(0.5) translate(0, 0);}
  50% {opacity: 1; transform: scale(1.05) translate(-15px, 0);}
  100% {opacity: 1; transform: scale(1) translate(0, 0);}
}

@keyframes Floating {
  from {transform: translate(0, 0px);}
  65% {transform: translate(0, 15px);}
  to {transform: translate(0, -0px);}
}
@-moz-keyframes Floating {
  from {-moz-transform: translate(0, 0px);}
  65% {-moz-transform: translate(0, 15px);}
  to {-moz-transform: translate(0, -0px);}
}
@-webkit-keyframes Floating {
  from {-webkit-transform: translate(0, 0px);}
  65% {-webkit-transform: translate(0, 15px);}
  to {-webkit-transform: translate(0, -0px);}
}
// end cards


@keyframes ScaleBounce {
  0% {transform: scale(1);}
  12% {transform: scale(1.05);}
  24% {transform: scale(1);}
  36% {transform: scale(1.05);}
  48% {transform: scale(1);}
  100% {transform: scale(1);}
}
@-moz-keyframes ScaleBounce {
  0% {-moz-transform: scale(1);}
  12% {-moz-transform: scale(1.05);}
  24% {-moz-transform: scale(1);}
  36% {-moz-transform: scale(1.05);}
  48% {-moz-transform: scale(1);}
  100% {-moz-transform: scale(1);}
}
@-webkit-keyframes ScaleBounce {
  0% {-webkit-transform: scale(1);}
  12% {-webkit-transform: scale(1.05);}
  24% {-webkit-transform: scale(1);}
  36% {-webkit-transform: scale(1.05);}
  48% {-webkit-transform: scale(1);}
  100% {-webkit-transform: scale(1);}
}



// img {
//   -webkit-backface-visibility: hidden;
//   -ms-transform: translateZ(0); /* IE 9 */
//   -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
//   transform: translateZ(0);
// }

// prizes
.prizes {
    position: absolute;
    z-index: 9;
    right: 0;
    top: -17px;
    img {
        position: absolute;
        // opacity: 0;
    }
}
@each $name, $top, $right, $z-index, $a-duration in
(scholarship, 10px, 80px, 4, 3.3s),
(auto, 100px, 80px, 4.5, 3.6s),
(bike, 210px, 110px, 5, 3.9s)
{
    $delay: $z-index*0.3;
    .#{$name}-prize {
        top: $top;
        right: $right;
        z-index: $z-index;
        animation-delay: #{$delay}s;
        &.animate {
            animation: Scale $a-duration ease-in-out infinite;
        }
    }
}

@keyframes Scale {
  from {transform: scale(1) translate(0, 0px);}
  65% {transform: scale(0.95) translate(0, -15px);}
  to {transform: scale(1) translate(0, 0px);}
}
@-moz-keyframes Scale {
  from {-moz-transform: scale(1) translate(0, 0px);}
  65% {-moz-transform: scale(0.95) translate(0, -15px);}
  to {-moz-transform: scale(1) translate(0, 0px);}
}
@-webkit-keyframes Scale {
  from {-webkit-transform: scale(1) translate(0, 0px);}
  65% {-webkit-transform: scale(0.95) translate(0, -15px);}
  to {-webkit-transform: scale(1) translate(0, 0px);}
}
// end prizes
