@media screen and (min-width: 1200px) {
  .com-filter-actions {
      select.form-control {
          margin-top: $size-spacing;
      }
  }
}

@media screen and (min-width: 992px) {
  .page-content-wrapper {
    display: table;
    width: 100%;
    height: 100%;  
    padding: 0;
    > .row {
      display: table-row;
      height: 100%;
    }
    .page-sidebar, .page-content {
      display: table-cell;
      float: none;
      padding: 0;
      vertical-align: top;
    }    
    .page-content {
      padding-bottom: $size-margin * 2;
    }
  }
}

// Off canvas
@media screen and (max-width: 991px) {
  .page-content-wrapper,
  .page-content-wrapper > .row,
  .page-sidebar, .page-content {
    height: 100%;
  }

  .page-content {
    padding: 0;
  }

  .row-offcanvas {
    position: relative;    
  }

  .row-offcanvas, .sticky-panel {
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
    .sidebar-offcanvas { right: -$size-sidebar; }    
    &.active { 
      right: $size-sidebar; 
      .sticky-panel {
        right: $size-sidebar;
      }
    }
  }

  .row-offcanvas-left {
    left: 0;
    .sticky-panel {
      left: 0;
    }
    .sidebar-offcanvas { left: -$size-sidebar; }
    &.active { 
      left: $size-sidebar; 
      .sticky-panel {
        left: $size-sidebar;
      }
    }
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: $size-sidebar;    
    padding: 0;
  }  
}

@media screen and (max-width: 767px) {
  .page-content-wrapper,
  .page-content-wrapper > .row,
  .page-content {
    height: auto;
  }
  .panel {
    .panel-actions {
      .btn {
        span {
          display: none;
        }
        &.disabled {
          span {
            display: inline-block;  
          }          
        }
      }
    }
  }
  .com-breadcrumb {
    font-size: $size-font + 8;
    margin-bottom: $size-spacing * 2;
    li + li:before {
      padding: 0 $size-spacing / 2;
      margin-right: $size-spacing / 2;
    }
  }
}

@media screen and (max-width: 487px) {
  .hidden-xxs {
    display: none !important;
  }
  .page-main {
    padding: $size-margin / 2 $size-spacing * 2;
  }
  .com-breadcrumb {
    font-size: $size-font + 4;
    margin-bottom: $size-margin / 2;
  }
  .panel {
    .panel-actions {
      .btn-group.pull-right {
        display: none;
      }
    }
  }
  .form-panel { 
    .form-panel-title {
      font-size: $size-font + 2;
      .pull-right {
        display: block;
        float: none !important;
      }
    }
  }
}