// Sticky footer
html {
  position: relative;
  height: 100%;
}

body {
  font-size: $size-font;
  color: $color-text;
  background-color: $color-clouds;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

// Loading icon
.loading {    
    background: url(#{$img-path}/icon-loading.gif) center no-repeat;
    min-height: 256px;
    div, ul {
        display: none;
    }
    &.error {
        background: url(#{$img-path}/icon-error.png) center no-repeat;
        position: relative;
        &:after {
            position: absolute;
            bottom: 48px;
            width: 100%;
            content: "System Error. Please try later!";
            text-align: center;
            color: $color-pomegranate;                        
        }
    }
}

// Sidebar full height layout
.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: $size-margin;
  padding: $size-spacing $size-font;  
}

.page-sidebar {
  background-color: $color-white;
}

// Logo text
.com-app-title {  
  line-height: $size-margin * 1.5;
  padding: $size-spacing 0;
  font-size: $size-font + 6;
  height: $size-margin * 1.5 + $size-spacing * 2;
  background-color: $color-link; 
  a {
    color: $color-white;
    &:hover {
      color: $color-link-alt;
    }
  }
}

// Navigation
.com-navigation {
  ul {
    margin: 0;
    padding: $size-spacing 0;    
    a { 
      display: block;
      font-size: $size-font + 2;
      color: $color-text-alt;
      padding: $size-spacing $size-margin;
      i {
        margin-right: $size-spacing;
      }
      &:hover {
        color: $color-text; 
        background-color: lighten($color-clouds, 5);
      }  
    }      
    a.active {
      color: $color-link;  
      font-weight: bold;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
  hr {
    margin: 0px;
  }
}

// Component: User info
.com-info {
    margin-top: $size-spacing;
    padding: $size-spacing 0;
}

.page-content-sticky {
  padding-top: ($size-spacing + $size-margin) * 2 !important;
}

.sticky-panel {
  position: fixed;
  z-index: 1010;
  top: 0; left: auto;
  width: 100%;
  border-bottom: 1px solid $color-clouds;
}

// Top panel
.top-panel {    
    > ul {
        margin: 0;
        > li {
            padding: 0;
            > a {
                display: inline-block;
                color: $color-white;
                cursor: pointer;   
                i {
                    font-size: $size-margin;
                }
            }
        }    
        .dropdown-menu {
            padding: 0;
            a {
                padding: $size-spacing $size-margin;
            }
        }
    }
    ul.list-actions {
        > li {
            > a {      
                padding: $size-spacing $size-margin;
                line-height: $size-margin * 1.5;      
                font-weight: 300;
                height: $size-margin * 1.5 + $size-spacing * 2;      
                i {
                    display: none;
                }
                &:hover {
                    background-color: $color-peterriver;
                }
                &.toggle {
                    i {
                        display: inline-block;
                        font-size: $size-font * 1.5;
                    }
                }
            }
        }        
    }
    ul.list-icons {
        > li {
            margin-right: $size-spacing;
            > a {
                padding: $size-spacing / 1.4 $size-spacing / 1.2;   
                margin-top: $size-margin / 4;  
                border: 1px solid $color-link;
                color: $color-peterriver;     
            }
            &.open > a, > a:hover {
                color: $color-white;
                border: 1px solid $color-peterriver; 
                border-radius: $size-spacing; 
            }
            &.open {
                > a {
                    border-radius: 0;
                    background-color: $color-peterriver;
                }
                .dropdown-menu {
                    margin-top: -1px;
                    background-color: $color-peterriver;
                }
            }
        } 
    }
    ul.pull-right {
        li.open {
            ul.dropdown-menu {
                left: auto;
                right: 0;
            }
        }
    }    
}

.col-lg-2.pull-right {
    text-align:right;
}

.page-inner {
  padding: 0 $size-margin;
}

// Page main
.page-main {
  padding: $size-margin * 0.6 $size-margin; 
  .page-title {
    margin-top: 0;
    margin-bottom: $size-margin * 0.6;
  }
}

// Filter
.com-filter {
  font-size: $size-font - 2;
  .btn {
    padding: $size-spacing - 2 $size-margin;
  }  
}

// Breadcrumb
.com-breadcrumb {
  color: $color-concrete;
  font-size: $size-font * 2 - 2;
  font-weight: 300;  
  margin-bottom: $size-margin * 0.6; 
  ul {
    margin: 0;
  }
  li {
    padding: 0;
  }
  li + li:before {
    content: "/";
    color: $color-silver;
    padding: 0 $size-spacing + 2;
  }
}

.active-approval {
  color: #0051C2
}

.non-location-access-approval {
  color: red;
}

// Login
.com-login {
    padding: $size-margin / 2 0;  
    h4 {
        margin-bottom: $size-margin;
    }
    .form-actions {
        margin-top: $size-margin;
    }
}

// ui.tree
.tree-node-btn {
    margin-right:8px;
}

.tree-node-btn-handle {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height:100px
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


/* --- Tree --- */
.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.tree-node-selected {
    background: #ddddff;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: 10px;
}
.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

// end of ui.tree


// Tree view
.com-treeview {
    .tree-item {
        display: inline-block;
    }
    margin-bottom: $size-margin;
}

treecontrol {
    /* prevent user selection */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: block;    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        border: none;
        overflow: hidden;  
        li {
            position: relative;
            padding: 0 0 0 20px;
            &.tree-expanded, &.tree-collapsed {
                i.tree-leaf-head { display: none; }
                i.tree-branch-head { display: inline; }
            }
            &.tree-leaf {
                i.tree-branch-head { display: none; }
                i.tree-leaf-head { display: inline; }
                .hide-leaf {
                    display: none;
                }
            }
            i:not(.fa) {
                cursor: pointer;
                padding: 0 10px;
            }
            i.fa {
                font-size: $size-font + 2; 
            }
            &.tree-expanded i:not(.fa) { background: url("#{$img-path}/icon-folder.png") no-repeat top left; }
            &.tree-collapsed i:not(.fa) { background: url("#{$img-path}/icon-folder-closed.png") no-repeat top left; }
            &.tree-leaf i:not(.fa) { background: url("#{$img-path}/icon-file.png") no-repeat top left; }
            .tree-label {       
                display: inline;
                line-height: 32px;
                i.user { background: url("#{$img-path}/icon-user.gif") no-repeat top left; }
                i.fav { background: url("#{$img-path}/icon-fav.gif") no-repeat top left; }
                i.knap { background: url("#{$img-path}/icon-knap.gif") no-repeat top left; }
                i.circle-red { background: url("#{$img-path}/icon-circle-red.gif") no-repeat top left; }  
                label {             
                    display: inline;       
                    cursor: pointer;
                }
            }
            .tree-selected {
                label {
                    color: $color-belizehole;
                    font-weight: bold;
                }
            }                 
        }      
    }
    > ul > li {
        padding: 0;   
    }
}

.tree-node-helper {
    background: white;
    border: 1px solid black;
    padding: 3px;
}
    
.tree-node-hover {
    background-color: #ddddff;
}
    
.tree-node-hover-up {
    border-top: 1px solid red;
}
    
.tree-node-hover-down {
    border-bottom: 1px solid red;
}
    
.tree-node-hover-middle {
    border-top: 1px dashed blue;
    border-left: 1px dashed blue;
    border-bottom: 1px dashed blue;
    border-right: 1px dashed blue;
    text-decoration: line-through;
}

// Popover
.popover {
    &.popover-blue {
        border-radius: 0;
        background-color: $color-white;
        border-color: $color-silver;
        padding: 0;
        .popover-title {
            color: $color-white;
            background-color: $color-belizehole;
            border-radius: 0;
            padding: $size-spacing $size-spacing*2;
        }
        .popover-content {
            padding: $size-spacing/2 $size-spacing;
            font-size: 90%;
            ul {
                li {
                    padding: 0 $size-spacing;
                    &.divider {
                        border: 0;
                        border-bottom: 1px dashed $color-clouds;
                        background-color: lighten($color-silver, 5);
                        padding: 0;
                        margin: $size-spacing 0;
                    }
                }
            }
        }        
    }
    &.open {
        display: block;
    }
}

// Modal
.modal-dialog {
    .modal-header {
        padding-top: 10px;
        padding-bottom: 10px; 
    }
    .modal-body { 
        h3, label {
            margin: 0;
        }
        .table {
            tr th {
                font-weight: normal; 
            }
        }
    }
    .scrollable-modal-body{
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    } 
}

// Notification panel
.notifications {
   min-width: 500px;
   background-color:#fff !important;
}

.notification-heading, .notification-footer{
    padding:2px 10px;
}

.notification-menu-title{
    color:#ff7788;
    font-size:1.5rem;
    font-weight:bold;
    display:inline-block;
}

.notification-body{
    overflow:auto;
    max-height:300px;
}

.notifications.divider {
    margin:5px 0;
}

.notifications a.notification-item-content-wrapper {
    text-decoration:none;
    padding: 0 !important;
}

.notification-item-content{
    border-radius:4px;
}

.notification-item-title{
    font-size:1.3rem;
    color:#000;
}

.badge-danger {
  background-color: #d43f3a;
}

.affix {
    max-height: 600px;
    overflow: hidden;  
    overflow-y: scroll;
    background-color: $color-white; 
    padding: $size-spacing*2;
}

// padding
.padding-0-override{
    padding-left:0 !important;
    padding-right:0 !important;
    padding-top:0 !important;
    padding-bottom:0 !important;
}

// d3 tree
.d3-tree-node image {
    cursor: pointer;
}

.d3-tree-node circle {
    cursor: pointer;
    stroke-width: 2px;
    stroke: #009688;
}

.d3-tree-node text {
    font: 12px sans-serif;
    font-weight: bold;
    color: #000;
}

.d3-tree-node-requisition circle {
    fill: #FF8A80;
}

.d3-tree-node-lineitem circle {
    fill: #FFE082;
}

.d3-tree-node-purchaselineitem circle {
    fill: #FFE082;
}

.d3-tree-node-transferlineitem circle {
    fill: #E6EE9C;
}

.d3-tree-node-expenselineitem circle {
    fill: #BCAAA4;
}

.d3-tree-node-pfo circle {
    fill: #EA80FC;
}

.d3-tree-node-pft circle {
    fill: #B39DDB;
}

.d3-tree-node-po circle {
    fill: #64FFDA;
}
.d3-tree-node-transfer circle,
.d3-tree-node-backordered circle {
    fill: #2196F3;
}

.d3-tree-link {
    fill: none;
    stroke: #00243B;
    stroke-width: 3px;
}

.node-legend {
    padding: 5px;
    color: #000;
}

.node-legend-requisition {
    background-color: #FF8A80;
    border: 1px solid #009688;
}

.node-legend-purchaseline {
    background-color: #FFE082;
    border: 1px solid #009688;
}

.node-legend-transferline {
    background-color: #E6EE9C;
    border: 1px solid #009688;
}

.node-legend-expenseline {
    background-color: #BCAAA4;
    border: 1px solid #009688;
}

.node-legend-pfo {
    background-color: #EA80FC;
    border: 1px solid #009688;
}

.node-legend-pft {
    background-color: #B39DDB;
    border: 1px solid #009688;
}

.node-legend-po {
    background-color: #64FFDA;
    border: 1px solid #009688;
}

.node-legend-transfer {
    background-color: #2196F3;
    border: 1px solid #009688;
}

/*svg context menu*/

.svg-menu {
    border: 1px solid #fff;
    color: #000;
    background-color: #fff;
    display: none;
    position: relative;
    -moz-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}

.svg-menu li {
    color: #000;
    padding: 10px;
    display: none;
}

.svg-menu li.circle-menu-title {
    background-color: #90A4AE;
    color:#fff;
    border: 1px solid;
    display: block;
}

.svg-menu li.circle-menu-brief-info {
    background-color: #fff;
    color:#000;
    display: block;
}

.svg-menu li.circle-menu-action {
    background-color: #fff;
    color:#000;
    display: block;
    padding-left: 100px !important;
}

.svg-menu > li.circle:hover {
    background-color: #EEEEEE;
    color: #000;
    cursor: pointer;
}

.svg-menu.circle li.circle {
    display: block;
}

.svg-menu.circle li.circle li {
    display: inline-block;
}

.tracker-context-menu-table {
  width: 250px !important;
  max-width: 250px !important;
}

$spacing: 10px;
section {
  flex: 1;
  &.resizable {
    border-radius: 2px;
    padding: 1.25em 1.75em;
    background: #2e2e2e;
    border: $spacing/2 solid #3C3C3C;
    min-width: 200px;
    max-width: 900px;
    flex: 0 0 300px;
  }
}

// table data grid
.borderless td, .borderless th {
    border: none !important;
}