.navbar {
    background: rgba(238,190,87,0.9);
    position: fixed;
    z-index: 15;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    display: none;
    .brand {
        width: 141px;
        display: block;
        margin: 10px auto;
        img {
            width: 141px;
        }
    }
    .close {
        right: 15px;
        top: 10px;
        z-index: 16;
        position: absolute;
        opacity: 1;
        img {
            width: 25px;
        }
    }
}
.navbar-menu {
    // >> 768
    @media (min-width: 768px) {
        display: none;
    }
    width: 226px;
    padding: 0;
    display: block;
    margin: 0 auto;
    // background: #999;
    text-align: center;
    li {
        list-style-type: none;
        // background: green;
        float: left;
        margin-bottom: 5px;
        a {
            height: 55px;
            width: 226px;
            float: left;
            background-image: url('../images/mobile/bg-menu.png');
            background-size: 451px 480px;
            // transition: transform 0.15s linear;
            &:hover {
                transform: scale(1.025);
            }
            &:focus {
                outline: none;
            }
        }
    }
    .sub-menu {
        padding: 0;
        display: none;
        margin-top: 10px;
        float: left;
        li {
            a {
                @include border-radius(6px);
                padding: 10px 0 8px 0;
                height: auto;
                background: #ff752e;
                font-size: 12px;
                color: #fff;
                font-family: "ShowcardGothic-Reg";
                @include box-shadow(0 2px 5px rgba(0,0,0,0.75));
                text-decoration: none;
            }
        }
    }
    @each $name, $v1, $v2 in
    (trang-chu, 0, 0),
    (doi-qua, 0, -1),
    (the-le, 0, -2),
    (qua-tang, 0, -3),
    (danh-sach, 0, -4),
    (san-choi, 0, -5),
    (ca-nhan, 0, -6),
    (chiase, 0, -7) {
        $v3 : $v2*60px;
        li.#{$name} {
            > a {
                background-position: #{$v1} #{$v3};
            }
        }
        li.#{$name}:hover {
            .sub-menu {
                display: block;
            }
        }
        // li.#{$name}:focus,
        // li.#{$name}:active,
        li.#{$name}.active {
            > a {
                background-position: #{$v1} 0px;
            }
        }
        li.chiase {
            a {
                background-image: url('../images/mobile/bg-menu.png');
                background-position: 0 -424px;
            }
        }
    }
}
