@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin text-shadow($text-shadow) {
    -webkit-text-shadow: #{$text-shadow};
    -moz-text-shadow: #{$text-shadow};
    -ms-text-shadow: #{$text-shadow};
    -o-text-shadow: #{$text-shadow};
    text-shadow: #{$text-shadow};
}

@mixin border-radius($border-radius) {
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    -ms-border-radius: $border-radius;
    -o-border-radius: $border-radius;
    border-radius: $border-radius;
}

@mixin box-shadow($box-shadow) {
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    -ms-box-shadow: $box-shadow;
    -o-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

@mixin opacity($opacity) {
    -webkit-opacity: $opacity;
    -moz-opacity: $opacity;
    -ms-opacity: $opacity;
    -o-opacity: $opacity;
    opacity: $opacity;
}

// display: box, box-pack: center; box-align: center
@mixin display($display) {
    display: -webkit-#{$display};
    display: -moz-#{$display};
    display: -ms-#{$display};
    display: -o-#{$display};
    display: $display;
}
@mixin box-pack($box-pack) {
    -webkit-box-pack: $box-pack;
    -moz-box-pack: $box-pack;
    -ms-box-pack: $box-pack;
    -o-box-pack: $box-pack;
    box-pack: $box-pack;
}
@mixin box-align($box-align) {
    -webkit-box-align: $box-align;
    -moz-box-align: $box-align;
    -ms-box-align: $box-align;
    -o-box-align: $box-align;
    box-align: $box-align;
}
// end display: box, box-pack: center; box-align: center

// cho thang name co border text
$text-shadow-value: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 2px 2px 5px rgba(0,0,0,0.75);

$text-shadow-yellow: 1px 0 0 #ffe400, -1px 0 0 #ffe400, 0 1px 0 #ffe400, 0 -1px 0 #ffe400, 2px 2px 5px rgba(0,0,0,0.75);