// All
.modal {
    &.in {
        @include display(box !important);
        @include box-pack(center);
        @include box-align(center);
    }
    &-img-bottom {
        position: absolute;
        bottom: -55px;
        right: -124px;
    }
    &-img-left {
        position: absolute;
        left: -20px;
        top: 0px;
    }
    &-backdrop {
        background-color: rgba(238,190,87,0.8);
    }
    .close {
        opacity: 1;
        position: absolute;
        transform: rotate(0deg);
        transition: transform;
        transition-duration: 0.25s;
        &:hover {
            transform: rotate(45deg);
        }
        &:focus {
            outline: none;
        }
    }
    &-content {
        height: inherit;
        width: inherit;
        @include box-shadow(none);
        border: none;
    }
    &-body {
        height: inherit;
        width: inherit;
        position: relative;
    }
    .btn-link {
        position: absolute;
        margin: 0 auto;
        right: 0;
        left: 0;
        padding: 0;
        width: 148px;
        height: 66px;
        bottom: -11px;
        &, &:hover, &:focus, &:active {
            outline: none;
        }
    }
}
// End All
// #Modal-Sign-Up
#Modal-Sign-Up,
div.modal-sign-up-window {
    // display: block;
    .close {
        right: -3px;
        top: 57px;
    }

    .modal {
        &-dialog {
            width: 618px;
            height: 525px;
        }

        &-content {
            background: url('../images/bg-popup-sign-up.png') center center no-repeat;
        }

        &-body {
            padding-top: 125px;
        }

        &-img-bottom {
            bottom: -26px;
            right: -109px;
        }
    }

    .form-sign-up {
        .form-group {
            margin-bottom: 12px;
        }

        .control-label {
            color: #fff;
            text-align: left;
            padding-left: 28px;
            padding-right: 0;
        }

        .checkbox {
            text-align: center;

            label {
                color: #fff;
                font-weight: bold;
            }
        }
    }
}
// end #Modal-Sign-Up

// #Modal-Sign-In
#Modal-Sign-In,
div.modal-sign-in-window {
    // display: block;
    .close {
        right: -3px;
        top: 57px;
    }

    .modal {
        &-dialog {
            width: 620px;
            height: 506px;
        }

        &-content {
            background: url('../images/bg-popup-sign-in.png') center center no-repeat;
        }

        &-body {
            padding-top: 165px;
        }

        &-img-bottom {
            bottom: -46px;
            right: -108px;
        }
    }

    .btn-link {
        width: 184px;
        height: 78px;
        bottom: -20px;
    }

    .form-sign-in {
        .form-group {
            margin-bottom: 12px;
        }

        .control-label {
            color: #fff;
            text-align: left;
            padding-left: 40px;
            padding-right: 0;
        }

        .checkbox {
            text-align: center;

            label {
                color: #fff;
                font-weight: bold;
            }
        }

        .info {
            margin-top: 30px;
            color: #603913;
            font-weight: bold;
            padding: 0 30px 0 20px;

            a {
                display: inline-block;
                margin-top: 10px;
                color: #603913;
                text-decoration: underline;
            }
        }
    }
}
// end #Modal-Sign-Up

// #Modal-Nap-Diem
#Modal-Nap-Diem,
#Modal-Khong-Hop-Le,
div.modal-nap-diem-window,
div.modal-khong-hop-le-window {
    // display: block;
    .close {
        right: -13px;
        top: -8px;
    }

    .modal {
        &-dialog {
            width: 445px;
            height: 320px;
        }

        &-content {
            background: url('../images/bg-popup-nap-diem.png') center center no-repeat;
        }
    }

    .img-cards {
        position: relative;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: -90px;
        text-align: center;
        width: 130px;
        height: 195px;

        &:after {
            width: 130px;
            height: 190px;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            transform: rotate(5deg);
            @include box-shadow(0 0 25px #ffe400);
            @include border-radius(14px);
            z-index: 1;
        }

        img {
            z-index: 2;
            position: relative;
            width: 100%;
            transform: rotate(5deg);
            @include border-radius(14px);
            border: 3px solid #ffe400;
        }
    }

    .info {
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        padding: 0 60px;
        width: 420px;
        margin: -50px auto 0 auto;
        text-align: center;
    }

    .point {
        font-family: "ShowcardGothic-Reg";
        color: #ffe400;
        font-size: 24px;
    }
}
// end #Modal-Nap-Diem

// #Modal-Confirm
#Modal-Confirm,
div.modal-confirm-window {
    .close {
        right: 15px;
        top: 10px;
    }

    .modal {
        &-dialog {
            width: 662px;
            height: 501px;
        }

        &-content {
            background: url('../images/bg-popup-xacnhan-big.png') center center no-repeat;
        }

        &-img-bottom {
            right: -75px;
            bottom: -50px;
        }
    }

    .form-confirm {
        .form-group {
            margin-bottom: 13px;
        }

        .control-label {
            color: #fff;
            text-align: left;
            padding-left: 60px;
            padding-right: 0;
        }

        .info {
            margin-top: 40px;
            color: #fff;
            font-weight: bold;
            padding-left: 60px;
        }
    }
}
// end #Modal-Confirm

// #Modal-Confirm-Info
#Modal-Confirm-Info,
#Modal-Confirm-Info-Doi-Ma,
div.modal-confirm-info-window,
div.modal-confirm-info-doi-ma-window,
div.modal-confirm-info-doi-qua-window {
    .close {
        right: -5px;
        top: -3px;
    }

    .modal {
        &-dialog {
            width: 569px;
            height: 392px;
        }

        &-content {
            background: url('../images/bg-popup-xacnhan.png') center center no-repeat;
        }

        &-img-bottom {
            right: -120px;
            bottom: -50px;
        }

        &-body {
            @include display(box !important);
            @include box-pack(center);
            @include box-align(center);
            padding: 0 100px;
            text-align: center;
        }
    }

    .info {
        margin-top: -50px;
        color: #fff;
        font-weight: bold;
    }
}
// end #Modal-Confirm-Info

// #Modal-Confirm-Info-Doi-Ma
#Modal-Confirm-Info-Doi-Ma,
div.modal-confirm-info-doi-ma-window {
    .modal {
        &-body {
            padding: 0 128px;
        }
    }

    .info {
        margin-top: 0;
    }

    .code {
        margin-top: 8px;
        font-family: "ShowcardGothic-Reg";
        color: #fef001;
        font-size: 30px;
    }
}
// #End Modal-Confirm-Info-Doi-Ma

// Modal-Kho-Chien-Cong-None-Gifts
#Modal-Kho-Chien-Cong,
#Modal-Kho-Chien-Cong-None-Gifts {
    .close {
        top: 60px;
        right: 4px;
    }
    .modal {
        &-dialog {
            width: 772px;
            height: 592px;
        }
        &-content {
            background: url('../images/bg-popup-kho-chien-cong.png') center center no-repeat;
        }
        &-body-scroll {
            width: 570px;
            height: 370px;
            padding-right: 30px;
            margin: 0 auto;
            overflow: hidden;
            // background: #ddd;
            top: 130px;
            position: relative;
            text-align: center;
            .box-gifts {
                margin-top: 60px;
            }
            .box-gifts-body-info {
                width: 450px;
                margin: 30px auto 0 auto;
                padding: 0;
                line-height: 1.2em;
            }
        }
        &-img-bottom {
            bottom: -36px;
            right: -120px;
        }
    }
    .ps-scrollbar-y-rail {
        height: 270px !important;
    }
}
// end Modal-Kho-Chien-Cong-None-Gifts

// Modal-Game-None-Add-Point
#Modal-Game-Add-Point,
#Modal-Game-None-Add-Point {
    .close {
        right: 3px;
        top: -5px;
    }
    .modal {
        &-dialog {
            width: 739px;
            height: 418px;
        }
        &-content {
            background: url('../images/bg-popup-game-739x418.png') center center no-repeat;
        }
        &-img-bottom {
            bottom: -45px;
            right: -117px;
        }
    }
    .img-cards {
        position: relative;
        margin: 45px auto 15px auto;
        text-align: center;
        width: 100px;
        height: 150px;
        &:after {
            width: 100px;
            height: 147px;
            display: inline-block;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            content: "";
            @include border-radius(14px);
            @include box-shadow(0 0 25px #ffe400);
        }
        img {
            z-index: 2;
            top: 0;
            position: relative;
            width: 100%;
            @include border-radius(14px);
            border: 3px solid #ffe400;
        }
    }
    .info {
        margin-top: 30px;
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        padding: 0 30px 0 20px;
        width: 420px;
        margin: 0 auto;
        text-align: center;
    }
    .point {
        font-family: "ShowcardGothic-Reg";
        color: #ffe400;
        font-size: 24px;
    }
}
#Modal-Game-None-Add-Point {
    .img-cards {
        &:after {
            z-index: 2;
            background: rgba(0,0,0,0.5);
            @include box-shadow(none);
        }
        img {
            z-index: 1;
            border: 3px solid #000;
        }
    }
    .modal {
        &-img-left {
            display: none;
        }
    }
}
// end Modal-Game-None-Add-Point


// #Modal-Huong-Dan
#Modal-Huong-Dan {
    // display: block;
    h4.modal-title {
        font-size: 19px;
    }
    .modal {
        &-title {
            font-weight: bold;
        }
        &-dialog {
            width: 924px;
            height: 482px;
        }
        &-content {
            background: url('../images/bg-popup-huongdan-924x482.png') center center no-repeat;
        }
        &-body-scroll {
            font-weight: bold;
            width: 710px;
            height: 276px;
            padding-right: 30px;
            margin: 0 auto;
            overflow: hidden;
            // background: #ddd;
            top: 90px;
            position: relative;
            color: #fff;
        }
        &-img-bottom {
            bottom: -46px;
            right: -108px;
        }
    }
    .btn-link {
        width: 200px;
        height: 101px;
        bottom: -40px;
    }
    .ps-scrollbar-y-rail {
        height: 276px !important;
    }
}
// end #Modal-Huong-Dan

#Modal-The-Le {
    // display: block;
    .modal {
        &-dialog {
            width: 1118px;
            height: 544px;
        }
        &-content {
            background: url('../images/bg-popup-thele-1118x544.png') center center no-repeat;
        }
        &-body-scroll {
            width: 800px;
            height: 276px;
            padding-right: 30px;
            margin: 0 auto;
            overflow: hidden;
            // background: #ddd;
            top: 90px;
            position: relative;
            font-size: 18px;
            color: #fff;
            .info-title {
                font-size: 14px;
                color: #fff;
                font-style: italic;
                text-align: center;
                width: 580px;
                margin: 0 auto;
            }
        }
        &-img-bottom {
            bottom: -5px;
            right: -40px;
        }
    }
    .modal-group-btn {
        float: left;
        width: 100%;
        text-align: center;
        position: relative;
        top: 57px;
        .btn-link {
            display: inline-block;
            width: auto;
            &:hover {
                text-decoration: none;
            }
            margin: 0 10px;
            & + .btn-link {
                margin-top: 5px;
            }
        }
    }
    .btn-link {
        position: relative;
        bottom: auto;
    }
    .ps-scrollbar-y-rail {
        height: 276px !important;
    }
}

.modal-thach-dau {
    // display: block;
    .modal {
        &-dialog {
            width: 444px;
            height: 319px;
        }

        &-body {
            padding-top: 100px;
        }

        &-content {
            background: url('../images/tham-gia.png') center center no-repeat;

            .close {
                right: 0;
                top: -10px;
            }

            .user-thach-dau {
                font-size: 33px;
                font-weight: bold;
                text-transform: uppercase;
                color: #fee40b;
                text-align: center;
            }

            .msg-thach-dau {
                text-align: center;
                font-size: 20px;
                color: #fff;
                font-weight: bold;
            }
        }

        &-footer {
            padding: 0;
            text-align: center;
            border-top: 0;
            margin-top: -50px;

            a {
                padding: 0;
            }
        }
    }

    .btn-link {
        position: relative;
        bottom: auto;
    }
}

// #Modal-Lucky-Draw-Tool
#Modal-Lucky-Draw-Tool {
    // display: block;
    .close {
        right: -3px;
        top: 57px;
    }

    .modal {
        &-dialog {
            width: 1139px;
            height: 590px;
        }

        &-content {
            background: url('../images/lucky-draw-tool/bg-dialog-lucky-draw.png') center center no-repeat;
        }

        &-body {
            padding-left: 60px;
            padding-right: 70px;
        }

        &-img-bottom {
            bottom: -46px;
            right: -108px;
        }
    }

    .modal-custom-header {
        padding: 0px;
        border-bottom: none;
    }

    .btn-link {
        width: 184px;
        height: 78px;
        bottom: -20px;
    }

    .btn-small {
        -webkit-transform: scale(.65);
        -moz-transform: scale(.65);
        -ms-transform: scale(.65);
        -o-transform: scale(.65);
        transform: scale(.65);
        padding: 0 !important;
    }

    .week-dropdown {
        width: 617px;
        height: 71px;
        margin: 0 auto;
        background: url('../images/lucky-draw-tool/bg-week-dropdown.png') center center no-repeat;
    }

    .week-dropdown select {
        width: 520px;
        margin-top: 10px;
        margin-left: 40px;
        color: #fff;
        font-size: 30px;
        font-family: "DINRoundOT";
        background: none;
        padding: 13px 0 5px 0;
        line-height: 1em;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        outline: none;
        text-align: center;
        text-align-last: center;
    }

    .week-dropdown option {
        text-align: left;
        color: brown;
    }

    .user-table-container {
        float: left;
        position: relative;
        width: 1000px;
        height: 350px;
    }

    .winner-table-header-container {
        float: left;
        font-style: normal;
    }

    .winner-table-container {
        float: left;
        position: relative;
        width: 1000px;
        height: 400px;
    }

    .user-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        border-spacing: 15px;
        background-color: transparent;
        border-collapse: collapse;
        font-family: DINRoundOT;
        font-size: 15px;
    }

    .user-table thead {
        color: #fff;
    }

    .user-table tbody {
        color: #fff;
        font-weight: bold;
    }

    .user-table th {
        padding: 5px;
        background-color: orange;
        text-transform: uppercase;
    }

    .user-table td {
        padding: 5px;
    }

    .header-border-right {
        /*border-right: 2px solid #fff;*/
    }

    .column-border-right {
        /*border-right: 1px solid #fff;*/
    }

    .column-border-bottom {
        border-bottom: 1px solid #fff;
    }

    .col-padding-right {
        padding-right: 5px;
    }

    .text-desc {
        color: #fff;
        font-size: 17px;
        font-weight: bold;
        font-family: DINRoundOT;
        padding-right: 30px;
        /*padding-top: 40px;*/
    }

    .user-table-pagination {
        margin-left: 100px;
    }

    .pagination-none-background {
        > li {
            > a {
                background: none;
                border: none;
                color: #fff;
                font-size: 17px;
                font-family: "DINRoundOT";
                margin: 0 10px;

                &:hover {
                    background: none;
                    color: #ffe400;
                }
            }

            &.active,
            &.disabled {
                > a {
                    background: none;
                    color: #ffe400;

                    &:hover {
                        background: none;
                        color: #ffe400;
                    }
                }
            }
        }
    }

    div.custom-table-header {
        float: left;
        color: #fff;
        font-weight: bold;
        background-color: orange;
        text-transform: uppercase;
        font-size: 17px;
        /*padding-bottom: 5px;*/
    }

    div.user-header-col-stt {
        width: 43px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-left: 5px;
    }

    .user-col-stt {
        width: 43px;
    }

    .user-col-stt-lg {
        width: 43px;
    }

    div.user-header-col-stt-lg {
        width: 43px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-left: 5px;
    }

    div.user-header-col-name {
        width: 193px;
        text-align: center;
    }

    .user-col-name {
        width: 193px;
        text-align: center;
    }

    .user-col-name-lg {
        width: 273px;
        text-align: center;
    }

    div.user-header-col-name-lg {
        width: 273px;
        text-align: center;
    }

    div.user-header-col-address {
        width: 180px;
        text-align: center;
    }

    .user-col-address {
        width: 180px;
    }

    .user-col-address-lg {
        width: 300px;
    }

    div.user-header-col-address-lg {
        width: 300px;
        text-align: center;
    }

    div.user-header-col-phone {
        width: 148px;
        text-align: center;
    }

    .user-col-phone {
        width: 148px;
    }

    .user-col-phone-lg {
        width: 170px;
    }

    div.user-header-col-phone-lg {
        width: 248px;
        text-align: center;
    }

    div.user-header-col-code {
        width: 72px;
        text-align: center;
    }

    .user-col-code {
        width: 72px;
    }

    .user-col-code-lg {
        width: 115px;
    }

    div.user-header-col-code-lg {
        width: 72px;
        text-align: center;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-right: 5px;
    }

    div.user-header-col-prize {
        width: 72px;
        text-align: center;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-right: 5px;
    }

    .user-col-prize {
        width: 72px;
    }

    div.user-header-col-action {
        width: 280px;
    }

    .user-col-action {
        width: 270px;
    }

    .user-col-empty {
        width: 10px;
    }

    .user-row {
        height: 68px;
    }

    table tr:last-child td {
        border-bottom: none !important;
    }

    .visible-xlg-block {
        display: none !important;
    }

    .lucky-draw-toolbar {
        text-align: center;

        li {
            display: inline;
        }
    }

    .user-line-action-toolbar {
        width: 220px;
        margin: 0;
        padding: 0;

        li {
            display: inline;
            width: 110px;
            margin: 0;
            padding: 0;
        }
    }

    .winner-list-total-count {
        position: relative;
        bottom: 30px;
        right: 400px;
    }

    .img-calcheese-box-bottom {
        position: relative;
        bottom: 180px;
        left: -150px;
    }

    .btn-custom-exit {
        padding-left: 40px;
    }

    @media screen and (min-width:1200px) and (max-width:1299px) {
        .visible-xlg-block {
            display: block !important;
        }

        .modal-right-side-bar {
            position: relative;
            float: right;
            top: -600px;
            right: -100px;

            img {
                -webkit-transform: scale(.65);
                -moz-transform: scale(.65);
                -ms-transform: scale(.65);
                -o-transform: scale(.65);
                transform: scale(.65);
            }
        }

        .hidden-xlg {
            display: none !important;
        }
    }

    @media screen and (min-width:1300px) and (max-width:1499px) {
        .visible-xlg-block {
            display: block !important;
        }

        .modal-right-side-bar {
            position: relative;
            float: right;
            top: -600px;
            right: -60px;

            img {
                -webkit-transform: scale(.75);
                -moz-transform: scale(.75);
                -ms-transform: scale(.75);
                -o-transform: scale(.75);
                transform: scale(.75);
            }
        }

        .hidden-xlg {
            display: none !important;
        }
    }

    @media screen and (min-width:1500px) {
        .visible-xlg-block {
            display: block !important;
        }

        .modal-right-side-bar {
            position: relative;
            float: right;
            top: -600px;
            right: 0px;
        }

        .hidden-xlg {
            display: none !important;
        }

        img {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
        }
    }

    @media screen and (min-width:1600px) {
        .modal-right-side-bar {
            position: relative;
            float: right;
            top: -600px;
            right: 50px;
        }

        .hidden-xlg {
            display: none !important;
        }
    }

    @media screen and (min-width:1700px) {
        .modal-right-side-bar {
            position: relative;
            float: right;
            top: -600px;
            right: 100px;
        }

        .hidden-xlg {
            display: none !important;
        }
    }
}
// end #Modal-Lucky-Draw-Tool

// #Modal-Lucky-Draw-Tool
div.modal-quay-so-window {

    .close {
        right: -3px;
    }

    .modal {
        &-dialog {
            width: 1139px;
            height: 600px;
        }

        &-content {
            background: url('../images/lucky-draw-tool/bg-quay-so-modal.png') center center no-repeat;
            background-size: 1139px auto;
        }

        &-body-quayso {
            width: 400px;
            height: 450px;
            padding-left: 90px;
            margin: 0 auto;
            overflow: hidden;
            top: 90px;
            position: relative;
            font-size: 18px;
            color: #fff;
            float: left;
        }

        &-body-scroll {
            width: 600px;
            height: 450px;
            padding-right: 30px;
            margin: 0 auto;
            overflow: hidden;
            top: 90px;
            position: relative;
            font-size: 18px;
            color: #fff;

            .info-title {
                font-size: 14px;
                color: #fff;
                font-style: italic;
                text-align: right;
                width: 580px;
                margin: 0 auto;
            }
        }

        &-img-bottom {
            bottom: -46px;
            right: -108px;
        }
    }

    .btn-link {
        position: relative;
        bottom: auto;
        padding-left: 45px;
    }

    h3 {
        color: #fff;
        font-family: DINRoundOT;
        font-weight: bold;
        font-style: normal;
    }

    .lucky-draw-modal-gift-image {
        margin-left: 50px;
    }

    .lucky-draw-number-list {
        li {
            display: inline-block;
            padding-right: 5px;
        }
    }

    .lucky-draw-number-box {
        border: 3px solid #777;
        border-radius: 4px;
        width: 40px;
        height: 40px;
        color: #c41230;
        text-align: center;
        font-family: DINRoundOT;
        font-size: larger;
        font-weight: bold;
    }

    .lucky-draw-winner-user-list-container {
        float: left;
        position: relative;
        width: 580px;
        height: 300px;

        table {
            width: 100%;
        }

        td {
            vertical-align: top;
        }
    }

    .winner-table-header-container {
        float: left;
        font-style: normal;
    }

    div.custom-table-header {
        float: left;
        color: #fff;
        font-weight: bold;
        background-color: orange;
        text-transform: uppercase;
        font-size: 15px;
        /*padding-bottom: 5px;*/
    }

    .user-row {
        height: 68px;
    }

    div.user-header-col-stt {
        width: 43px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-left: 5px;
    }

    .user-col-stt {
        width: 43px;
    }

    div.user-header-col-name {
        width: 150px;
        text-align: center;
    }

    .user-col-name {
        width: 150px;
        text-align: center;
    }

    div.user-header-col-address {
        width: 170px;
        text-align: center;
    }

    .user-col-address {
        width: 170px;
    }

    div.user-header-col-phone {
        width: 125px;
        text-align: center;
    }

    .user-col-phone {
        width: 125px;
    }

    div.user-header-col-code {
        width: 65px;
        text-align: center;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-right: 5px;
    }

    .user-col-code {
        width: 72px;
    }

    .user-col-empty {
        width: 20px;
    }

    .column-border-bottom {
        border-bottom: 1px solid #fff;
    }

    .lucky-draw-result-item {
        color: #fff;
        font-family: DINRoundOT;
        font-weight: bold;
        font-style: normal;
        font-size: 15px;
    }

    table tr:last-child td {
        border-bottom: none!important;
    }

    .img-calcheese-box-bottom-modal {
        position: relative;
        bottom: 30px;
        left: -40px;
    }
}
// end #Modal-Lucky-Draw-Tool