// Color
$color-white: #ffffff;
$color-black: #000000;
// Gray
$color-clouds: #ecf0f1;
$color-silver: #bdc3c7;
// $color-concrete: #95a5a6;
$color-concrete: #8f8c8a;
$color-asbestos: #7f8c8d;
// Red
$color-pomegranate: #c41230;
$color-alizarin: #e74c3c;
// Cyan
$color-greensea: #34715b;
$color-torquoise: #1abc9c;
// Green
$color-nephritis: #27ae60;
$color-emerlad: #2ecc71;
// Blue
$color-belizehole: #00243b;
$color-peterriver: #1680c3;  
// Dark blue
$color-midnightblue: #2c3e50;
$color-wetasphalt: #34495e;
// Yellow
$color-orange: #f39c12;
$color-sunflower: #f1c40f;
// Orange
$color-pumpkin: #d35400;
$color-carrot: #e67e22;
// Pupple
$color-wisteria: #8e44ad;
$color-amethyst: #9b59b6;

// Color link & text
$color-link: $color-belizehole;
$color-link-alt: $color-peterriver;
$color-text: #333333;
$color-text-alt: $color-concrete; 

// Array of colors: main & alternative
$color-array-main: 'concrete', 'pomegranate', 'greensea', 'nephritis', 'belizehole', 'midnightblue', 'orange', 'pumpkin', 'silver', 'wisteria', 'asbestos';
$color-array-main-value: $color-concrete, $color-pomegranate, $color-greensea, $color-nephritis, $color-belizehole, $color-midnightblue, $color-orange, $color-pumpkin, $color-silver, $color-wisteria, $color-asbestos;
$color-array-alt: 'asbestos', 'alizarin', 'torquoise', 'emerlad', 'peterriver', 'wetasphalt', 'sunflower', 'carrot', 'clouds', 'amethyst', 'concrete';
$color-array-alt-value: $color-asbestos, $color-alizarin, $color-torquoise, $color-emerlad, $color-peterriver, $color-wetasphalt, $color-sunflower, $color-carrot, $color-clouds, $color-amethyst, $color-concrete;

// Size
$size-font: 14px;
$size-sidebar: 256px;
$size-margin: 20px;
$size-margin-small: 15px;
$size-spacing: 8px;

// Path
$img-path: "images";