﻿<div class="modal-content" style="background-color:#f0ffff;">
    <div class="modal-body">
        <form class="form-horizontal form-change-password">

            <div class="form-group">
                <div class="text-center info col-sm-offset-1 col-sm-9">
                    Thay đổi mật khẩu người dùng {{modalCtrl.model.UserNameToChangePassword}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-offset-1 col-sm-4 control-label">Mật khẩu hiện tại:</label>
                <div class="col-sm-7">
                    <div class="form-group">
                        <input type="password" class="form-control" ng-model="modalCtrl.model.CurrentPassword" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-offset-1 col-sm-4 control-label">Mật khẩu mới:</label>
                <div class="col-sm-7">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Ít nhất 8 ký tự" maxlength="32" 
                               ng-model="modalCtrl.model.Password" required
                               autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="text-center col-sm-offset-3 col-sm-9" ng-if="modalCtrl.model.PasswordError || modalCtrl.model.PasswordLengthError">
                <p class="info" ng-if="modalCtrl.model.PasswordError">{{modalCtrl.model.PasswordError}}</p>
                <p class="info" ng-if="modalCtrl.model.PasswordLengthError">{{modalCtrl.model.PasswordLengthError}}</p>
            </div>
            <div class="form-group">
                <label class="col-sm-offset-1 col-sm-4 control-label">Xác nhận mật khẩu mới:</label>
                <div class="col-sm-7">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Giống mật khẩu" 
                               ng-model="modalCtrl.model.PasswordConfirmation" required
                               autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="text-center col-sm-offset-3 col-sm-9" ng-if="modalCtrl.model.PasswordConfirmationError || modalCtrl.model.PasswordConfirmationMatchError">
                <p class="info" ng-if="modalCtrl.model.PasswordConfirmationError">{{modalCtrl.model.PasswordConfirmationError}}</p>
                <p class="info" ng-if="modalCtrl.model.PasswordConfirmationMatchError">{{modalCtrl.model.PasswordConfirmationMatchError}}</p>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.cancel()">
            Close
        </button>
        <button type="button" class="btn btn-primary" ng-click="modalCtrl.doChangePassword()">Change Password</button>
    </div>
</div>