﻿//- COMMON FORM FUNCTIONS
extends ../includes/layout-detail-ctrl

//-- Form variables
block var
    - var formTitle = "{{ ctrl.isNewRecord ? 'New' : 'Update' }}"
    - var backLink = "{{ ctrl._router.USER_LIST }}"

mixin _userCardInfo
    .row
        .col-lg-12.col-md-12.col-sm-12
            | Tổng số điểm đổi từ thẻ {{ctrl.model.TotalPointFromExchangeCode}}
    .row
        .col-lg-12.col-md-12.col-sm-12
            table.table
                thead
                    tr
                        th #
                        th Điểm Thẻ
                        th Thẻ
                        th Ngày Có Thẻ
                        th Mã Code
                        th Nguồn Thẻ
                tbody
                    tr(ng-repeat="card in ctrl.model.UserCardCollections | orderBy : 'Id' : true ")
                        td {{$index + 1}}
                        td 
                            span.label.label-nephritis {{card.CardPoint}}
                        td
                            img(ng-src="{{ 'https://storagecalcheeseprod.blob.core.windows.net/images/' + card.PokeCard.ImageUrl}}" width="92")
                        td {{card.CreatedDate | date : 'medium' }}
                        td {{card.CouponCode}}
                        td {{card.SourceOfCard}}

mixin _userUsedCouponCode
    .row
        .col-lg-12.col-md-12.col-sm-12
            button.btn.btn-default(ng-click="ctrl.getUserUsedCouponCodes()") Tải Dữ Liệu
    .row
        .col-lg-12.col-md-12.col-sm-12
            table.table
                thead
                    tr
                        th #
                        th Mã
                        th Ngày Sử Dụng
                        th Ip
                        th Thiết Bị
                        th Điểm
                tbody
                    tr(ng-repeat="code in ctrl.userAllUsedCouponCodes")
                        td {{$index + 1}}
                        td
                            span.label.label-nephritis {{code.CouponCode}}
                        td {{code.CreatedDate | date : 'medium'}}
                        td {{code.ClientIpAddress}}
                        td {{code.ClientInfo}}
                        td
                            span.label.label-nephritis {{code.CodePoint}}

mixin _userLuckyDrawCode
    .row
        .col-lg-12.col-md-12.col-sm-12
            | Tổng số điểm đổi mã may mắn {{ctrl.model.UserLuckyDrawCodes.length * 10}}
    .row
        .col-lg-12.col-md-12.col-sm-12
            table.table
                thead
                    tr
                        th #
                        th Tuần
                        th Mã
                        th Ngày Tạo
                tbody
                    tr(ng-repeat="code in ctrl.model.UserLuckyDrawCodes")
                        td {{$index + 1}}
                        td 
                            span.label.label-nephritis {{code.WeekNumber}}
                        td 
                            span.label.label-nephritis {{code.LuckyDrawCode}}
                        td {{code.CreatedDate | date : 'medium'}}

mixin _userGiftItems
    .row
        .col-lg-12.col-md-12.col-sm-12
            | Tổng số điểm dùng đổi quà {{ctrl.model.TotalPointUsedForGiftRedeem}}
    .row
        .col-lg-12.col-md-12.col-sm-12
            table.table
                thead
                    tr
                        th #
                        th Quà
                        th Hình
                tbody
                    tr(ng-repeat="gift in ctrl.model.UserInventories")
                        td {{$index + 1}}
                        td 
                            span.label.label-nephritis {{gift.Name}}
                        td
                            img(ng-src="{{ 'Content/images/gifts/' + gift.ImageUrl}}")
mixin _gameHistory
    .row
        .col-lg-12.col-md-12.col-sm-12
            button.btn.btn-default(ng-click="ctrl.loadUserGameHistories()") Tải Dữ Liệu
    .row
        .col-lg-12.col-md-12.col-sm-12
            table.table
                thead
                    tr
                        th #
                        th Đấu với
                        th Ngày
                        th Điểm Thắng
                        th Điểm Thua
                        th Tổng Điểm
                tbody
                    tr(ng-repeat="game in ctrl.userGameHistories")
                        td {{$index + 1}}
                        td {{game.OpponentUserName}}
                        td {{game.CreatedDate | date : 'medium'}}
                        td 
                            span.label.label-nephritis {{game.WinPoints }}
                        td 
                            span.label.label-pomegranate {{game.LostPoints }}
                        td
                            span.label.label-belizehole {{game.TotalPoints }}

mixin _activityHistory
    .row
        .col-lg-12.col-md-12.col-sm-12
            button.btn.btn-default(ng-click="ctrl.loadUserActivityHistories()") Tải Dữ Liệu
    .row
        .col-lg-12.col-md-12.col-sm-12
            table.table
                thead
                    tr
                        th #
                        th Tên Đăng Nhập
                        th Ngày Hoạt Động
                        th Hành Động
                        th Chi Tiết
                        th Ip
                        th Thiết Bị
                tbody
                    tr(ng-repeat="item in ctrl.userActivityHistories")
                        td {{$index + 1}}
                        td {{item.UserName}}
                        td {{item.CreatedAt | date : 'medium'}}
                        td {{item.Action }}
                        td {{item.ActionDetail }}
                        td {{item.ClientIpAddress }}
                        td {{item.ClientInfo }}

//-- Form actions
block formButton
    button.btn.btn-nephritis(type="button" ng-click="ctrl.ok()" ng-disabled="ctrl.isUnchanged(ctrl.model) || ctrl.invalidForm()")
        +iconText("reply", "Save and Close")
    button.btn.btn-pomegranate(type="button" ng-click="ctrl.destroy()" ng-if="ctrl.canDeleteUser")
        +iconText("ban", "Delete")

//-- Form content
block formContent
    .row
        .col-lg-3.col-md-4.col-sm-4
            +fieldBlock("Tên đăng nhập", "ctrl.model.UserName", "Application User", true)(ng-disabled="!ctrl.model.canEditUserName" focus-me="ctrl.binding.focusUserName")
        .col-lg-3.col-md-4.col-sm-4
            +fieldBlock("Mật khẩu", "ctrl.model.Password", "********", true)(type="password")
        .col-lg-3.col-md-4.col-sm-4
            +fieldBlock("Xác nhận mật khẩu", "ctrl.model.PasswordConfirmation", "********")(type="password")
    .row
        .col-lg-3.col-md-4.col-sm-6
            +fieldBlock("Tên", "ctrl.model.FirstName")
        .col-lg-3.col-md-4.col-sm-6
            +fieldBlock("Họ", "ctrl.model.LastName")
        .col-lg-3.col-md-4.col-sm-6
            +fieldBlock("Email", "ctrl.model.Email")
        .col-lg-3.col-md-4.col-sm-6
            +fieldBlock("Điện thoại", "ctrl.model.PhoneNumber")
    .row
        .col-lg-12.col-md-12.col-sm-12
            +fieldBlock("Địa chỉ", "ctrl.model.Address")
    .row
        .col-lg-12.col-md-12.col-sm-12
            .form-group
                select.form-control(style="width:50%; display:inline" ng-model="ctrl.binding.currentRole")
                    option(value="") ----
                    option(value="Administrator") Quản trị hệ thống
                    option(value="NormalUser") Người chơi
                    option(value="LuckyDrawManager") Lucky Draw
                    option(value="TestUser") Test
                button.btn(type="button" ng-click="ctrl.addRole()") Thêm
            .table-responsive
                table.table.table-hover
                    thead
                        tr
                            th #
                            th Quyền truy cập
                            th --
                    tbody
                        tr(ng-repeat="item in ctrl.model.UserRoles")
                            td {{$index + 1}}
                            td {{item.Name}}
                            td 
                                a.text-danger(ng-click="ctrl.removeRole(item)") Xóa
    .row
        .col-lg-12.col-md-12.col-sm-12
            uib-tabset
                uib-tab(heading="Thẻ")
                    +_userCardInfo
                uib-tab(heading="Mã Coupon Đã Sử Dụng")
                    +_userUsedCouponCode
                uib-tab(heading="Mã may mắn")
                    +_userLuckyDrawCode
                uib-tab(heading="Quà")
                    +_userGiftItems
                uib-tab(heading="Lịch Sử Game")
                    +_gameHistory
                uib-tab(heading="Lịch Sử Hoạt Động")
                    +_activityHistory