﻿extends ../includes/layout-listing-ctrl

//-- Filter conditions
block filter
    .row
        .col-lg-3.col-sm-3
            +fieldBlock("User Name", "ctrl.request.params.UserName")
        .col-lg-3.col-sm-3
            +fieldBlock("Full Name", "ctrl.request.params.FullName")
        .col-lg-3.col-sm-3
            +fieldBlock("Phone Number", "ctrl.request.params.PhoneNumber")

//-- List actions
block listingActions
    .btn-group
        a.btn.btn-belizehole(ui-sref="{{ctrl._router.USER_DETAIL}}({Id: 'new'})")
            +iconText("plus", "Tạo User")
        a.btn.btn-belizehole(ng-click="ctrl.changePassword()")
            +iconText("edit", "Đổi Mật Khẩu Của Tôi")
        a.btn.btn-belizehole(ng-if="false" ng-click="ctrl.exportLuckyDrawUser()")
            +iconText("edit", "Xuất Danh Sách Dự Thưởng")
    .btn-group.pull-right
        a.btn.btn-belizehole(ui-sref="{{ctrl._router.DASHBOARD}}")
            +iconText("chevron-left", "Trở Về Dashboard")

//-- Listing table
block listingTable
    .table-responsive
        table.table
            thead
                tr
                    th #
                    th
                        a(ng-click="ctrl._sort('UserName', ctrl.request.params.OrderAsc)") 
                            span User Name
                            i.fa.fa-caret-up(ng-if="ctrl.request.params.OrderBy === 'UserName' && ctrl.request.params.OrderAsc === true")
                            i.fa.fa-caret-down(ng-if="ctrl.request.params.OrderBy === 'UserName' && ctrl.request.params.OrderAsc === false")
                    th 
                        a(ng-click="ctrl._sort('FullName', ctrl.request.params.OrderAsc)") 
                            span Full Name
                            i.fa.fa-caret-up(ng-if="ctrl.request.params.OrderBy === 'FullName' && ctrl.request.params.OrderAsc === true")
                            i.fa.fa-caret-down(ng-if="ctrl.request.params.OrderBy === 'FullName' && ctrl.request.params.OrderAsc === false")
                    th Email 
                    th Phone Number
                    th.text-center 
                        a(ng-click="ctrl._sort('TotalPoint', ctrl.request.params.OrderAsc)") 
                            span Total Points
                            i.fa.fa-caret-up(ng-if="ctrl.request.params.OrderBy === 'TotalPoint' && ctrl.request.params.OrderAsc === true")
                            i.fa.fa-caret-down(ng-if="ctrl.request.params.OrderBy === 'TotalPoint' && ctrl.request.params.OrderAsc === false")
                    th Thao Tác
            tbody
                tr(ng-repeat="item in ctrl.result.ResultSet" ng-class="{'active': item.Active !== undefined && !item.Active}")
                    td {{(ctrl.result.PageNumber - 1) * ctrl.result.PageSize + $index + 1}}
                    td
                        a(ui-sref="{{ctrl._router.USER_DETAIL}}({Id: \"{{item.Id}}\"})") {{item.UserName}}
                    td {{ item.FirstName }} {{item.LastName}}
                    td {{item.Email}}
                    td {{item.PhoneNumber}}
                    td.text-center
                        span.label.label-nephritis {{item.TotalPoint}}
                    td
                        button.btn.btn-primary(ng-if="ctrl.userCanSetPassword()" ng-click="ctrl.setUserPassword(item.UserName)") Đặt Mật Khẩu