﻿<div class="modal-content" style="background-color:#f0ffff;">
    <div class="modal-body">
        <form class="form-horizontal form-change-password">

            <div class="form-group">
                <label class="col-sm-offset-1 col-sm-4 control-label">Tuần:</label>
                <div class="col-sm-7">
                    <div class="form-group">
                        <select ng-model="modalCtrl.selectedWeekNumber">
                            <option value="1">Tuần 1</option>
                            <option value="2">Tuần 2</option>
                            <option value="3">Tuần 3</option>
                            <option value="4">Tuần 4</option>
                            <option value="5">Tuần 5</option>
                            <option value="6">Tuần 6</option>
                            <option value="7">Tuần 71</option>
                            <option value="8">Tuần 8</option>
                            <option value="9">Tuần 9</option>
                            <option value="10">Tuần 10</option>
                            <option value="11">Tuần 11</option>
                            <option value="12">Tuần 12</option>
                            <option value="13">Tuần 13</option>
                        </select>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.cancel()">
            Cancel
        </button>
        <button type="button" class="btn btn-primary" ng-click="modalCtrl.doExport()">Export</button>
    </div>
</div>