﻿form(role="form" name="modalForm")
    .modal-header
        h3.modal-title Đăng nhập
    .modal-body
        h5.text-center.text-danger(ng-if="modalCtrl.model.errors" ng-bind="modalCtrl.model.errors")
        div(ng-if="!modalCtrl.model.errors")
            .row
                .col-lg-3.col-md-6
                    label Tên đăng nhập
                    input.form-control(type="text" ng-model="modalCtrl.model.UserName")
            .row
                .col-lg-3.col-md-6
                    label Mật khẩu
                    input.form-control(type="text" ng-model="modalCtrl.model.Password")
    .modal-footer
        button.btn.btn-nephritis(type="submit" ng-click="modalCtrl.login()")
            span Đăng nhập
        button.btn(type="button" ng-click="modalCtrl.cancel()")
            span Hủy