<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="addPrizeCtrl.cancel()">
    <img src="Content/images/icons/icon-close.png" alt="">
</button>
<div class="modal-body-quayso" ng-init="addPrizeCtrl.init()">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h3 class="lucky-draw-modal-title text-center">Quay số may mắn</h3>
            <h3 class="lucky-draw-modal-title text-center">{{addPrizeCtrl.prizeDescrition}}</h3>
            <h3 class="lucky-draw-modal-title text-center">{{addPrizeCtrl.prizeTitleText}}</h3>
            <span ng-if="ctrl.showDebug">{{addPrizeCtrl.thirdPrizeCountLeft}} prize left</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <!--<img class="lucky-draw-modal-gift-image" ng-src="Content/images/lucky-draw-tool/lucky-draw-gift-sample.png" />-->
            <img class="lucky-draw-modal-gift-image" ng-src="{{addPrizeCtrl.prizeImageUrl}}" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <ul class="list-unstyled lucky-draw-number-list">
                <li>
                    <input type="text" class="lucky-draw-number-box" readonly ng-model="addPrizeCtrl.model.Number1" />
                </li>
                <li>
                    <input type="text" class="lucky-draw-number-box" readonly ng-model="addPrizeCtrl.model.Number2" />
                </li>
                <li>
                    <input type="text" class="lucky-draw-number-box" readonly ng-model="addPrizeCtrl.model.Number3" />
                </li>
                <li>
                    <input type="text" class="lucky-draw-number-box" readonly ng-model="addPrizeCtrl.model.Number4" />
                </li>
                <li>
                    <input type="text" class="lucky-draw-number-box" readonly ng-model="addPrizeCtrl.model.Number5" />
                </li>
                <li>
                    <input type="text" class="lucky-draw-number-box" readonly ng-model="addPrizeCtrl.model.Number6" />
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <a class="btn btn-link" ng-click="addPrizeCtrl.startRandomNumber()" ng-disabled="addPrizeCtrl.isDisableRandomButton">
                <img src="Content/images/lucky-draw-tool/btn-bat-dau-quay.png" />
            </a>
        </div>
    </div>
</div>
<div class="modal-body-scroll">
    <div class="info-title">
        <div class="row">
            <div class="col-xs-12 col-md-12 text-center">
                <h3>Kết Quả</h3>
            </div>
        </div>
        <div class="table-responsive">
            <div class="winner-table-header-container">
                <div class="custom-table-header header-border-right user-header-col-stt">STT</div>
                <div class="custom-table-header header-border-right user-header-col-name">Họ và tên</div>
                <div class="custom-table-header header-border-right user-header-col-address">Địa chỉ</div>
                <div class="custom-table-header header-border-right user-header-col-phone">số điện thoại</div>
                <div class="custom-table-header header-border-right user-header-col-code">Mã số</div>
            </div>
            <div class="lucky-draw-winner-user-list-container">
                <table>
                    <tbody>
                        <tr class="user-row" ng-repeat="item in addPrizeCtrl.Result" id="userRowId_{{$index}}">
                            <td class="lucky-draw-result-item user-col-stt column-border-bottom text-center">{{$index + 1}}</td>
                            <td class="lucky-draw-result-item user-col-name column-border-bottom text-left">
                                {{item.FirstName}} <br/>
                                {{item.LastName}}
                            </td>
                            <td class="lucky-draw-result-item user-col-address column-border-bottom text-left">{{item.Address}}</td>
                            <td class="lucky-draw-result-item user-col-phone column-border-bottom text-center">{{item.PhoneNumber}}</td>
                            <td class="lucky-draw-result-item user-col-code column-border-bottom text-center">{{item.LuckyDrawCode}}</td>
                            <td class="user-col-empty"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pull-right" style="font-style: normal;font-weight: bold">
            Tổng số giải {{addPrizeCtrl.Result.length}}
        </div>
    </div>
</div>
<!--<img class="img-calcheese-box-bottom-modal" src="Content/images/lucky-draw-tool/calcheese-box.png" />-->