/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
h1, h2, h3, h4, h5, h6 {
  margin-top: 8px;
  font-weight: 300; }

h1, h2, h3 {
  color: #8f8c8a; }

p {
  word-wrap: break-word; }

.table-fixed {
  max-height: 150px;
  display: block; }

.table-scroll {
  max-height: 450px;
  overflow-y: scroll; }

tr[ng-click] {
  cursor: pointer; }

a {
  color: #1680c3;
  transition: all ease .4s; }
  a[ng-click] {
    cursor: pointer; }
  a:hover, a:focus {
    color: #00243b;
    text-decoration: none; }
  a[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    color: #8f8c8a; }
  a.form-control-text:hover {
    padding-left: 12px;
    background-color: #ecf0f1; }

.row-even {
  display: flex;
  align-items: center;
  border-bottom: thin solid #c7ccd3; }

.row-odd {
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: thin solid #c7ccd3; }

small {
  color: #8f8c8a;
  font-weight: 300; }

abbr {
  color: #c41230; }

hr {
  border: 0;
  border-bottom: 1px dashed #ecf0f1;
  background-color: #cbd0d3; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.position-fixed {
  position: fixed; }

.text-desc {
  font-size: 12px;
  color: #8f8c8a;
  font-weight: 300; }
  .text-desc a {
    color: #8f8c8a;
    border-bottom: 1px dotted #8f8c8a; }
    .text-desc a:hover {
      border-bottom: none;
      color: #333333; }

.text-bold {
  font-weight: bold; }

.text-slim {
  font-size: 12px;
  font-weight: 300; }

.text-muted {
  color: #8f8c8a; }

.text-normal {
  font-size: 14px; }

span.glAccount, input.gl-mask, input[gl-mask], input[mask] {
  font-size: 9pt;
  letter-spacing: 1px; }

input.pbs-error {
  border-color: red; }

input.gl-account-error {
  border-color: red; }

input.ng-invalid {
  border: 1px solid red !important; }

.color-concrete {
  color: #8f8c8a; }

.color-asbestos {
  color: #7f8c8d; }

.bg-concrete {
  background-color: #8f8c8a; }

.bg-asbestos {
  background-color: #7f8c8d; }

.label.label-concrete {
  background-color: #8f8c8a; }

.badge.badge-concrete {
  background-color: #8f8c8a;
  z-index: 1; }

.btn-concrete {
  height: 34px;
  color: #ffffff;
  background-color: #8f8c8a; }
  .btn-concrete:hover, .btn-concrete.disabled {
    color: #ecf0f1;
    background-color: #7f8c8d; }
  .btn-concrete.disabled, .btn-concrete[disabled] {
    cursor: not-allowed; }
  .btn-concrete:focus {
    color: #ecf0f1;
    background-color: #8f8c8a; }

.panel-concrete .panel-heading {
  color: #ffffff;
  background-color: #8f8c8a;
  border-color: #8f8c8a; }

.panel-concrete .panel-footer {
  background-color: #ecf0f1;
  margin-top: 8px; }

.color-pomegranate {
  color: #c41230; }

.color-alizarin {
  color: #e74c3c; }

.bg-pomegranate {
  background-color: #c41230; }

.bg-alizarin {
  background-color: #e74c3c; }

.label.label-pomegranate {
  background-color: #c41230; }

.badge.badge-pomegranate {
  background-color: #c41230;
  z-index: 1; }

.btn-pomegranate {
  height: 34px;
  color: #ffffff;
  background-color: #c41230; }
  .btn-pomegranate:hover, .btn-pomegranate.disabled {
    color: #ecf0f1;
    background-color: #e74c3c; }
  .btn-pomegranate.disabled, .btn-pomegranate[disabled] {
    cursor: not-allowed; }
  .btn-pomegranate:focus {
    color: #ecf0f1;
    background-color: #c41230; }

.panel-pomegranate .panel-heading {
  color: #ffffff;
  background-color: #c41230;
  border-color: #c41230; }

.panel-pomegranate .panel-footer {
  background-color: #ecf0f1;
  margin-top: 8px; }

.color-greensea {
  color: #34715b; }

.color-torquoise {
  color: #1abc9c; }

.bg-greensea {
  background-color: #34715b; }

.bg-torquoise {
  background-color: #1abc9c; }

.label.label-greensea {
  background-color: #34715b; }

.badge.badge-greensea {
  background-color: #34715b;
  z-index: 1; }

.btn-greensea {
  height: 34px;
  color: #ffffff;
  background-color: #34715b; }
  .btn-greensea:hover, .btn-greensea.disabled {
    color: #ecf0f1;
    background-color: #1abc9c; }
  .btn-greensea.disabled, .btn-greensea[disabled] {
    cursor: not-allowed; }
  .btn-greensea:focus {
    color: #ecf0f1;
    background-color: #34715b; }

.panel-greensea .panel-heading {
  color: #ffffff;
  background-color: #34715b;
  border-color: #34715b; }

.panel-greensea .panel-footer {
  background-color: #ecf0f1;
  margin-top: 8px; }

.color-nephritis {
  color: #27ae60; }

.color-emerlad {
  color: #2ecc71; }

.bg-nephritis {
  background-color: #27ae60; }

.bg-emerlad {
  background-color: #2ecc71; }

.label.label-nephritis {
  background-color: #27ae60; }

.badge.badge-nephritis {
  background-color: #27ae60;
  z-index: 1; }

.btn-nephritis {
  height: 34px;
  color: #ffffff;
  background-color: #27ae60; }
  .btn-nephritis:hover, .btn-nephritis.disabled {
    color: #ecf0f1;
    background-color: #2ecc71; }
  .btn-nephritis.disabled, .btn-nephritis[disabled] {
    cursor: not-allowed; }
  .btn-nephritis:focus {
    color: #ecf0f1;
    background-color: #27ae60; }

.panel-nephritis .panel-heading {
  color: #ffffff;
  background-color: #27ae60;
  border-color: #27ae60; }

.panel-nephritis .panel-footer {
  background-color: #ecf0f1;
  margin-top: 8px; }

.color-belizehole {
  color: #00243b; }

.color-peterriver {
  color: #1680c3; }

.bg-belizehole {
  background-color: #00243b; }

.bg-peterriver {
  background-color: #1680c3; }

.label.label-belizehole {
  background-color: #00243b; }

.badge.badge-belizehole {
  background-color: #00243b;
  z-index: 1; }

.btn-belizehole {
  height: 34px;
  color: #ffffff;
  background-color: #00243b; }
  .btn-belizehole:hover, .btn-belizehole.disabled {
    color: #ecf0f1;
    background-color: #1680c3; }
  .btn-belizehole.disabled, .btn-belizehole[disabled] {
    cursor: not-allowed; }
  .btn-belizehole:focus {
    color: #ecf0f1;
    background-color: #00243b; }

.panel-belizehole .panel-heading {
  color: #ffffff;
  background-color: #00243b;
  border-color: #00243b; }

.panel-belizehole .panel-footer {
  background-color: #ecf0f1;
  margin-top: 8px; }

.color-midnightblue {
  color: #2c3e50; }

.color-wetasphalt {
  color: #34495e; }

.bg-midnightblue {
  background-color: #2c3e50; }

.bg-wetasphalt {
  background-color: #34495e; }

.label.label-midnightblue {
  background-color: #2c3e50; }

.badge.badge-midnightblue {
  background-color: #2c3e50;
  z-index: 1; }

.btn-midnightblue {
  height: 34px;
  color: #ffffff;
  background-color: #2c3e50; }
  .btn-midnightblue:hover, .btn-midnightblue.disabled {
    color: #ecf0f1;
    background-color: #34495e; }
  .btn-midnightblue.disabled, .btn-midnightblue[disabled] {
    cursor: not-allowed; }
  .btn-midnightblue:focus {
    color: #ecf0f1;
    background-color: #2c3e50; }

.panel-midnightblue .panel-heading {
  color: #ffffff;
  background-color: #2c3e50;
  border-color: #2c3e50; }

.panel-midnightblue .panel-footer {
  background-color: #ecf0f1;
  margin-top: 8px; }

.color-orange {
  color: #f39c12; }

.color-sunflower {
  color: #f1c40f; }

.bg-orange {
  background-color: #f39c12; }

.bg-sunflower {
  background-color: #f1c40f; }

.label.label-orange {
  background-color: #f39c12; }

.badge.badge-orange {
  background-color: #f39c12;
  z-index: 1; }

.btn-orange {
  height: 34px;
  color: #ffffff;
  background-color: #f39c12; }
  .btn-orange:hover, .btn-orange.disabled {
    color: #ecf0f1;
    background-color: #f1c40f; }
  .btn-orange.disabled, .btn-orange[disabled] {
    cursor: not-allowed; }
  .btn-orange:focus {
    color: #ecf0f1;
    background-color: #f39c12; }

.panel-orange .panel-heading {
  color: #ffffff;
  background-color: #f39c12;
  border-color: #f39c12; }

.panel-orange .panel-footer {
  background-color: #ecf0f1;
  margin-top: 8px; }

.color-pumpkin {
  color: #d35400; }

.color-carrot {
  color: #e67e22; }

.bg-pumpkin {
  background-color: #d35400; }

.bg-carrot {
  background-color: #e67e22; }

.label.label-pumpkin {
  background-color: #d35400; }

.badge.badge-pumpkin {
  background-color: #d35400;
  z-index: 1; }

.btn-pumpkin {
  height: 34px;
  color: #ffffff;
  background-color: #d35400; }
  .btn-pumpkin:hover, .btn-pumpkin.disabled {
    color: #ecf0f1;
    background-color: #e67e22; }
  .btn-pumpkin.disabled, .btn-pumpkin[disabled] {
    cursor: not-allowed; }
  .btn-pumpkin:focus {
    color: #ecf0f1;
    background-color: #d35400; }

.panel-pumpkin .panel-heading {
  color: #ffffff;
  background-color: #d35400;
  border-color: #d35400; }

.panel-pumpkin .panel-footer {
  background-color: #ecf0f1;
  margin-top: 8px; }

.color-silver {
  color: #bdc3c7; }

.color-clouds {
  color: #ecf0f1; }

.bg-silver {
  background-color: #bdc3c7; }

.bg-clouds {
  background-color: #ecf0f1; }

.label.label-silver {
  background-color: #bdc3c7; }

.badge.badge-silver {
  background-color: #bdc3c7;
  z-index: 1; }

.btn-silver {
  height: 34px;
  color: #ffffff;
  background-color: #bdc3c7; }
  .btn-silver:hover, .btn-silver.disabled {
    color: #ecf0f1;
    background-color: #ecf0f1; }
  .btn-silver.disabled, .btn-silver[disabled] {
    cursor: not-allowed; }
  .btn-silver:focus {
    color: #ecf0f1;
    background-color: #bdc3c7; }

.panel-silver .panel-heading {
  color: #ffffff;
  background-color: #bdc3c7;
  border-color: #bdc3c7; }

.panel-silver .panel-footer {
  background-color: #ecf0f1;
  margin-top: 8px; }

.color-wisteria {
  color: #8e44ad; }

.color-amethyst {
  color: #9b59b6; }

.bg-wisteria {
  background-color: #8e44ad; }

.bg-amethyst {
  background-color: #9b59b6; }

.label.label-wisteria {
  background-color: #8e44ad; }

.badge.badge-wisteria {
  background-color: #8e44ad;
  z-index: 1; }

.btn-wisteria {
  height: 34px;
  color: #ffffff;
  background-color: #8e44ad; }
  .btn-wisteria:hover, .btn-wisteria.disabled {
    color: #ecf0f1;
    background-color: #9b59b6; }
  .btn-wisteria.disabled, .btn-wisteria[disabled] {
    cursor: not-allowed; }
  .btn-wisteria:focus {
    color: #ecf0f1;
    background-color: #8e44ad; }

.panel-wisteria .panel-heading {
  color: #ffffff;
  background-color: #8e44ad;
  border-color: #8e44ad; }

.panel-wisteria .panel-footer {
  background-color: #ecf0f1;
  margin-top: 8px; }

.color-asbestos {
  color: #7f8c8d; }

.color-concrete {
  color: #8f8c8a; }

.bg-asbestos {
  background-color: #7f8c8d; }

.bg-concrete {
  background-color: #8f8c8a; }

.label.label-asbestos {
  background-color: #7f8c8d; }

.badge.badge-asbestos {
  background-color: #7f8c8d;
  z-index: 1; }

.btn-asbestos {
  height: 34px;
  color: #ffffff;
  background-color: #7f8c8d; }
  .btn-asbestos:hover, .btn-asbestos.disabled {
    color: #ecf0f1;
    background-color: #8f8c8a; }
  .btn-asbestos.disabled, .btn-asbestos[disabled] {
    cursor: not-allowed; }
  .btn-asbestos:focus {
    color: #ecf0f1;
    background-color: #7f8c8d; }

.panel-asbestos .panel-heading {
  color: #ffffff;
  background-color: #7f8c8d;
  border-color: #7f8c8d; }

.panel-asbestos .panel-footer {
  background-color: #ecf0f1;
  margin-top: 8px; }

.btn {
  border: 0; }
  .btn:not(.btn-addon) {
    font-size: 14px;
    padding: 8px 15px; }
  .btn.btn-addon {
    height: 34px; }
  .btn.btn-default {
    border: 1px solid #ddd !important; }
    .btn.btn-default:hover {
      color: #ffffff;
      background-color: #8f8c8a; }
  .btn[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    color: #ecf0f1; }
  .btn .fa-spin {
    margin-right: 8px; }
  .btn.btn-badge {
    position: relative; }
    .btn.btn-badge .badge {
      position: absolute;
      top: -8px;
      background-color: #c41230;
      z-index: 1; }

.btn-group > .btn + .dropdown-toggle {
  padding: 8px 15px; }

.btn-group.btn-group-sm .btn {
  padding: 4px 8px;
  font-size: 10px; }

span.dropdown {
  display: inline-block; }

.badge, .label {
  color: #ffffff;
  background-color: #8f8c8a; }

.label {
  font-weight: 300; }
  .label.label-currency {
    font-size: 90%;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    padding: 2px 8px 3px 8px;
    border-radius: 0;
    border-bottom: 1px solid #ffffff; }
  .label.label-default {
    color: #333333;
    background-color: #ffffff; }
  .label[data-toggle="popover"] {
    cursor: pointer; }

.label-group .label {
  margin: 0 2px; }

.label-group.label-equal .label {
  display: inline-block;
  text-align: center;
  width: 45px;
  padding: 4px; }

.label-block {
  display: block; }

.tabbable .nav-tabs li {
  font-weight: 300; }
  .tabbable .nav-tabs li.active {
    font-weight: bold; }
  .tabbable .nav-tabs li.disabled {
    pointer-events: none;
    cursor: not-allowed; }

.tabbable .nav-tabs a .badge, .tabbable .nav-tabs a .label {
  margin-right: 4px; }

.list-inline {
  margin-bottom: 0; }

.list-group .list-group-item .list-group-item-heading {
  font-weight: normal; }

.list-group .list-group-item[disabled] .list-group-item-heading {
  color: #8f8c8a; }

.list-unstyled a {
  display: inline-block;
  padding: 4px; }

.list-unstyled .badge {
  margin-right: 8px; }

.list-unstyled.list-icons span {
  display: inline-block;
  vertical-align: bottom; }

.list-unstyled.list-icons .icon {
  width: 56px; }

.list-border {
  margin: 8px 0; }
  .list-border > li + li {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px dashed #8f8c8a; }
  .list-border > li:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0; }
  .list-border > li > .list-title {
    color: #8f8c8a; }

.panel {
  border: none;
  border-radius: 4px; }
  .panel .panel-heading .panel-title {
    font-size: 14px; }
  .panel .panel-heading .label, .panel .panel-heading .badge {
    margin-right: 8px; }
  .panel .panel-heading.active {
    background-color: #00243b; }
    .panel .panel-heading.active a {
      color: #ffffff; }
    .panel .panel-heading.active .badge {
      background-color: #1680c3; }
  .panel .panel-body {
    padding: 15px; }
    .panel .panel-body > .alert {
      margin-top: -15px;
      margin-right: -15px;
      margin-left: -15px; }
    .panel .panel-body form .alert {
      margin-top: 40px;
      margin-right: -15px;
      margin-bottom: -20px;
      margin-left: -15px;
      border: none; }
    .panel .panel-body form .tab-content {
      padding: 10px 0; }
    .panel .panel-body .nav-tabs {
      margin: 0px -15px;
      padding: 0px 20px;
      background-color: transparent; }
      .panel .panel-body .nav-tabs > li {
        border-left: none; }
        .panel .panel-body .nav-tabs > li > a {
          margin-right: 0;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px; }
        .panel .panel-body .nav-tabs > li:hover {
          border-bottom: -1px; }
        .panel .panel-body .nav-tabs > li:not(.active) > a:hover {
          border: 1px solid transparent; }
  .panel .panel-actions {
    padding: 0; }
    .panel .panel-actions.panel-heading .btn-group:not(.pull-right) .btn:first-child {
      border-top-left-radius: 4px; }
    .panel .panel-actions.panel-heading .btn-group.pull-right .btn:last-child {
      border-top-right-radius: 4px; }
    .panel .panel-actions.panel-heading .badge {
      position: absolute;
      top: -4px; }
    .panel .panel-actions.panel-footer .btn-group:not(.pull-right) .btn:first-child {
      border-bottom-left-radius: 4px; }
    .panel .panel-actions.panel-footer .btn-group.pull-right .btn:last-child {
      border-bottom-right-radius: 4px; }
    .panel .panel-actions .btn {
      border: 0;
      font-weight: 300; }
      .panel .panel-actions .btn i {
        margin-right: 2px; }
      .panel .panel-actions .btn.disabled {
        opacity: 1; }
    .panel .panel-actions .text-desc {
      line-height: 28px;
      padding: 3px 15px; }
  .panel .panel-inner {
    padding: 8px 15px;
    font-weight: 300; }
  .panel.disabled .panel-heading {
    background-color: #ecf0f1; }
  .panel.disabled a {
    pointer-events: none;
    cursor: not-allowed;
    color: #8f8c8a;
    font-weight: 300; }
  .panel.panel-list .table {
    margin-bottom: 0; }
  .panel.panel-list .panel-footer {
    padding: 0;
    margin-top: 0;
    height: 31px; }
    .panel.panel-list .panel-footer .pagination {
      margin: 0; }
      .panel.panel-list .panel-footer .pagination li.active a {
        background-color: #00243b; }
      .panel.panel-list .panel-footer .pagination li:first-child a {
        border-bottom-left-radius: 4px; }
      .panel.panel-list .panel-footer .pagination li:last-child a {
        border-bottom-right-radius: 4px; }
      .panel.panel-list .panel-footer .pagination li a {
        border: none; }
    .panel.panel-list .panel-footer span {
      line-height: 28px;
      padding: 0 15px; }

.panel-upload {
  position: relative;
  min-height: 42px;
  border: 1px dashed #bdc3c7;
  padding: 4px; }
  .panel-upload .btn {
    position: absolute;
    top: 4px;
    left: 4px; }
  .panel-upload .progress {
    margin-bottom: 0;
    margin-top: 8px; }

.table thead {
  color: #7f8c8d;
  background-color: #ecf0f1; }
  .table thead.color {
    background-color: #00243b;
    color: #ffffff; }
    .table thead.color th {
      font-weight: normal; }
  .table thead i {
    margin-right: 4px;
    color: #7f8c8d; }
  .table thead a {
    color: #333333; }
    .table thead a:hover {
      color: #00243b; }

.table tr td:first-child {
  width: 1%;
  white-space: nowrap; }

.table tbody td .checkbox {
  margin: 0; }

.table tbody td .form-control {
  min-width: 64px;
  height: 30px;
  padding: 2px 8px;
  box-shadow: none;
  -webkit-box-shadow: none; }
  .table tbody td .form-control:focus, .table tbody td .form-control:hover {
    border-color: #1680c3; }

.table tbody td.label-group {
  white-space: nowrap; }

.table tbody td .dropdown-menu[datepicker-popup-wrap] div[datepicker] table {
  width: 256px; }
  .table tbody td .dropdown-menu[datepicker-popup-wrap] div[datepicker] table > thead > tr:first-child {
    background-color: #ffffff; }

.table.table-input tbody > tr > td {
  vertical-align: middle; }

.table.table-input tfoot > tr > td {
  padding: 12px 8px;
  border-top: 1px dashed #ddd; }
  .table.table-input tfoot > tr > td .form-group {
    margin-bottom: 0; }

.table.table-double tr:nth-child(even) td {
  padding-top: 0;
  border-top: none; }

.table .progress {
  margin-bottom: 0; }

.col-fixed-width-18x {
  width: 180px; }

label {
  font-weight: normal;
  color: #8f8c8a; }

.form-group .checkbox label {
  padding-left: 0;
  margin-top: 8px; }

.form-group small.desc {
  padding-top: 4px; }

.form-group .form-control:focus {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4); }

.form-group.has-error {
  color: #c41230; }
  .form-group.has-error label, .form-group.has-error .help-block {
    color: #c41230; }

input[type=text]:focus {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4); }

.form-control-text {
  display: block;
  height: 34px;
  padding: 8px 0; }

.checkbox label {
  color: #333333; }

.checkbox[disabled] label {
  color: #8f8c8a;
  pointer-events: none; }

.form-panel {
  margin: 20px -15px;
  padding: 20px;
  background-color: #fbfcfc; }
  .form-panel .form-panel-title {
    color: #7f8c8d;
    font-size: 19.6px;
    font-weight: 300;
    margin-bottom: 8px;
    padding-bottom: 8px; }
  .form-panel .table {
    display: block;
    overflow: auto;
    margin-bottom: 15px;
    font-weight: 300; }
    .form-panel .table th {
      font-weight: normal;
      vertical-align: middle; }
    .form-panel .table .row-actions td {
      border-color: #ffffff;
      padding-top: 20px; }
  .form-panel .btn {
    font-size: 12px; }
  .form-panel hr {
    margin-right: -20px;
    margin-left: -20px; }
  .form-panel.form-panel-white {
    background-color: #ffffff;
    margin-top: 0;
    margin-bottom: 0; }

.form-text {
  font-size: 12px; }
  .form-text a {
    white-space: nowrap; }
  .form-text .label.pull-right {
    font-size: 16px;
    font-weight: bold;
    padding: 8px 16px;
    margin-left: 15px; }

.time-picker td {
  padding: 2px; }

.pickadate-control[readonly] {
  background-color: #fff; }

pbs-list-add-remove div {
  padding-top: 5px;
  text-align: center; }
  pbs-list-add-remove div button {
    width: 36px; }

html {
  position: relative;
  height: 100%; }

body {
  font-size: 14px;
  color: #333333;
  background-color: #ecf0f1;
  height: 100%;
  font-family: 'Roboto', sans-serif; }

.loading {
  background: url(images/icon-loading.gif) center no-repeat;
  min-height: 256px; }
  .loading div, .loading ul {
    display: none; }
  .loading.error {
    background: url(images/icon-error.png) center no-repeat;
    position: relative; }
    .loading.error:after {
      position: absolute;
      bottom: 48px;
      width: 100%;
      content: "System Error. Please try later!";
      text-align: center;
      color: #c41230; }

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 20px;
  padding: 8px 14px; }

.page-sidebar {
  background-color: #ffffff; }

.com-app-title {
  line-height: 30px;
  padding: 8px 0;
  font-size: 20px;
  height: 46px;
  background-color: #00243b; }
  .com-app-title a {
    color: #ffffff; }
    .com-app-title a:hover {
      color: #1680c3; }

.com-navigation ul {
  margin: 0;
  padding: 8px 0; }
  .com-navigation ul a {
    display: block;
    font-size: 16px;
    color: #8f8c8a;
    padding: 8px 20px; }
    .com-navigation ul a i {
      margin-right: 8px; }
    .com-navigation ul a:hover {
      color: #333333;
      background-color: #fbfcfc; }
  .com-navigation ul a.active {
    color: #00243b;
    font-weight: bold;
    pointer-events: none;
    cursor: not-allowed; }

.com-navigation hr {
  margin: 0px; }

.com-info {
  margin-top: 8px;
  padding: 8px 0; }

.page-content-sticky {
  padding-top: 56px !important; }

.sticky-panel {
  position: fixed;
  z-index: 1010;
  top: 0;
  left: auto;
  width: 100%;
  border-bottom: 1px solid #ecf0f1; }

.top-panel > ul {
  margin: 0; }
  .top-panel > ul > li {
    padding: 0; }
    .top-panel > ul > li > a {
      display: inline-block;
      color: #ffffff;
      cursor: pointer; }
      .top-panel > ul > li > a i {
        font-size: 20px; }
  .top-panel > ul .dropdown-menu {
    padding: 0; }
    .top-panel > ul .dropdown-menu a {
      padding: 8px 20px; }

.top-panel ul.list-actions > li > a {
  padding: 8px 20px;
  line-height: 30px;
  font-weight: 300;
  height: 46px; }
  .top-panel ul.list-actions > li > a i {
    display: none; }
  .top-panel ul.list-actions > li > a:hover {
    background-color: #1680c3; }
  .top-panel ul.list-actions > li > a.toggle i {
    display: inline-block;
    font-size: 21px; }

.top-panel ul.list-icons > li {
  margin-right: 8px; }
  .top-panel ul.list-icons > li > a {
    padding: 5.71429px 6.66667px;
    margin-top: 5px;
    border: 1px solid #00243b;
    color: #1680c3; }
  .top-panel ul.list-icons > li.open > a, .top-panel ul.list-icons > li > a:hover {
    color: #ffffff;
    border: 1px solid #1680c3;
    border-radius: 8px; }
  .top-panel ul.list-icons > li.open > a {
    border-radius: 0;
    background-color: #1680c3; }
  .top-panel ul.list-icons > li.open .dropdown-menu {
    margin-top: -1px;
    background-color: #1680c3; }

.top-panel ul.pull-right li.open ul.dropdown-menu {
  left: auto;
  right: 0; }

.col-lg-2.pull-right {
  text-align: right; }

.page-inner {
  padding: 0 20px; }

.page-main {
  padding: 12px 20px; }
  .page-main .page-title {
    margin-top: 0;
    margin-bottom: 12px; }

.com-filter {
  font-size: 12px; }
  .com-filter .btn {
    padding: 6px 20px; }

.com-breadcrumb {
  color: #8f8c8a;
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 12px; }
  .com-breadcrumb ul {
    margin: 0; }
  .com-breadcrumb li {
    padding: 0; }
  .com-breadcrumb li + li:before {
    content: "/";
    color: #bdc3c7;
    padding: 0 10px; }

.active-approval {
  color: #0051C2; }

.non-location-access-approval {
  color: red; }

.com-login {
  padding: 10px 0; }
  .com-login h4 {
    margin-bottom: 20px; }
  .com-login .form-actions {
    margin-top: 20px; }

.tree-node-btn {
  margin-right: 8px; }

.tree-node-btn-handle {
  margin-right: 8px; }

.angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px; }

.angular-ui-tree-handle:hover {
  color: #438eb9;
  background: #f4f6f7;
  border-color: #dce2e8; }

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

tr.angular-ui-tree-empty {
  height: 100px; }

.group-title {
  background-color: #687074 !important;
  color: #FFF !important; }

/* --- Tree --- */
.tree-node {
  border: 1px solid #dae2ea;
  background: #f8faff;
  color: #7c9eb2; }

.tree-node-selected {
  background: #ddddff; }

.nodrop {
  background-color: #f2dede; }

.tree-node-content {
  margin: 10px; }

.tree-handle {
  padding: 10px;
  background: #428bca;
  color: #FFF;
  margin-right: 10px; }

.com-treeview {
  margin-bottom: 20px; }
  .com-treeview .tree-item {
    display: inline-block; }

treecontrol {
  /* prevent user selection */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block; }
  treecontrol ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    overflow: hidden; }
    treecontrol ul li {
      position: relative;
      padding: 0 0 0 20px; }
      treecontrol ul li.tree-expanded i.tree-leaf-head, treecontrol ul li.tree-collapsed i.tree-leaf-head {
        display: none; }
      treecontrol ul li.tree-expanded i.tree-branch-head, treecontrol ul li.tree-collapsed i.tree-branch-head {
        display: inline; }
      treecontrol ul li.tree-leaf i.tree-branch-head {
        display: none; }
      treecontrol ul li.tree-leaf i.tree-leaf-head {
        display: inline; }
      treecontrol ul li.tree-leaf .hide-leaf {
        display: none; }
      treecontrol ul li i:not(.fa) {
        cursor: pointer;
        padding: 0 10px; }
      treecontrol ul li i.fa {
        font-size: 16px; }
      treecontrol ul li.tree-expanded i:not(.fa) {
        background: url("images/icon-folder.png") no-repeat top left; }
      treecontrol ul li.tree-collapsed i:not(.fa) {
        background: url("images/icon-folder-closed.png") no-repeat top left; }
      treecontrol ul li.tree-leaf i:not(.fa) {
        background: url("images/icon-file.png") no-repeat top left; }
      treecontrol ul li .tree-label {
        display: inline;
        line-height: 32px; }
        treecontrol ul li .tree-label i.user {
          background: url("images/icon-user.gif") no-repeat top left; }
        treecontrol ul li .tree-label i.fav {
          background: url("images/icon-fav.gif") no-repeat top left; }
        treecontrol ul li .tree-label i.knap {
          background: url("images/icon-knap.gif") no-repeat top left; }
        treecontrol ul li .tree-label i.circle-red {
          background: url("images/icon-circle-red.gif") no-repeat top left; }
        treecontrol ul li .tree-label label {
          display: inline;
          cursor: pointer; }
      treecontrol ul li .tree-selected label {
        color: #00243b;
        font-weight: bold; }
  treecontrol > ul > li {
    padding: 0; }

.tree-node-helper {
  background: white;
  border: 1px solid black;
  padding: 3px; }

.tree-node-hover {
  background-color: #ddddff; }

.tree-node-hover-up {
  border-top: 1px solid red; }

.tree-node-hover-down {
  border-bottom: 1px solid red; }

.tree-node-hover-middle {
  border-top: 1px dashed blue;
  border-left: 1px dashed blue;
  border-bottom: 1px dashed blue;
  border-right: 1px dashed blue;
  text-decoration: line-through; }

.popover.popover-blue {
  border-radius: 0;
  background-color: #ffffff;
  border-color: #bdc3c7;
  padding: 0; }
  .popover.popover-blue .popover-title {
    color: #ffffff;
    background-color: #00243b;
    border-radius: 0;
    padding: 8px 16px; }
  .popover.popover-blue .popover-content {
    padding: 4px 8px;
    font-size: 90%; }
    .popover.popover-blue .popover-content ul li {
      padding: 0 8px; }
      .popover.popover-blue .popover-content ul li.divider {
        border: 0;
        border-bottom: 1px dashed #ecf0f1;
        background-color: #cbd0d3;
        padding: 0;
        margin: 8px 0; }

.popover.open {
  display: block; }

.modal-dialog .modal-header {
  padding-top: 10px;
  padding-bottom: 10px; }

.modal-dialog .modal-body h3, .modal-dialog .modal-body label {
  margin: 0; }

.modal-dialog .modal-body .table tr th {
  font-weight: normal; }

.modal-dialog .scrollable-modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto; }

.notifications {
  min-width: 500px;
  background-color: #fff !important; }

.notification-heading, .notification-footer {
  padding: 2px 10px; }

.notification-menu-title {
  color: #ff7788;
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block; }

.notification-body {
  overflow: auto;
  max-height: 300px; }

.notifications.divider {
  margin: 5px 0; }

.notifications a.notification-item-content-wrapper {
  text-decoration: none;
  padding: 0 !important; }

.notification-item-content {
  border-radius: 4px; }

.notification-item-title {
  font-size: 1.3rem;
  color: #000; }

.badge-danger {
  background-color: #d43f3a; }

.affix {
  max-height: 600px;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #ffffff;
  padding: 16px; }

.padding-0-override {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.d3-tree-node image {
  cursor: pointer; }

.d3-tree-node circle {
  cursor: pointer;
  stroke-width: 2px;
  stroke: #009688; }

.d3-tree-node text {
  font: 12px sans-serif;
  font-weight: bold;
  color: #000; }

.d3-tree-node-requisition circle {
  fill: #FF8A80; }

.d3-tree-node-lineitem circle {
  fill: #FFE082; }

.d3-tree-node-purchaselineitem circle {
  fill: #FFE082; }

.d3-tree-node-transferlineitem circle {
  fill: #E6EE9C; }

.d3-tree-node-expenselineitem circle {
  fill: #BCAAA4; }

.d3-tree-node-pfo circle {
  fill: #EA80FC; }

.d3-tree-node-pft circle {
  fill: #B39DDB; }

.d3-tree-node-po circle {
  fill: #64FFDA; }

.d3-tree-node-transfer circle,
.d3-tree-node-backordered circle {
  fill: #2196F3; }

.d3-tree-link {
  fill: none;
  stroke: #00243B;
  stroke-width: 3px; }

.node-legend {
  padding: 5px;
  color: #000; }

.node-legend-requisition {
  background-color: #FF8A80;
  border: 1px solid #009688; }

.node-legend-purchaseline {
  background-color: #FFE082;
  border: 1px solid #009688; }

.node-legend-transferline {
  background-color: #E6EE9C;
  border: 1px solid #009688; }

.node-legend-expenseline {
  background-color: #BCAAA4;
  border: 1px solid #009688; }

.node-legend-pfo {
  background-color: #EA80FC;
  border: 1px solid #009688; }

.node-legend-pft {
  background-color: #B39DDB;
  border: 1px solid #009688; }

.node-legend-po {
  background-color: #64FFDA;
  border: 1px solid #009688; }

.node-legend-transfer {
  background-color: #2196F3;
  border: 1px solid #009688; }

/*svg context menu*/
.svg-menu {
  border: 1px solid #fff;
  color: #000;
  background-color: #fff;
  display: none;
  position: relative;
  -moz-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); }

.svg-menu li {
  color: #000;
  padding: 10px;
  display: none; }

.svg-menu li.circle-menu-title {
  background-color: #90A4AE;
  color: #fff;
  border: 1px solid;
  display: block; }

.svg-menu li.circle-menu-brief-info {
  background-color: #fff;
  color: #000;
  display: block; }

.svg-menu li.circle-menu-action {
  background-color: #fff;
  color: #000;
  display: block;
  padding-left: 100px !important; }

.svg-menu > li.circle:hover {
  background-color: #EEEEEE;
  color: #000;
  cursor: pointer; }

.svg-menu.circle li.circle {
  display: block; }

.svg-menu.circle li.circle li {
  display: inline-block; }

.tracker-context-menu-table {
  width: 250px !important;
  max-width: 250px !important; }

section {
  flex: 1; }
  section.resizable {
    border-radius: 2px;
    padding: 1.25em 1.75em;
    background: #2e2e2e;
    border: 5px solid #3C3C3C;
    min-width: 200px;
    max-width: 900px;
    flex: 0 0 300px; }

.borderless td, .borderless th {
  border: none !important; }

@media screen and (min-width: 1200px) {
  .com-filter-actions select.form-control {
    margin-top: 8px; } }

@media screen and (min-width: 992px) {
  .page-content-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    padding: 0; }
    .page-content-wrapper > .row {
      display: table-row;
      height: 100%; }
    .page-content-wrapper .page-sidebar, .page-content-wrapper .page-content {
      display: table-cell;
      float: none;
      padding: 0;
      vertical-align: top; }
    .page-content-wrapper .page-content {
      padding-bottom: 40px; } }

@media screen and (max-width: 991px) {
  .page-content-wrapper,
  .page-content-wrapper > .row,
  .page-sidebar, .page-content {
    height: 100%; }
  .page-content {
    padding: 0; }
  .row-offcanvas {
    position: relative; }
  .row-offcanvas, .sticky-panel {
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out; }
  .row-offcanvas-right {
    right: 0; }
    .row-offcanvas-right .sidebar-offcanvas {
      right: -256px; }
    .row-offcanvas-right.active {
      right: 256px; }
      .row-offcanvas-right.active .sticky-panel {
        right: 256px; }
  .row-offcanvas-left {
    left: 0; }
    .row-offcanvas-left .sticky-panel {
      left: 0; }
    .row-offcanvas-left .sidebar-offcanvas {
      left: -256px; }
    .row-offcanvas-left.active {
      left: 256px; }
      .row-offcanvas-left.active .sticky-panel {
        left: 256px; }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 256px;
    padding: 0; } }

@media screen and (max-width: 767px) {
  .page-content-wrapper,
  .page-content-wrapper > .row,
  .page-content {
    height: auto; }
  .panel .panel-actions .btn span {
    display: none; }
  .panel .panel-actions .btn.disabled span {
    display: inline-block; }
  .com-breadcrumb {
    font-size: 22px;
    margin-bottom: 16px; }
    .com-breadcrumb li + li:before {
      padding: 0 4px;
      margin-right: 4px; } }

@media screen and (max-width: 487px) {
  .hidden-xxs {
    display: none !important; }
  .page-main {
    padding: 10px 16px; }
  .com-breadcrumb {
    font-size: 18px;
    margin-bottom: 10px; }
  .panel .panel-actions .btn-group.pull-right {
    display: none; }
  .form-panel .form-panel-title {
    font-size: 16px; }
    .form-panel .form-panel-title .pull-right {
      display: block;
      float: none !important; } }

.fadein,
.fadeout {
  -moz-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important; }

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important; }

@media (min-width: 768px) {
  .btn {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95); }
    .btn:hover, .btn:focus, .btn:active {
      outline: none !important;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); } }

.main {
  float: left;
  width: 100%;
  height: calc(100vh - 105px); }
  .main-home .form-sign-code {
    left: 180px;
    top: 10px;
    animation-delay: 0.7s; }

.pack {
  display: inline-block;
  position: relative;
  float: right;
  height: calc(100vh - 105px);
  width: 630px;
  margin-right: 75px; }
  .pack-img {
    position: absolute;
    top: 30px;
    right: 135px;
    z-index: 7;
    height: 476px; }
  .pack-effect {
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 0px;
    display: inline-block;
    width: 630px;
    height: 435px; }
  .pack-small {
    position: absolute;
    top: 335px;
    right: 50px;
    z-index: 7;
    width: 293px;
    height: 193px;
    animation-delay: 0.3s; }

.cards {
  position: relative;
  top: 220px;
  right: 380px;
  z-index: 10; }
  .cards img {
    position: absolute; }

.c1-animation {
  right: 480px;
  bottom: -23px;
  z-index: 17;
  animation-delay: 1.425s;
  animation-name: show_card; }
  .c1-animation.animate {
    animation: Floating 2s 0s ease-in-out infinite; }

.c2-animation {
  right: 420px;
  bottom: -22px;
  z-index: 16;
  animation-delay: 1.4s;
  animation-name: show_card; }
  .c2-animation.animate {
    animation: Floating 2s 0.2s ease-in-out infinite; }

.c3-animation {
  right: 360px;
  bottom: -21px;
  z-index: 15;
  animation-delay: 1.375s;
  animation-name: show_card; }
  .c3-animation.animate {
    animation: Floating 2s 0.4s ease-in-out infinite; }

.c4-animation {
  right: 320px;
  bottom: -19px;
  z-index: 14;
  animation-delay: 1.35s;
  animation-name: show_card; }
  .c4-animation.animate {
    animation: Floating 2s 0.6s ease-in-out infinite; }

.c5-animation {
  right: 280px;
  bottom: -17px;
  z-index: 13;
  animation-delay: 1.325s;
  animation-name: show_card; }
  .c5-animation.animate {
    animation: Floating 2s 0.8s ease-in-out infinite; }

.c6-animation {
  right: 240px;
  bottom: -15px;
  z-index: 12;
  animation-delay: 1.3s;
  animation-name: show_card; }
  .c6-animation.animate {
    animation: Floating 2s 1s ease-in-out infinite; }

.c7-animation {
  right: 200px;
  bottom: -10px;
  z-index: 11;
  animation-delay: 1.275s;
  animation-name: show_card; }
  .c7-animation.animate {
    animation: Floating 2s 1.2s ease-in-out infinite; }

.c8-animation {
  right: 180px;
  bottom: -5px;
  z-index: 10;
  animation-delay: 1.25s;
  animation-name: show_card; }
  .c8-animation.animate {
    animation: Floating 2s 1.4s ease-in-out infinite; }

.c9-animation {
  right: 150px;
  bottom: 0;
  z-index: 9;
  animation-delay: 1.225s;
  animation-name: show_card; }
  .c9-animation.animate {
    animation: Floating 2s 1.6s ease-in-out infinite; }

.c10-animation {
  right: 130px;
  bottom: 5px;
  z-index: 8;
  animation-delay: 1.2s;
  animation-name: show_card; }
  .c10-animation.animate {
    animation: Floating 2s 1.8s ease-in-out infinite; }

.c11-animation {
  right: 110px;
  bottom: 15px;
  z-index: 7;
  animation-delay: 1.175s;
  animation-name: show_card; }
  .c11-animation.animate {
    animation: Floating 2s 2s ease-in-out infinite; }

.c12-animation {
  right: 90px;
  bottom: 25px;
  z-index: 6;
  animation-delay: 1.15s;
  animation-name: show_card; }
  .c12-animation.animate {
    animation: Floating 2s 2.2s ease-in-out infinite; }

.c13-animation {
  right: 70px;
  bottom: 35px;
  z-index: 5;
  animation-delay: 1.125s;
  animation-name: show_card; }
  .c13-animation.animate {
    animation: Floating 2s 2.4s ease-in-out infinite; }

.c14-animation {
  right: 50px;
  bottom: 45px;
  z-index: 4;
  animation-delay: 1.1s;
  animation-name: show_card; }
  .c14-animation.animate {
    animation: Floating 2s 2.6s ease-in-out infinite; }

.c15-animation {
  right: 30px;
  bottom: 55px;
  z-index: 3;
  animation-delay: 1.075s;
  animation-name: show_card; }
  .c15-animation.animate {
    animation: Floating 2s 2.8s ease-in-out infinite; }

.c16-animation {
  right: 10px;
  bottom: 60px;
  z-index: 2;
  animation-delay: 1.05s;
  animation-name: show_card; }
  .c16-animation.animate {
    animation: Floating 2s 3s ease-in-out infinite; }

.c17-animation {
  right: 3px;
  bottom: 75px;
  z-index: 1;
  animation-delay: 1.025s;
  animation-name: show_card; }
  .c17-animation.animate {
    animation: Floating 2s 3.2s ease-in-out infinite; }

@keyframes show_card {
  0% {
    opacity: 0;
    transform: scale(0.5) translate(0, 0); }
  50% {
    opacity: 1;
    transform: scale(1.05) translate(-15px, 0); }
  100% {
    opacity: 1;
    transform: scale(1) translate(0, 0); } }

@keyframes Floating {
  from {
    transform: translate(0, 0px); }
  65% {
    transform: translate(0, 15px); }
  to {
    transform: translate(0, 0px); } }

@-moz-keyframes Floating {
  from {
    -moz-transform: translate(0, 0px); }
  65% {
    -moz-transform: translate(0, 15px); }
  to {
    -moz-transform: translate(0, 0px); } }

@-webkit-keyframes Floating {
  from {
    -webkit-transform: translate(0, 0px); }
  65% {
    -webkit-transform: translate(0, 15px); }
  to {
    -webkit-transform: translate(0, 0px); } }

@keyframes ScaleBounce {
  0% {
    transform: scale(1); }
  12% {
    transform: scale(1.05); }
  24% {
    transform: scale(1); }
  36% {
    transform: scale(1.05); }
  48% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@-moz-keyframes ScaleBounce {
  0% {
    -moz-transform: scale(1); }
  12% {
    -moz-transform: scale(1.05); }
  24% {
    -moz-transform: scale(1); }
  36% {
    -moz-transform: scale(1.05); }
  48% {
    -moz-transform: scale(1); }
  100% {
    -moz-transform: scale(1); } }

@-webkit-keyframes ScaleBounce {
  0% {
    -webkit-transform: scale(1); }
  12% {
    -webkit-transform: scale(1.05); }
  24% {
    -webkit-transform: scale(1); }
  36% {
    -webkit-transform: scale(1.05); }
  48% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(1); } }

.prizes {
  position: absolute;
  z-index: 9;
  right: 0;
  top: -17px; }
  .prizes img {
    position: absolute; }

.scholarship-prize {
  top: 10px;
  right: 80px;
  z-index: 4;
  animation-delay: 1.2s; }
  .scholarship-prize.animate {
    animation: Scale 3.3s ease-in-out infinite; }

.auto-prize {
  top: 100px;
  right: 80px;
  z-index: 4.5;
  animation-delay: 1.35s; }
  .auto-prize.animate {
    animation: Scale 3.6s ease-in-out infinite; }

.bike-prize {
  top: 210px;
  right: 110px;
  z-index: 5;
  animation-delay: 1.5s; }
  .bike-prize.animate {
    animation: Scale 3.9s ease-in-out infinite; }

@keyframes Scale {
  from {
    transform: scale(1) translate(0, 0px); }
  65% {
    transform: scale(0.95) translate(0, -15px); }
  to {
    transform: scale(1) translate(0, 0px); } }

@-moz-keyframes Scale {
  from {
    -moz-transform: scale(1) translate(0, 0px); }
  65% {
    -moz-transform: scale(0.95) translate(0, -15px); }
  to {
    -moz-transform: scale(1) translate(0, 0px); } }

@-webkit-keyframes Scale {
  from {
    -webkit-transform: scale(1) translate(0, 0px); }
  65% {
    -webkit-transform: scale(0.95) translate(0, -15px); }
  to {
    -webkit-transform: scale(1) translate(0, 0px); } }

.header {
  height: 105px;
  text-align: center;
  width: 100%;
  float: left;
  animation-delay: 1.75s;
  z-index: 10;
  position: relative; }
  @media (max-width: 767px) {
    .header {
      height: 50px;
      padding-top: 10px; } }
  .header .nav-left, .header .nav-right {
    width: 480px;
    float: left;
    height: 105px;
    padding: 30px 0 0 0; }
    @media (max-width: 767px) {
      .header .nav-left, .header .nav-right {
        display: none; } }
    .header .nav-left li, .header .nav-right li {
      list-style-type: none;
      height: 60px;
      width: 120px;
      float: left; }
      .header .nav-left li a, .header .nav-right li a {
        height: inherit;
        width: inherit;
        float: left;
        background-image: url("../images/item-menu.png"); }
        .header .nav-left li a:hover, .header .nav-right li a:hover {
          transform: scale(1.025); }
        .header .nav-left li a:focus, .header .nav-right li a:focus {
          outline: none; }
    .header .nav-left .sub-menu, .header .nav-right .sub-menu {
      padding: 0;
      display: none; }
      .header .nav-left .sub-menu li a, .header .nav-right .sub-menu li a {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        border-radius: 6px;
        padding: 10px 0 8px 0;
        height: auto;
        background: #ff752e;
        font-size: 12px;
        color: #fff;
        font-family: "ShowcardGothic-Reg";
        -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
        -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
        -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
        text-decoration: none; }
    .header .nav-left li.trang-chu > a, .header .nav-right li.trang-chu > a {
      background-position: 0 0; }
    .header .nav-left li.trang-chu:hover .sub-menu, .header .nav-right li.trang-chu:hover .sub-menu {
      display: block; }
    .header .nav-left li.trang-chu.active > a, .header .nav-right li.trang-chu.active > a {
      background-position: 0 -62px; }
    .header .nav-left li.doi-qua > a, .header .nav-right li.doi-qua > a {
      background-position: -120px 0; }
    .header .nav-left li.doi-qua:hover .sub-menu, .header .nav-right li.doi-qua:hover .sub-menu {
      display: block; }
    .header .nav-left li.doi-qua.active > a, .header .nav-right li.doi-qua.active > a {
      background-position: -120px -62px; }
    .header .nav-left li.the-le > a, .header .nav-right li.the-le > a {
      background-position: -240px 0; }
    .header .nav-left li.the-le:hover .sub-menu, .header .nav-right li.the-le:hover .sub-menu {
      display: block; }
    .header .nav-left li.the-le.active > a, .header .nav-right li.the-le.active > a {
      background-position: -240px -62px; }
    .header .nav-left li.qua-tang > a, .header .nav-right li.qua-tang > a {
      background-position: -360px 0; }
    .header .nav-left li.qua-tang:hover .sub-menu, .header .nav-right li.qua-tang:hover .sub-menu {
      display: block; }
    .header .nav-left li.qua-tang.active > a, .header .nav-right li.qua-tang.active > a {
      background-position: -360px -62px; }
    .header .nav-left li.danh-sach > a, .header .nav-right li.danh-sach > a {
      background-position: -480px 0; }
    .header .nav-left li.danh-sach:hover .sub-menu, .header .nav-right li.danh-sach:hover .sub-menu {
      display: block; }
    .header .nav-left li.danh-sach.active > a, .header .nav-right li.danh-sach.active > a {
      background-position: -480px -62px; }
    .header .nav-left li.san-choi > a, .header .nav-right li.san-choi > a {
      background-position: -600px 0; }
    .header .nav-left li.san-choi:hover .sub-menu, .header .nav-right li.san-choi:hover .sub-menu {
      display: block; }
    .header .nav-left li.san-choi.active > a, .header .nav-right li.san-choi.active > a {
      background-position: -600px -62px; }
    .header .nav-left li.ca-nhan > a, .header .nav-right li.ca-nhan > a {
      background-position: -720px 0; }
    .header .nav-left li.ca-nhan:hover .sub-menu, .header .nav-right li.ca-nhan:hover .sub-menu {
      display: block; }
    .header .nav-left li.ca-nhan.active > a, .header .nav-right li.ca-nhan.active > a {
      background-position: -720px -62px; }
    .header .nav-left li.dang-nhap > a, .header .nav-right li.dang-nhap > a {
      background-position: -840px 0; }
    .header .nav-left li.dang-nhap:hover .sub-menu, .header .nav-right li.dang-nhap:hover .sub-menu {
      display: block; }
    .header .nav-left li.dang-nhap.active > a, .header .nav-right li.dang-nhap.active > a {
      background-position: -840px -62px; }
  .header .nav-right li.chiase a {
    background-image: url("../images/item-menu-chiase.png"); }
  .header .brand {
    float: left;
    width: 210px;
    text-align: center; }
    .header .brand img {
      width: 195px; }
    @media (max-width: 767px) {
      .header .brand {
        float: none; }
        .header .brand img {
          width: 141px; } }
  .header .toggle {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 0;
    background: none;
    border: none; }
    .header .toggle img {
      width: 30px; }

.form-group-img {
  width: 240px; }
  .form-group-img:before {
    background-image: url("../images/bg-input-left.png"); }
  .form-group-img:before, .form-group-img:after {
    content: "";
    height: 43px;
    width: 15px;
    float: left;
    background-position: center center;
    background-repeat: no-repeat; }
  .form-group-img:after {
    background-image: url("../images/bg-input-right.png"); }
  .form-group-img .form-control {
    height: 43px;
    width: 210px;
    float: left;
    background: none;
    background-image: url("../images/bg-input.png");
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
  @media (max-width: 767px) {
    .form-group-img:before, .form-group-img:after {
      height: 30px;
      width: 10px;
      background-size: auto 30px; }
    .form-group-img:after {
      background-size: auto 30px; }
    .form-group-img .form-control {
      height: 30px;
      background-size: auto 30px; } }

.form-sign-code {
  width: 425px;
  height: 300px;
  display: inline-block;
  background: url("../images/bg-sutap.png") center center no-repeat;
  position: relative; }
  .form-sign-code .form-control {
    width: 190px;
    position: absolute;
    top: 200px;
    margin: 0 auto;
    right: 0;
    left: 13px;
    border: 0;
    background: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  .form-sign-code .btn-img {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    position: absolute;
    top: calc(100% - 57px);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 146px; }
    .form-sign-code .btn-img:active, .form-sign-code .btn-img:focus {
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none; }

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "DINRoundOT";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/DINRoundOT/DINRoundOT.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/DINRoundOT/DINRoundOT.eot?#iefix") format("embedded-opentype"), url("../fonts/DINRoundOT/DINRoundOT.otf") format("opentype"), url("../fonts/DINRoundOT/DINRoundOT.svg") format("svg"), url("../fonts/DINRoundOT/DINRoundOT.ttf") format("truetype"), url("../fonts/DINRoundOT/DINRoundOT.woff") format("woff"), url("../fonts/DINRoundOT/DINRoundOT.woff2") format("woff2");
  /* Modern Browsers */ }

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "DINRoundOT";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/DINRoundOT-Bold/DINRoundOT-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/DINRoundOT-Bold/DINRoundOT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DINRoundOT-Bold/DINRoundOT-Bold.otf") format("opentype"), url("../fonts/DINRoundOT-Bold/DINRoundOT-Bold.svg") format("svg"), url("../fonts/DINRoundOT-Bold/DINRoundOT-Bold.ttf") format("truetype"), url("../fonts/DINRoundOT-Bold/DINRoundOT-Bold.woff") format("woff"), url("../fonts/DINRoundOT-Bold/DINRoundOT-Bold.woff2") format("woff2");
  /* Modern Browsers */ }

@font-face {
  font-family: "ShowcardGothic-Reg";
  src: url("../fonts/ShowcardGothic-Reg/SHOWG.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/ShowcardGothic-Reg/SHOWG.eot?#iefix") format("embedded-opentype"), url("../fonts/ShowcardGothic-Reg/SHOWG.otf") format("opentype"), url("../fonts/ShowcardGothic-Reg/SHOWG.svg") format("svg"), url("../fonts/ShowcardGothic-Reg/SHOWG.ttf") format("truetype"), url("../fonts/ShowcardGothic-Reg/SHOWG.woff") format("woff"), url("../fonts/ShowcardGothic-Reg/SHOWG.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal; }

.modal.in {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-box !important;
  display: -o-box !important;
  display: box !important;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center; }

.modal-img-bottom {
  position: absolute;
  bottom: -55px;
  right: -124px; }

.modal-img-left {
  position: absolute;
  left: -20px;
  top: 0px; }

.modal-backdrop {
  background-color: rgba(238, 190, 87, 0.8); }

.modal .close {
  opacity: 1;
  position: absolute;
  transform: rotate(0deg);
  transition: transform;
  transition-duration: 0.25s; }
  .modal .close:hover {
    transform: rotate(45deg); }
  .modal .close:focus {
    outline: none; }

.modal-content {
  height: inherit;
  width: inherit;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none; }

.modal-body {
  height: inherit;
  width: inherit;
  position: relative; }

.modal .btn-link {
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  padding: 0;
  width: 148px;
  height: 66px;
  bottom: -11px; }
  .modal .btn-link, .modal .btn-link:hover, .modal .btn-link:focus, .modal .btn-link:active {
    outline: none; }

#Modal-Sign-Up .close,
div.modal-sign-up-window .close {
  right: -3px;
  top: 57px; }

#Modal-Sign-Up .modal-dialog,
div.modal-sign-up-window .modal-dialog {
  width: 618px;
  height: 525px; }

#Modal-Sign-Up .modal-content,
div.modal-sign-up-window .modal-content {
  background: url("../images/bg-popup-sign-up.png") center center no-repeat; }

#Modal-Sign-Up .modal-body,
div.modal-sign-up-window .modal-body {
  padding-top: 125px; }

#Modal-Sign-Up .modal-img-bottom,
div.modal-sign-up-window .modal-img-bottom {
  bottom: -26px;
  right: -109px; }

#Modal-Sign-Up .form-sign-up .form-group,
div.modal-sign-up-window .form-sign-up .form-group {
  margin-bottom: 12px; }

#Modal-Sign-Up .form-sign-up .control-label,
div.modal-sign-up-window .form-sign-up .control-label {
  color: #fff;
  text-align: left;
  padding-left: 28px;
  padding-right: 0; }

#Modal-Sign-Up .form-sign-up .checkbox,
div.modal-sign-up-window .form-sign-up .checkbox {
  text-align: center; }
  #Modal-Sign-Up .form-sign-up .checkbox label,
  div.modal-sign-up-window .form-sign-up .checkbox label {
    color: #fff;
    font-weight: bold; }

#Modal-Sign-In .close,
div.modal-sign-in-window .close {
  right: -3px;
  top: 57px; }

#Modal-Sign-In .modal-dialog,
div.modal-sign-in-window .modal-dialog {
  width: 620px;
  height: 506px; }

#Modal-Sign-In .modal-content,
div.modal-sign-in-window .modal-content {
  background: url("../images/bg-popup-sign-in.png") center center no-repeat; }

#Modal-Sign-In .modal-body,
div.modal-sign-in-window .modal-body {
  padding-top: 165px; }

#Modal-Sign-In .modal-img-bottom,
div.modal-sign-in-window .modal-img-bottom {
  bottom: -46px;
  right: -108px; }

#Modal-Sign-In .btn-link,
div.modal-sign-in-window .btn-link {
  width: 184px;
  height: 78px;
  bottom: -20px; }

#Modal-Sign-In .form-sign-in .form-group,
div.modal-sign-in-window .form-sign-in .form-group {
  margin-bottom: 12px; }

#Modal-Sign-In .form-sign-in .control-label,
div.modal-sign-in-window .form-sign-in .control-label {
  color: #fff;
  text-align: left;
  padding-left: 40px;
  padding-right: 0; }

#Modal-Sign-In .form-sign-in .checkbox,
div.modal-sign-in-window .form-sign-in .checkbox {
  text-align: center; }
  #Modal-Sign-In .form-sign-in .checkbox label,
  div.modal-sign-in-window .form-sign-in .checkbox label {
    color: #fff;
    font-weight: bold; }

#Modal-Sign-In .form-sign-in .info,
div.modal-sign-in-window .form-sign-in .info {
  margin-top: 30px;
  color: #603913;
  font-weight: bold;
  padding: 0 30px 0 20px; }
  #Modal-Sign-In .form-sign-in .info a,
  div.modal-sign-in-window .form-sign-in .info a {
    display: inline-block;
    margin-top: 10px;
    color: #603913;
    text-decoration: underline; }

#Modal-Nap-Diem .close,
#Modal-Khong-Hop-Le .close,
div.modal-nap-diem-window .close,
div.modal-khong-hop-le-window .close {
  right: -13px;
  top: -8px; }

#Modal-Nap-Diem .modal-dialog,
#Modal-Khong-Hop-Le .modal-dialog,
div.modal-nap-diem-window .modal-dialog,
div.modal-khong-hop-le-window .modal-dialog {
  width: 445px;
  height: 320px; }

#Modal-Nap-Diem .modal-content,
#Modal-Khong-Hop-Le .modal-content,
div.modal-nap-diem-window .modal-content,
div.modal-khong-hop-le-window .modal-content {
  background: url("../images/bg-popup-nap-diem.png") center center no-repeat; }

#Modal-Nap-Diem .img-cards,
#Modal-Khong-Hop-Le .img-cards,
div.modal-nap-diem-window .img-cards,
div.modal-khong-hop-le-window .img-cards {
  position: relative;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: -90px;
  text-align: center;
  width: 130px;
  height: 195px; }
  #Modal-Nap-Diem .img-cards:after,
  #Modal-Khong-Hop-Le .img-cards:after,
  div.modal-nap-diem-window .img-cards:after,
  div.modal-khong-hop-le-window .img-cards:after {
    width: 130px;
    height: 190px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    transform: rotate(5deg);
    -webkit-box-shadow: 0 0 25px #ffe400;
    -moz-box-shadow: 0 0 25px #ffe400;
    -ms-box-shadow: 0 0 25px #ffe400;
    -o-box-shadow: 0 0 25px #ffe400;
    box-shadow: 0 0 25px #ffe400;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
    z-index: 1; }
  #Modal-Nap-Diem .img-cards img,
  #Modal-Khong-Hop-Le .img-cards img,
  div.modal-nap-diem-window .img-cards img,
  div.modal-khong-hop-le-window .img-cards img {
    z-index: 2;
    position: relative;
    width: 100%;
    transform: rotate(5deg);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
    border: 3px solid #ffe400; }

#Modal-Nap-Diem .info,
#Modal-Khong-Hop-Le .info,
div.modal-nap-diem-window .info,
div.modal-khong-hop-le-window .info {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  padding: 0 60px;
  width: 420px;
  margin: -50px auto 0 auto;
  text-align: center; }

#Modal-Nap-Diem .point,
#Modal-Khong-Hop-Le .point,
div.modal-nap-diem-window .point,
div.modal-khong-hop-le-window .point {
  font-family: "ShowcardGothic-Reg";
  color: #ffe400;
  font-size: 24px; }

#Modal-Confirm .close,
div.modal-confirm-window .close {
  right: 15px;
  top: 10px; }

#Modal-Confirm .modal-dialog,
div.modal-confirm-window .modal-dialog {
  width: 662px;
  height: 501px; }

#Modal-Confirm .modal-content,
div.modal-confirm-window .modal-content {
  background: url("../images/bg-popup-xacnhan-big.png") center center no-repeat; }

#Modal-Confirm .modal-img-bottom,
div.modal-confirm-window .modal-img-bottom {
  right: -75px;
  bottom: -50px; }

#Modal-Confirm .form-confirm .form-group,
div.modal-confirm-window .form-confirm .form-group {
  margin-bottom: 13px; }

#Modal-Confirm .form-confirm .control-label,
div.modal-confirm-window .form-confirm .control-label {
  color: #fff;
  text-align: left;
  padding-left: 60px;
  padding-right: 0; }

#Modal-Confirm .form-confirm .info,
div.modal-confirm-window .form-confirm .info {
  margin-top: 40px;
  color: #fff;
  font-weight: bold;
  padding-left: 60px; }

#Modal-Confirm-Info .close,
#Modal-Confirm-Info-Doi-Ma .close,
div.modal-confirm-info-window .close,
div.modal-confirm-info-doi-ma-window .close,
div.modal-confirm-info-doi-qua-window .close {
  right: -5px;
  top: -3px; }

#Modal-Confirm-Info .modal-dialog,
#Modal-Confirm-Info-Doi-Ma .modal-dialog,
div.modal-confirm-info-window .modal-dialog,
div.modal-confirm-info-doi-ma-window .modal-dialog,
div.modal-confirm-info-doi-qua-window .modal-dialog {
  width: 569px;
  height: 392px; }

#Modal-Confirm-Info .modal-content,
#Modal-Confirm-Info-Doi-Ma .modal-content,
div.modal-confirm-info-window .modal-content,
div.modal-confirm-info-doi-ma-window .modal-content,
div.modal-confirm-info-doi-qua-window .modal-content {
  background: url("../images/bg-popup-xacnhan.png") center center no-repeat; }

#Modal-Confirm-Info .modal-img-bottom,
#Modal-Confirm-Info-Doi-Ma .modal-img-bottom,
div.modal-confirm-info-window .modal-img-bottom,
div.modal-confirm-info-doi-ma-window .modal-img-bottom,
div.modal-confirm-info-doi-qua-window .modal-img-bottom {
  right: -120px;
  bottom: -50px; }

#Modal-Confirm-Info .modal-body,
#Modal-Confirm-Info-Doi-Ma .modal-body,
div.modal-confirm-info-window .modal-body,
div.modal-confirm-info-doi-ma-window .modal-body,
div.modal-confirm-info-doi-qua-window .modal-body {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-box !important;
  display: -o-box !important;
  display: box !important;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  padding: 0 100px;
  text-align: center; }

#Modal-Confirm-Info .info,
#Modal-Confirm-Info-Doi-Ma .info,
div.modal-confirm-info-window .info,
div.modal-confirm-info-doi-ma-window .info,
div.modal-confirm-info-doi-qua-window .info {
  margin-top: -50px;
  color: #fff;
  font-weight: bold; }

#Modal-Confirm-Info-Doi-Ma .modal-body,
div.modal-confirm-info-doi-ma-window .modal-body {
  padding: 0 128px; }

#Modal-Confirm-Info-Doi-Ma .info,
div.modal-confirm-info-doi-ma-window .info {
  margin-top: 0; }

#Modal-Confirm-Info-Doi-Ma .code,
div.modal-confirm-info-doi-ma-window .code {
  margin-top: 8px;
  font-family: "ShowcardGothic-Reg";
  color: #fef001;
  font-size: 30px; }

#Modal-Kho-Chien-Cong .close,
#Modal-Kho-Chien-Cong-None-Gifts .close {
  top: 60px;
  right: 4px; }

#Modal-Kho-Chien-Cong .modal-dialog,
#Modal-Kho-Chien-Cong-None-Gifts .modal-dialog {
  width: 772px;
  height: 592px; }

#Modal-Kho-Chien-Cong .modal-content,
#Modal-Kho-Chien-Cong-None-Gifts .modal-content {
  background: url("../images/bg-popup-kho-chien-cong.png") center center no-repeat; }

#Modal-Kho-Chien-Cong .modal-body-scroll,
#Modal-Kho-Chien-Cong-None-Gifts .modal-body-scroll {
  width: 570px;
  height: 370px;
  padding-right: 30px;
  margin: 0 auto;
  overflow: hidden;
  top: 130px;
  position: relative;
  text-align: center; }
  #Modal-Kho-Chien-Cong .modal-body-scroll .box-gifts,
  #Modal-Kho-Chien-Cong-None-Gifts .modal-body-scroll .box-gifts {
    margin-top: 60px; }
  #Modal-Kho-Chien-Cong .modal-body-scroll .box-gifts-body-info,
  #Modal-Kho-Chien-Cong-None-Gifts .modal-body-scroll .box-gifts-body-info {
    width: 450px;
    margin: 30px auto 0 auto;
    padding: 0;
    line-height: 1.2em; }

#Modal-Kho-Chien-Cong .modal-img-bottom,
#Modal-Kho-Chien-Cong-None-Gifts .modal-img-bottom {
  bottom: -36px;
  right: -120px; }

#Modal-Kho-Chien-Cong .ps-scrollbar-y-rail,
#Modal-Kho-Chien-Cong-None-Gifts .ps-scrollbar-y-rail {
  height: 270px !important; }

#Modal-Game-Add-Point .close,
#Modal-Game-None-Add-Point .close {
  right: 3px;
  top: -5px; }

#Modal-Game-Add-Point .modal-dialog,
#Modal-Game-None-Add-Point .modal-dialog {
  width: 739px;
  height: 418px; }

#Modal-Game-Add-Point .modal-content,
#Modal-Game-None-Add-Point .modal-content {
  background: url("../images/bg-popup-game-739x418.png") center center no-repeat; }

#Modal-Game-Add-Point .modal-img-bottom,
#Modal-Game-None-Add-Point .modal-img-bottom {
  bottom: -45px;
  right: -117px; }

#Modal-Game-Add-Point .img-cards,
#Modal-Game-None-Add-Point .img-cards {
  position: relative;
  margin: 45px auto 15px auto;
  text-align: center;
  width: 100px;
  height: 150px; }
  #Modal-Game-Add-Point .img-cards:after,
  #Modal-Game-None-Add-Point .img-cards:after {
    width: 100px;
    height: 147px;
    display: inline-block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    content: "";
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
    -webkit-box-shadow: 0 0 25px #ffe400;
    -moz-box-shadow: 0 0 25px #ffe400;
    -ms-box-shadow: 0 0 25px #ffe400;
    -o-box-shadow: 0 0 25px #ffe400;
    box-shadow: 0 0 25px #ffe400; }
  #Modal-Game-Add-Point .img-cards img,
  #Modal-Game-None-Add-Point .img-cards img {
    z-index: 2;
    top: 0;
    position: relative;
    width: 100%;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
    border: 3px solid #ffe400; }

#Modal-Game-Add-Point .info,
#Modal-Game-None-Add-Point .info {
  margin-top: 30px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  padding: 0 30px 0 20px;
  width: 420px;
  margin: 0 auto;
  text-align: center; }

#Modal-Game-Add-Point .point,
#Modal-Game-None-Add-Point .point {
  font-family: "ShowcardGothic-Reg";
  color: #ffe400;
  font-size: 24px; }

#Modal-Game-None-Add-Point .img-cards:after {
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

#Modal-Game-None-Add-Point .img-cards img {
  z-index: 1;
  border: 3px solid #000; }

#Modal-Game-None-Add-Point .modal-img-left {
  display: none; }

#Modal-Huong-Dan h4.modal-title {
  font-size: 19px; }

#Modal-Huong-Dan .modal-title {
  font-weight: bold; }

#Modal-Huong-Dan .modal-dialog {
  width: 924px;
  height: 482px; }

#Modal-Huong-Dan .modal-content {
  background: url("../images/bg-popup-huongdan-924x482.png") center center no-repeat; }

#Modal-Huong-Dan .modal-body-scroll {
  font-weight: bold;
  width: 710px;
  height: 276px;
  padding-right: 30px;
  margin: 0 auto;
  overflow: hidden;
  top: 90px;
  position: relative;
  color: #fff; }

#Modal-Huong-Dan .modal-img-bottom {
  bottom: -46px;
  right: -108px; }

#Modal-Huong-Dan .btn-link {
  width: 200px;
  height: 101px;
  bottom: -40px; }

#Modal-Huong-Dan .ps-scrollbar-y-rail {
  height: 276px !important; }

#Modal-The-Le .modal-dialog {
  width: 1118px;
  height: 544px; }

#Modal-The-Le .modal-content {
  background: url("../images/bg-popup-thele-1118x544.png") center center no-repeat; }

#Modal-The-Le .modal-body-scroll {
  width: 800px;
  height: 276px;
  padding-right: 30px;
  margin: 0 auto;
  overflow: hidden;
  top: 90px;
  position: relative;
  font-size: 18px;
  color: #fff; }
  #Modal-The-Le .modal-body-scroll .info-title {
    font-size: 14px;
    color: #fff;
    font-style: italic;
    text-align: center;
    width: 580px;
    margin: 0 auto; }

#Modal-The-Le .modal-img-bottom {
  bottom: -5px;
  right: -40px; }

#Modal-The-Le .modal-group-btn {
  float: left;
  width: 100%;
  text-align: center;
  position: relative;
  top: 57px; }
  #Modal-The-Le .modal-group-btn .btn-link {
    display: inline-block;
    width: auto;
    margin: 0 10px; }
    #Modal-The-Le .modal-group-btn .btn-link:hover {
      text-decoration: none; }
    #Modal-The-Le .modal-group-btn .btn-link + .btn-link {
      margin-top: 5px; }

#Modal-The-Le .btn-link {
  position: relative;
  bottom: auto; }

#Modal-The-Le .ps-scrollbar-y-rail {
  height: 276px !important; }

.modal-thach-dau .modal-dialog {
  width: 444px;
  height: 319px; }

.modal-thach-dau .modal-body {
  padding-top: 100px; }

.modal-thach-dau .modal-content {
  background: url("../images/tham-gia.png") center center no-repeat; }
  .modal-thach-dau .modal-content .close {
    right: 0;
    top: -10px; }
  .modal-thach-dau .modal-content .user-thach-dau {
    font-size: 33px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fee40b;
    text-align: center; }
  .modal-thach-dau .modal-content .msg-thach-dau {
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: bold; }

.modal-thach-dau .modal-footer {
  padding: 0;
  text-align: center;
  border-top: 0;
  margin-top: -50px; }
  .modal-thach-dau .modal-footer a {
    padding: 0; }

.modal-thach-dau .btn-link {
  position: relative;
  bottom: auto; }

#Modal-Lucky-Draw-Tool .close {
  right: -3px;
  top: 57px; }

#Modal-Lucky-Draw-Tool .modal-dialog {
  width: 1139px;
  height: 590px; }

#Modal-Lucky-Draw-Tool .modal-content {
  background: url("../images/lucky-draw-tool/bg-dialog-lucky-draw.png") center center no-repeat; }

#Modal-Lucky-Draw-Tool .modal-body {
  padding-left: 60px;
  padding-right: 70px; }

#Modal-Lucky-Draw-Tool .modal-img-bottom {
  bottom: -46px;
  right: -108px; }

#Modal-Lucky-Draw-Tool .modal-custom-header {
  padding: 0px;
  border-bottom: none; }

#Modal-Lucky-Draw-Tool .btn-link {
  width: 184px;
  height: 78px;
  bottom: -20px; }

#Modal-Lucky-Draw-Tool .btn-small {
  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  -ms-transform: scale(0.65);
  -o-transform: scale(0.65);
  transform: scale(0.65);
  padding: 0 !important; }

#Modal-Lucky-Draw-Tool .week-dropdown {
  width: 617px;
  height: 71px;
  margin: 0 auto;
  background: url("../images/lucky-draw-tool/bg-week-dropdown.png") center center no-repeat; }

#Modal-Lucky-Draw-Tool .week-dropdown select {
  width: 520px;
  margin-top: 10px;
  margin-left: 40px;
  color: #fff;
  font-size: 30px;
  font-family: "DINRoundOT";
  background: none;
  padding: 13px 0 5px 0;
  line-height: 1em;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  text-align: center;
  text-align-last: center; }

#Modal-Lucky-Draw-Tool .week-dropdown option {
  text-align: left;
  color: brown; }

#Modal-Lucky-Draw-Tool .user-table-container {
  float: left;
  position: relative;
  width: 1000px;
  height: 350px; }

#Modal-Lucky-Draw-Tool .winner-table-header-container {
  float: left;
  font-style: normal; }

#Modal-Lucky-Draw-Tool .winner-table-container {
  float: left;
  position: relative;
  width: 1000px;
  height: 400px; }

#Modal-Lucky-Draw-Tool .user-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 15px;
  background-color: transparent;
  border-collapse: collapse;
  font-family: DINRoundOT;
  font-size: 15px; }

#Modal-Lucky-Draw-Tool .user-table thead {
  color: #fff; }

#Modal-Lucky-Draw-Tool .user-table tbody {
  color: #fff;
  font-weight: bold; }

#Modal-Lucky-Draw-Tool .user-table th {
  padding: 5px;
  background-color: orange;
  text-transform: uppercase; }

#Modal-Lucky-Draw-Tool .user-table td {
  padding: 5px; }

#Modal-Lucky-Draw-Tool .header-border-right {
  /*border-right: 2px solid #fff;*/ }

#Modal-Lucky-Draw-Tool .column-border-right {
  /*border-right: 1px solid #fff;*/ }

#Modal-Lucky-Draw-Tool .column-border-bottom {
  border-bottom: 1px solid #fff; }

#Modal-Lucky-Draw-Tool .col-padding-right {
  padding-right: 5px; }

#Modal-Lucky-Draw-Tool .text-desc {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  font-family: DINRoundOT;
  padding-right: 30px;
  /*padding-top: 40px;*/ }

#Modal-Lucky-Draw-Tool .user-table-pagination {
  margin-left: 100px; }

#Modal-Lucky-Draw-Tool .pagination-none-background > li > a {
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-family: "DINRoundOT";
  margin: 0 10px; }
  #Modal-Lucky-Draw-Tool .pagination-none-background > li > a:hover {
    background: none;
    color: #ffe400; }

#Modal-Lucky-Draw-Tool .pagination-none-background > li.active > a, #Modal-Lucky-Draw-Tool .pagination-none-background > li.disabled > a {
  background: none;
  color: #ffe400; }
  #Modal-Lucky-Draw-Tool .pagination-none-background > li.active > a:hover, #Modal-Lucky-Draw-Tool .pagination-none-background > li.disabled > a:hover {
    background: none;
    color: #ffe400; }

#Modal-Lucky-Draw-Tool div.custom-table-header {
  float: left;
  color: #fff;
  font-weight: bold;
  background-color: orange;
  text-transform: uppercase;
  font-size: 17px;
  /*padding-bottom: 5px;*/ }

#Modal-Lucky-Draw-Tool div.user-header-col-stt {
  width: 43px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 5px; }

#Modal-Lucky-Draw-Tool .user-col-stt {
  width: 43px; }

#Modal-Lucky-Draw-Tool .user-col-stt-lg {
  width: 43px; }

#Modal-Lucky-Draw-Tool div.user-header-col-stt-lg {
  width: 43px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 5px; }

#Modal-Lucky-Draw-Tool div.user-header-col-name {
  width: 193px;
  text-align: center; }

#Modal-Lucky-Draw-Tool .user-col-name {
  width: 193px;
  text-align: center; }

#Modal-Lucky-Draw-Tool .user-col-name-lg {
  width: 273px;
  text-align: center; }

#Modal-Lucky-Draw-Tool div.user-header-col-name-lg {
  width: 273px;
  text-align: center; }

#Modal-Lucky-Draw-Tool div.user-header-col-address {
  width: 180px;
  text-align: center; }

#Modal-Lucky-Draw-Tool .user-col-address {
  width: 180px; }

#Modal-Lucky-Draw-Tool .user-col-address-lg {
  width: 300px; }

#Modal-Lucky-Draw-Tool div.user-header-col-address-lg {
  width: 300px;
  text-align: center; }

#Modal-Lucky-Draw-Tool div.user-header-col-phone {
  width: 148px;
  text-align: center; }

#Modal-Lucky-Draw-Tool .user-col-phone {
  width: 148px; }

#Modal-Lucky-Draw-Tool .user-col-phone-lg {
  width: 170px; }

#Modal-Lucky-Draw-Tool div.user-header-col-phone-lg {
  width: 248px;
  text-align: center; }

#Modal-Lucky-Draw-Tool div.user-header-col-code {
  width: 72px;
  text-align: center; }

#Modal-Lucky-Draw-Tool .user-col-code {
  width: 72px; }

#Modal-Lucky-Draw-Tool .user-col-code-lg {
  width: 115px; }

#Modal-Lucky-Draw-Tool div.user-header-col-code-lg {
  width: 72px;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 5px; }

#Modal-Lucky-Draw-Tool div.user-header-col-prize {
  width: 72px;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 5px; }

#Modal-Lucky-Draw-Tool .user-col-prize {
  width: 72px; }

#Modal-Lucky-Draw-Tool div.user-header-col-action {
  width: 280px; }

#Modal-Lucky-Draw-Tool .user-col-action {
  width: 270px; }

#Modal-Lucky-Draw-Tool .user-col-empty {
  width: 10px; }

#Modal-Lucky-Draw-Tool .user-row {
  height: 68px; }

#Modal-Lucky-Draw-Tool table tr:last-child td {
  border-bottom: none !important; }

#Modal-Lucky-Draw-Tool .visible-xlg-block {
  display: none !important; }

#Modal-Lucky-Draw-Tool .lucky-draw-toolbar {
  text-align: center; }
  #Modal-Lucky-Draw-Tool .lucky-draw-toolbar li {
    display: inline; }

#Modal-Lucky-Draw-Tool .user-line-action-toolbar {
  width: 220px;
  margin: 0;
  padding: 0; }
  #Modal-Lucky-Draw-Tool .user-line-action-toolbar li {
    display: inline;
    width: 110px;
    margin: 0;
    padding: 0; }

#Modal-Lucky-Draw-Tool .winner-list-total-count {
  position: relative;
  bottom: 30px;
  right: 400px; }

#Modal-Lucky-Draw-Tool .img-calcheese-box-bottom {
  position: relative;
  bottom: 180px;
  left: -150px; }

#Modal-Lucky-Draw-Tool .btn-custom-exit {
  padding-left: 40px; }

@media screen and (min-width: 1200px) and (max-width: 1299px) {
  #Modal-Lucky-Draw-Tool .visible-xlg-block {
    display: block !important; }
  #Modal-Lucky-Draw-Tool .modal-right-side-bar {
    position: relative;
    float: right;
    top: -600px;
    right: -100px; }
    #Modal-Lucky-Draw-Tool .modal-right-side-bar img {
      -webkit-transform: scale(0.65);
      -moz-transform: scale(0.65);
      -ms-transform: scale(0.65);
      -o-transform: scale(0.65);
      transform: scale(0.65); }
  #Modal-Lucky-Draw-Tool .hidden-xlg {
    display: none !important; } }

@media screen and (min-width: 1300px) and (max-width: 1499px) {
  #Modal-Lucky-Draw-Tool .visible-xlg-block {
    display: block !important; }
  #Modal-Lucky-Draw-Tool .modal-right-side-bar {
    position: relative;
    float: right;
    top: -600px;
    right: -60px; }
    #Modal-Lucky-Draw-Tool .modal-right-side-bar img {
      -webkit-transform: scale(0.75);
      -moz-transform: scale(0.75);
      -ms-transform: scale(0.75);
      -o-transform: scale(0.75);
      transform: scale(0.75); }
  #Modal-Lucky-Draw-Tool .hidden-xlg {
    display: none !important; } }

@media screen and (min-width: 1500px) {
  #Modal-Lucky-Draw-Tool .visible-xlg-block {
    display: block !important; }
  #Modal-Lucky-Draw-Tool .modal-right-side-bar {
    position: relative;
    float: right;
    top: -600px;
    right: 0px; }
  #Modal-Lucky-Draw-Tool .hidden-xlg {
    display: none !important; }
  #Modal-Lucky-Draw-Tool img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@media screen and (min-width: 1600px) {
  #Modal-Lucky-Draw-Tool .modal-right-side-bar {
    position: relative;
    float: right;
    top: -600px;
    right: 50px; }
  #Modal-Lucky-Draw-Tool .hidden-xlg {
    display: none !important; } }

@media screen and (min-width: 1700px) {
  #Modal-Lucky-Draw-Tool .modal-right-side-bar {
    position: relative;
    float: right;
    top: -600px;
    right: 100px; }
  #Modal-Lucky-Draw-Tool .hidden-xlg {
    display: none !important; } }

div.modal-quay-so-window .close {
  right: -3px; }

div.modal-quay-so-window .modal-dialog {
  width: 1139px;
  height: 600px; }

div.modal-quay-so-window .modal-content {
  background: url("../images/lucky-draw-tool/bg-quay-so-modal.png") center center no-repeat;
  background-size: 1139px auto; }

div.modal-quay-so-window .modal-body-quayso {
  width: 400px;
  height: 450px;
  padding-left: 90px;
  margin: 0 auto;
  overflow: hidden;
  top: 90px;
  position: relative;
  font-size: 18px;
  color: #fff;
  float: left; }

div.modal-quay-so-window .modal-body-scroll {
  width: 600px;
  height: 450px;
  padding-right: 30px;
  margin: 0 auto;
  overflow: hidden;
  top: 90px;
  position: relative;
  font-size: 18px;
  color: #fff; }
  div.modal-quay-so-window .modal-body-scroll .info-title {
    font-size: 14px;
    color: #fff;
    font-style: italic;
    text-align: right;
    width: 580px;
    margin: 0 auto; }

div.modal-quay-so-window .modal-img-bottom {
  bottom: -46px;
  right: -108px; }

div.modal-quay-so-window .btn-link {
  position: relative;
  bottom: auto;
  padding-left: 45px; }

div.modal-quay-so-window h3 {
  color: #fff;
  font-family: DINRoundOT;
  font-weight: bold;
  font-style: normal; }

div.modal-quay-so-window .lucky-draw-modal-gift-image {
  margin-left: 50px; }

div.modal-quay-so-window .lucky-draw-number-list li {
  display: inline-block;
  padding-right: 5px; }

div.modal-quay-so-window .lucky-draw-number-box {
  border: 3px solid #777;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  color: #c41230;
  text-align: center;
  font-family: DINRoundOT;
  font-size: larger;
  font-weight: bold; }

div.modal-quay-so-window .lucky-draw-winner-user-list-container {
  float: left;
  position: relative;
  width: 580px;
  height: 300px; }
  div.modal-quay-so-window .lucky-draw-winner-user-list-container table {
    width: 100%; }
  div.modal-quay-so-window .lucky-draw-winner-user-list-container td {
    vertical-align: top; }

div.modal-quay-so-window .winner-table-header-container {
  float: left;
  font-style: normal; }

div.modal-quay-so-window div.custom-table-header {
  float: left;
  color: #fff;
  font-weight: bold;
  background-color: orange;
  text-transform: uppercase;
  font-size: 15px;
  /*padding-bottom: 5px;*/ }

div.modal-quay-so-window .user-row {
  height: 68px; }

div.modal-quay-so-window div.user-header-col-stt {
  width: 43px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 5px; }

div.modal-quay-so-window .user-col-stt {
  width: 43px; }

div.modal-quay-so-window div.user-header-col-name {
  width: 150px;
  text-align: center; }

div.modal-quay-so-window .user-col-name {
  width: 150px;
  text-align: center; }

div.modal-quay-so-window div.user-header-col-address {
  width: 170px;
  text-align: center; }

div.modal-quay-so-window .user-col-address {
  width: 170px; }

div.modal-quay-so-window div.user-header-col-phone {
  width: 125px;
  text-align: center; }

div.modal-quay-so-window .user-col-phone {
  width: 125px; }

div.modal-quay-so-window div.user-header-col-code {
  width: 65px;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 5px; }

div.modal-quay-so-window .user-col-code {
  width: 72px; }

div.modal-quay-so-window .user-col-empty {
  width: 20px; }

div.modal-quay-so-window .column-border-bottom {
  border-bottom: 1px solid #fff; }

div.modal-quay-so-window .lucky-draw-result-item {
  color: #fff;
  font-family: DINRoundOT;
  font-weight: bold;
  font-style: normal;
  font-size: 15px; }

div.modal-quay-so-window table tr:last-child td {
  border-bottom: none !important; }

div.modal-quay-so-window .img-calcheese-box-bottom-modal {
  position: relative;
  bottom: 30px;
  left: -40px; }

.ps-scrollbar-y-rail {
  background-color: transparent !important;
  opacity: 1 !important;
  width: 25px !important; }
  .ps-scrollbar-y-rail:after {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    margin: 0 auto;
    content: "";
    width: 9px;
    background: #fdc806;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: 0 0 2px #e0c568;
    -moz-box-shadow: 0 0 2px #e0c568;
    -ms-box-shadow: 0 0 2px #e0c568;
    -o-box-shadow: 0 0 2px #e0c568;
    box-shadow: 0 0 2px #e0c568;
    border: 2px solid #cc9a36;
    z-index: 5; }
  .ps-scrollbar-y-rail .ps-scrollbar-y {
    z-index: 10;
    right: 0 !important;
    width: 25px !important;
    height: 25px !important;
    background-color: transparent !important;
    opacity: 1 !important;
    background: green url("../images/icons/icon-scroll.png") center center no-repeat;
    background-size: 25px; }

html, body {
  height: 100vh; }
  html.overflow, body.overflow {
    overflow: hidden; }
  @media (max-width: 767px) {
    html, body {
      height: auto;
      width: 100%; }
      html.overflow, body.overflow {
        overflow: inherit; } }

body {
  width: 100%;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-family: "DINRoundOT";
  background: #7ecc08 url("../images/bg-green-1080-for-web.png") center top no-repeat;
  font-size: 19px; }
  @media (max-width: 767px) {
    body {
      background: #4ea913 url("../images/mobile/bg-green.png") no-repeat;
      background-size: cover;
      min-height: 568px;
      font-size: 13px; } }
  @media (max-width: 400px) {
    body {
      background: #4ea913 url("../images/mobile/bg-green.png") center top no-repeat; } }

.container {
  width: 1200px;
  position: relative; }

.number-cards {
  height: 71px;
  width: 68px;
  display: inline-block;
  text-align: center;
  font-size: 32px;
  line-height: 2.3em;
  color: #fff;
  font-family: "ShowcardGothic-Reg";
  background: url("../images/bg-point.png") center center no-repeat; }

.pagination-none-background > li > a {
  background: none;
  border: none;
  color: #fff;
  font-size: 28px;
  font-family: "DINRoundOT";
  margin: 0 10px; }
  .pagination-none-background > li > a:hover {
    background: none;
    color: #ffe400; }

.pagination-none-background > li.active > a, .pagination-none-background > li.disabled > a {
  background: none;
  color: #ffe400; }
  .pagination-none-background > li.active > a:hover, .pagination-none-background > li.disabled > a:hover {
    background: none;
    color: #ffe400; }

.copy-right {
  position: absolute;
  right: 0;
  /*bottom: 10px;*/
  z-index: 10; }
  @media (max-width: 767px) {
    .copy-right {
      position: relative;
      clear: both;
      width: 105px;
      z-index: 1;
      float: right;
      bottom: 5px;
      right: 5px; } }

.list-type-disc {
  padding: 0; }
  .list-type-disc > li {
    padding-left: 5px;
    list-style-type: none;
    position: relative;
    vertical-align: middle;
    line-height: 1.2em; }
    .list-type-disc > li:after {
      content: "";
      height: 4px;
      width: 4px;
      background: #fff;
      position: absolute;
      left: 0;
      top: 12px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; }

.yellow {
  color: #ffe400; }

.custom-dialog-label {
  margin-left: 15px !important; }

.lucky-draw-logo {
  margin-top: 10px;
  margin-left: 10px; }

.lucky-draw-logo-custom {
  position: relative;
  top: 65px;
  left: 250px; }

#filter {
  width: 350px;
  border-radius: 15px;
  border: 3px solid #ff7500;
  background-color: orange;
  color: #fff; }

#filtersubmit {
  position: relative;
  z-index: 1;
  left: -30px;
  color: #fff;
  cursor: pointer;
  width: 0; }
