﻿//- COMMON FORM FUNCTIONS
//- see sample of extending in locations/index.jade
include ./mixin
block var
	- var title='Page title'

.div(ng-init="init()")
	block filter
		.com-filter
			.panel-group.panel-group-lists
				.panel
					.panel-heading(ng-class="{'active': !isFilterCollapsed}")
						h4.panel-title
							a(ng-click="isFilterCollapsed = !isFilterCollapsed")
								i.fa.fa-filter
								|  {{'Shared.FilterConditions' | translate}}
								span.text-desc.hidden-xxs {{ isFilterCollapsed ? ('Shared.ClickToExpand' | translate) : (('Shared.ClickToCollapse' | translate)) }}
								span.pull-right
									i.fa.fa-chevron-circle-right(ng-class="{'fa-chevron-circle-down': !isFilterCollapsed}")
					.panel-collapse(uib-collapse="isFilterCollapsed")
						.panel-body
							form(ng-submit="$emit('formSubmitted')")
								.row
									.col-lg-10.col-md-10
										block filterBasic
										div(ng-show="_formCollapsed===true")
											block filterExtend
												//extend		
									.col-lg-2.col-md-2
										.com-filter-actions
											.row
												.col-lg-12.col-sm-3
													.btn-toolbar
														.btn-group
															button.btn.btn-success(type="submit")
																i.fa.fa-search
															button.btn(type="button" ng-click="$emit('filterReset')") {{'Shared.Reset' | translate}}
												.col-lg-12.col-sm-3.col-xs-6
													select.form-control.form-control-spacing(ng-model="request.params.PageSize" ng-options="item[1] as item[0] for item in config.FILTER.PAGE_SIZES")
												.col-lg-12.col-xs-6
													select.form-control
														option(value="^") Start With
														option(value="~") Contains
														option(value="=") Match
														option(value="$") Ends With
														option(value="$") Ends With					

	// data grid
	block  resultset
		// your resultset	
	div.clearfix
	