include ./mixin
//-- Variables
block var    
    - var useFilter = true
    - var dateFormat = "{{ctrl.dateFormat}}"
//-- Filter conditions
- if (useFilter)
   .com-filter(ng-if="ctrl.loaded")
       .panel-group.panel-group-lists
           .panel
               .panel-heading(ng-class="{'active': !ctrl.isFilterCollapsed()}")
                   h4.panel-title
                       a(ng-click="ctrl.toggleFilterState()")
                           i.fa.fa-filter
                           |  {{'Shared.FilterConditions' | translate}}
                           span.text-desc.hidden-xxs {{ ctrl.filterPanelTextDescription() }}
                           span.pull-right
                               i.fa.fa-chevron-circle-right(ng-class="{'fa-chevron-circle-down': !ctrl.isFilterCollapsed()}")
               .panel-collapse(uib-collapse="ctrl.isFilterCollapsed()")
                   .panel-body
                       form(name="searchFilterForm",ng-submit="$emit('formSubmitted')")
                           .row
                               .col-lg-10
                                   block filter
                               .col-lg-2
                                   .com-filter-actions
                                       .row
                                           .col-lg-12.col-sm-3
                                               .btn-toolbar
                                                   .btn-group
                                                       button.btn.btn-success(type="submit")
                                                           i.fa.fa-search
                                                       button.btn(type="button" ng-click="$emit('filterReset')") {{'Shared.Reset' | translate}}
                                           .col-lg-12.col-sm-3.col-xs-6(ng-if="ctrl.isAdvancedSearch")
                                               select.form-control.form-control-spacing(ng-model="ctrl.request.params.PageSize" ng-options="item[1] as item[0] for item in ctrl.config.FILTER.PAGE_SIZES")
                                           .col-lg-12.col-xs-6(ng-if="ctrl.isAdvancedSearch")
                                               select.form-control(ng-model="ctrl.request.params.SearchMatchType" ng-options="item[1] as item[0] for item in ctrl.config.SEARCH_MATCH_TYPE.LIST")
                                           block sorting
.panel(ng-if="ctrl.hasMandatoryCriteria")
   .panel-body
       block mandatoryCriteria

//-- List items
block listing
    .panel-list-wrapper(ng-init="ctrl.init()" ng-class="{loading: ctrl.loading}")
        .panel.panel-list.panel-belizehole.fadein.fadeout(ng-if="ctrl.result")
            .panel-heading.panel-actions
                block listingActions
            .table-responsive(ng-if="ctrl.result && ctrl.result.ResultSet.length > 0")
                block listingTable
            .panel-body(ng-if="ctrl.result && ctrl.result.ResultSet.length == 0")
                .text-center.text-muted {{'Message.CannotFindAnyMatchingRecords' | translate}}
            .panel-footer(ng-if="ctrl.result.HasMore")
                a.label.label-nephritis(ng-click="ctrl.loadMoreResults()") Load more...
