include ./mixin
//-- Variables
block var
   - var formTitle = "Update"
   - var backLink = "{{::ctrl._router.DASHBOARD}}"
   - var dateFormat = "{{::ctrl.dateFormat}}"
//-- Notifications (maybe)
.panel-form-wrapper(ng-init="ctrl.init()" ng-class="{loading: ctrl.model.loading}")
   .panel.panel-form.panel-belizehole.fadein.fadeout(ng-if="!ctrl.model.loading")
      .panel-heading.panel-actions
         .btn-group.pull-right
            block formActionsExtend
            span
               a.btn.btn-belizehole(ui-sref="#{backLink}")
                  +iconText("chevron-left", "Back")
         .btn-group
            a.btn.btn-belizehole.disabled
               +iconText("edit", formTitle)
            block formActions
      .panel-body(ng-if="ctrl.model")
         .alert.alert-success.fadein.fadeout(ng-show="ctrl._message")
            button.close(href="#" ng-click="ctrl._message = null") &times;
            | {{ ctrl._message }}
         .alert.alert-warning(ng-show="ctrl.invalidForm()")
            strong Warning!
            | {{ ctrl._warning || 'Something is invalid' }}
         form(name="detailForm" role="form")
            block formContent
         block extendedForm
      .panel-footer.panel-actions(ng-if="ctrl.model")
         .btn-group
            block formButton
               +pbsButton("Save and Close", "fa-reply", "ctrl.processing")(ng-click="ctrl.ok()")
               //-- Panel form
               +pbsButton("Delete", "fa-trash-o", "ctrl.processing")(class="btn btn-pomegranate" ng-click="ctrl.destroy()" ng-if="ctrl.canDelete()")
         .text-desc.pull-right.hidden-xxs
            +textCredit("ctrl.model.CreatedBy || ctrl.model.CreatedByName", "ctrl.model.CreatedBy", "Created", "ctrl.model.CreatedDate|localDateTime")
