include ./mixin
//-- Variables
block var    
    - var useFilter = true
    - var dateFormat = "{{ctrl.dateFormat}}"
//-- Filter conditions
- if (useFilter)
   .com-filter(ng-if="ctrl.loaded")
       .panel-group.panel-group-lists
           .panel
               .panel-heading.active
                   h4.panel-title
                       a
                           i.fa.fa-filter
                           |  Filters
                           span.pull-right
                               i.fa.fa-chevron-circle-right
               .panel-collapse(uib-collapse="false")
                   .panel-body
                       form(name="searchFilterForm",ng-submit="$emit('formSubmitted')")
                           .row
                               .col-lg-10
                                   block filter
                               .col-lg-2
                                   .com-filter-actions
                                       .row
                                           .col-lg-12.col-sm-3
                                               .btn-toolbar
                                                   .btn-group
                                                       button.btn.btn-success(type="submit")
                                                           i.fa.fa-search
                                                       button.btn(type="button" ng-click="$emit('filterReset')") Reset
                                           block sorting
.panel(ng-if="ctrl.hasMandatoryCriteria")
   .panel-body
       block mandatoryCriteria

//-- List items
block listing
    .panel-list-wrapper(ng-init="ctrl.init()" ng-class="{loading: ctrl.loading}")
        .panel.panel-list.panel-belizehole.fadein.fadeout(ng-if="ctrl.result")
            .panel-heading.panel-actions
                block listingActions
            .panel-footer(ng-if="ctrl.result.PageSize && ctrl.result.ResultSet.length > 0 && ctrl.result.PageTotal > 1")
                ul(uib-pagination ng-model="ctrl.result.PageNumber" total-items="ctrl.result.ResultCount" items-per-page="ctrl.result.PageSize" max-size="4" boundary-links="true" boundary-link-numbers="true" previous-text="Prev" num-pages="numPages" ng-change="$emit('pageChanged', $event)")
            .table-responsive(ng-if="ctrl.result && ctrl.result.ResultSet.length > 0")
                block listingTable
            .panel-body(ng-if="ctrl.result && ctrl.result.ResultSet.length == 0")
                .text-center.text-muted Cannot find any matching records
            .panel-footer(ng-if="ctrl.result.PageSize && ctrl.result.ResultSet.length > 0")
                //-- Pagination
                span.text-desc.pull-right Results {{ ctrl.result|pageLower }} to {{ ctrl.result|pageUpper }} of {{ ctrl.result.ResultCount }}
                ul(uib-pagination ng-model="ctrl.result.PageNumber" total-items="ctrl.result.ResultCount" items-per-page="ctrl.result.PageSize" max-size="4" boundary-links="true" boundary-link-numbers="true" previous-text="Prev" num-pages="numPages" ng-show="ctrl.result.PageTotal > 1" ng-change="$emit('pageChanged', $event)")