﻿include mixin

.modal-header
    h3.modal-title {{::ctrl.modalTitle}}
    .modal-body
        .com-filter
            .panel-group.panel-group-lists
                .panel
                    .panel-heading(ng-class="{'active': !ctrl.isFilterCollapsed()}")
                        h4.panel-title
                            a(ng-click="ctrl.toggleFilterState()")
                                i.fa.fa-filter
                                |  {{'Shared.FilterConditions' | translate}}
                                span.text-desc.hidden-xxs {{ ctrl.filterPanelTextDescription() }}
                                span.pull-right
                                    i.fa.fa-chevron-circle-right(ng-class="{'fa-chevron-circle-down': !ctrl.isFilterCollapsed()}")
                    .panel-collapse(uib-collapse="ctrl.isFilterCollapsed()")
                        .panel-body
                            form(name="searchFilterForm",ng-submit="$emit('formSubmitted')")
                                .row
                                    .col-lg-8
                                        block filter
                                    .col-lg-4
                                        .com-filter-actions
                                            .row
                                                .col-lg-12.col-sm-3
                                                    .btn-toolbar
                                                        .btn-group
                                                            button.btn.btn-success(type="submit")
                                                                i.fa.fa-search
                                                            button.btn(type="button" ng-click="$emit('filterReset')") {{'Shared.Reset' | translate}}
                                                .col-lg-12.col-sm-3.col-xs-6(ng-if="ctrl.isAdvancedSearch")
                                                    select.form-control.form-control-spacing(ng-model="ctrl.request.params.PageSize" ng-options="item[1] as item[0] for item in ctrl.config.FILTER.PAGE_SIZES")
                                                .col-lg-12.col-xs-6(ng-if="ctrl.isAdvancedSearch")
                                                    select.form-control(ng-model="ctrl.request.params.SearchMatchType" ng-options="item[1] as item[0] for item in ctrl.config.SEARCH_MATCH_TYPE.LIST")
        block listing
            .panel-list-wrapper(ng-init="ctrl.init()" ng-class="{loading: ctrl.loading}")
                .panel.panel-list.panel-belizehole.fadein.fadeout(ng-if="ctrl.result")
                    .panel-heading.panel-actions
                        block listingActions
                    .table-responsive(ng-if="ctrl.result && ctrl.result.ResultSet.length > 0")
                        block listingTable
                    .panel-body(ng-if="ctrl.result && ctrl.result.ResultSet.length == 0")
                        .text-center.text-muted {{'Message.CannotFindAnyMatchingRecords' | translate}}
                    .panel-footer(ng-if="ctrl.result.PageSize && ctrl.result.ResultSet.length > 0")
                        //-- Pagination
                        span.text-desc.pull-right {{'Shared.Results' | translate}} {{ ctrl.result|pageLower }} {{'Shared.ToLowercase' | translate}} {{ ctrl.result|pageUpper }} {{'Shared.OfLowercase' | translate}} {{ ctrl.result.ResultCount }}
                        ul(uib-pagination ng-model="ctrl.result.PageNumber" total-items="ctrl.result.ResultCount" items-per-page="ctrl.result.PageSize" max-size="4" boundary-links="true" boundary-link-numbers="true" num-pages="numPages" ng-show="ctrl.result.PageTotal > 1" ng-change="$emit('pageChanged', $event)")