﻿include ./mixin-base

//-- Text
//- Font awesome display with text (use shorten classname)
mixin iconText(iconClass, label)
    span
        i.fa(class="fa-#{iconClass}")
    |  #{label}

mixin textCredit(name, userId, action, date)
    span.text-credit(ng-if="#{userId}")
        | #{action} by 
        +user(userId, name)
        |  on {{#{date}}}

mixin textCodeName(code, name)
    span(ng-if="#{code}") 
        | {{#{code}}}
        small(ng-if="#{name}") {{" (" + #{name} + ")"}}

mixin field(label, required)
    .form-group&attributes(attributes)
        label #{label}
            - if (typeof(required) !== 'undefined')
                abbr *
        block

mixin fieldDynamicRequired(label, required)
    .form-group&attributes(attributes)
        label #{label}
            abbr(ng-show=required) *
        block


//-- Fields
mixin fieldBlock(label, model, placeholder, required, limit)
    - attributes['limit-to'] = limit
    .form-group(ng-class="{'has-error': #{model}Error}")
        - if (typeof(label) !== 'undefined')
            label #{label}
                - if (typeof(required) !== 'undefined')
                    abbr *
        - if (typeof(limit) !== 'undefined')
            small.desc.pull-right(ng-class="{'color-pomegranate': #{model}.length >= #{limit}}") ({{#{model}.length || 0}} of #{limit})
        - if (placeholder === 'key-disabled')
            input.form-control(ng-model="#{model}" disabled)&attributes(attributes)
        - else
            input.form-control(ng-model="#{model}" placeholder="#{typeof(placeholder) === 'undefined' ? '' : placeholder}")&attributes(attributes)
        small.help-block(ng-if="#{model}Error") {{#{model}Error}}
        block

mixin selectBlock(label, model, options, blankValue, required)
    .form-group(ng-class="{'has-error': #{model}Error}")
        - if (typeof(label) !== 'undefined')
            label #{label}
            - if (typeof(required) !== 'undefined')
                abbr *
        - if (typeof(options) !== 'undefined')
            select.form-control(ng-model="#{model}" ng-options="#{options}")&attributes(attributes)
                - if (typeof(blankValue) !== 'undefined')
                    option(value="") #{blankValue}
        small.help-block(ng-if="#{model}Error") {{#{model}Error}}

mixin fieldCheckbox(label, model, isDisabled)
    .checkbox(ng-disabled=isDisabled)&attributes(attributes)
        label
            input(type="checkbox", ng-model=model, icheck)
            | #{label}
            block

mixin displayFieldBlock(label, text, required, hint)
    .form-group
        label #{label}
            - if (typeof(required) !== 'undefined')
                abbr *
        input.form-control(value="{{#{text}}}" disabled="disabled")&attributes(attributes)
        small.help-block(ng-show="#{hint}") {{#{hint}}}
        block

mixin table(columns)
    .table-responsive
        table.table.table-hover
            thead
                tr
                    each col in columns
                        th!= col
            tbody
                block

//-- Layouts

mixin resultsetWithCustomTable(options)
    - var options = options || {};
    - var back = options.back || '{{_router.DASHBOARD}}';
    - var actionButton = options.action
    .panel-list-wrapper(ng-class="{loading: !result}")
        .panel.panel-list.panel-belizehole.fadein.fadeout(ng-show="result")
            .panel-heading.panel-actions
                .btn-group
                    a.btn.btn-belizehole(ui-sref='#{back}')
                        +iconText("chevron-left", "Back")
                    if actionButton
                        != actionButton

            .panel-body(ng-if="result && result.ResultSet.length == 0")
                .text-center.text-muted {{'Message.CannotFindAnyMatchingRecords' | translate}}
            .table-responsive(ng-if="result && result.ResultSet.length > 0")
                block
            .panel-footer(ng-if="result.PageSize && result.ResultSet.length > 0")
                span.text-desc.pull-right(ng-if="result.ResultSet") Page {{ result|pageLower }} - {{ result|pageUpper }} in {{ result.ResultCount }} items
                pagination(ng-model="result.PageNumber"
                    total-items="result.ResultCount"
                    items-per-page="result.PageSize"
                    boundary-links="true"
                    max-size="4"
                    ng-show="result.PageTotal > 1"
                    ng-change="$emit('pageChanged', $event)")

mixin resultset(columns, options)
    block
    +resultsetWithCustomTable(options)
        table.table
            thead
                tr
                    each col in columns
                        th(class="#{col[2] !== undefined ? col[2] : ''}") #{col[0]}
            tbody
                tr(ng-repeat="item in result.ResultSet#{key === undefined ? '' : ' track by item.' + key}" ng-class=(trackChange === undefined ? '' : '{changed: isItemChanged(item, $index)}'))
                    each col in columns
                        td(class="#{col[2] !== undefined ? col[2] : ''}")!= col[1]


//- Table display (normal or 2 rows)s
//-  + columns: header text, text display/HTML controls, [sortable field, is ascending], stylesheet class
//-  + subs: sub-columns, used to display description (can has colspan)
//-  + options: hash to define table style: isColorHead
mixin tableData(columns, subs, options, showRowNum)
    - var inactiveRow = "{'active': item.Active !== undefined && !item.Active || item.StatusDescription == \"Closed\"}";
    .table-responsive
        table.table(class="#{typeof(subs) !== 'undefined' ? 'table-double' : ''}")
            thead(class="#{typeof(options) !== 'undefined' && options.isColorHead ? 'color' : ''}")
                tr
                    - if (typeof(showRowNum) === 'undefined' || showRowNum == true)
                        th #
                    each column in columns
                        //- Check array exists
                        if ((column[2] !== undefined) && (Object.prototype.toString.call(column[2]) === '[object Array]') && (column[2].length > 0))
                            th(class="#{column[3] !== undefined ? column[3] : ''}") 
                                a(ng-click="_sort('#{column[2][0]}', #{column[2][1]})") #{column[0]}
                        else
                            th(class="#{column[3] !== undefined ? column[3] : ''}") #{column[0]}
            tbody
                if (typeof(subs) !== 'undefined')
                    tr(ng-repeat-start="item in result.ResultSet" ng-class="#{inactiveRow}")
                        +tableDataRow(columns, showRowNum)
                    tr(ng-repeat-end ng-class="#{inactiveRow}")
                        td
                        each column in subs
                            td(colspan="#{Object.prototype.toString.call(column) === '[object Array]' ? column[1] : null}")!= Object.prototype.toString.call(column) === '[object Array]' ? column[0] : column    
                else
                    tr(ng-repeat="item in result.ResultSet" ng-class="#{inactiveRow}")
                        +tableDataRow(columns, showRowNum)

mixin tableDataRow(columns, showRowNum)
    - if (typeof(showRowNum) === 'undefined' || showRowNum == true)
        td {{ result.PageSize ? $index + 1 + (result.PageNumber - 1)*result.PageSize : $index + 1 }}
    each column in columns
        td(class="#{column[3] !== undefined ? column[3] : ''}")!= column[1]

// Generate key/values of setting
mixin rowSetting(settingKey, required)
    .form-group
        .row
            .col-lg-4.col-md-6
                label {{ctrl.settings.#{settingKey}.Name}}
                    - if (typeof(required) !== 'undefined')
                        abbr *
                select.form-control(ng-model="ctrl.settings.#{settingKey}.SettingValue" ng-options="obj.Item as obj.Description for obj in ctrl.settings.#{settingKey}.ValueListItems")&attributes(attributes)
        p.small.help-block {{ctrl.settings.#{settingKey}.Description}}

// Table data display for using with controller as
mixin tableDataWithCtrlAs(columns, subs, options)
    - var inactiveRow = "{'active': item.Active !== undefined && !item.Active || item.StatusDescription == \"Closed\"}";
    .table-responsive
        table.table(class="#{typeof(subs) !== 'undefined' ? 'table-double' : ''}")
            thead(class="#{typeof(options) !== 'undefined' && options.isColorHead ? 'color' : ''}")
                tr
                    th #
                    each column in columns
                        //- Check array exists
                        if ((column[2] !== undefined) && (Object.prototype.toString.call(column[2]) === '[object Array]') && (column[2].length > 0))
                            th(class="#{column[3] !== undefined ? column[3] : ''}") 
                                a(ng-click="ctrl._sort('#{column[2][0]}', #{column[2][1]})") #{column[0]}
                        else
                            th(class="#{column[3] !== undefined ? column[3] : ''}") #{column[0]}
            tbody
                if (typeof(subs) !== 'undefined')
                    tr(ng-repeat-start="item in ctrl.result.ResultSet" ng-class="#{inactiveRow}")
                        +tableDataRowWithCtrlAs(columns)
                    tr(ng-repeat-end ng-class="#{inactiveRow}")
                        td
                        each column in subs
                            td(colspan="#{Object.prototype.toString.call(column) === '[object Array]' ? column[1] : null}")!= Object.prototype.toString.call(column) === '[object Array]' ? column[0] : column
                else
                    tr(ng-repeat="item in ctrl.result.ResultSet" ng-class="#{inactiveRow}")
                        +tableDataRowWithCtrlAs(columns)

mixin tableDataRowWithCtrlAs(columns)
    td {{ ctrl.result.PageSize ? $index + 1 + (ctrl.result.PageNumber - 1) * ctrl.result.PageSize : $index + 1 }}
    each column in columns
        td(class="#{column[3] !== undefined ? column[3] : ''}")!= column[1]

mixin attachmentImportList(title)
    div(ng-show="ctrl.selectedFiles != null")
        hr
        h4 {{'Shared.UploadProcess' | translate}}
        table.table
            thead
                tr
                    th(width="1%") #
                    th(width="40%") {{'Shared.FileName' | translate}}
                    th(width="5%") {{'Shared.Size' | translate}}
                    th(width="20%") {{'Shared.Type' | translate}}
                    th {{'Shared.Progress' | translate}}
                    th(width="10%") &nbsp;
            tbody
                tr(ng-repeat="f in ctrl.selectedFiles")
                    td {{$index + 1}}
                    td 
                        | {{f.name}}
                        ul.list-unstyled(ng-show="ctrl.progressData[$index] && ctrl.progressData[$index].length > 0")
                            li(ng-repeat="r in ctrl.progressData[$index]" ng-class="r.ErrorCode ? 'text-danger' : 'text-success'")
                                | Processing #{title} {{r.ObjectId}}...
                                span(ng-class="{'text-bold': r.ErrorCode}") {{r.State}} 
                                em(ng-show="r.ErrorCode" ng-bind="r.ErrorDescription")
                        .text-success(ng-show="progressData[$index].length == 0") {{'Message.EmptyFilePleaseSelectAnother' | translate}}
                    td {{f.size}}B
                    td {{f.type}}
                    td 
                        .progress(ng-show!="ctrl.progress[$index] >= 0")
                            .progress-bar.progress-bar-striped(role="progressbar" aria-valuenow="{{ctrl.progress[$index]}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ctrl.progress[$index]}}%")
                                span {{ctrl.progress[$index]}}% {{'Shared.Completed' | translate}}
                    td
                        a.text-danger(ng-click="ctrl.abort($index)" ng-show!="ctrl.hasUploader($index) && ctrl.progress[$index] < 100") Abort

// Export modal
mixin modalExport(id)
    script(type="text/ng-template" id="#{id}")
        .modal-body.text-center            
            h4.color-asbestos Please choose file format
            hr
            ul.list-inline
                li
                    a(ng-click="modalCtrl.export('CSV')")
                        i.fa.fa-file-code-o.fa-3x
                        p CSV
                li &nbsp; 
                li
                    a(ng-click="modalCtrl.export('WORD')")
                        i.fa.fa-file-word-o.fa-3x
                        p Word
                li &nbsp; 
                li
                    a(ng-click="modalCtrl.export('EXCEL')")
                        i.fa.fa-file-excel-o.fa-3x
                        p Excel

mixin modalDetailReportExport(id)
    script(type="text/ng-template" id="#{id}")
        .modal-body.text-center
            h4.color-asbestos Please choose file format
            hr
            ul.list-inline
                li
                    a(ng-click="modalCtrl.export('PDF')")
                        i.fa.fa-file-pdf-o.fa-3x
                        p PDF
                li &nbsp;
                li
                    a(ng-click="modalCtrl.export('WORD')")
                        i.fa.fa-file-word-o.fa-3x
                        p Word
                li &nbsp;
                li
                    a(ng-click="modalCtrl.export('EXCEL')")
                        i.fa.fa-file-excel-o.fa-3x
                        p Excel

mixin pbsButton(caption, icon, asyncProcessing)
    - attributes['class'] = attributes['class'] || 'btn btn-nephritis';
    - var processing = asyncProcessing || null;
    - attributes['ng-disabled'] = processing ? processing + (attributes['ng-disabled'] ? ' || ' + attributes['ng-disabled'] : '') : attributes['ng-disabled'];
    button(type="button")&attributes(attributes)
        span
            i.fa(ng-class="['#{icon}', {'fa-circle-o-notch': processing, 'fa-spin': processing }]")
            | &nbsp;#{caption}