﻿//- COMMON FORM FUNCTIONS
mixin field(label, required)
    .row&attributes(attributes)
        .col-md-5
            label #{label}
                - if (typeof(required) !== 'undefined')
                    abbr *
        .col-md-7 
            if block
                block

mixin fieldBase(label, labelClass, inputClass, required)
    .row
        div(class=labelClass)
            label #{label}
                - if (typeof(required) !== 'undefined')
                    abbr *
        div(class=inputClass)
            if block
                block

mixin fieldCol(cols)
    if cols.length = 2
        .row
            each col in cols
                .col-sm-3.col-md-2
                    if col[0]
                        label #{col[0]}
                .col-sm-9.col-md-4
                    != col[1]

mixin formFilter
    .com-filter
        form(ng-submit="$emit('formSubmitted')")
            .com-filter-toggle
                a.btn-icon(data-icon="{{isFilterCollapsed ? 'nav-down' : 'nav-up'}}",ng-click="isFilterCollapsed = !isFilterCollapsed")
            .row
                .col-md-10
                    .com-filter-basic
                        block
                .col-md-2.text-right
                    .com-filter-actions
                        ul.list-unstyled
                            li: button.btn-old(type="submit") Search
                            li: button.btn-old(type="button",ng-click="$emit('filterReset')") Reset
                            li(uib-collapse="isFilterCollapsed")
                                select(ng-model="request.params.PageSize" ng-options="item[1] as item[0] for item in config.FILTER.PAGE_SIZES")
                            li(uib-collapse="isFilterCollapsed")
                                select
                                    option(value="^") Start With
                                    option(value="~") Contains
                                    option(value="=") Match
                                    option(value="$") Ends With

mixin formFilterExtend
    .com-filter-extend(uib-collapse="isFilterCollapsed")
        block

mixin table(headers)
    .panel-table.table-responsive&attributes(attributes)
        table
            thead
                tr
                    each col in headers
                        th #{col}
            tbody
                block


mixin resultset(columns, options)
    if options
        - var key = options[0]
        - var trackChange = options[1]
    .panel-table.table-responsive(ng-class="{loading: !result}")
        table
            thead
                tr
                    each col in columns
                        th(class="#{col[2] !== undefined ? col[2] : ''}") #{col[0]}
            tbody
                tr(ng-repeat="item in result.ResultSet#{key === undefined ? '' : ' track by item.' + key}" ng-class=(trackChange === undefined ? '' : '{changed: isItemChanged(item, $index)}'))
                    each col in columns
                        td(class="#{col[2] !== undefined ? col[2] : ''}")!= col[1]

mixin paginationInfo
    .pagination-info(ng-if="result.ResultSet")
        small
            | Page {{ result|pageLower }} of {{ result|pageUpper }} in {{ result.ResultCount }} items 
            span(ng-show="{{debug}}") ({{ listResult.ExecutionDuration }}ms)

//- See usage in locations/index.jade
//- Sample:
//- +typeahead("request.params.Name","Name")
//-                span(bind-html-unsafe="match.model.Name | typeaheadHighlight:query" )
//- +typeahead("request.params.PurchaseOrderCreator","NTUserNameFull")(searcher='$apis.users.search')
//-        span(bind-html-unsafe="match.model.NTUserNameFull | typeaheadHighlight:query" )
//-        span(bind-html-unsafe="match.model.FullName" )
mixin typeahead(model,name,selectCallback)
    - var id = attributes.id || ('typeahead_'+(name || attributes.name||'').replace(/[^A-Za-z0-9_]/g,'__')+'_'+ (typeahead_counter = (typeahead_counter||0) + 1 ) )
    - var fieldName = name || attributes.name || id
    - var modelName = model.substring(model.lastIndexOf(".") + 1, model.length)
    - var onSelect = (selectCallback || 'onSelect($item, $model, $label)') + '; $emit("selected_' + modelName + '", $item)'
    - var searcher = attributes.searcher || '_search'
    - var label = attributes.label || fieldName.split(/[,;\s]/)[0] // When return value is different with query param
    - var matchType = attributes.matchType || 'contains' // 3 options: contains, startsWith, endsWith
    - var companyId = attributes.companyId || 'undefined' // an angular expression or null
    - var typeahead = attributes.typeahead || "item." + label + " for item in " + searcher + "($viewValue,'" + fieldName + "','" + matchType + "'," + companyId + ")"
    - var placeholder = attributes.placeholder || 'Type to search'
    - var ngDisabled = attributes['ng-disabled']
    - attributes.placeholder = ngDisabled ? "{{" + ngDisabled + " ? '' : '" + placeholder + "'}}" : placeholder
    - attributes.style = attributes.inputStyle || attributes.style
    - attributes.class = attributes.inputClass || attributes.class || 'form-control'
    - attributes['typeahead-editable'] = attributes['typeahead-editable'] || 'false'
    - attributes['typeahead-focus-first'] = attributes['typeahead-focus-first'] || 'true'
    - attributes['typeahead'] = null;
    - var showNoResults = attributes['show-no-results'] !== 'false'
    - var noResultMessage = attributes['no-result-message'] || 'No Results Found'
    //.typeahead-wrapper
    input(type="text", ng-model=model
    typeahead-wait-ms="200"
    typeahead-loading="loadingState#{id}"
    uib-typeahead=typeahead
    typeahead-min-length=0
    typeahead-on-select=onSelect
    typeahead-no-results="noResults#{id}"
    typeahead-template-url="#{id}.tmpl.html")&attributes(attributes)
    - if (showNoResults)
        span.text-slim(ng-show="noResults#{id}")
            a(ng-click="noResults#{id} = null")
                i.fa.fa-remove
            |  #{noResultMessage}

    script(type="text/ng-template",id="#{id}.tmpl.html")
        if block
            block
        else
            span(ng-bind-html="match.model.toString() | uibTypeaheadHighlight:query" )


mixin user(idField, displayField)
    pbs-modal-info(ng-if="#{idField} != null" modal-type="User" desc="#{ displayField || idField }" text='#{ displayField || idField }' code='$encode ? $encode(#{ idField }) : ctrl.$encode(#{ idField })')
