.pokemon-card-line {
  padding: 10px; }

div.gallery {
  margin: 5px;
  /*border: 1px solid #ccc;*/
  float: left;
  width: 130px; }

div.gallery:hover {
  /*border: 1px solid #777;*/ }

div.gallery img {
  width: 100%;
  height: auto; }

div.gallery img.selected-card {
  border: 3px solid #777; }

div.desc {
  padding: 15px;
  text-align: center; }
