﻿<div id="Legal-Tc-Modal" class="popup">
    <a class="btn-close" href="#" ng-click="modalCtrl.close()"><img src="Content/images/icons/icon-close.png" alt=""></a>
    <div class="popup-content">
        <p class="popup-controls">
            <a class="btn-luckydraw active" href="javascript:void(0);" title="">
                <img class="inactive-state" src="Content/images/btn_luckydraw.png" alt="Quay số may mắn">
                <img class="active-state" src="Content/images/btn_luckydraw_active.png" alt="Quay số may mắn">
            </a>
            <a class="btn-gift" href="javascript:void(0);" title="">
                <img class="inactive-state" src="Content/images/btn_gift.png" alt="Đổi quà">
                <img class="active-state" src="Content/images/btn_gift_active.png" alt="Đổi quà">
            </a>
        </p>
        <div class="lucky-draw-content active">
            <div class="scroll-content">
                <div class="simplebar-track vertical" style="visibility: hidden;"><div class="simplebar-scrollbar"></div></div><div class="simplebar-track horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar"></div></div><div class="simplebar-scroll-content" style="width: auto; height: auto;">
                    <div class="simplebar-content">
                        <div class="scroll-data">
                            <h2><img src="Content/images/lucky_draw_title.png" alt=""></h2>
                            <img src="Content/images/lucky_draw.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gift-content">
            <div class="scroll-content">
                <div class="simplebar-track vertical" style="visibility: hidden;"><div class="simplebar-scrollbar"></div></div><div class="simplebar-track horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar"></div></div><div class="simplebar-scroll-content" style="width: auto; height: auto;">
                    <div class="simplebar-content">
                        <div class="scroll-data">
                            <img src="Content/images/gift.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>