﻿<div class="modal in" id="Modal-The-Le" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 0;">
    <div class="modal-dialog" role="document">
        <div id="legal-tc-modal-content" class="modal-content">
            <div class="modal-header" style="border-bottom: none">
                <div class="modal-group-btn">
                    <a href="#" class="btn btn-link" ng-click="viewLuckyDrawTc()">
                        <img ng-src="{{btnLuckyDrawImageUrl()}}" alt="">
                    </a>
                    <a href="#" class="btn btn-link" ng-click="viewGiftRedeemTc()">
                        <img ng-src="{{btnGiftImageUrl()}}" alt="">
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <div class="mb-none modal-body-scroll" id="tc-scroll-container">
                    <div class="info-title">
                        (Kèm theo công văn số 0401/Resources/2017. Ngày 04/01 /2017 và <br/>
                        công văn số 2402/Resources/2017. Ngày 24/02/2017 của Công ty TNHH <br/>
                        Thực Phẩm Sun Resources)
                    </div>
                    <div class="active" ng-if="giftRedeemTc" style="padding-top: 10px;">
                        <img src="Content/images/gift_v2.png" alt="">
                    </div>
                    <div ng-if="luckyDrawTc" style="padding-top: 10px;">
                        <img src="Content/images/lucky_draw_v3.png" alt="">
                    </div>
                </div>
                <img class="dt-none the-le-mobile" src="Content/images/mobile/the-le-title-text-mobile.png"/>
                <div class="dt-none"><br/>
                </div>
                <img ng-if="giftRedeemTc" class="dt-none the-le-mobile" src="Content/images/gift_mobile_v2.png"/>
                <img ng-if="luckyDrawTc" class="dt-none the-le-mobile" src="Content/images/lucky_draw_mobile_v2.png"/>
                <img class="modal-img-bottom mb-none" src="Content/images/img-bottom-popup.png"/>
                <img class="dt-none" src="Content/images/mobile/img-bottom-placeholder-214x270.png" width="400" height="220"/>
            </div>
        </div>
    </div>
</div>