﻿<div id="Modal-The-Le" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.close()">
                    <img src="Content/images/icons/icon-close.png" alt="">
                </button>-->
                <div class="modal-group-btn">
                    <a href="#" class="btn btn-link" ng-click="modalCtrl.viewLuckyDrawTc()">
                        <img src="Content/images/btn-thele-quayso.png" alt="">
                    </a>
                    <a href="#" class="btn btn-link" ng-click="modalCtrl.viewGiftRedeemTc()">
                        <img src="Content/images/btn-thele-doiqua-174x67.png" alt="">
                    </a>
                </div>
                <div class="modal-body-scroll">
                    <div class="info-title">
                        (Kèm theo công văn số 0401/Resources/2017. Ngày 04/01 /2017 và công văn số
                        <br> 2402/Resources/2017. Ngày 24/02/2017 của Công ty TNHH Thực Phẩm Sun Resources)
                    </div>
                    <div ng-if="modalCtrl.giftRedeemTc" style="padding-top: 10px;">
                        <img src="Content/images/gift.png" alt="">
                    </div>
                    <div ng-if="modalCtrl.luckyDrawTc" style="padding-top: 10px;">
                        <img src="Content/images/lucky_draw.png" alt="">
                    </div>
                </div>

                <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
            </div>
        </div>
    </div>
</div>