
<div ng-init="ctrl.init()" class="com-login">
  <div ng-if="ctrl.response" class="alert alert-danger">
    <p>Something went wrong. Please contact administrator for support!</p>
    <p><strong>ERROR: {{ctrl.response.statusText}}</strong></p>
    <p>{{ctrl.response.data.ExceptionMessage || ctrl.response.data.Message || ctrl.response.data.InnerException || ctrl.response.data.InnerException.ExceptionMessage}}</p>
    <hr/>
    <div class="panel">
      <div class="panel-heading">
        <h4 class="panel-title"><span><a ng-click="ctrl.toggleErrorDetails()">Show error details<span>&nbsp;<i ng-class="{'fa-chevron-circle-down': !ctrl.hideErrorDetails}" class="fa fa-chevron-circle-right"></i></span></a></span><span class="pull-right"><a ui-sref="dashboard"><span><i class="fa fa-chevron-left"></i></span>&nbsp; Back</a></span></h4>
      </div>
      <div uib-collapse="ctrl.hideErrorDetails" class="panel-collapse">
        <div class="panel-body">
          <p ng-if="ctrl.response.data.ExceptionType"><code>{{ctrl.response.data.ExceptionType}}</code></p>
          <p><code ng-bind="ctrl.response.data.Message || ctrl.response.data.ExceptionMessage || ctrl.response.data.InnerException || ctrl.response.data.InnerException.ExceptionMessage"></code></p>
          <p ng-if="ctrl.response.data.StackTrace"><code ng-bind="ctrl.response.data.StackTrace"></code></p>
        </div>
      </div>
    </div>
  </div>
</div>