﻿<main class="main main-home">
    <div class="container">

        <div class="form-sign-code bounceInDown animated">
            <input type="text" class="form-control" ng-model="ctrl.userCouponCode">
            <button class="btn btn-img" ng-click="ctrl.requestExchangeCouponCode()" ng-disabled="false">
                <img src="Content/images/btn-guima.png" alt="">
            </button>
        </div>
        
        <div class="pack">
            <img class="pack-img bounceInDown animated" src="Content/images/pack.png" alt="">
            <img class="pack-effect fadeIn animated" src="Content/images/effect.png" alt="">
            <img class="pack-small bounceInDown animated" src="Content/images/small_pack.png" alt="">
        </div>

        <div class="cards">
            <img class="c1-animation  animated" src="Content/images/cards/1.png" alt="" data-pos="400">
            <img class="c2-animation  animated" src="Content/images/cards/2.png" alt="" data-pos="350">
            <img class="c3-animation  animated" src="Content/images/cards/3.png" alt="" data-pos="300">
            <img class="c4-animation  animated" src="Content/images/cards/4.png" alt="" data-pos="260">
            <img class="c5-animation  animated" src="Content/images/cards/5.png" alt="" data-pos="220">
            <img class="c6-animation  animated" src="Content/images/cards/6.png" alt="" data-pos="180">
            <img class="c7-animation  animated" src="Content/images/cards/7.png" alt="" data-pos="145">
            <img class="c8-animation  animated" src="Content/images/cards/8.png" alt="" data-pos="110">
            <img class="c9-animation  animated" src="Content/images/cards/9.png" alt="" data-pos="90">
            <img class=" c10-animation  animated" src="Content/images/cards/10.png" alt="" data-pos="60">
            <img class=" c11-animation  animated" src="Content/images/cards/11.png" alt="" data-pos="50">
            <img class=" c12-animation  animated" src="Content/images/cards/12.png" alt="" data-pos="40">
            <img class=" c13-animation  animated" src="Content/images/cards/13.png" alt="" data-pos="30">
            <img class=" c14-animation  animated" src="Content/images/cards/14.png" alt="" data-pos="20">
            <img class=" c15-animation  animated" src="Content/images/cards/15.png" alt="" data-pos="10">
            <img class=" c16-animation  animated" src="Content/images/cards/16.png" alt="" data-pos="0">
            <img class=" c17-animation  animated" src="Content/images/cards/17.png" alt="" data-pos="0">
        </div>

        <div class="prizes">
            <img class="bike-prize bounceInDown animated" src="Content/images/bike_prize.png" alt="">
            <img class="auto-prize bounceInDown animated" src="Content/images/auto_prize.png" alt="">
            <img class="scholarship-prize bounceInDown animated" src="Content/images/scholarship_prize.png" alt="">
        </div>

        <img class="copy-right-home mb-none" src="Content/images/logo-bottom.png" alt="" />
        <img class="copy-right dt-none" src="Content/images/logo-bottom.png" alt="" />
    </div>
</main>
<script>
    $(document).ready(function() {
        window.setTimeout(function() {
                $(".prizes").find('.animated').removeClass("zoomInDown animated").addClass('animate');
            },
            2500);
        window.setTimeout(function() {
                $(".cards").find('.animated').removeClass("animated").addClass('animate');
            },
            2200);
        window.setTimeout(function() {
                $("body").removeClass('overflow');
            },
            3500);
    });
</script>
<div class="modal fade" id="Modal-Sign-In" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="Content/images/icons/icon-close.png" alt="">
                </button>
                <form class="form-horizontal form-sign-in">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-offset-1 col-sm-4 control-label">Tên Đăng nhập:</label>
                        <div class="col-sm-7">
                            <div class="form-group-img">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword1" class="col-sm-offset-1 col-sm-4 control-label">Mật khẩu:</label>
                        <div class="col-sm-7">
                            <div class="form-group-img">
                                <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="text-center info col-sm-offset-1 col-sm-10">
                        Tên đăng nhập hoặc mật khẩu của bạn chưa chính xác, vui lòng kiểm tra lại nhé!
                        <p>
                            <a href="#" data-toggle="modal" data-target="#Modal-Sign-Up">
                                <em>
                                    Bạn chưa đăng ký?
                                </em>
                            </a>
                        </p>
                    </div>
                    <button type="button" class="btn btn-link">
                        <img src="Content/images/btn-sign-in.png" alt="">
                    </button>
                </form>
                <img class="modal-img-bottom" src="Content/images/img-bottom-popup.png" alt="">
            </div>
        </div>
    </div>
</div>