
<div ng-init="ctrl.init()" ng-hide="ctrl.processing" class="com-login">
  <p ng-if="ctrl.model.error" class="text-danger"><strong>Error:</strong><span ng-bind="ctrl.model.error"></span></p>
  <div class="row">
    <div class="col-md-3">
      <form ng-submit="ctrl.doLogin()">
        <div class="form-group">
          <label>User Name</label>
          <div class="input-group"><span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input id="user" ng-model="ctrl.model.UserName" autocomplete="true" placeholder="username" focus-me="ctrl.focusOnUserName" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <div class="input-group"><span class="input-group-addon"><i class="fa fa-key"></i></span>
            <input id="password" ng-model="ctrl.model.Password" autocomplete="true" type="password" placeholder="********" class="form-control"/>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" ng-disabled="!ctrl.canLogin() || ctrl.model.processing" class="btn btn-nephritis"><span ng-if="ctrl.model.processing"><i class="fa fa-refresh fa-spin"></i></span><span ng-if="!ctrl.model.processing"><i class="fa fa-sign-in"></i></span>&nbsp;Sign Me In</button>
        </div>
      </form>
    </div>
  </div>
</div>