<header class="header zoomIn animated">
    <div class="container">
        <ul class="nav-left">
            <li class="trang-chu" ng-class="{'active' : $state.current.name === 'home' || $state.current.name === 'default'}">
                <a ui-sref="default"></a>
            </li>
            <li class="doi-qua" ng-class="{'active' : $state.current.name === 'redeem_gift'}">
                <a href="#" ng-click="goToPage('redeem_gift')"></a>
            </li>
            <li class="doi-luot-quay" ng-class="{'active' : $state.current.name === 'redeem'}">
                <a href="#" ng-click="goToPage('redeem')"></a>
            </li>
            <li class="danh-sach-trung" ng-class="{'active' : $state.current.name === 'gift_item'}">
                <a ui-sref="gift_item"></a>
            </li>
        </ul>
        <a href="#" ui-sref="default" class="brand">
            <img class="img-reposive mb-none" src="Content/images/logo.png" alt="">
            <img class="img-reposive dt-none" src="Content/images/mobile/logo.png" alt="">
        </a>
        <ul class="nav-right">
            <li class="the-le" ng-class="{'active' : $state.current.name === 'legal_tc'}">
                <a ui-sref="legal_tc"></a>
            </li>
            <li class="danh-sach-pokemon" ng-class="{'active' : $state.current.name === 'poke_cards'}">
                <a ui-sref="poke_cards"></a>
            </li>
            <li class="san-choi" ng-class="{'active' : $state.current.name === 'poke_card_game' || $state.current.name === 'poke_card_game_playing'}">
                <a href="#" ng-click="goToPage('poke_card_game')"></a>
            </li>
            <li class="dang-nhap" ng-if="!CurrentUser">
                <a href="#" ng-click="signInRequest()"></a>
            </li>
            <li class="ca-nhan" ng-if="CurrentUser" ng-class="{'active' : $state.current.name === 'player_profile'}">
                <a href="#" ng-click="goToPage('player_profile')"></a>
                <ul class="sub-menu">
                    <li>
                        <a ui-sref="logout">
                            {{logoutLabel}}
                            <i class="icon-logout"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="chiase">
                <a href="#" ng-click="shareFacebook()"></a>
            </li>
        </ul>
    </div>
    <button class="toggle hidden-lg hidden-md" ng-click="openMobileMenu()">
        <img src="Content/images/mobile/toggle.png" alt="">
    </button>
</header>
<!-- mobile header-->
<div class="navbar" id="mobile-nav-menu">
    <a href="" class="brand">
        <img class="img-reposive dt-none" src="Content/images/mobile/logo.png" alt="">
    </a>
    <button class="close" ng-click="closeMobileMenu()">
        <img src="Content/images/icons/icon-close.png" alt="">
    </button>
    <ul class="navbar-menu">
        <li class="trang-chu">
            <a ng-click="goToPageMobile('default', true)"></a>
        </li>
        <li class="doi-qua">
            <a href="#" ng-click="goToPageMobile('redeem_gift', false)"></a>
        </li>
        <li class="doi-luot-quay">
            <a href="#" ng-click="goToPageMobile('redeem', false)"></a>
        </li>
        <li class="the-le">
            <a ng-click="goToPageMobile('legal_tc', true)"></a>
        </li>
        <li class="trang-qua-tang">
            <a ng-click="goToPageMobile('gift_item', true)"></a>
        </li>
        <li class="danh-sach">
            <a ng-click="goToPageMobile('poke_cards', true)"></a>
        </li>
        <li class="san-choi">
            <a href="#" ng-click="goToPageMobile('poke_card_game', false)"></a>
        </li>
        <li class="dang-nhap" ng-if="!CurrentUser">
            <a href="#" ng-click="signInRequest()"></a>
        </li>
        <li class="ca-nhan" ng-if="CurrentUser">
            <a href="#" ng-click="goToPageMobile('player_profile', false)"></a>
            <ul class="sub-menu">
                <li>
                    <a ng-click="goToPageMobile('logout', false)">
                        {{logoutLabel}}
                        <i class="icon-logout"></i>
                    </a>
                </li>
            </ul>
        </li>
        <li class="chiase">
            <a href="#" ng-click="shareFacebook()"></a>
        </li>
    </ul>
</div>
<!-- mobile header-->